Repository ss220club/BandaStation, changes with the labels that .github/labeler.yml gives for each.
All labels: TGUI, :sound: Звук, :paintbrush: Спрайты, :guitar: Инструменты, :floppy_disk: Изменение конфига, :neckbeard: Документация, :cd: SQL

Make it little less strange
  modular_bandastation/title_screen/html/title_screen.css
Labels: none

fix compile error
  modular_bandastation/objects/code/items/devices/radio.dm
Labels: none

closets, outfits and more...
  modular_bandastation/aesthetics/_aesthetics.dme
  modular_bandastation/aesthetics/radio/icons/mob/ears.dmi
  modular_bandastation/aesthetics/radio/icons/obj/headsets.dmi
  modular_bandastation/aesthetics/vending/code/vending.dm
  modular_bandastation/aesthetics/vending/icons/vending.dmi
  modular_bandastation/jobs/_jobs.dme
  modular_bandastation/jobs/code/job_types/lawyer/job.dm
  modular_bandastation/jobs/code/job_types/lawyer/trim.dm
  modular_bandastation/jobs/code/job_types/magistrate/pda.dm
  modular_bandastation/jobs/code/job_types/magistrate/trim.dm
  modular_bandastation/jobs/icons/mob/landmarks.dmi
  modular_bandastation/objects/_objects.dme
  modular_bandastation/objects/code/items/devices/radio.dm
  modular_bandastation/objects/code/structures/crates_lockers/closets/secure/lawyer.dm
  modular_bandastation/objects/code/structures/crates_lockers/closets/secure/magistrate.dm
  modular_bandastation/objects/code/structures/crates_lockers/closets/secure/nanotrasen_representative.dm
  modular_bandastation/objects/icons/obj/storage/closet.dmi
  modular_bandastation/outfits/code/lawyer.dm
  tgui/packages/tgui/interfaces/common/JobToIcon.ts
Labels: TGUI, :paintbrush: Спрайты

change lawyer translation
  code/__DEFINES/bandastation/ru_jobs.dm
  modular_bandastation/objects/code/items/devices/radio.dm
  tgui/packages/tgui/bandastation/ru_jobs.tsx
Labels: TGUI

fix includes
  modular_bandastation/jobs/_jobs.dme
  modular_bandastation/modular_bandastation.dme
  modular_bandastation/objects/_objects.dme
Labels: none

Cyberiad: Minor fixes and improves (#880)
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

more appropriate base undersuit for blueshield
  modular_bandastation/jobs/code/__DEFINES/access.dm
  modular_bandastation/jobs/code/__DEFINES/atom_hud.dm
  modular_bandastation/jobs/code/__DEFINES/jobs.dm
  modular_bandastation/jobs/code/departments/nt_representation.dm
  modular_bandastation/jobs/code/jobs/blueshield/access_helpers.dm
  modular_bandastation/jobs/code/jobs/blueshield/areas.dm
  modular_bandastation/jobs/code/jobs/blueshield/closet.dm
  modular_bandastation/jobs/code/jobs/blueshield/clothing.dm
  modular_bandastation/jobs/code/jobs/blueshield/job.dm
  modular_bandastation/jobs/code/jobs/blueshield/landmarks.dm
  modular_bandastation/jobs/code/jobs/blueshield/radio.dm
  modular_bandastation/jobs/code/jobs/blueshield/trim.dm
  modular_bandastation/jobs/code/jobs/magistrate/magistrate.dm
  modular_bandastation/jobs/code/jobs/ntr/ntr.dm
  modular_bandastation/jobs/icons/blueshield/mob/blueshield.dmi
  modular_bandastation/jobs/icons/blueshield/mob/command.dmi
  modular_bandastation/jobs/icons/blueshield/obj/blueshield.dmi
  modular_bandastation/jobs/icons/blueshield/obj/command.dmi
Labels: :paintbrush: Спрайты

override icon.dmi with new icon states
  code/modules/mob/mob.dm
  modular_bandastation/hud_icon/README.md
  modular_bandastation/hud_icon/_hud_icon.dm
  modular_bandastation/hud_icon/icons/hud.dmi
Labels: :paintbrush: Спрайты, :neckbeard: Документация

structurize files
  modular_bandastation/jobs/_jobs.dme
  modular_bandastation/jobs/code/blueshield/blueshield.dm
  modular_bandastation/jobs/code/blueshield/closet.dm
  modular_bandastation/jobs/code/blueshield/landmarks.dm
  modular_bandastation/jobs/code/blueshield/radio.dm
  modular_bandastation/jobs/code/blueshield/trim
  modular_bandastation/jobs/code/job_types/blueshield.dm
  modular_bandastation/jobs/code/job_types/magistrate.dm
  modular_bandastation/jobs/code/job_types/ntr.dm
  modular_bandastation/jobs/code/magistrate/magistrate.dm
  modular_bandastation/jobs/code/ntr/ntr.dm
  modular_bandastation/jobs/readme.md
Labels: :neckbeard: Документация

starting adding jobs
  modular_bandastation/jobs/_jobs.dm
  modular_bandastation/jobs/_jobs.dme
  modular_bandastation/jobs/code/job_types/blueshield.dm
  modular_bandastation/jobs/code/job_types/magistrate.dm
  modular_bandastation/jobs/code/job_types/ntr.dm
  modular_bandastation/modular_bandastation.dme
Labels: none

add most of clothes DMIs for blueshield
  icons/mob/huds/hud.dmi
  modular_bandastation/jobs/_jobs.dme
  modular_bandastation/jobs/code/blueshield/__DEFINES/access.dm
  modular_bandastation/jobs/code/blueshield/__DEFINES/atom_hud.dm
  modular_bandastation/jobs/code/blueshield/__DEFINES/jobs.dm
  modular_bandastation/jobs/code/blueshield/access_helpers.dm
  modular_bandastation/jobs/code/blueshield/areas.dm
  modular_bandastation/jobs/code/blueshield/blueshield.dm
  modular_bandastation/jobs/code/blueshield/closet.dm
  modular_bandastation/jobs/code/blueshield/clothing.dm
  modular_bandastation/jobs/code/blueshield/job.dm
  modular_bandastation/jobs/code/blueshield/trim.dm
  modular_bandastation/jobs/icons/blueshield/areas/areas_station.dmi
  modular_bandastation/jobs/icons/blueshield/mob/armor.dmi
  modular_bandastation/jobs/icons/blueshield/mob/back.dmi
  modular_bandastation/jobs/icons/blueshield/mob/backpack_lefthand.dmi
  modular_bandastation/jobs/icons/blueshield/mob/backpack_righthand.dmi
  modular_bandastation/jobs/icons/blueshield/mob/command.dmi
  modular_bandastation/jobs/icons/blueshield/mob/neck.dmi
  modular_bandastation/jobs/icons/blueshield/mob/plasmaman.dmi
  modular_bandastation/jobs/icons/blueshield/mob/plasmaman_head.dmi
  modular_bandastation/jobs/icons/blueshield/mob/wintercoat.dmi
  modular_bandastation/jobs/icons/blueshield/mob/winterhood.dmi
  modular_bandastation/jobs/icons/blueshield/obj/armor.dmi
  modular_bandastation/jobs/icons/blueshield/obj/backpacks.dmi
  modular_bandastation/jobs/icons/blueshield/obj/closet.dmi
  modular_bandastation/jobs/icons/blueshield/obj/command.dmi
  modular_bandastation/jobs/icons/blueshield/obj/neck.dmi
  modular_bandastation/jobs/icons/blueshield/obj/plasmaman.dmi
  modular_bandastation/jobs/icons/blueshield/obj/plasmaman_hats.dmi
  modular_bandastation/jobs/icons/blueshield/obj/wintercoat.dmi
  modular_bandastation/jobs/icons/blueshield/obj/winterhood.dmi
Labels: :paintbrush: Спрайты

remove byond shit
  modular_bandastation/jobs/_jobs.dme
Labels: none

closets, outfits and more...
  modular_bandastation/aesthetics/_aesthetics.dme
  modular_bandastation/aesthetics/radio/icons/mob/ears.dmi
  modular_bandastation/aesthetics/radio/icons/obj/headsets.dmi
  modular_bandastation/aesthetics/vending/code/vending.dm
  modular_bandastation/aesthetics/vending/icons/vending.dmi
  modular_bandastation/jobs/_jobs.dme
  modular_bandastation/jobs/code/job_types/lawyer/job.dm
  modular_bandastation/jobs/code/job_types/lawyer/trim.dm
  modular_bandastation/jobs/code/job_types/magistrate/pda.dm
  modular_bandastation/jobs/code/job_types/magistrate/trim.dm
  modular_bandastation/jobs/icons/mob/landmarks.dmi
  modular_bandastation/objects/_objects.dme
  modular_bandastation/objects/code/items/devices/radio.dm
  modular_bandastation/objects/code/structures/crates_lockers/closets/secure/lawyer.dm
  modular_bandastation/objects/code/structures/crates_lockers/closets/secure/magistrate.dm
  modular_bandastation/objects/code/structures/crates_lockers/closets/secure/nanotrasen_representative.dm
  modular_bandastation/objects/icons/obj/storage/closet.dmi
  modular_bandastation/outfits/code/lawyer.dm
  tgui/packages/tgui/interfaces/common/JobToIcon.ts
Labels: TGUI, :paintbrush: Спрайты

fix compile error
  modular_bandastation/objects/code/items/devices/radio.dm
Labels: none

fix compile errors
  modular_bandastation/_defines220/_defines220.dme
Labels: none

next fix after unit test
  modular_bandastation/objects/code/structures/crates_lockers/closets/secure/lawyer.dm
  modular_bandastation/objects/code/structures/crates_lockers/closets/secure/magistrate.dm
Labels: none

fix includes
  modular_bandastation/jobs/_jobs.dme
  modular_bandastation/modular_bandastation.dme
  modular_bandastation/objects/_objects.dme
Labels: none

NT representation exp type, basic player age for blueshield and NTR adjustment
  modular_bandastation/_defines220/code/defines/preferences.dm
  modular_bandastation/jobs/code/departments/nt_representation.dm
  modular_bandastation/jobs/code/job_types/blueshield/job.dm
  modular_bandastation/jobs/code/job_types/nanotrasen_representative/job.dm
Labels: none

change lawyer translation
  code/__DEFINES/bandastation/ru_jobs.dm
  modular_bandastation/objects/code/items/devices/radio.dm
  tgui/packages/tgui/bandastation/ru_jobs.tsx
Labels: TGUI

add new jobs to cybernetic revolution trait
  code/datums/station_traits/positive_traits.dm
Labels: none

replace huds and trim icons for some jobs
  modular_bandastation/hud_icon/icons/hud.dmi
  modular_bandastation/jobs/_jobs.dme
  modular_bandastation/jobs/code/job_types/captain/trim.dm
  modular_bandastation/jobs/code/job_types/head_of_security/trim.dm
  modular_bandastation/jobs/code/job_types/research_director/trim.dm
  modular_bandastation/jobs/code/job_types/scientist/trim.dm
  modular_bandastation/jobs/icons/obj/card.dmi
Labels: :paintbrush: Спрайты

Cyberiad: Add Blueshield, Magistrate and NTR offices
  _maps/map_files/Cyberiad/Cyberiad.dmm
  modular_bandastation/jobs/code/job_types/blueshield/access_helpers.dm
  modular_bandastation/jobs/code/job_types/magistrate/access_helpers.dm
  modular_bandastation/jobs/code/job_types/nanotrasen_representative/access_helpers.dm
Labels: none

Additional tweaks to Cyberiad offices
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

procedure department -> department of justice
  code/__DEFINES/bandastation/ru_jobs.dm
  code/__DEFINES/jobs.dm
  code/__DEFINES/radio.dm
  code/game/communications.dm
  code/game/machinery/telecomms/machines/bus.dm
  code/game/machinery/telecomms/machines/receiver.dm
  code/game/machinery/telecomms/machines/server.dm
  code/game/objects/items/devices/radio/encryptionkey.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/say.dm
  code/modules/mob/living/living_say.dm
  modular_bandastation/_defines220/code/defines/preferences.dm
  modular_bandastation/aesthetics/radio/icons/mob/ears.dmi
  modular_bandastation/aesthetics/radio/icons/obj/headsets.dmi
  modular_bandastation/jobs/_jobs.dme
  modular_bandastation/jobs/code/departments/justice.dm
  modular_bandastation/jobs/code/departments/procedure.dm
  modular_bandastation/jobs/code/job_types/lawyer/job.dm
  modular_bandastation/jobs/code/job_types/magistrate/job.dm
  modular_bandastation/objects/code/items/devices/radio.dm
  tgui/packages/tgui-say/constants.ts
  tgui/packages/tgui-say/styles/colors.scss
  tgui/packages/tgui/bandastation/ru_jobs.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/JobsPage.tsx
  tgui/packages/tgui/styles/interfaces/CrewManifest.scss
  tgui/packages/tgui/styles/interfaces/PreferencesMenu.scss
Labels: TGUI, :paintbrush: Спрайты

мостик
  _maps/bandastation/Trurl.dmm
Labels: none

new silero tts seeds
  modular_bandastation/_defines220/code/defines/text_to_speech.dm
  modular_bandastation/tts/code/seeds/silero.dm
Labels: none

new silero tts seeds (#881)
  modular_bandastation/_defines220/code/defines/text_to_speech.dm
  modular_bandastation/tts/code/seeds/silero.dm
Labels: none

Убираем неон-ботинки
  modular_bandastation/clothing/code/shoes.dm
Labels: none

.github/labeler.yml:

'TGUI':
  - changed-files:
      - any-glob-to-any-file: 'tgui/**'

':sound: Звук':
  - changed-files:
      - any-glob-to-any-file: '**/*.ogg'

':world_map: Изменение Карты':
  - all:
      - changed-files:
          - any-glob-to-any-file: '**/*.dmm'

':paintbrush: Спрайты':
  - changed-files:
      - any-glob-to-any-file: '**/*.dmi'

':guitar: Инструменты':
  - changed-files:
      - any-glob-to-any-file: ['.gihub/**', 'tools/**', '.vscode/**', '.bin/**']

':floppy_disk: Изменение конфига':
  - changed-files:
      - any-glob-to-any-file: 'config/**'

':neckbeard: Документация':
  - changed-files:
      - any-glob-to-any-file: '**/*.md'

':cd: SQL':
  - changed-files:
      - any-glob-to-any-file: 'SQL/**'

':feelsgood: Частичная модульность':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['code/**', 'icons/**', 'sounds/**', '_maps/map_files/**', 'tgui/**']
          - any-glob-to-any-file: 'modular_bandastation/**'
      - base-branch: 'master'
      - head-branch: '!merge-upstream'

':finnadie: НЕ МОДУЛЬНО':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['code/**', 'icons/**', 'sounds/**', '_maps/map_files/**']
          - all-globs-to-all-files: '!modular_bandastation/**'
      - base-branch: 'master'
      - head-branch: '!merge-upstream'

':pray: Слияние с восходящим потоком':
  - all:
    - base-branch: 'master'
    - head-branch: 'merge-upstream'

':pencil: Перевод':
  - base-branch: 'translate'

':wrench: Фикс':
  - head-branch: ['^fix', 'fix']

':trollface: Фича':
  - head-branch: ['^feat', 'feat']

':shipit: Улучшение':
  - head-branch: ['^tweak', 'tweak']
