Repository ss220club/BandaStation, changes with the labels that .github/labeler.yml gives for each.
All labels: TGUI, :sound: Звук, :paintbrush: Спрайты, :guitar: Инструменты, :floppy_disk: Изменение конфига, :neckbeard: Документация, :cd: SQL

Revert "Fixes + swap floor lights with lights"
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Revert "Execute order 66"
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Pipe fixes
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Removes TTS speaker from scanner gate
  modular_bandastation/tts/code/base_seeds/objs/objs.dm
Labels: none

Restricts amount of attachable stickers and squish component
  modular_bandastation/overrides/_overrides.dme
  modular_bandastation/overrides/code/squish.dm
  modular_bandastation/overrides/code/stickers.dm
Labels: none

Removes meme'd sound from lead pipe & Adds locker sound
  modular_bandastation/aesthetics_sounds/_aesthetics_sounds.dm
  modular_bandastation/aesthetics_sounds/_aesthetics_sounds.dme
  modular_bandastation/aesthetics_sounds/code/closet.dm
  modular_bandastation/aesthetics_sounds/code/items.dm
  modular_bandastation/aesthetics_sounds/sound/lock_1.ogg
  modular_bandastation/aesthetics_sounds/sound/lock_2.ogg
  modular_bandastation/aesthetics_sounds/sound/lock_3.ogg
  modular_bandastation/modular_bandastation.dme
Labels: :sound: Звук

Fix missing argument
  modular_bandastation/aesthetics_sounds/code/closet.dm
Labels: none

A lot of fixes
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

fixes
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Fixes
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Bunch of fixes
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Dark sm + fixes + brig med
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

add plasma to engi
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

manifest fixsj
  modular_bandastation/cryosleep/code/cryopod.dm
Labels: none

Apply suggestions from code review YEP
  modular_bandastation/cryosleep/code/admin.dm
  modular_bandastation/cryosleep/code/ai.dm
  modular_bandastation/cryosleep/code/cryopod.dm
Labels: none

i think thats final
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Final fix
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Plasma window for gravgen
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

add puddle to public garden
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Fix engi storage access
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

translate accessibility options
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/accessibility.tsx
Labels: TGUI

cyberiad cryo
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Fixes
  _maps/cyberiad.json
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

fix turrets kill trap
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

fixes
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Fixes
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

fix ?
  _maps/cyberiad.json
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

fix
  modular_bandastation/translations/code/data/ru_names.toml
Labels: none

Откат отката мемного звука падающей трубы, нужен шанс на мем, но кодить я это не буду
  modular_bandastation/aesthetics_sounds/_aesthetics_sounds.dme
  modular_bandastation/aesthetics_sounds/code/items.dm
Labels: none

Fixes
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Update locker code
  modular_bandastation/aesthetics_sounds/code/closet.dm
Labels: none

fixes
  modular_bandastation/translations/code/data/ru_verbs.toml
Labels: none

update
  modular_bandastation/translations/code/data/ru_emotes.toml
  modular_bandastation/translations/code/translate_emotes.dm
Labels: none

cyberiad nanomap and fix nebula
  icons/_nanomaps/Cyberiad_nanomap_z1.png
  icons/_nanomaps/Cyberiad_nanomap_z2.png
  modular_bandastation/nanomap/code/nanomaps_asset.dm
  tools/nanomap_renderer/nanomap-renderer-invoker.sh
Labels: :guitar: Инструменты

fix
  tgui/packages/tgui/interfaces/RuNamesSuggestPanel.jsx
Labels: TGUI

NanoMap Auto-Update (Wed Nov 13 13:23:48 UTC 2024)
  icons/_nanomaps/Cyberiad_nanomap_z1.png
  icons/_nanomaps/Cyberiad_nanomap_z2.png
Labels: none

Fixes
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Re cargo
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

fixes
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Fix mirrors
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

.github/labeler.yml:

'TGUI':
  - changed-files:
      - any-glob-to-any-file: 'tgui/**'

':sound: Звук':
  - changed-files:
      - any-glob-to-any-file: '**/*.ogg'

':world_map: Изменение Карты':
  - all:
      - changed-files:
          - any-glob-to-any-file: '**/*.dmm'

':paintbrush: Спрайты':
  - changed-files:
      - any-glob-to-any-file: '**/*.dmi'

':guitar: Инструменты':
  - changed-files:
      - any-glob-to-any-file: ['.gihub/**', 'tools/**', '.vscode/**', '.bin/**']

':floppy_disk: Изменение конфига':
  - changed-files:
      - any-glob-to-any-file: 'config/**'

':neckbeard: Документация':
  - changed-files:
      - any-glob-to-any-file: '**/*.md'

':cd: SQL':
  - changed-files:
      - any-glob-to-any-file: 'SQL/**'

':feelsgood: Частичная модульность':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['code/**', 'icons/**', 'sounds/**', '_maps/map_files/**', 'tgui/**']
          - any-glob-to-any-file: 'modular_bandastation/**'
      - base-branch: 'master'
      - head-branch: '!merge-upstream'

':finnadie: НЕ МОДУЛЬНО':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['code/**', 'icons/**', 'sounds/**', '_maps/map_files/**']
          - all-globs-to-all-files: '!modular_bandastation/**'
      - base-branch: 'master'
      - head-branch: '!merge-upstream'

':pray: Слияние с восходящим потоком':
  - all:
    - base-branch: 'master'
    - head-branch: 'merge-upstream'

':pencil: Перевод':
  - base-branch: 'translate'

':wrench: Фикс':
  - head-branch: ['^fix', 'fix']

':trollface: Фича':
  - head-branch: ['^feat', 'feat']

':shipit: Улучшение':
  - head-branch: ['^tweak', 'tweak']
