Repository ss220club/BandaStation, changes with the labels that .github/labeler.yml gives for each.
All labels: TGUI, :sound: Звук, :paintbrush: Спрайты, :guitar: Инструменты, :floppy_disk: Изменение конфига, :neckbeard: Документация, :cd: SQL

.github/labeler.yml:

'TGUI':
  - changed-files:
      - any-glob-to-any-file: 'tgui/**'

':sound: Звук':
  - changed-files:
      - any-glob-to-any-file: '**/*.ogg'

':world_map: Изменение Карты':
  - all:
      - changed-files:
          - any-glob-to-any-file: '**/*.dmm'

':paintbrush: Спрайты':
  - changed-files:
      - any-glob-to-any-file: '**/*.dmi'

':guitar: Инструменты':
  - changed-files:
      - any-glob-to-any-file: ['.gihub/**', 'tools/**', '.vscode/**', '.bin/**']

':floppy_disk: Изменение конфига':
  - changed-files:
      - any-glob-to-any-file: 'config/**'

':neckbeard: Документация':
  - changed-files:
      - any-glob-to-any-file: '**/*.md'

':cd: SQL':
  - changed-files:
      - any-glob-to-any-file: 'SQL/**'

':feelsgood: Частичная модульность':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['code/**', 'icons/**', 'sounds/**', '_maps/map_files/**', 'tgui/**']
          - any-glob-to-any-file: 'modular_bandastation/**'
      - base-branch: 'master'
      - head-branch: '!merge-upstream'

':finnadie: НЕ МОДУЛЬНО':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['code/**', 'icons/**', 'sounds/**', '_maps/map_files/**']
          - all-globs-to-all-files: '!modular_bandastation/**'
      - base-branch: 'master'
      - head-branch: '!merge-upstream'

':pray: Слияние с восходящим потоком':
  - all:
    - base-branch: 'master'
    - head-branch: 'merge-upstream'

':pencil: Перевод':
  - base-branch: 'translate'

':wrench: Фикс':
  - head-branch: ['^fix', 'fix']

':trollface: Фича':
  - head-branch: ['^feat', 'feat']

':shipit: Улучшение':
  - head-branch: ['^tweak', 'tweak']

steal objective uses declents (#767)
  code/game/gamemodes/objective.dm
  code/modules/antagonists/obsessed/obsessed.dm
  code/modules/antagonists/spy/spy_bounty.dm
  code/modules/antagonists/traitor/objectives/destroy_heirloom.dm
  code/modules/antagonists/traitor/objectives/destroy_item.dm
Labels: none

Исправления теста
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_vulpkanin.png
Labels: none

NanoMap Auto-Update (Wed Nov 20 00:41:02 UTC 2024)
  icons/_nanomaps/Cyberiad_nanomap_z1.png
  icons/_nanomaps/Cyberiad_nanomap_z2.png
Labels: none

Отработка по ревью
  code/controllers/subsystem/persistence/_persistence.dm
  modular_bandastation/storyteller/code/divergency_report.dm
  modular_bandastation/storyteller/code/storytellers/data/tracks.dm
  modular_bandastation/storyteller/code/vote.dm
Labels: none

Switch pixellari to pixellari cyrillic
  _maps/_basemap.dm
  code/__DEFINES/text.dm
  interface/fonts/PixCyrillic.ttf
  interface/fonts/pixellari.dm
  interface/skin.dmf
Labels: none

Brigadier general plushie (sanabi)
  modular_bandastation/objects/_objects.dme
  modular_bandastation/objects/code/plushies/brigadier_general.dm
  modular_bandastation/objects/code/plushies/hampters.dm
  modular_bandastation/objects/icons/hampter.dmi
  modular_bandastation/objects/icons/inhands/hampter_lefthand.dmi
  modular_bandastation/objects/icons/inhands/hampter_righthand.dmi
  modular_bandastation/objects/icons/inhands/plushies_lefthand.dmi
  modular_bandastation/objects/icons/inhands/plushies_righthand.dmi
  modular_bandastation/objects/icons/plushies.dmi
Labels: :paintbrush: Спрайты

Name translate
  modular_bandastation/translations/code/data/ru_names.toml
Labels: none

Loadout and minor grammar
  modular_bandastation/loadout/code/categories/pocket.dm
  modular_bandastation/objects/code/plushies/brigadier_general.dm
Labels: none

Spess Font and TinyUnicode cyrillics
  interface/fonts/SpessFontRus.ttf
  interface/fonts/TinyUnicodeRus.ttf
  interface/fonts/spess_font.dm
  interface/fonts/tiny_unicode.dm
  interface/skin.dmf
Labels: none

Merge branch 'fix-translate' into ss220-translate
  code/__DEFINES/robots.dm
  code/datums/wounds/bones.dm
  code/modules/antagonists/changeling/powers/absorb.dm
  code/modules/antagonists/heretic/knowledge/ash_lore.dm
  code/modules/antagonists/heretic/knowledge/blade_lore.dm
  code/modules/antagonists/heretic/knowledge/cosmic_lore.dm
  code/modules/antagonists/heretic/knowledge/flesh_lore.dm
  code/modules/antagonists/heretic/knowledge/lock_lore.dm
  code/modules/antagonists/heretic/knowledge/moon_lore.dm
  code/modules/antagonists/heretic/knowledge/rust_lore.dm
  code/modules/antagonists/heretic/knowledge/starting_lore.dm
  code/modules/antagonists/heretic/knowledge/void_lore.dm
  code/modules/bitrunning/orders/tech.dm
  code/modules/mafia/abilities/investigative/reveal.dm
  code/modules/mob/living/basic/drone/_drone.dm
  code/modules/mob/living/living.dm
  code/modules/tutorials/tutorials/switch_hands.dm
Labels: none

typo
  code/__DEFINES/robots.dm
Labels: none

oopsie
  modular_bandastation/translations/code/pronouns.dm
Labels: none

indent
  code/modules/antagonists/heretic/knowledge/blade_lore.dm
Labels: none

Fix translate 20.11.24 (#773)
  code/__DEFINES/robots.dm
  code/datums/wounds/bones.dm
  code/modules/antagonists/changeling/powers/absorb.dm
  code/modules/antagonists/heretic/knowledge/ash_lore.dm
  code/modules/antagonists/heretic/knowledge/blade_lore.dm
  code/modules/antagonists/heretic/knowledge/cosmic_lore.dm
  code/modules/antagonists/heretic/knowledge/flesh_lore.dm
  code/modules/antagonists/heretic/knowledge/lock_lore.dm
  code/modules/antagonists/heretic/knowledge/moon_lore.dm
  code/modules/antagonists/heretic/knowledge/rust_lore.dm
  code/modules/antagonists/heretic/knowledge/starting_lore.dm
  code/modules/antagonists/heretic/knowledge/void_lore.dm
  code/modules/bitrunning/orders/tech.dm
  code/modules/mafia/abilities/investigative/reveal.dm
  code/modules/mob/living/basic/drone/_drone.dm
  code/modules/mob/living/living.dm
  code/modules/tutorials/tutorials/switch_hands.dm
Labels: none

declent orderable items
  modular_bandastation/translations/_translations.dme
  modular_bandastation/translations/code/ru_names/ru_name_materials.dm
  modular_bandastation/translations/code/ru_names/ru_name_orderables.dm
Labels: none

Grand9K Pixel Cyrillic
  interface/fonts/Grand9K_Pixel_Rus.ttf
  interface/fonts/Minecraft_Rus.ttf
  interface/fonts/grand_9k.dm
  interface/skin.dmf
Labels: none

Fix д
  interface/fonts/Grand9K_Pixel_Rus.ttf
Labels: none

Oops
  _maps/_basemap.dm
Labels: none

move config
  config/bandastation/bandastation_config.txt
Labels: :floppy_disk: Изменение конфига

Фикс дикоспавна
  code/modules/events/_event.dm
  modular_bandastation/storyteller/_storyteller.dme
  modular_bandastation/storyteller/code/event_defines/crewset/_antagonist_event.dm
  modular_bandastation/storyteller/code/event_defines/crewset/changeling.dm
  modular_bandastation/storyteller/code/event_defines/crewset/spies.dm
Labels: none

nominatives
  modular_bandastation/translations/code/data/ru_names.toml
Labels: none

some fixes
  modular_bandastation/translations/code/data/ru_names.toml
Labels: none

declented secs
  modular_bandastation/translations/code/data/ru_names.toml
Labels: none

genders
  modular_bandastation/translations/code/data/ru_names.toml
Labels: none

блю
  modular_bandastation/translations/code/data/ru_names.toml
Labels: none

rename firealarm and lightswitch
  code/game/machinery/firealarm.dm
  code/game/machinery/lightswitch.dm
Labels: none

Fonts Tweaks
  interface/fonts/Grand9K_Pixel_Rus.ttf
  interface/fonts/TinyUnicodeRus.ttf
Labels: none

Bigger Шш
  interface/fonts/Grand9K_Pixel_Rus.ttf
Labels: none

declent surname
  modular_bandastation/translations/code/data/ru_names.toml
Labels: none

finish translate
  modular_bandastation/translations/code/data/ru_names.toml
Labels: none

Add platforms
  _maps/map_files/Cyberiad/Cyberiad.dmm
  modular_bandastation/objects/_objects.dme
  modular_bandastation/objects/code/platform.dm
  modular_bandastation/objects/icons/platform.dmi
Labels: :paintbrush: Спрайты

Фиксы после раунда с муней
  config/bandastation/bandastation_config.txt
  modular_bandastation/storyteller/_storyteller.dme
  modular_bandastation/storyteller/code/_defines/storyteller_config.dm
  modular_bandastation/storyteller/code/_defines/storyteller_defines.dm
  modular_bandastation/storyteller/code/event_defines/crewset/nuke_ops.dm
  modular_bandastation/storyteller/code/event_defines/crewset/spies.dm
  modular_bandastation/storyteller/code/event_defines/major/override.dm
  modular_bandastation/storyteller/code/gamemode.dm
Labels: :floppy_disk: Изменение конфига

Снижение базовых показателей Энди, вырез голосвания, включение подсчета (пока в меню) рнд
  code/controllers/subsystem/ticker.dm
  modular_bandastation/storyteller/code/gamemode.dm
  modular_bandastation/storyteller/code/storytellers/data/tracks.dm
Labels: none

Фикс задержки раундстарта
  code/modules/events/_event.dm
Labels: none

Fixes
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Fixes
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Изменение логики
  modular_bandastation/storyteller/code/event_defines/_event.dm
  modular_bandastation/storyteller/code/storytellers/tellers/_storyteller.dm
Labels: none

lawyer access fix
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

rnd access fix
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

add sec warrant console
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none
