Repository ss220club/BandaStation, changes with the labels that .github/labeler.yml gives for each.
All labels: TGUI, :sound: Звук, :paintbrush: Спрайты, :guitar: Инструменты, :floppy_disk: Изменение конфига, :neckbeard: Документация, :cd: SQL

.github/labeler.yml:

'TGUI':
  - changed-files:
      - any-glob-to-any-file: 'tgui/**'

':sound: Звук':
  - changed-files:
      - any-glob-to-any-file: '**/*.ogg'

':world_map: Изменение Карты':
  - all:
      - changed-files:
          - any-glob-to-any-file: '**/*.dmm'

':paintbrush: Спрайты':
  - changed-files:
      - any-glob-to-any-file: '**/*.dmi'

':guitar: Инструменты':
  - changed-files:
      - any-glob-to-any-file: ['.gihub/**', 'tools/**', '.vscode/**', '.bin/**']

':floppy_disk: Изменение конфига':
  - changed-files:
      - any-glob-to-any-file: 'config/**'

':neckbeard: Документация':
  - changed-files:
      - any-glob-to-any-file: '**/*.md'

':cd: SQL':
  - changed-files:
      - any-glob-to-any-file: 'SQL/**'

':feelsgood: Частичная модульность':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['code/**', 'icons/**', 'sounds/**', '_maps/map_files/**', 'tgui/**']
          - any-glob-to-any-file: 'modular_bandastation/**'
      - base-branch: 'master'
      - head-branch: '!merge-upstream'

':finnadie: НЕ МОДУЛЬНО':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['code/**', 'icons/**', 'sounds/**', '_maps/map_files/**']
          - all-globs-to-all-files: '!modular_bandastation/**'
      - base-branch: 'master'
      - head-branch: '!merge-upstream'

':pray: Слияние с восходящим потоком':
  - all:
    - base-branch: 'master'
    - head-branch: 'merge-upstream'

':pencil: Перевод':
  - base-branch: 'translate'

':wrench: Фикс':
  - head-branch: ['^fix', 'fix']

':trollface: Фича':
  - head-branch: ['^feat', 'feat']

':shipit: Улучшение':
  - head-branch: ['^tweak', 'tweak']

Update code/modules/mob/dead/observer/orbit.dm
  code/modules/mob/dead/observer/orbit.dm
Labels: none

Fix mistakes in aesthetics
  modular_bandastation/aesthetics/airlocks/code/airlock_assembly_types.dm
  modular_bandastation/aesthetics/airlocks/code/airlock_types.dm
  modular_bandastation/aesthetics/keycard_auth/code/keycard_auth.dm
  modular_bandastation/aesthetics/lightswitch/icons/lightswitch.dmi
  modular_bandastation/aesthetics/windows/code/full_tile_windows.dm
  modular_bandastation/aesthetics/windows/icons/spawners.dmi
Labels: :paintbrush: Спрайты

huh
  modular_bandastation/aesthetics/airlocks/code/airlock_assembly_types.dm
Labels: none

Tooltips declented (#745)
  code/_onclick/hud/action_button.dm
  code/_onclick/hud/alert.dm
  code/_onclick/hud/blob_overmind.dm
  code/_onclick/hud/new_player.dm
  code/_onclick/hud/radial.dm
  code/game/objects/items.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/tooltips.tsx
Labels: TGUI

use translate for vending
  code/modules/vending/_vending.dm
Labels: none

hit by kiss
  code/game/objects/items/hand_items.dm
Labels: none

kiss ru names
  code/game/objects/items/hand_items.dm
  modular_bandastation/translations/code/data/ru_names.toml
Labels: none

you blow
  code/game/objects/items/hand_items.dm
Labels: none

Translate vending products (#752)
  code/modules/vending/_vending.dm
Labels: none

check for stars
  modular_bandastation/tts/code/tts_hear.dm
Labels: none

Kiss hit by translate (#753)
  code/game/objects/items/hand_items.dm
Labels: none

use distance check instead
  modular_bandastation/tts/code/tts_hear.dm
Labels: none

Исправления и первый этап диги ножек
  modular_bandastation/emote_panel/_emote_panel.dme
  modular_bandastation/emote_panel/code/_emote_defines.dm
  modular_bandastation/emote_panel/code/emotes.dm
  modular_bandastation/species/_species.dme
  modular_bandastation/species/code/human/species/species.dm
  modular_bandastation/species/code/human/species_type/vulpkanin.dm
  modular_bandastation/species/code/human/sprite_accessories/vulpkanin.dm
  modular_bandastation/species/code/preferences/species_features/vulpkanin.dm
  modular_bandastation/species/code/surgery/bodyparts/vulpkanin_bodyparts.dm
  modular_bandastation/species/icons/mob/species/vulpkanin/body.dmi
  modular_bandastation/species/icons/mob/species/vulpkanin/body_markings.dmi
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/species_features.tsx
Labels: TGUI, :paintbrush: Спрайты

fix radios?
  modular_bandastation/tts/code/tts_hear.dm
Labels: none

mda
  code/controllers/subsystem/dynamic/dynamic.dm
Labels: none

NanoMap Auto-Update (Mon Nov 18 00:46:09 UTC 2024)
  icons/_nanomaps/Birdshot Station_nanomap_z1.png
  icons/_nanomaps/Cyberiad_nanomap_z1.png
  icons/_nanomaps/Cyberiad_nanomap_z2.png
Labels: none

Fix ladder names
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

atmos pipe names fixes
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

moreloot ot maint
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Medbay fixes
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Med fixes
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

More maint fixes
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

ups cryo min ssd time
  modular_bandastation/cryosleep/code/config.dm
Labels: none

Фикс конфига.
  config/game_options.txt
Labels: :floppy_disk: Изменение конфига

Ввод черной орбиты
  modular_bandastation/storyteller/code/storytellers/tellers/storyteller_black_orbit.dm
Labels: none

Внедрение орбиты в пул голосования
  modular_bandastation/storyteller/_storyteller.dme
Labels: none

Отработки по ревью
  code/controllers/subsystem/dynamic/dynamic.dm
  code/controllers/subsystem/persistence/_persistence.dm
  code/controllers/subsystem/ticker.dm
  code/modules/admin/topic.dm
  code/modules/events/_event.dm
  config/bandastation/bandastation_config.txt
  config/bandastation/events.json
  config/game_options.txt
  modular_bandastation/storyteller/_storyteller.dm
  modular_bandastation/storyteller/_storyteller.dme
  modular_bandastation/storyteller/code/_defines/_persistence.dm
  modular_bandastation/storyteller/code/_defines/_ticker.dm
  modular_bandastation/storyteller/code/divergency_report.dm
  modular_bandastation/storyteller/code/event_defines/crewset/_antagonist_event.dm
  modular_bandastation/storyteller/code/event_defines/disabled_event_overrides.dm
  modular_bandastation/storyteller/code/event_defines/major/override.dm
  modular_bandastation/storyteller/code/event_defines/moderate/override.dm
  modular_bandastation/storyteller/code/event_defines/mundane/override.dm
  modular_bandastation/storyteller/code/gamemode.dm
  modular_bandastation/storyteller/code/jobs_restrictions.dm
  modular_bandastation/storyteller/code/storytellers/data/tracks.dm
  modular_bandastation/storyteller/code/storytellers/tellers/_storyteller.dm
  modular_bandastation/storyteller/code/vote.dm
  modular_bandastation/storyteller/code/vote_reminder.dm
Labels: :floppy_disk: Изменение конфига

Небольшое обновление логики
  config/bandastation/bandastation_config.txt
  modular_bandastation/storyteller/code/_defines/storyteller_config.dm
  modular_bandastation/storyteller/code/gamemode.dm
  modular_bandastation/storyteller/code/storytellers/tellers/_storyteller.dm
Labels: :floppy_disk: Изменение конфига

Упс
  modular_bandastation/storyteller/code/_defines/storyteller_defines.dm
Labels: none

Игра с конфигом
  config/bandastation/events.json
  config/bandastation/events.toml
  modular_bandastation/storyteller/code/gamemode.dm
Labels: :floppy_disk: Изменение конфига

Cyberiad fixes + small getto rebuild
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Восстановление чеков после инициализации, плюс ревью
  modular_bandastation/storyteller/_storyteller.dme
  modular_bandastation/storyteller/code/event_defines/crewset/_antagonist_event.dm
  modular_bandastation/storyteller/code/event_defines/disabled_event_overrides.dm
  modular_bandastation/storyteller/code/event_defines/major/override.dm
  modular_bandastation/storyteller/code/gamemode.dm
  modular_bandastation/storyteller/code/jobs_restrictions.dm
Labels: none

Add meat orderables
  modular_bandastation/modular_bandastation.dme
  modular_bandastation/orderables/_orderables.dm
  modular_bandastation/orderables/_orderables.dme
  modular_bandastation/orderables/code/orderables.dm
Labels: none

Price 26 -> 25
  modular_bandastation/orderables/code/orderables.dm
Labels: none

Expands pool of papershreddebale objects
  modular_bandastation/objects/code/papershredder.dm
Labels: none

Grammar
  modular_bandastation/objects/code/papershredder.dm
Labels: none

fix
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/hotkeys.tsx
Labels: TGUI

fix typo (#764)
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/hotkeys.tsx
Labels: TGUI

fixes improper check and check if value exists
  modular_bandastation/translations/code/data/ru_names.toml
  modular_bandastation/translations/code/ru_names/ru_name_base.dm
Labels: none

steal objective uses declents
  code/game/gamemodes/objective.dm
  code/modules/antagonists/obsessed/obsessed.dm
  code/modules/antagonists/spy/spy_bounty.dm
  code/modules/antagonists/traitor/objectives/destroy_heirloom.dm
  code/modules/antagonists/traitor/objectives/destroy_item.dm
Labels: none
