Repository ss220club/BandaStation, changes with the labels that .github/labeler.yml gives for each.
All labels: TGUI, :sound: Звук, :paintbrush: Спрайты, :guitar: Инструменты, :floppy_disk: Изменение конфига, :neckbeard: Документация, :cd: SQL

links
  README.md
Labels: :neckbeard: Документация

Replace output with title_output
  modular_bandastation/title_screen/code/new_player.dm
Labels: none

readme translation
  README.md
Labels: :neckbeard: Документация

fuck it
  README.md
Labels: :neckbeard: Документация

Update README.md
  README.md
Labels: :neckbeard: Документация

README.md adaptation (#876)
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Labels: :neckbeard: Документация

Update modular_bandastation/title_screen/code/title_screen_subsystem.dm
  modular_bandastation/title_screen/code/title_screen_subsystem.dm
Labels: none

Update modular_bandastation/title_screen/code/title_screen_controls.dm
  modular_bandastation/title_screen/code/title_screen_controls.dm
Labels: none

Move include
  modular_bandastation/modular_bandastation.dme
Labels: none

couple of debug logs
  modular_bandastation/title_screen/code/title_screen_subsystem.dm
Labels: none

remove discord requirement, crutch for title screen image update
  modular_bandastation/discord/code/discord.dm
  modular_bandastation/title_screen/code/title_screen_subsystem.dm
Labels: none

I forgor
  modular_bandastation/title_screen/code/title_screen_subsystem.dm
Labels: none

1 sec delay before lobby image update
  modular_bandastation/title_screen/code/title_screen_subsystem.dm
Labels: none

update title image after it was 100% sent
  modular_bandastation/title_screen/code/title_screen_subsystem.dm
Labels: none

Feat: random tts with random appearance (#875)
  modular_bandastation/tts/code/tts_preferences.dm
Labels: none

Переименование вещей на английский язык.
  modular_bandastation/loadout/code/categories/gloves.dm
  modular_bandastation/loadout/code/categories/masks.dm
  modular_bandastation/loadout/code/categories/suits.dm
Labels: none

Tooltips
  modular_bandastation/title_screen/code/new_player.dm
  modular_bandastation/title_screen/code/title_screen_datum.dm
  modular_bandastation/title_screen/html/title_screen.css
Labels: none

Replace polls with wiki button
  modular_bandastation/title_screen/code/asset_lobby.dm
  modular_bandastation/title_screen/code/new_player.dm
  modular_bandastation/title_screen/code/title_screen_datum.dm
  modular_bandastation/title_screen/icons/lobby_polls.png
  modular_bandastation/title_screen/icons/lobby_wiki.png
Labels: none

Fix focus restore
  modular_bandastation/title_screen/code/new_player.dm
Labels: none

Tooltips improvements
  modular_bandastation/title_screen/html/title_screen.css
Labels: none

Небольшой реворк по функциям, включение события от хака телекомов
  code/controllers/subsystem/dynamic/dynamic_unfavorable_situation.dm
  modular_bandastation/storyteller/code/_defines/storyteller_defines.dm
  modular_bandastation/storyteller/code/gamemode.dm
Labels: none

Изменение очередности запуска событий при раундстарте, ввод очереди форса, чистка кода от дублирующей проверки
  modular_bandastation/storyteller/code/event_defines/_round_event_control.dm
  modular_bandastation/storyteller/code/gamemode.dm
  modular_bandastation/storyteller/code/storytellers/_storyteller.dm
Labels: none

Исправление ошибок
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Fix
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Fix painted windows overlay
  modular_bandastation/aesthetics/windows/code/full_tile_windows.dm
Labels: none

Fix painted windows overlay (#878)
  modular_bandastation/aesthetics/windows/code/full_tile_windows.dm
Labels: none

Add: Privacy shutters for clown and mime office on Cyberiad
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Add: Privacy shutters for clown and mime office on Cyberiad (#879)
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Апдейт
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Минорные фиксы Кибериады (#872)
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

remove byond shit
  modular_bandastation/jobs/_jobs.dme
Labels: none

NT representation exp type, basic player age for blueshield and NTR adjustment
  modular_bandastation/_defines220/code/defines/preferences.dm
  modular_bandastation/jobs/code/departments/nt_representation.dm
  modular_bandastation/jobs/code/job_types/blueshield/job.dm
  modular_bandastation/jobs/code/job_types/nanotrasen_representative/job.dm
Labels: none

fix compile errors
  modular_bandastation/_defines220/_defines220.dme
Labels: none

Забыл поменять лоадаут итем/название класса
  modular_bandastation/loadout/code/categories/masks.dm
Labels: none

Забыл поменять названия
  modular_bandastation/loadout/code/categories/suits.dm
Labels: none

replace huds and trim icons for some jobs
  modular_bandastation/hud_icon/icons/hud.dmi
  modular_bandastation/jobs/_jobs.dme
  modular_bandastation/jobs/code/job_types/captain/trim.dm
  modular_bandastation/jobs/code/job_types/head_of_security/trim.dm
  modular_bandastation/jobs/code/job_types/research_director/trim.dm
  modular_bandastation/jobs/code/job_types/scientist/trim.dm
  modular_bandastation/jobs/icons/obj/card.dmi
Labels: :paintbrush: Спрайты

Add collapse toggle impact
  interface/fonts/PixCyrillic.ttf
  modular_bandastation/title_screen/code/title_screen_datum.dm
  modular_bandastation/title_screen/html/title_screen.css
  modular_bandastation/title_screen/icons/lobby_collapse.png
Labels: none

Cyberiad: Minor fixes and improves
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Missed things
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Get back sounds
  modular_bandastation/title_screen/code/new_player.dm
  modular_bandastation/title_screen/code/title_screen_datum.dm
  modular_bandastation/title_screen/html/title_screen.css
Labels: none

.github/labeler.yml:

'TGUI':
  - changed-files:
      - any-glob-to-any-file: 'tgui/**'

':sound: Звук':
  - changed-files:
      - any-glob-to-any-file: '**/*.ogg'

':world_map: Изменение Карты':
  - all:
      - changed-files:
          - any-glob-to-any-file: '**/*.dmm'

':paintbrush: Спрайты':
  - changed-files:
      - any-glob-to-any-file: '**/*.dmi'

':guitar: Инструменты':
  - changed-files:
      - any-glob-to-any-file: ['.gihub/**', 'tools/**', '.vscode/**', '.bin/**']

':floppy_disk: Изменение конфига':
  - changed-files:
      - any-glob-to-any-file: 'config/**'

':neckbeard: Документация':
  - changed-files:
      - any-glob-to-any-file: '**/*.md'

':cd: SQL':
  - changed-files:
      - any-glob-to-any-file: 'SQL/**'

':feelsgood: Частичная модульность':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['code/**', 'icons/**', 'sounds/**', '_maps/map_files/**', 'tgui/**']
          - any-glob-to-any-file: 'modular_bandastation/**'
      - base-branch: 'master'
      - head-branch: '!merge-upstream'

':finnadie: НЕ МОДУЛЬНО':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['code/**', 'icons/**', 'sounds/**', '_maps/map_files/**']
          - all-globs-to-all-files: '!modular_bandastation/**'
      - base-branch: 'master'
      - head-branch: '!merge-upstream'

':pray: Слияние с восходящим потоком':
  - all:
    - base-branch: 'master'
    - head-branch: 'merge-upstream'

':pencil: Перевод':
  - base-branch: 'translate'

':wrench: Фикс':
  - head-branch: ['^fix', 'fix']

':trollface: Фича':
  - head-branch: ['^feat', 'feat']

':shipit: Улучшение':
  - head-branch: ['^tweak', 'tweak']
