Repository ss220club/BandaStation, changes with the labels that .github/labeler.yml gives for each.
All labels: TGUI, :sound: Звук, :paintbrush: Спрайты, :guitar: Инструменты, :floppy_disk: Изменение конфига, :neckbeard: Документация, :cd: SQL

Return FALSE instead of null
  modular_bandastation/overrides/code/tutorial_disable.dm
Labels: none

ru names
  code/game/objects/items/grenades/chem_grenade.dm
  code/game/objects/items/melee/baton.dm
  code/game/objects/items/plushes.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/game/objects/structures/crates_lockers/crates/critter.dm
  code/game/turfs/closed/wall/reinf_walls.dm
  code/game/turfs/closed/walls.dm
  code/game/turfs/open/_open.dm
  code/game/turfs/open/floor.dm
  code/modules/awaymissions/away_props.dm
  code/modules/clothing/chameleon/_chameleon_action.dm
  code/modules/clothing/chameleon/generic_chameleon_clothing.dm
  code/modules/clothing/gloves/color.dm
  code/modules/clothing/gloves/insulated.dm
  code/modules/clothing/head/helmet.dm
  code/modules/fishing/fishing_rod.dm
  code/modules/mob/living/basic/ruin_defender/living_floor.dm
  code/modules/reagents/reagent_dispenser.dm
Labels: none

make it female
  modular_bandastation/translations/code/bodyparts.dm
Labels: none

remove ru_names list
  code/__DEFINES/bandastation/pronouns.dm
  modular_bandastation/translations/code/ru_names/ru_name_base.dm
Labels: none

typo
  code/modules/mob/living/carbon/human/human.dm
Labels: none

use embeds for it
  config/bandastation/bandastation_config.txt
  modular_bandastation/translations/code/translate_suggest_ru_names.dm
Labels: :floppy_disk: Изменение конфига

even better
  modular_bandastation/translations/code/translate_suggest_ru_names.dm
Labels: none

fix typo (#628)
  code/modules/mob/living/carbon/human/human.dm
Labels: none

move it to master
  tgui/packages/tgui-say/constants.ts
Labels: TGUI

move to master more
  tgui/packages/tgui-say/constants.ts
  tgui/packages/tgui-say/styles/colors.scss
Labels: TGUI

typo
  tgui/packages/tgui-say/styles/colors.scss
Labels: TGUI

allow non-radio prefixes to work with cyrillic
  modular_bandastation/translations/_translations.dme
  modular_bandastation/translations/code/saymode.dm
Labels: none

fix
  code/datums/quirks/negative_quirks/prosthetic_organ.dm
  code/game/machinery/dna_infuser/organ_sets/rat_organs.dm
  code/modules/mob/living/carbon/carbon_context.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/examine.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/mob.dm
  code/modules/surgery/eye_surgery.dm
Labels: none

Fix translate upstream 30.10.24 (#632)
  code/datums/quirks/negative_quirks/prosthetic_organ.dm
  code/game/machinery/dna_infuser/organ_sets/rat_organs.dm
  code/modules/mob/living/carbon/carbon_context.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/examine.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/mob.dm
  code/modules/surgery/eye_surgery.dm
Labels: none

Исправления под апстрим
  modular_bandastation/emote_panel/code/emotes.dm
  modular_bandastation/species/code/dna.dm
  modular_bandastation/species/code/human/species_type/vulpkanin.dm
  modular_bandastation/species/code/preferences/species_features/vulpkanin.dm
  modular_bandastation/species/code/surgery/bodyparts/vulpkanin_bodyparts.dm
  modular_bandastation/species/code/surgery/organs/external/vulpkanin_external.dm
  modular_bandastation/species/code/surgery/organs/internal/vulpkanin_internal.dm
  modular_bandastation/species/code/surgery/organs/limbgrower_designs.dm
Labels: none

mapping done
  _maps/_basemap.dm
  _maps/cyberiad.json
  _maps/map_files/Cyberiad/Cyberiad.dmm
  config/maps.txt
Labels: :floppy_disk: Изменение конфига

Merge pull request #1 from Perohai/cyberiad
  _maps/_basemap.dm
  _maps/cyberiad.json
  _maps/map_files/Cyberiad/Cyberiad.dmm
  config/maps.txt
Labels: :floppy_disk: Изменение конфига

cyberiad try 2
  _maps/_basemap.dm
  _maps/cyberiad.json
  _maps/map_files/Cyberiad/Cyberiad.dmm
  config/maps.txt
Labels: :floppy_disk: Изменение конфига

add linkage
  _maps/cyberiad.json
Labels: none

zone fixes
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

fixes zone fixes
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

fix 3
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

fix 4
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

fix 5
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

fix 6
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Revert "fix 6"
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

map diff fix
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

fix 7
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

fix 8
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

zone fix fin ???
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

fix 9
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Try UpdatePatchs fix
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

fix 10
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

fix 11
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

fix 12
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

fix 13
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

erm
  code/modules/mob/living/carbon/examine.dm
  modular_bandastation/cryosleep/code/admin.dm
  modular_bandastation/cryosleep/code/cryopod.dm
  modular_bandastation/cryosleep/code/job.dm
Labels: none

minor translation + fix
  modular_bandastation/cryosleep/code/admin.dm
  modular_bandastation/cryosleep/code/cryopod.dm
Labels: none

Update modular_bandastation/cryosleep/code/admin.dm
  modular_bandastation/cryosleep/code/admin.dm
Labels: none

initial support
  code/game/objects/items/tools/crowbar.dm
  modular_bandastation/translations/code/data/ru_names.toml
  modular_bandastation/translations/code/defines.dm
  modular_bandastation/translations/code/ru_names/ru_name_base.dm
  modular_bandastation/translations/code/ru_names/ru_name_toml.dm
  modular_bandastation/translations/code/~undefs.dm
Labels: none

.github/labeler.yml:

'TGUI':
  - changed-files:
      - any-glob-to-any-file: 'tgui/**'

':sound: Звук':
  - changed-files:
      - any-glob-to-any-file: '**/*.ogg'

':world_map: Изменение Карты':
  - all:
      - changed-files:
          - any-glob-to-any-file: '**/*.dmm'

':paintbrush: Спрайты':
  - changed-files:
      - any-glob-to-any-file: '**/*.dmi'

':guitar: Инструменты':
  - changed-files:
      - any-glob-to-any-file: ['.gihub/**', 'tools/**', '.vscode/**', '.bin/**']

':floppy_disk: Изменение конфига':
  - changed-files:
      - any-glob-to-any-file: 'config/**'

':neckbeard: Документация':
  - changed-files:
      - any-glob-to-any-file: '**/*.md'

':cd: SQL':
  - changed-files:
      - any-glob-to-any-file: 'SQL/**'

':feelsgood: Частичная модульность':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['code/**', 'icons/**', 'sounds/**', '_maps/map_files/**', 'tgui/**']
          - any-glob-to-any-file: 'modular_bandastation/**'
      - base-branch: 'master'
      - head-branch: '!merge-upstream'

':finnadie: НЕ МОДУЛЬНО':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['code/**', 'icons/**', 'sounds/**', '_maps/map_files/**']
          - all-globs-to-all-files: '!modular_bandastation/**'
      - base-branch: 'master'
      - head-branch: '!merge-upstream'

':pray: Слияние с восходящим потоком':
  - all:
    - base-branch: 'master'
    - head-branch: 'merge-upstream'

':pencil: Перевод':
  - base-branch: 'translate'

':wrench: Фикс':
  - head-branch: ['^fix', 'fix']

':trollface: Фича':
  - head-branch: ['^feat', 'feat']

':shipit: Улучшение':
  - head-branch: ['^tweak', 'tweak']
