Repository ss220club/BandaStation, changes with the labels that .github/labeler.yml gives for each.
All labels: TGUI, :sound: Звук, :paintbrush: Спрайты, :guitar: Инструменты, :floppy_disk: Изменение конфига, :neckbeard: Документация, :cd: SQL

.github/labeler.yml:

'TGUI':
  - changed-files:
      - any-glob-to-any-file: 'tgui/**'

':sound: Звук':
  - changed-files:
      - any-glob-to-any-file: '**/*.ogg'

':world_map: Изменение Карты':
  - all:
      - changed-files:
          - any-glob-to-any-file: '**/*.dmm'

':paintbrush: Спрайты':
  - changed-files:
      - any-glob-to-any-file: '**/*.dmi'

':guitar: Инструменты':
  - changed-files:
      - any-glob-to-any-file: ['.gihub/**', 'tools/**', '.vscode/**', '.bin/**']

':floppy_disk: Изменение конфига':
  - changed-files:
      - any-glob-to-any-file: 'config/**'

':neckbeard: Документация':
  - changed-files:
      - any-glob-to-any-file: '**/*.md'

':cd: SQL':
  - changed-files:
      - any-glob-to-any-file: 'SQL/**'

':feelsgood: Частичная модульность':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['code/**', 'icons/**', 'sounds/**', '_maps/map_files/**', 'tgui/**']
          - any-glob-to-any-file: 'modular_bandastation/**'
      - base-branch: 'master'
      - head-branch: '!merge-upstream'

':finnadie: НЕ МОДУЛЬНО':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['code/**', 'icons/**', 'sounds/**', '_maps/map_files/**']
          - all-globs-to-all-files: '!modular_bandastation/**'
      - base-branch: 'master'
      - head-branch: '!merge-upstream'

':pray: Слияние с восходящим потоком':
  - all:
    - base-branch: 'master'
    - head-branch: 'merge-upstream'

':pencil: Перевод':
  - base-branch: 'translate'

':wrench: Фикс':
  - head-branch: ['^fix', 'fix']

':trollface: Фича':
  - head-branch: ['^feat', 'feat']

':shipit: Улучшение':
  - head-branch: ['^tweak', 'tweak']

Ребаланс нюки и культа (шансы раундстарта)
  modular_bandastation/storyteller/code/event_defines/crewset/clown_ops.dm
  modular_bandastation/storyteller/code/event_defines/crewset/cult.dm
Labels: none

fix
  tgui/packages/tgui/interfaces/Uplink/index.tsx
Labels: TGUI

fix bar restaurant portal
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Fix translate 27.11.24 (#813)
  tgui/packages/tgui/interfaces/Uplink/index.tsx
Labels: TGUI

Исправления условий для Блоба, измненеие логики сранья в логи
  code/modules/events/_event.dm
  modular_bandastation/storyteller/code/event_defines/major/override.dm
  modular_bandastation/storyteller/code/storytellers/tellers/_storyteller.dm
Labels: none

Add: NSSJorney
  _maps/_basemap.dm
  _maps/map_files/NSSJourney/NSSJourney.dmm
  _maps/nssjourney.json
  config/maps.txt
Labels: :floppy_disk: Изменение конфига

Del bluered cross
  _maps/map_files/NSSJourney/NSSJourney.dmm
Labels: none

add yours pronoun
  modular_bandastation/translations/code/pronouns.dm
Labels: none

свой
  modular_bandastation/translations/code/pronouns.dm
Labels: none

part 1
  code/modules/antagonists/heretic/heretic_living_heart.dm
  code/modules/antagonists/heretic/knowledge/starting_lore.dm
Labels: none

repath
  modular_bandastation/translations/code/defines.dm
  modular_bandastation/translations/code/pronouns.dm
  modular_bandastation/translations/code/translation_data/ru_emotes.toml
  modular_bandastation/translations/code/translation_data/ru_names.toml
  modular_bandastation/translations/code/translation_data/ru_verbs.toml
Labels: none

these pronouns have declents!
  modular_bandastation/translations/code/pronouns.dm
  modular_bandastation/translations/code/translation_data/ru_names.toml
Labels: none

use new pronouns instead of "у вас"
  code/datums/elements/strippable.dm
  code/modules/antagonists/heretic/influences.dm
  code/modules/antagonists/heretic/knowledge/starting_lore.dm
  code/modules/mob/living/carbon/human/human_stripping.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/living_defense.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/bone_mending.dm
  code/modules/surgery/burn_dressing.dm
  code/modules/surgery/cavity_implant.dm
  code/modules/surgery/limb_augmentation.dm
  code/modules/surgery/lipoplasty.dm
  code/modules/surgery/mechanic_steps.dm
  code/modules/surgery/organ_manipulation.dm
  code/modules/surgery/organic_steps.dm
  code/modules/surgery/prosthetic_replacement.dm
Labels: none

Better tra (#819)
  code/datums/elements/strippable.dm
  code/modules/antagonists/heretic/heretic_living_heart.dm
  code/modules/antagonists/heretic/influences.dm
  code/modules/antagonists/heretic/knowledge/starting_lore.dm
  code/modules/mob/living/carbon/human/human_stripping.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/living_defense.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/bone_mending.dm
  code/modules/surgery/burn_dressing.dm
  code/modules/surgery/cavity_implant.dm
  code/modules/surgery/limb_augmentation.dm
  code/modules/surgery/lipoplasty.dm
  code/modules/surgery/mechanic_steps.dm
  code/modules/surgery/organ_manipulation.dm
  code/modules/surgery/organic_steps.dm
  code/modules/surgery/prosthetic_replacement.dm
Labels: none

Измнение логики раундстарта
  code/controllers/subsystem/events.dm
  code/modules/events/_event.dm
  modular_bandastation/storyteller/code/event_defines/crewset/blood_brothers.dm
  modular_bandastation/storyteller/code/event_defines/crewset/changeling.dm
  modular_bandastation/storyteller/code/event_defines/crewset/clown_ops.dm
  modular_bandastation/storyteller/code/event_defines/crewset/cult.dm
  modular_bandastation/storyteller/code/event_defines/crewset/heretic.dm
  modular_bandastation/storyteller/code/event_defines/crewset/malf.dm
  modular_bandastation/storyteller/code/event_defines/crewset/nuke_ops.dm
  modular_bandastation/storyteller/code/event_defines/crewset/revolution.dm
  modular_bandastation/storyteller/code/event_defines/crewset/traitors.dm
  modular_bandastation/storyteller/code/gamemode.dm
  modular_bandastation/storyteller/code/storytellers/tellers/_storyteller.dm
Labels: none

карго, мед, досрал в обр
  _maps/bandastation/Trurl.dmm
Labels: none

add support for reagent desc
  modular_bandastation/translations/_translations.dm
  modular_bandastation/translations/code/bodyparts.dm
  modular_bandastation/translations/code/ru_names/ru_name_base.dm
  modular_bandastation/translations/code/ru_names/ru_name_materials.dm
  modular_bandastation/translations/code/ru_names/ru_name_orderables.dm
  modular_bandastation/translations/code/ru_names/ru_name_reagents.dm
  modular_bandastation/translations/code/translation_data/ru_reagents.toml
Labels: none

should be list
  modular_bandastation/translations/code/bodyparts.dm
Labels: none

ru renames
  code/modules/hydroponics/hydroponics.dm
Labels: none

Фикс культа, отображения и запуска событий
  code/controllers/subsystem/events.dm
  modular_bandastation/storyteller/code/event_defines/crewset/cult.dm
  modular_bandastation/storyteller/code/gamemode.dm
Labels: none

move stuff around
  modular_bandastation/translations/_translations.dme
  modular_bandastation/translations/code/design.dm
  modular_bandastation/translations/code/ru_names/ru_name_design.dm
Labels: none

fix error
  modular_bandastation/translations/code/ru_names/ru_name_design.dm
Labels: none

add script to get toml of all designs
  modular_bandastation/translations/_translations.dm
Labels: none

fix verb
  modular_bandastation/translations/_translations.dm
Labels: none

duplicate keys
  modular_bandastation/translations/_translations.dm
Labels: none

it kind of works
  modular_bandastation/translations/_translations.dm
  modular_bandastation/translations/code/ru_names/ru_name_design.dm
Labels: none

it works good
  modular_bandastation/translations/_translations.dm
Labels: none

pair it up
  modular_bandastation/translations/_translations.dm
Labels: none

uncategorized data
  modular_bandastation/translations/code/translation_data/toml_data_for_laren.toml
Labels: none

quoted keys
  modular_bandastation/translations/_translations.dm
  modular_bandastation/translations/code/translation_data/toml_data_for_laren.toml
Labels: none

add comment for future, that it's a design
  modular_bandastation/translations/code/translation_data/toml_data_for_laren.toml
Labels: none

prepare designs and recipies for new checks
  modular_bandastation/translations/code/ru_names/ru_name_base.dm
  modular_bandastation/translations/code/ru_names/ru_name_design.dm
Labels: none

Возврат ограничения для культа, отобрежине числа антагов
  modular_bandastation/storyteller/code/event_defines/crewset/cult.dm
  modular_bandastation/storyteller/code/gamemode.dm
Labels: none

fix test?
  modular_bandastation/translations/code/ru_names/ru_name_base.dm
Labels: none

move translated stuff
  modular_bandastation/translations/code/translation_data/ru_names.toml
  modular_bandastation/translations/code/translation_data/toml_data_for_laren.toml
Labels: none

name for boards
  code/game/objects/items/circuitboards/circuitboard.dm
Labels: none

clarke and phazon
  modular_bandastation/translations/code/translation_data/ru_names.toml
  modular_bandastation/translations/code/translation_data/toml_data_for_laren.toml
Labels: none

exosuits
  modular_bandastation/translations/code/translation_data/ru_names.toml
  modular_bandastation/translations/code/translation_data/toml_data_for_laren.toml
Labels: none

suffix for Board
  modular_bandastation/translations/code/ru_names/ru_name_design.dm
Labels: none

move boards to buffer
  modular_bandastation/translations/code/translation_data/buffer.toml
  modular_bandastation/translations/code/translation_data/toml_data_for_laren.toml
Labels: none
