Repository ss220club/BandaStation, changes with the labels that .github/labeler.yml gives for each.
All labels: TGUI, :sound: Звук, :paintbrush: Спрайты, :guitar: Инструменты, :floppy_disk: Изменение конфига, :neckbeard: Документация, :cd: SQL

.github/labeler.yml:

'TGUI':
  - changed-files:
      - any-glob-to-any-file: 'tgui/**'

':sound: Звук':
  - changed-files:
      - any-glob-to-any-file: '**/*.ogg'

':world_map: Изменение Карты':
  - all:
      - changed-files:
          - any-glob-to-any-file: '**/*.dmm'

':paintbrush: Спрайты':
  - changed-files:
      - any-glob-to-any-file: '**/*.dmi'

':guitar: Инструменты':
  - changed-files:
      - any-glob-to-any-file: ['.gihub/**', 'tools/**', '.vscode/**', '.bin/**']

':floppy_disk: Изменение конфига':
  - changed-files:
      - any-glob-to-any-file: 'config/**'

':neckbeard: Документация':
  - changed-files:
      - any-glob-to-any-file: '**/*.md'

':cd: SQL':
  - changed-files:
      - any-glob-to-any-file: 'SQL/**'

':feelsgood: Частичная модульность':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['code/**', 'icons/**', 'sounds/**', '_maps/map_files/**', 'tgui/**']
          - any-glob-to-any-file: 'modular_bandastation/**'
      - base-branch: 'master'
      - head-branch: '!merge-upstream'

':finnadie: НЕ МОДУЛЬНО':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['code/**', 'icons/**', 'sounds/**', '_maps/map_files/**']
          - all-globs-to-all-files: '!modular_bandastation/**'
      - base-branch: 'master'
      - head-branch: '!merge-upstream'

':pray: Слияние с восходящим потоком':
  - all:
    - base-branch: 'master'
    - head-branch: 'merge-upstream'

':pencil: Перевод':
  - base-branch: 'translate'

':wrench: Фикс':
  - head-branch: ['^fix', 'fix']

':trollface: Фича':
  - head-branch: ['^feat', 'feat']

':shipit: Улучшение':
  - head-branch: ['^tweak', 'tweak']

Add missing Any access
  modular_bandastation/mapping/code/landmarks.dm
Labels: none

Add syndicate shuttle, fix minor issues
  _maps/shuttles/ss220/infiltrator_basic.dmm
  _maps/templates/lazy_templates/ss220/syndie_cc.dmm
  modular_bandastation/mapping/code/areas/off_station.dm
  modular_bandastation/mapping/code/templates.dm
Labels: none

Add SIT & SST shuttles, fix minor issues
  _maps/shuttles/ss220/infiltrator_basic.dmm
  _maps/shuttles/ss220/sit_basic.dmm
  _maps/shuttles/ss220/sst_basic.dmm
  _maps/templates/lazy_templates/ss220/syndie_cc.dmm
  modular_bandastation/mapping/code/templates.dm
  modular_bandastation/objects/_objects.dme
  modular_bandastation/objects/code/shuttles.dm
  modular_bandastation/outfits/code/syndicate.dm
Labels: none

Update modular_bandastation/mobs/_mobs.dm
  modular_bandastation/mobs/_mobs.dm
Labels: none

Update modular_bandastation/mobs/_mobs.dm
  modular_bandastation/mobs/_mobs.dm
Labels: none

Update modular_bandastation/objects/code/shuttles.dm
  modular_bandastation/objects/code/shuttles.dm
Labels: none

Fix linter
  modular_bandastation/mapping/code/areas/off_station.dm
Labels: none

revuv...
  modular_bandastation/cryosleep/code/ai.dm
  modular_bandastation/cryosleep/code/cryopod.dm
Labels: none

forgor
  modular_bandastation/cryosleep/code/admin.dm
Labels: none

Apply suggestions from code review sexdick
  modular_bandastation/cryosleep/code/admin.dm
  modular_bandastation/cryosleep/code/cryopod.dm
  modular_bandastation/cryosleep/code/mood.dm
Labels: none

can't proc a living xdd
  modular_bandastation/cryosleep/code/admin.dm
Labels: none

yayyy
  _maps/bandastation/automapper/templates/nebulastation/nebulastation_perma_cryo.dmm
  modular_bandastation/cryosleep/code/cryopod.dm
Labels: none

livin' the dream
  modular_bandastation/cryosleep/code/admin.dm
  modular_bandastation/extra_vv/code/extra_vv.dm
Labels: none

simplify `automatic_transfer_subsystem` by removing timer usage
  modular_bandastation/automatic_crew_transfer/code/automatic_transfer_subsystem.dm
  modular_bandastation/automatic_crew_transfer/code/crew_tranfer_vote.dm
Labels: none

add proper lobby/round time to ESC menu
  code/modules/escape_menu/details.dm
Labels: none

Перестройка Карго
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

speak london
  modular_bandastation/aesthetics/clothing/centcom/code/gloves/gloves.dm
  modular_bandastation/aesthetics/clothing/centcom/code/head/hat.dm
  modular_bandastation/aesthetics/clothing/centcom/code/head/winterhood.dm
  modular_bandastation/aesthetics/clothing/centcom/code/mask/mask.dm
  modular_bandastation/aesthetics/clothing/centcom/code/suits/armor.dm
  modular_bandastation/aesthetics/clothing/centcom/code/suits/cloaks.dm
  modular_bandastation/aesthetics/clothing/centcom/code/suits/jacket.dm
  modular_bandastation/aesthetics/clothing/centcom/code/suits/wintercoats.dm
  modular_bandastation/aesthetics/clothing/centcom/code/under/centcom.dm
  modular_bandastation/objects/code/weapons/melee/centcom/rapier.dm
Labels: none

Update Cyberiad.dmm
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Исправление ошибок
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Исправление ошибок
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

новая одежда в object, реквесты ревью
  modular_bandastation/aesthetics/_aesthetics.dme
  modular_bandastation/aesthetics/clothing/centcom/code/head/hat.dm
  modular_bandastation/aesthetics/clothing/centcom/code/suits/armor.dm
  modular_bandastation/aesthetics/clothing/centcom/code/suits/cloaks.dm
  modular_bandastation/aesthetics/clothing/centcom/code/suits/jacket.dm
  modular_bandastation/aesthetics/clothing/centcom/code/under/centcom.dm
  modular_bandastation/aesthetics/vending/code/vending.dm
  modular_bandastation/objects/_objects.dme
  modular_bandastation/objects/code/clothing/eyes/eyes.dm
  modular_bandastation/objects/code/clothing/gloves/gloves.dm
  modular_bandastation/objects/code/clothing/head/hat.dm
  modular_bandastation/objects/code/clothing/shoes/shoes.dm
  modular_bandastation/objects/code/clothing/suits/armor.dm
  modular_bandastation/objects/code/clothing/suits/cloaks.dm
  modular_bandastation/objects/code/clothing/suits/jacket.dm
  modular_bandastation/objects/code/clothing/under/jobs/centcom.dm
  modular_bandastation/outfit/_outfit.dm
  modular_bandastation/outfit/code/outfit.dm
Labels: none

Apply suggestions from code review афаыфыаыф
  modular_bandastation/cryosleep/code/admin.dm
  modular_bandastation/cryosleep/code/cryopod.dm
Labels: none

одеяловые
  modular_bandastation/aesthetics/_aesthetics.dme
  modular_bandastation/aesthetics/bedsheet/code/bedsheet.dm
  modular_bandastation/aesthetics/bedsheet/icons/inhands/bedsheet_lefthand.dmi
  modular_bandastation/aesthetics/bedsheet/icons/inhands/bedsheet_righthand.dmi
  modular_bandastation/aesthetics/bedsheet/icons/mob/bedsheet.dmi
  modular_bandastation/aesthetics/bedsheet/icons/obj/bedsheet.dmi
Labels: :paintbrush: Спрайты

единые аутфиты
  modular_bandastation/modular_bandastation.dme
  modular_bandastation/outfit/_outfit.dm
  modular_bandastation/outfit/_outfit.dme
  modular_bandastation/outfits/_outfits.dme
  modular_bandastation/outfits/code/centcom.dm
Labels: none

ревью реквесты
  modular_bandastation/aesthetics/clothing/centcom/code/head/hat.dm
  modular_bandastation/aesthetics/clothing/centcom/code/suits/wintercoats.dm
  modular_bandastation/outfits/code/centcom.dm
Labels: none

Исправление ошибок
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Исправление ошибок
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Исправление ошибок
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

just lalalalala
  modular_bandastation/_defines220/code/defines/misc.dm
  modular_bandastation/cryosleep/_cryosleep.dme
  modular_bandastation/cryosleep/code/cryoconsole.dm
  modular_bandastation/cryosleep/code/cryopod.dm
  modular_bandastation/cryosleep/code/extra_vv.dm
  modular_bandastation/cryosleep/code/ssd_time.dm
  modular_bandastation/cryosleep/icons/cryogenics.dmi
  modular_bandastation/extra_vv/_extra_vv.dm
  modular_bandastation/extra_vv/_extra_vv.dme
  modular_bandastation/modular_bandastation.dme
  modular_bandastation/translations/code/translation_data/ru_names.toml
  tgui/packages/tgui/interfaces/CryopodConsole.jsx
Labels: TGUI, :paintbrush: Спрайты

Исправление ошибок требований к отделам
  code/modules/events/_event.dm
Labels: none

Корректировка показателей РНД
  modular_bandastation/storyteller/code/event_defines/_round_event_control.dm
  modular_bandastation/storyteller/code/gamemode.dm
Labels: none

Фикс событий шедуллера, планирование теперь вводится. Обновление логики раундстарта - учитывая количество готовых игроков при раундстарте.
  code/modules/antagonists/pirate/pirate_event.dm
  code/modules/events/_event.dm
  code/modules/events/wizard/petsplosion.dm
  modular_bandastation/storyteller/code/event_defines/_round_event_control.dm
  modular_bandastation/storyteller/code/gamemode.dm
  modular_bandastation/storyteller/code/scheduled_event.dm
Labels: none

движки, СРТ
  _maps/bandastation/Trurl.dmm
Labels: none

ы
  _maps/bandastation/Trurl.dmm
Labels: none

Focking shit
  _maps/_basemap.dm
  code/modules/client/preferences/middleware/_middleware.dm
  modular_bandastation/title_screen/_title_screen.dme
  modular_bandastation/title_screen/code/_title_screen_defines.dm
  modular_bandastation/title_screen/code/asset_lobby.dm
  modular_bandastation/title_screen/code/dead.dm
  modular_bandastation/title_screen/code/job_traits.dm
  modular_bandastation/title_screen/code/living.dm
  modular_bandastation/title_screen/code/new_player.dm
  modular_bandastation/title_screen/code/station_traits.dm
  modular_bandastation/title_screen/code/title_screen_controls.dm
  modular_bandastation/title_screen/code/title_screen_datum.dm
  modular_bandastation/title_screen/code/title_screen_html.dm
  modular_bandastation/title_screen/code/title_screen_pref_middleware.dm
  modular_bandastation/title_screen/code/title_screen_subsystem.dm
  modular_bandastation/title_screen/html/FixedsysExcelsior3.01Regular.ttf
  modular_bandastation/title_screen/icons/loading_screen.gif
  modular_bandastation/title_screen/icons/title_screen.gif
Labels: none

Идёт эта хуйня нахуй
  _maps/_basemap.dm
  code/modules/client/preferences/middleware/_middleware.dm
  modular_bandastation/title_screen/_title_screen.dme
  modular_bandastation/title_screen/code/_title_screen_defines.dm
  modular_bandastation/title_screen/code/asset_lobby.dm
  modular_bandastation/title_screen/code/dead.dm
  modular_bandastation/title_screen/code/job_traits.dm
  modular_bandastation/title_screen/code/living.dm
  modular_bandastation/title_screen/code/new_player.dm
  modular_bandastation/title_screen/code/station_traits.dm
  modular_bandastation/title_screen/code/title_screen_controls.dm
  modular_bandastation/title_screen/code/title_screen_datum.dm
  modular_bandastation/title_screen/code/title_screen_html.dm
  modular_bandastation/title_screen/code/title_screen_pref_middleware.dm
  modular_bandastation/title_screen/code/title_screen_subsystem.dm
  modular_bandastation/title_screen/html/browser/FixedsysExcelsior3.01Regular.ttf
  modular_bandastation/title_screen/icons/default.gif
  modular_bandastation/title_screen/icons/loading_screen.gif
Labels: none

It just works
  interface/skin.dmf
  modular_bandastation/title_screen/README.md
  modular_bandastation/title_screen/_title_screen.dm
  modular_bandastation/title_screen/_title_screen.dme
  modular_bandastation/title_screen/code/_title_screen_defines.dm
  modular_bandastation/title_screen/code/asset_lobby.dm
  modular_bandastation/title_screen/code/dead.dm
  modular_bandastation/title_screen/code/living.dm
  modular_bandastation/title_screen/code/new_player.dm
  modular_bandastation/title_screen/code/title_screen_controls.dm
  modular_bandastation/title_screen/code/title_screen_datum.dm
  modular_bandastation/title_screen/code/title_screen_subsystem.dm
  modular_bandastation/title_screen/html/browser/FixedsysExcelsior3.01Regular.ttf
  modular_bandastation/title_screen/icons/default.gif
Labels: :neckbeard: Документация

It just works, again
  icons/ui/common/ss220.png
  interface/skin.dmf
  modular_bandastation/modular_bandastation.dme
  modular_bandastation/title_screen/code/_title_screen_defines.dm
  modular_bandastation/title_screen/code/asset_lobby.dm
  modular_bandastation/title_screen/code/new_player.dm
  modular_bandastation/title_screen/code/title_screen_datum.dm
  modular_bandastation/title_screen/code/title_screen_subsystem.dm
  modular_bandastation/title_screen/html/FixedsysExcelsior3.01Regular.ttf
  modular_bandastation/title_screen/html/title_screen.html
  modular_bandastation/title_screen/icons/default.gif
  modular_bandastation/title_screen/icons/default.png
  tgstation.dme
Labels: none

Исправление ошибок
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Исправление ошибок
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none
