Repository ss220club/BandaStation, changes with the labels that .github/labeler.yml gives for each.
All labels: TGUI, :sound: Звук, :paintbrush: Спрайты, :guitar: Инструменты, :floppy_disk: Изменение конфига, :neckbeard: Документация, :cd: SQL

Точно конец.
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Лутт в гетто + линтер фикс
  _maps/map_files/Cyberiad/Cyberiad.dmm
  modular_bandastation/mapping/code/areas/station.dm
Labels: none

Пофиксил пропавший кабель
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Чиним линтер ?
  _maps/map_files/Cyberiad/Cyberiad.dmm
  modular_bandastation/mapping/code/areas/station.dm
Labels: none

Линтер фикс
  _maps/map_files/Cyberiad/Cyberiad.dmm
  modular_bandastation/mapping/code/areas/station.dm
Labels: none

Убил пробелы, убрал перевод
  modular_bandastation/mapping/code/areas/station.dm
Labels: none

Точно убрал пробел
  modular_bandastation/mapping/code/areas/station.dm
Labels: none

Убрал лишний провод
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Fix active atmos turfs
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

More fixes
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

My issue
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

A bunch of various fixes
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

I think i've done with fixes
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

add map
  tools/nanomap_renderer/nanomap-renderer-invoker.sh
Labels: :guitar: Инструменты

oops, wrong path
  tools/nanomap_renderer/nanomap-renderer-invoker.sh
Labels: :guitar: Инструменты

Add steam vent, fix linter
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Fix config file
  config/maps.txt
Labels: :floppy_disk: Изменение конфига

placeholder
  icons/_nanomaps/NebulaStation_nanomap_z1.png
  icons/_nanomaps/NebulaStation_nanomap_z2.png
Labels: none

NanoMap Auto-Update (Sat Nov 9 12:43:30 UTC 2024)
  icons/_nanomaps/NebulaStation_nanomap_z1.png
  icons/_nanomaps/NebulaStation_nanomap_z2.png
Labels: none

Runtime fixes
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

use emote toml for translate
  modular_bandastation/emote_panel/_emote_panel.dme
  modular_bandastation/emote_panel/code/emotes.dm
  modular_bandastation/translations/_translations.dm
  modular_bandastation/translations/_translations.dme
  modular_bandastation/translations/code/data/ru_emotes.toml
  modular_bandastation/translations/code/translate_emotes.dm
Labels: none

fix some stuff
  modular_bandastation/translations/code/data/ru_emotes.toml
Labels: none

Отработка по ревью
  code/modules/surgery/bone_mending.dm
  code/modules/surgery/dental_implant.dm
  code/modules/surgery/hepatectomy.dm
  code/modules/surgery/limb_augmentation.dm
  code/modules/surgery/organs/_organ.dm
  code/modules/surgery/organs/autosurgeon.dm
  code/modules/surgery/revival.dm
  code/modules/surgery/stomachpump.dm
Labels: none

Правка небольшой опечатки
  code/datums/components/surgery_initiator.dm
Labels: none

translate in prefs
  modular_bandastation/keybinding/_keybinding.dme
  modular_bandastation/keybinding/code/emote.dm
  modular_bandastation/translations/_translations.dm
  modular_bandastation/translations/code/translate_emotes.dm
Labels: none

Стандартизация "у цели нет на/в их конечности чего-то"
  code/modules/surgery/bone_mending.dm
  code/modules/surgery/burn_dressing.dm
  code/modules/surgery/repair_puncture.dm
Labels: none

Отработка по авто-хирургу
  code/modules/surgery/organs/autosurgeon.dm
Labels: none

Отработка по общим функциям органов
  code/modules/surgery/organs/_organ.dm
Labels: none

Отработка по ошибкам
  code/modules/surgery/organs/autosurgeon.dm
Labels: none

add support to add genders to runames
  code/__DEFINES/bandastation/pronouns.dm
  code/datums/components/food/edible.dm
  code/game/machinery/hologram.dm
  code/game/objects/structures/beds_chairs/chair.dm
  code/modules/atmospherics/machinery/air_alarm/_air_alarm.dm
  code/modules/clothing/chameleon/_chameleon_action.dm
  code/modules/mob/living/carbon/alien/adult/queen.dm
  code/modules/mob/living/living.dm
  code/modules/power/apc/apc_main.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/bodyparts/dismemberment.dm
  modular_bandastation/translations/code/bodyparts.dm
  modular_bandastation/translations/code/data/ru_names.toml
  modular_bandastation/translations/code/defines.dm
  modular_bandastation/translations/code/ru_names/ru_name_base.dm
  modular_bandastation/translations/code/~undefs.dm
Labels: none

Update code/modules/surgery/repair_puncture.dm
  code/modules/surgery/repair_puncture.dm
Labels: none

better rename
  code/modules/mob/living/carbon/alien/adult/queen.dm
  modular_bandastation/translations/code/data/ru_names.toml
Labels: none

Доперевод хирургии (#657)
  code/datums/components/surgery_initiator.dm
  code/modules/surgery/amputation.dm
  code/modules/surgery/autopsy.dm
  code/modules/surgery/blood_filter.dm
  code/modules/surgery/bone_mending.dm
  code/modules/surgery/brain_surgery.dm
  code/modules/surgery/burn_dressing.dm
  code/modules/surgery/cavity_implant.dm
  code/modules/surgery/core_removal.dm
  code/modules/surgery/coronary_bypass.dm
  code/modules/surgery/dental_implant.dm
  code/modules/surgery/ear_surgery.dm
  code/modules/surgery/eye_surgery.dm
  code/modules/surgery/gastrectomy.dm
  code/modules/surgery/hepatectomy.dm
  code/modules/surgery/limb_augmentation.dm
  code/modules/surgery/lipoplasty.dm
  code/modules/surgery/lobectomy.dm
  code/modules/surgery/mechanic_steps.dm
  code/modules/surgery/organ_manipulation.dm
  code/modules/surgery/organs/_organ.dm
  code/modules/surgery/organs/autosurgeon.dm
  code/modules/surgery/plastic_surgery.dm
  code/modules/surgery/prosthetic_replacement.dm
  code/modules/surgery/repair_puncture.dm
  code/modules/surgery/revival.dm
  code/modules/surgery/sleeper_protocol.dm
  code/modules/surgery/stomachpump.dm
Labels: none

move organs to ru names
  code/datums/components/food/edible.dm
  code/game/machinery/camera/presets.dm
  code/game/machinery/hologram.dm
  code/game/objects/structures/beds_chairs/chair.dm
  code/modules/atmospherics/machinery/air_alarm/_air_alarm.dm
  code/modules/clothing/chameleon/_chameleon_action.dm
  code/modules/mob/living/carbon/alien/adult/queen.dm
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/mob/living/living.dm
  code/modules/power/apc/apc_main.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/surgery/bodyparts/dismemberment.dm
  modular_bandastation/translations/code/bodyparts.dm
  modular_bandastation/translations/code/data/ru_names.toml
  modular_bandastation/translations/code/ru_names/ru_name_base.dm
Labels: none

fix
  modular_bandastation/translations/code/ru_names/ru_name_base.dm
Labels: none

return empty list
  modular_bandastation/translations/code/ru_names/ru_name_base.dm
Labels: none

fix?
  modular_bandastation/translations/code/bodyparts.dm
Labels: none

will it fix it?
  modular_bandastation/translations/code/ru_names/ru_name_base.dm
Labels: none

Replace railings and microwave sprite with ours
  modular_bandastation/aesthetics/_aesthetics.dme
  modular_bandastation/aesthetics/kitchen/code/microwave.dm
  modular_bandastation/aesthetics/kitchen/icons/microwave.dmi
  modular_bandastation/aesthetics/railings/code/railings.dm
  modular_bandastation/aesthetics/railings/icons/railings.dmi
Labels: :paintbrush: Спрайты

remove dots
  code/datums/wounds/bones.dm
  code/datums/wounds/burns.dm
  code/datums/wounds/slash.dm
Labels: none

.github/labeler.yml:

'TGUI':
  - changed-files:
      - any-glob-to-any-file: 'tgui/**'

':sound: Звук':
  - changed-files:
      - any-glob-to-any-file: '**/*.ogg'

':world_map: Изменение Карты':
  - all:
      - changed-files:
          - any-glob-to-any-file: '**/*.dmm'

':paintbrush: Спрайты':
  - changed-files:
      - any-glob-to-any-file: '**/*.dmi'

':guitar: Инструменты':
  - changed-files:
      - any-glob-to-any-file: ['.gihub/**', 'tools/**', '.vscode/**', '.bin/**']

':floppy_disk: Изменение конфига':
  - changed-files:
      - any-glob-to-any-file: 'config/**'

':neckbeard: Документация':
  - changed-files:
      - any-glob-to-any-file: '**/*.md'

':cd: SQL':
  - changed-files:
      - any-glob-to-any-file: 'SQL/**'

':feelsgood: Частичная модульность':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['code/**', 'icons/**', 'sounds/**', '_maps/map_files/**', 'tgui/**']
          - any-glob-to-any-file: 'modular_bandastation/**'
      - base-branch: 'master'
      - head-branch: '!merge-upstream'

':finnadie: НЕ МОДУЛЬНО':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['code/**', 'icons/**', 'sounds/**', '_maps/map_files/**']
          - all-globs-to-all-files: '!modular_bandastation/**'
      - base-branch: 'master'
      - head-branch: '!merge-upstream'

':pray: Слияние с восходящим потоком':
  - all:
    - base-branch: 'master'
    - head-branch: 'merge-upstream'

':pencil: Перевод':
  - base-branch: 'translate'

':wrench: Фикс':
  - head-branch: ['^fix', 'fix']

':trollface: Фича':
  - head-branch: ['^feat', 'feat']

':shipit: Улучшение':
  - head-branch: ['^tweak', 'tweak']
