Repository ss220club/BandaStation, changes with the labels that .github/labeler.yml gives for each.
All labels: TGUI, :sound: Звук, :paintbrush: Спрайты, :guitar: Инструменты, :floppy_disk: Изменение конфига, :neckbeard: Документация, :cd: SQL

Защита от деления на ноль в меню
  modular_bandastation/storyteller/code/gamemode.dm
Labels: none

Защита от нуля в панели ивентов
  modular_bandastation/storyteller/code/gamemode.dm
Labels: none

Измнененный базовый конфиг
  config/bandastation/bandastation_config.txt
Labels: :floppy_disk: Изменение конфига

Отключение проверок на согласие быть антагом
  code/modules/events/_event.dm
  modular_bandastation/storyteller/code/event_defines/_round_event.dm
  modular_bandastation/storyteller/code/event_defines/crewset/blood_brothers.dm
  modular_bandastation/storyteller/code/event_defines/crewset/changeling.dm
  modular_bandastation/storyteller/code/event_defines/crewset/heretic.dm
  modular_bandastation/storyteller/code/event_defines/crewset/obsessed.dm
  modular_bandastation/storyteller/code/event_defines/crewset/traitors.dm
  modular_bandastation/storyteller/code/event_defines/ghostset/nuke_ops.dm
  modular_bandastation/storyteller/code/event_defines/ghostset/paradox_clone.dm
  modular_bandastation/storyteller/code/event_defines/ghostset/wizard.dm
Labels: none

импоперы и реквесты
  modular_bandastation/aesthetics/clothing/centcom/code/gloves/gloves.dm
  modular_bandastation/aesthetics/clothing/centcom/code/head/hat.dm
  modular_bandastation/aesthetics/clothing/centcom/code/head/winterhood.dm
  modular_bandastation/aesthetics/clothing/centcom/code/mask/mask.dm
  modular_bandastation/aesthetics/clothing/centcom/code/suits/armor.dm
  modular_bandastation/aesthetics/clothing/centcom/code/suits/cloaks.dm
  modular_bandastation/aesthetics/clothing/centcom/code/suits/jacket.dm
  modular_bandastation/aesthetics/clothing/centcom/code/suits/wintercoats.dm
  modular_bandastation/aesthetics/clothing/centcom/code/under/centcom.dm
  modular_bandastation/objects/code/weapons/melee/centcom/rapier.dm
Labels: none

Update outfit.dm
  modular_bandastation/outfit/code/outfit.dm
Labels: none

доступы дипломата
  modular_bandastation/outfit/code/outfit.dm
Labels: none

Расширеный показ невозможности событий, фикс переключения СТ мидраундом
  code/modules/events/_event.dm
  modular_bandastation/storyteller/code/event_defines/_round_event_control.dm
  modular_bandastation/storyteller/code/gamemode.dm
  modular_bandastation/storyteller/code/storytellers/storyteller_bomb.dm
Labels: none

пару описаний и переводов, теперь точно все
  modular_bandastation/aesthetics/clothing/centcom/code/head/hat.dm
  modular_bandastation/aesthetics/vending/code/vending.dm
  modular_bandastation/outfit/code/outfit.dm
Labels: none

Фикс логики раундстарта (разделение форс и добавить как проверку)
  code/controllers/subsystem/ticker.dm
  modular_bandastation/storyteller/code/event_defines/_round_event_control.dm
  modular_bandastation/storyteller/code/gamemode.dm
  modular_bandastation/storyteller/code/storytellers/_storyteller.dm
Labels: none

adds vote for crew transfer and automatic crew transfer subsystem
  config/bandastation/bandastation_config.txt
  modular_bandastation/automatic_crew_transfer/_automatic_crew_transfer.dm
  modular_bandastation/automatic_crew_transfer/_automatic_crew_transfer.dme
  modular_bandastation/automatic_crew_transfer/code/automatic_transfer_configuration.dm
  modular_bandastation/automatic_crew_transfer/code/automatic_transfer_subsystem.dm
  modular_bandastation/automatic_crew_transfer/code/crew_tranfer_vote.dm
  modular_bandastation/modular_bandastation.dme
Labels: :floppy_disk: Изменение конфига

count real round time, show ready players to everyone, show players in round all the time
  code/controllers/subsystem/statpanel.dm
  code/modules/mob/dead/dead.dm
Labels: none

офисы и сад левый борт
  _maps/bandastation/Trurl.dmm
Labels: none

Update Trurl.dmm
  _maps/bandastation/Trurl.dmm
Labels: none

пробелы
  modular_bandastation/aesthetics/clothing/centcom/code/suits/armor.dm
  modular_bandastation/aesthetics/clothing/centcom/code/suits/cloaks.dm
  modular_bandastation/aesthetics/clothing/centcom/code/suits/jacket.dm
Labels: none

display "lobby time" if round not started, display players in lobby count
  code/controllers/subsystem/statpanel.dm
Labels: none

Update code/modules/antagonists/cult/runes.dm
  code/modules/antagonists/cult/runes.dm
Labels: none

Update code/modules/power/singularity/narsie.dm
  code/modules/power/singularity/narsie.dm
Labels: none

Update modular_bandastation/automatic_crew_transfer/_automatic_crew_transfer.dm
  modular_bandastation/automatic_crew_transfer/_automatic_crew_transfer.dm
Labels: none

Update modular_bandastation/prime_only/_prime_only.dm
  modular_bandastation/prime_only/_prime_only.dm
Labels: none

Чистка после мерджа и автошаттла
  config/bandastation/bandastation_config.txt
  modular_bandastation/game/code/_game_options.dm
Labels: :floppy_disk: Изменение конфига

extra vv + cryo perma fix
  _maps/bandastation/automapper/automapper_config.toml
  _maps/bandastation/automapper/templates/birdshot/birdshot_perma_cryo.dmm
  _maps/bandastation/automapper/templates/deltastation/deltastation_perma_cryo.dmm
  _maps/bandastation/automapper/templates/iceboxstation/icebox_perma_cryo.dmm
  _maps/bandastation/automapper/templates/metastation/metastation_perma_cryo.dmm
  _maps/bandastation/automapper/templates/nebulastation/nebulastation_perma_cryo.dmm
  _maps/bandastation/automapper/templates/tramstation/tramstation_perma_cryo.dmm
  _maps/map_files/Cyberiad/Cyberiad.dmm
  modular_bandastation/_defines220/code/defines/misc.dm
  modular_bandastation/automapper/code/area_spawn_entries.dm
  modular_bandastation/cryosleep/code/admin.dm
  modular_bandastation/cryosleep/code/cryopod.dm
  modular_bandastation/extra_vv/_extra_vv.dm
  modular_bandastation/extra_vv/_extra_vv.dme
  modular_bandastation/extra_vv/code/extra_vv.dm
  modular_bandastation/modular_bandastation.dme
Labels: none

Update converter
  tools/UpdatePaths/Scripts/ss220/815_convertmap_paradise_to_tg.txt
Labels: :guitar: Инструменты

Proper script naming
  tools/UpdatePaths/Scripts/ss220/815_convertmap_paradise_to_tg.txt
Labels: :guitar: Инструменты

Add: Syndicate Central Command
  _maps/map_files/generic/syndie_cc.dmm
  tools/UpdatePaths/Scripts/ss220/convertmap_paradise_to_tg.txt
Labels: :guitar: Инструменты

Add banners & statues
  modular_bandastation/objects/_objects.dme
  modular_bandastation/objects/code/items/banners.dm
  modular_bandastation/objects/code/structures/statues.dm
  modular_bandastation/objects/icons/inhands/banners_lefthand.dmi
  modular_bandastation/objects/icons/inhands/banners_righthand.dmi
  modular_bandastation/objects/icons/obj/items/banner.dmi
  modular_bandastation/objects/icons/obj/structures/statuelarge.dmi
Labels: :paintbrush: Спрайты

Update script
  tools/UpdatePaths/Scripts/ss220/815_convertmap_paradise_to_tg.txt
Labels: :guitar: Инструменты

Add some objects
  modular_bandastation/mapping/_mapping.dme
  modular_bandastation/mapping/code/areas/off_station.dm
  modular_bandastation/mapping/icons/areas/areas_centcom.dmi
  modular_bandastation/objects/_objects.dme
  modular_bandastation/objects/code/effects/turf_decal.dm
  modular_bandastation/objects/code/machinery/photocopier.dm
  modular_bandastation/objects/code/structures/chairs.dm
  modular_bandastation/objects/icons/inhands/chairs_lefthand.dmi
  modular_bandastation/objects/icons/inhands/chairs_righthand.dmi
  modular_bandastation/objects/icons/obj/effects/logos.dmi
  modular_bandastation/objects/icons/obj/effects/siding.dmi
  modular_bandastation/objects/icons/obj/machines/photocopier.dmi
  modular_bandastation/objects/icons/obj/structures/chairs.dmi
Labels: :paintbrush: Спрайты

Non-modular area adding to onsyndiebase
  code/game/atom/_atom.dm
Labels: none

Small fix
  modular_bandastation/mobs/_mobs.dme
Labels: none

Fake mobs
  modular_bandastation/mobs/_mobs.dm
  modular_bandastation/mobs/_mobs.dme
  modular_bandastation/mobs/icons/dummies.dmi
  modular_bandastation/modular_bandastation.dme
  modular_bandastation/objects/code/structures/statues.dm
Labels: :paintbrush: Спрайты

First pass
  _maps/map_files/generic/syndie_cc.dmm
Labels: none

Move synde_cc to template
  _maps/templates/lazy_templates/ss220/syndie_cc.dmm
  modular_bandastation/mapping/code/templates.dm
Labels: none

Final pass
  _maps/map_files/generic/syndie_cc.dmm
Labels: none

Fix unknown var
  modular_bandastation/mapping/code/templates.dm
Labels: none

Fix linter
  _maps/templates/lazy_templates/ss220/syndie_cc.dmm
Labels: none

Fix accesses
  code/__DEFINES/access.dm
  modular_bandastation/_defines220/_defines220.dme
  modular_bandastation/_defines220/code/defines/access.dm
Labels: none

Accesses and outfits
  _maps/templates/lazy_templates/ss220/syndie_cc.dmm
  code/__DEFINES/access.dm
  modular_bandastation/_defines220/_defines220.dme
  modular_bandastation/_defines220/code/defines/access.dm
  modular_bandastation/mapping/_mapping.dme
  modular_bandastation/mapping/code/landmarks.dm
  modular_bandastation/modular_bandastation.dme
  modular_bandastation/outfits/_outfits.dm
  modular_bandastation/outfits/_outfits.dme
  modular_bandastation/outfits/code/syndicate.dm
Labels: none

General fixes
  _maps/templates/lazy_templates/ss220/syndie_cc.dmm
  modular_bandastation/mapping/code/areas/off_station.dm
  modular_bandastation/mapping/code/areas/station.dm
  modular_bandastation/objects/code/machinery/photocopier.dm
  modular_bandastation/objects/icons/obj/machines/photocopier.dmi
  modular_bandastation/outfits/code/syndicate.dm
Labels: :paintbrush: Спрайты

Cleanup vars
  _maps/templates/lazy_templates/ss220/syndie_cc.dmm
  modular_bandastation/objects/code/items/banners.dm
Labels: none

.github/labeler.yml:

'TGUI':
  - changed-files:
      - any-glob-to-any-file: 'tgui/**'

':sound: Звук':
  - changed-files:
      - any-glob-to-any-file: '**/*.ogg'

':world_map: Изменение Карты':
  - all:
      - changed-files:
          - any-glob-to-any-file: '**/*.dmm'

':paintbrush: Спрайты':
  - changed-files:
      - any-glob-to-any-file: '**/*.dmi'

':guitar: Инструменты':
  - changed-files:
      - any-glob-to-any-file: ['.gihub/**', 'tools/**', '.vscode/**', '.bin/**']

':floppy_disk: Изменение конфига':
  - changed-files:
      - any-glob-to-any-file: 'config/**'

':neckbeard: Документация':
  - changed-files:
      - any-glob-to-any-file: '**/*.md'

':cd: SQL':
  - changed-files:
      - any-glob-to-any-file: 'SQL/**'

':feelsgood: Частичная модульность':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['code/**', 'icons/**', 'sounds/**', '_maps/map_files/**', 'tgui/**']
          - any-glob-to-any-file: 'modular_bandastation/**'
      - base-branch: 'master'
      - head-branch: '!merge-upstream'

':finnadie: НЕ МОДУЛЬНО':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['code/**', 'icons/**', 'sounds/**', '_maps/map_files/**']
          - all-globs-to-all-files: '!modular_bandastation/**'
      - base-branch: 'master'
      - head-branch: '!merge-upstream'

':pray: Слияние с восходящим потоком':
  - all:
    - base-branch: 'master'
    - head-branch: 'merge-upstream'

':pencil: Перевод':
  - base-branch: 'translate'

':wrench: Фикс':
  - head-branch: ['^fix', 'fix']

':trollface: Фича':
  - head-branch: ['^feat', 'feat']

':shipit: Улучшение':
  - head-branch: ['^tweak', 'tweak']
