Repository ss220club/BandaStation, changes with the labels that .github/labeler.yml gives for each.
All labels: TGUI, :sound: Звук, :paintbrush: Спрайты, :guitar: Инструменты, :floppy_disk: Изменение конфига, :neckbeard: Документация, :cd: SQL

.github/labeler.yml:

'TGUI':
  - changed-files:
      - any-glob-to-any-file: 'tgui/**'

':sound: Звук':
  - changed-files:
      - any-glob-to-any-file: '**/*.ogg'

':world_map: Изменение Карты':
  - all:
      - changed-files:
          - any-glob-to-any-file: '**/*.dmm'

':paintbrush: Спрайты':
  - changed-files:
      - any-glob-to-any-file: '**/*.dmi'

':guitar: Инструменты':
  - changed-files:
      - any-glob-to-any-file: ['.gihub/**', 'tools/**', '.vscode/**', '.bin/**']

':floppy_disk: Изменение конфига':
  - changed-files:
      - any-glob-to-any-file: 'config/**'

':neckbeard: Документация':
  - changed-files:
      - any-glob-to-any-file: '**/*.md'

':cd: SQL':
  - changed-files:
      - any-glob-to-any-file: 'SQL/**'

':feelsgood: Частичная модульность':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['code/**', 'icons/**', 'sounds/**', '_maps/map_files/**', 'tgui/**']
          - any-glob-to-any-file: 'modular_bandastation/**'
      - base-branch: 'master'
      - head-branch: '!merge-upstream'

':finnadie: НЕ МОДУЛЬНО':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['code/**', 'icons/**', 'sounds/**', '_maps/map_files/**']
          - all-globs-to-all-files: '!modular_bandastation/**'
      - base-branch: 'master'
      - head-branch: '!merge-upstream'

':pray: Слияние с восходящим потоком':
  - all:
    - base-branch: 'master'
    - head-branch: 'merge-upstream'

':pencil: Перевод':
  - base-branch: 'translate'

':wrench: Фикс':
  - head-branch: ['^fix', 'fix']

':trollface: Фича':
  - head-branch: ['^feat', 'feat']

':shipit: Улучшение':
  - head-branch: ['^tweak', 'tweak']

Исправление датумов трейторов
  modular_bandastation/storyteller/code/event_defines/crewset/traitors.dm
  modular_bandastation/storyteller/code/gamemode.dm
Labels: none

Фикс блоба, вывод истории событий
  code/__HELPERS/roundend.dm
  code/modules/events/_event.dm
  modular_bandastation/storyteller/code/event_defines/_round_event.dm
  modular_bandastation/storyteller/code/event_defines/crewset/blob_infection.dm
  modular_bandastation/storyteller/code/gamemode.dm
Labels: none

Возможность редактировать деноминатор и добавки антагов
  modular_bandastation/storyteller/code/gamemode.dm
Labels: none

Обновление отображения переменных для ручного управления системой СТ
  config/bandastation/bandastation_config.txt
  modular_bandastation/storyteller/code/_defines/storyteller_defines.dm
  modular_bandastation/storyteller/code/gamemode.dm
  modular_bandastation/storyteller/code/storytellers/_storyteller.dm
Labels: :floppy_disk: Изменение конфига

Апдейт
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Перенос
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Апгрейд
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Отцепление очков от конфига, фикс логики раундстарта, изменение стартовых значений дорожек
  code/controllers/subsystem/ticker.dm
  code/modules/events/_event.dm
  config/bandastation/bandastation_config.txt
  modular_bandastation/storyteller/code/_defines/storyteller_defines.dm
  modular_bandastation/storyteller/code/event_defines/_round_event_control.dm
  modular_bandastation/storyteller/code/event_defines/crewset/spies.dm
  modular_bandastation/storyteller/code/gamemode.dm
  modular_bandastation/storyteller/code/storytellers/_storyteller.dm
Labels: :floppy_disk: Изменение конфига

remove error fallback
  modular_bandastation/mapping/icons/areas/areas_station.dmi
Labels: :paintbrush: Спрайты

Some modular changes and path tweaks
  code/modules/forensics/_forensics.dm
  modular_bandastation/jobs/_jobs.dm
  modular_bandastation/jobs/_jobs.dme
  modular_bandastation/jobs/code/detective/detective.dm
  modular_bandastation/jobs/code/detective/forensics.dm
  modular_bandastation/overrides/_overrides.dm
  modular_bandastation/overrides/_overrides.dme
  modular_bandastation/overrides/code/outfit.dm
Labels: none

Tweaks
  code/__DEFINES/obj_flags.dm
  code/_globalvars/bitfields.dm
  modular_bandastation/jobs/code/detective/forensics.dm
  modular_bandastation/modular_bandastation.dme
  modular_bandastation/objects/code/items/clothing/gloves/gloves.dm
Labels: none

Change MediaWiki api link
  tools/autowiki/autowiki.js
Labels: :guitar: Инструменты

Scale AutoWiki files from 32px to 64px
  code/modules/autowiki/pages/base.dm
Labels: none

try it?
  code/modules/autowiki/pages/soup.dm
  code/modules/autowiki/pages/stockparts.dm
  code/modules/autowiki/pages/techweb.dm
  code/modules/autowiki/pages/vending.dm
Labels: none

Autowiki translate part1 (#868)
  code/modules/autowiki/pages/soup.dm
  code/modules/autowiki/pages/stockparts.dm
  code/modules/autowiki/pages/techweb.dm
  code/modules/autowiki/pages/vending.dm
Labels: none

Чистка от наследняи Монке, смещение старта раундстарт-ивентов, ввод пустого события на ветке, переработка логики закупа раундстартом, вынос дополнительных значений для расчетов.
  modular_bandastation/game/code/_defines.dm
  modular_bandastation/game/code/_game_options.dm
  modular_bandastation/game/code/_procs.dm
  modular_bandastation/game/code/log_categories.dm
  modular_bandastation/preferences/code/modules/client/preferences.dm
  modular_bandastation/storyteller/code/_defines/storyteller_defines.dm
  modular_bandastation/storyteller/code/_helpers.dm
  modular_bandastation/storyteller/code/event_defines/_round_event.dm
  modular_bandastation/storyteller/code/event_defines/_round_event_control.dm
  modular_bandastation/storyteller/code/event_defines/crewset/clown_ops.dm
  modular_bandastation/storyteller/code/event_defines/crewset/nuke_ops.dm
  modular_bandastation/storyteller/code/event_defines/crewset/wizard.dm
  modular_bandastation/storyteller/code/event_defines/ghostset/paradox_clone.dm
  modular_bandastation/storyteller/code/gamemode.dm
  modular_bandastation/storyteller/code/storytellers/_storyteller.dm
Labels: none

Возврат стартовых значений после разработки.
  modular_bandastation/storyteller/code/_defines/storyteller_defines.dm
Labels: none

Add: Closet & Crate lockpicking
  modular_bandastation/lockpicking/_lockpicking.dm
  modular_bandastation/lockpicking/_lockpicking.dme
  modular_bandastation/lockpicking/code/lockpicking.dm
  modular_bandastation/modular_bandastation.dme
Labels: none

Update by review
  modular_bandastation/lockpicking/code/lockpicking.dm
Labels: none

Голова садовая
  modular_bandastation/storyteller/code/storytellers/_storyteller.dm
Labels: none

Измнение раундстарт бюджета под настроенный
  modular_bandastation/storyteller/code/gamemode.dm
Labels: none

Фикс модификатора
  modular_bandastation/storyteller/code/gamemode.dm
Labels: none

Фикс ошибки в отображении формулы
  modular_bandastation/storyteller/code/gamemode.dm
Labels: none

Полная пересадка цен на динамик
  modular_bandastation/storyteller/code/gamemode.dm
Labels: none

Фикс бюджета раундстартом
  modular_bandastation/storyteller/code/gamemode.dm
Labels: none

Re-design start
  _maps/_basemap.dm
  interface/fonts/PixCyrillic.ttf
  modular_bandastation/title_screen/code/asset_lobby.dm
  modular_bandastation/title_screen/code/title_screen_datum.dm
  modular_bandastation/title_screen/html/FixedsysExcelsior3.01Regular.ttf
  modular_bandastation/title_screen/html/title_screen.html
  modular_bandastation/title_screen/icons/lobby_background.png
  modular_bandastation/title_screen/icons/lobby_button.png
  modular_bandastation/title_screen/icons/lobby_changelog.png
  modular_bandastation/title_screen/icons/lobby_character-setup.png
  modular_bandastation/title_screen/icons/lobby_collapse.png
  modular_bandastation/title_screen/icons/lobby_disabled.png
  modular_bandastation/title_screen/icons/lobby_highlight.png
  modular_bandastation/title_screen/icons/lobby_join.png
  modular_bandastation/title_screen/icons/lobby_manifest.png
  modular_bandastation/title_screen/icons/lobby_observe.png
  modular_bandastation/title_screen/icons/lobby_poll.png
  modular_bandastation/title_screen/icons/lobby_ready.png
  modular_bandastation/title_screen/icons/lobby_settings.png
  modular_bandastation/title_screen/icons/lobby_shutter.png
Labels: none

Изменеие раундстарта
  modular_bandastation/storyteller/code/_defines/storyteller_defines.dm
  modular_bandastation/storyteller/code/event_defines/_round_event_control.dm
  modular_bandastation/storyteller/code/gamemode.dm
  modular_bandastation/storyteller/code/storytellers/_storyteller.dm
  modular_bandastation/storyteller/code/storytellers/storyteller_default.dm
Labels: none

Add buttons
  modular_bandastation/title_screen/code/asset_lobby.dm
  modular_bandastation/title_screen/code/new_player.dm
  modular_bandastation/title_screen/code/title_screen_datum.dm
  modular_bandastation/title_screen/html/title_screen.html
  modular_bandastation/title_screen/icons/lobby_notice.png
  modular_bandastation/title_screen/icons/lobby_picture.png
Labels: none

Little cleaning and polls
  modular_bandastation/title_screen/code/asset_lobby.dm
  modular_bandastation/title_screen/code/new_player.dm
  modular_bandastation/title_screen/code/title_screen_datum.dm
  modular_bandastation/title_screen/html/title_screen.html
  modular_bandastation/title_screen/icons/lobby_character_setup.png
  modular_bandastation/title_screen/icons/lobby_late_join.png
  modular_bandastation/title_screen/icons/lobby_polls.png
  modular_bandastation/title_screen/icons/lobby_toggle_ready.png
Labels: none

SSevents.no_more
  code/controllers/subsystem/events.dm
Labels: none

fix
  code/datums/wounds/burns.dm
  code/datums/wounds/pierce.dm
  code/datums/wounds/slash.dm
  code/game/objects/items/crayons.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/silicon/silicon_defense.dm
Labels: none

Минорный фикс
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Фиксы
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Переставление кнопок для склада
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Remove redudant update_icon call
  modular_bandastation/lockpicking/code/lockpicking.dm
Labels: none

Remove parent call
  modular_bandastation/lockpicking/code/lockpicking.dm
Labels: none

Корректное отображение в ивент панели цен событий вместо весов при раундстарте, добавление проритезации щитспавна
  modular_bandastation/storyteller/code/event_defines/_round_event_control.dm
  modular_bandastation/storyteller/code/gamemode.dm
Labels: none

Add station traits and remove TG title screen
  code/_onclick/hud/hud.dm
  code/_onclick/hud/new_player.dm
  code/controllers/subsystem/processing/station.dm
  code/datums/station_traits/_station_trait.dm
  code/datums/station_traits/job_traits.dm
  code/datums/station_traits/neutral_traits.dm
  modular_bandastation/title_screen/_title_screen.dme
  modular_bandastation/title_screen/code/asset_lobby.dm
  modular_bandastation/title_screen/code/new_player.dm
  modular_bandastation/title_screen/code/station_traits.dm
  modular_bandastation/title_screen/code/title_screen_datum.dm
  modular_bandastation/title_screen/html/title_screen.html
  modular_bandastation/title_screen/icons/lobby_active.png
  modular_bandastation/title_screen/icons/lobby_bridge_assistant.png
  modular_bandastation/title_screen/icons/lobby_button.png
  modular_bandastation/title_screen/icons/lobby_cargorilla.png
  modular_bandastation/title_screen/icons/lobby_human_ai.png
  modular_bandastation/title_screen/icons/lobby_pun_pun.png
  modular_bandastation/title_screen/icons/lobby_veteran_advisor.png
Labels: none

Фикс
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

starting adding jobs
  modular_bandastation/jobs/_jobs.dm
  modular_bandastation/jobs/_jobs.dme
  modular_bandastation/jobs/code/job_types/blueshield.dm
  modular_bandastation/jobs/code/job_types/magistrate.dm
  modular_bandastation/jobs/code/job_types/ntr.dm
  modular_bandastation/modular_bandastation.dme
Labels: none
