Repository ss220club/BandaStation, changes with the labels that .github/labeler.yml gives for each.
All labels: TGUI, :sound: Звук, :paintbrush: Спрайты, :guitar: Инструменты, :floppy_disk: Изменение конфига, :neckbeard: Документация, :cd: SQL

structurize files
  modular_bandastation/jobs/_jobs.dme
  modular_bandastation/jobs/code/blueshield/blueshield.dm
  modular_bandastation/jobs/code/blueshield/closet.dm
  modular_bandastation/jobs/code/blueshield/landmarks.dm
  modular_bandastation/jobs/code/blueshield/radio.dm
  modular_bandastation/jobs/code/blueshield/trim
  modular_bandastation/jobs/code/job_types/blueshield.dm
  modular_bandastation/jobs/code/job_types/magistrate.dm
  modular_bandastation/jobs/code/job_types/ntr.dm
  modular_bandastation/jobs/code/magistrate/magistrate.dm
  modular_bandastation/jobs/code/ntr/ntr.dm
  modular_bandastation/jobs/readme.md
Labels: :neckbeard: Документация

add most of clothes DMIs for blueshield
  icons/mob/huds/hud.dmi
  modular_bandastation/jobs/_jobs.dme
  modular_bandastation/jobs/code/blueshield/__DEFINES/access.dm
  modular_bandastation/jobs/code/blueshield/__DEFINES/atom_hud.dm
  modular_bandastation/jobs/code/blueshield/__DEFINES/jobs.dm
  modular_bandastation/jobs/code/blueshield/access_helpers.dm
  modular_bandastation/jobs/code/blueshield/areas.dm
  modular_bandastation/jobs/code/blueshield/blueshield.dm
  modular_bandastation/jobs/code/blueshield/closet.dm
  modular_bandastation/jobs/code/blueshield/clothing.dm
  modular_bandastation/jobs/code/blueshield/job.dm
  modular_bandastation/jobs/code/blueshield/trim.dm
  modular_bandastation/jobs/icons/blueshield/areas/areas_station.dmi
  modular_bandastation/jobs/icons/blueshield/mob/armor.dmi
  modular_bandastation/jobs/icons/blueshield/mob/back.dmi
  modular_bandastation/jobs/icons/blueshield/mob/backpack_lefthand.dmi
  modular_bandastation/jobs/icons/blueshield/mob/backpack_righthand.dmi
  modular_bandastation/jobs/icons/blueshield/mob/command.dmi
  modular_bandastation/jobs/icons/blueshield/mob/neck.dmi
  modular_bandastation/jobs/icons/blueshield/mob/plasmaman.dmi
  modular_bandastation/jobs/icons/blueshield/mob/plasmaman_head.dmi
  modular_bandastation/jobs/icons/blueshield/mob/wintercoat.dmi
  modular_bandastation/jobs/icons/blueshield/mob/winterhood.dmi
  modular_bandastation/jobs/icons/blueshield/obj/armor.dmi
  modular_bandastation/jobs/icons/blueshield/obj/backpacks.dmi
  modular_bandastation/jobs/icons/blueshield/obj/closet.dmi
  modular_bandastation/jobs/icons/blueshield/obj/command.dmi
  modular_bandastation/jobs/icons/blueshield/obj/neck.dmi
  modular_bandastation/jobs/icons/blueshield/obj/plasmaman.dmi
  modular_bandastation/jobs/icons/blueshield/obj/plasmaman_hats.dmi
  modular_bandastation/jobs/icons/blueshield/obj/wintercoat.dmi
  modular_bandastation/jobs/icons/blueshield/obj/winterhood.dmi
Labels: :paintbrush: Спрайты

more appropriate base undersuit for blueshield
  modular_bandastation/jobs/code/__DEFINES/access.dm
  modular_bandastation/jobs/code/__DEFINES/atom_hud.dm
  modular_bandastation/jobs/code/__DEFINES/jobs.dm
  modular_bandastation/jobs/code/departments/nt_representation.dm
  modular_bandastation/jobs/code/jobs/blueshield/access_helpers.dm
  modular_bandastation/jobs/code/jobs/blueshield/areas.dm
  modular_bandastation/jobs/code/jobs/blueshield/closet.dm
  modular_bandastation/jobs/code/jobs/blueshield/clothing.dm
  modular_bandastation/jobs/code/jobs/blueshield/job.dm
  modular_bandastation/jobs/code/jobs/blueshield/landmarks.dm
  modular_bandastation/jobs/code/jobs/blueshield/radio.dm
  modular_bandastation/jobs/code/jobs/blueshield/trim.dm
  modular_bandastation/jobs/code/jobs/magistrate/magistrate.dm
  modular_bandastation/jobs/code/jobs/ntr/ntr.dm
  modular_bandastation/jobs/icons/blueshield/mob/blueshield.dmi
  modular_bandastation/jobs/icons/blueshield/mob/command.dmi
  modular_bandastation/jobs/icons/blueshield/obj/blueshield.dmi
  modular_bandastation/jobs/icons/blueshield/obj/command.dmi
Labels: :paintbrush: Спрайты

override icon.dmi with new icon states
  code/modules/mob/mob.dm
  modular_bandastation/hud_icon/README.md
  modular_bandastation/hud_icon/_hud_icon.dm
  modular_bandastation/hud_icon/icons/hud.dmi
Labels: :paintbrush: Спрайты, :neckbeard: Документация

Fix translate 14.12.24 (#871)
  code/datums/wounds/burns.dm
  code/datums/wounds/pierce.dm
  code/datums/wounds/slash.dm
  code/game/objects/items/crayons.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/silicon/silicon_defense.dm
Labels: none

Исправление ошибок логики раундстарта, отключение нюк и визарда до исправленяи
  code/controllers/subsystem/ambience.dm
  code/modules/antagonists/wizard/wizard.dm
  modular_bandastation/storyteller/code/_defines/storyteller_defines.dm
  modular_bandastation/storyteller/code/_helpers.dm
  modular_bandastation/storyteller/code/event_defines/crewset/clown_ops.dm
  modular_bandastation/storyteller/code/event_defines/crewset/nuke_ops.dm
  modular_bandastation/storyteller/code/event_defines/crewset/wizard.dm
  modular_bandastation/storyteller/code/gamemode.dm
Labels: none

some doors don't have it
  modular_bandastation/aesthetics/airlocks/code/airlock.dm
Labels: none

Возвращение оперов и визарда
  code/modules/antagonists/nukeop/outfits.dm
  code/modules/antagonists/wizard/wizard.dm
  modular_bandastation/storyteller/code/_defines/storyteller_defines.dm
  modular_bandastation/storyteller/code/event_defines/crewset/clown_ops.dm
  modular_bandastation/storyteller/code/event_defines/crewset/nuke_ops.dm
  modular_bandastation/storyteller/code/event_defines/crewset/wizard.dm
  modular_bandastation/storyteller/code/gamemode.dm
Labels: none

Фикс странного поведения сторителлера раундстратом
  modular_bandastation/storyteller/code/gamemode.dm
Labels: none

Remove lights from highsec doors (#873)
  modular_bandastation/aesthetics/airlocks/code/airlock.dm
Labels: none

Refactor styles and add character name
  code/modules/client/preferences.dm
  code/modules/holiday/holidays.dm
  modular_bandastation/title_screen/_title_screen.dme
  modular_bandastation/title_screen/code/dead.dm
  modular_bandastation/title_screen/code/living.dm
  modular_bandastation/title_screen/code/title_screen_datum.dm
  modular_bandastation/title_screen/code/title_screen_pref_middleware.dm
  modular_bandastation/title_screen/code/title_screen_subsystem.dm
  modular_bandastation/title_screen/html/title_screen.html
  modular_bandastation/title_screen/icons/lobby_background.png
  modular_bandastation/title_screen/icons/lobby_character_setup.png
  modular_bandastation/title_screen/icons/lobby_late_join.png
  modular_bandastation/title_screen/icons/lobby_observe.png
Labels: none

Hide and update title screen properly
  code/controllers/subsystem/ticker.dm
  code/modules/mob/dead/new_player/new_player.dm
  modular_bandastation/title_screen/html/title_screen.html
  modular_bandastation/title_screen/icons/lobby_background.png
Labels: none

Animations
  code/modules/holiday/holidays.dm
  modular_bandastation/title_screen/code/new_player.dm
  modular_bandastation/title_screen/code/title_screen_datum.dm
  modular_bandastation/title_screen/html/title_screen.html
  modular_bandastation/title_screen/icons/lobby_shutter.png
Labels: none

Revert test shit
  _maps/_basemap.dm
  code/modules/holiday/holidays.dm
Labels: none

Fix ready
  modular_bandastation/title_screen/code/title_screen_datum.dm
Labels: none

Delete logo from assets
  modular_bandastation/title_screen/code/asset_lobby.dm
Labels: none

Update README.md
  modular_bandastation/title_screen/README.md
Labels: :neckbeard: Документация

Whitespace
  tgstation.dme
Labels: none

Whoopsie
  code/modules/holiday/holidays.dm
Labels: none

Update _title_screen.dm
  modular_bandastation/title_screen/_title_screen.dm
Labels: none

Ain't used
  modular_bandastation/title_screen/code/new_player.dm
  modular_bandastation/title_screen/code/station_traits.dm
Labels: none

Debug right for changing html
  modular_bandastation/title_screen/code/title_screen_controls.dm
Labels: none

Update title_screen_datum.dm
  modular_bandastation/title_screen/code/title_screen_datum.dm
Labels: none

Linter
  code/datums/station_traits/_station_trait.dm
Labels: none

Fix ready button, again
  modular_bandastation/title_screen/html/title_screen.html
Labels: none

Some improvements and logging
  code/modules/mod/mod_link.dm
  modular_bandastation/title_screen/code/_title_screen_defines.dm
  modular_bandastation/title_screen/code/station_traits.dm
  modular_bandastation/title_screen/code/title_screen_controls.dm
  modular_bandastation/title_screen/code/title_screen_datum.dm
  modular_bandastation/title_screen/code/title_screen_subsystem.dm
  modular_bandastation/title_screen/html/title_screen.css
  modular_bandastation/title_screen/html/title_screen.html
Labels: none

Oops
  code/modules/mod/mod_link.dm
Labels: none

Fix notice
  modular_bandastation/title_screen/code/title_screen_datum.dm
  modular_bandastation/title_screen/html/title_screen.css
Labels: none

Do not re-init title screen on image change
  modular_bandastation/title_screen/code/title_screen_datum.dm
  modular_bandastation/title_screen/code/title_screen_subsystem.dm
Labels: none

Move your body
  modular_bandastation/title_screen/code/title_screen_datum.dm
Labels: none

Huh
  modular_bandastation/title_screen/code/title_screen_datum.dm
Labels: none

Add change css button, and protect href
  modular_bandastation/title_screen/code/asset_lobby.dm
  modular_bandastation/title_screen/code/new_player.dm
  modular_bandastation/title_screen/code/title_screen_controls.dm
  modular_bandastation/title_screen/code/title_screen_datum.dm
  modular_bandastation/title_screen/icons/lobby_css.png
Labels: none

Gaxeer review part 1
  code/_onclick/hud/new_player.dm
  code/modules/client/preferences.dm
  modular_bandastation/title_screen/README.md
  modular_bandastation/title_screen/code/_title_screen_defines.dm
  modular_bandastation/title_screen/code/asset_lobby.dm
  modular_bandastation/title_screen/code/title_screen_datum.dm
Labels: :neckbeard: Документация

Gaxeer review part 2
  code/modules/mob/dead/new_player/login.dm
  code/modules/mob/dead/new_player/new_player.dm
  modular_bandastation/aesthetics/_aesthetics.dme
  modular_bandastation/aesthetics/lobby/code/lobby.dm
  modular_bandastation/aesthetics/lobby/icons/character_setup.dmi
  modular_bandastation/aesthetics/lobby/icons/join.dmi
  modular_bandastation/aesthetics/lobby/icons/observe.dmi
  modular_bandastation/aesthetics/lobby/icons/ready.dmi
  modular_bandastation/title_screen/code/new_player.dm
Labels: :paintbrush: Спрайты

Delete if
  modular_bandastation/title_screen/code/new_player.dm
Labels: none

Update new_player.dm
  code/_onclick/hud/new_player.dm
Labels: none

Another Gaxeer review
  code/modules/mob/dead/new_player/new_player.dm
Labels: none

random tts seed with random appearance
  modular_bandastation/tts/code/tts_preferences.dm
Labels: none

One more Gaxeer review
  modular_bandastation/title_screen/code/title_screen_controls.dm
  modular_bandastation/title_screen/code/title_screen_subsystem.dm
Labels: none

pr template
  .github/PULL_REQUEST_TEMPLATE.md
Labels: :neckbeard: Документация

.github/labeler.yml:

'TGUI':
  - changed-files:
      - any-glob-to-any-file: 'tgui/**'

':sound: Звук':
  - changed-files:
      - any-glob-to-any-file: '**/*.ogg'

':world_map: Изменение Карты':
  - all:
      - changed-files:
          - any-glob-to-any-file: '**/*.dmm'

':paintbrush: Спрайты':
  - changed-files:
      - any-glob-to-any-file: '**/*.dmi'

':guitar: Инструменты':
  - changed-files:
      - any-glob-to-any-file: ['.gihub/**', 'tools/**', '.vscode/**', '.bin/**']

':floppy_disk: Изменение конфига':
  - changed-files:
      - any-glob-to-any-file: 'config/**'

':neckbeard: Документация':
  - changed-files:
      - any-glob-to-any-file: '**/*.md'

':cd: SQL':
  - changed-files:
      - any-glob-to-any-file: 'SQL/**'

':feelsgood: Частичная модульность':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['code/**', 'icons/**', 'sounds/**', '_maps/map_files/**', 'tgui/**']
          - any-glob-to-any-file: 'modular_bandastation/**'
      - base-branch: 'master'
      - head-branch: '!merge-upstream'

':finnadie: НЕ МОДУЛЬНО':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['code/**', 'icons/**', 'sounds/**', '_maps/map_files/**']
          - all-globs-to-all-files: '!modular_bandastation/**'
      - base-branch: 'master'
      - head-branch: '!merge-upstream'

':pray: Слияние с восходящим потоком':
  - all:
    - base-branch: 'master'
    - head-branch: 'merge-upstream'

':pencil: Перевод':
  - base-branch: 'translate'

':wrench: Фикс':
  - head-branch: ['^fix', 'fix']

':trollface: Фича':
  - head-branch: ['^feat', 'feat']

':shipit: Улучшение':
  - head-branch: ['^tweak', 'tweak']
