Repository ss220club/BandaStation, changes with the labels that .github/labeler.yml gives for each.
All labels: TGUI, :sound: Звук, :paintbrush: Спрайты, :guitar: Инструменты, :floppy_disk: Изменение конфига, :neckbeard: Документация, :cd: SQL

.github/labeler.yml:

'TGUI':
  - changed-files:
      - any-glob-to-any-file: 'tgui/**'

':sound: Звук':
  - changed-files:
      - any-glob-to-any-file: '**/*.ogg'

':world_map: Изменение Карты':
  - all:
      - changed-files:
          - any-glob-to-any-file: '**/*.dmm'

':paintbrush: Спрайты':
  - changed-files:
      - any-glob-to-any-file: '**/*.dmi'

':guitar: Инструменты':
  - changed-files:
      - any-glob-to-any-file: ['.gihub/**', 'tools/**', '.vscode/**', '.bin/**']

':floppy_disk: Изменение конфига':
  - changed-files:
      - any-glob-to-any-file: 'config/**'

':neckbeard: Документация':
  - changed-files:
      - any-glob-to-any-file: '**/*.md'

':cd: SQL':
  - changed-files:
      - any-glob-to-any-file: 'SQL/**'

':feelsgood: Частичная модульность':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['code/**', 'icons/**', 'sounds/**', '_maps/map_files/**', 'tgui/**']
          - any-glob-to-any-file: 'modular_bandastation/**'
      - base-branch: 'master'
      - head-branch: '!merge-upstream'

':finnadie: НЕ МОДУЛЬНО':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['code/**', 'icons/**', 'sounds/**', '_maps/map_files/**']
          - all-globs-to-all-files: '!modular_bandastation/**'
      - base-branch: 'master'
      - head-branch: '!merge-upstream'

':pray: Слияние с восходящим потоком':
  - all:
    - base-branch: 'master'
    - head-branch: 'merge-upstream'

':pencil: Перевод':
  - base-branch: 'translate'

':wrench: Фикс':
  - head-branch: ['^fix', 'fix']

':trollface: Фича':
  - head-branch: ['^feat', 'feat']

':shipit: Улучшение':
  - head-branch: ['^tweak', 'tweak']

Снижение требуемого количества для генокрада, добавление проверки на уровне СТ на повторную проверку выстрела ивента
  code/modules/events/_event.dm
  modular_bandastation/storyteller/code/event_defines/crewset/changeling.dm
Labels: none

Временное ограничение антагонистов до размера СБ
  modular_bandastation/storyteller/code/gamemode.dm
Labels: none

Линтер
  modular_bandastation/storyteller/code/gamemode.dm
Labels: none

Remove blue buttons from loadout
  tgui/packages/tgui/bandastation/ImageButton.scss
  tgui/packages/tgui/bandastation/ImageButton.tsx
  tgui/packages/tgui/bandastation/ItemDisplay220.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/loadout/ItemDisplay.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/loadout/base.ts
Labels: TGUI

starting adding jobs
  modular_bandastation/jobs/_jobs.dm
  modular_bandastation/jobs/_jobs.dme
  modular_bandastation/jobs/code/job_types/blueshield.dm
  modular_bandastation/jobs/code/job_types/magistrate.dm
  modular_bandastation/jobs/code/job_types/ntr.dm
  modular_bandastation/modular_bandastation.dme
Labels: none

униформа и лодаут
  modular_bandastation/clothing/_clothing.dm
  modular_bandastation/clothing/_clothing.dme
  modular_bandastation/clothing/code/uniform.dm
  modular_bandastation/clothing/icons/inhands/uniform_lefthand.dmi
  modular_bandastation/clothing/icons/inhands/uniform_righthand.dmi
  modular_bandastation/clothing/icons/mob/uniform.dmi
  modular_bandastation/clothing/icons/obj/uniform.dmi
  modular_bandastation/loadout/_loadout.dm
  modular_bandastation/loadout/_loadout.dme
  modular_bandastation/loadout/code/categories/uniform.dm
  modular_bandastation/modular_bandastation.dme
Labels: :paintbrush: Спрайты

фикс чеков
  modular_bandastation/clothing/code/uniform.dm
Labels: none

нашел спрайты в руках некоторых предметов
  modular_bandastation/clothing/code/uniform.dm
  modular_bandastation/clothing/icons/inhands/uniform_lefthand.dmi
  modular_bandastation/clothing/icons/inhands/uniform_righthand.dmi
Labels: :paintbrush: Спрайты

фикс ""
  modular_bandastation/clothing/code/uniform.dm
Labels: none

Fixin it
  tgui/packages/tgui/bandastation/ImageButton.tsx
  tgui/packages/tgui/bandastation/ItemDisplay220.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/loadout/ItemDisplay.tsx
Labels: TGUI

structurize files
  modular_bandastation/jobs/_jobs.dme
  modular_bandastation/jobs/code/blueshield/blueshield.dm
  modular_bandastation/jobs/code/blueshield/closet.dm
  modular_bandastation/jobs/code/blueshield/landmarks.dm
  modular_bandastation/jobs/code/blueshield/radio.dm
  modular_bandastation/jobs/code/blueshield/trim
  modular_bandastation/jobs/code/job_types/blueshield.dm
  modular_bandastation/jobs/code/job_types/magistrate.dm
  modular_bandastation/jobs/code/job_types/ntr.dm
  modular_bandastation/jobs/code/magistrate/magistrate.dm
  modular_bandastation/jobs/code/ntr/ntr.dm
  modular_bandastation/jobs/readme.md
Labels: :neckbeard: Документация

log everything to game for logis
  code/modules/logging/log_holder.dm
Labels: none

uppertext is better
  code/modules/logging/log_holder.dm
Labels: none

move it to core
  code/modules/logging/log_holder.dm
Labels: none

МОДули
  modular_bandastation/translations/code/translation_data/ru_names.toml
Labels: none

say verbs
  modular_bandastation/translations/code/translation_data/ru_verbs.toml
Labels: none

fixes
  tgui/packages/tgui/interfaces/Autolathe.tsx
  tgui/packages/tgui/interfaces/ComponentPrinter.tsx
  tgui/packages/tgui/interfaces/ExosuitFabricator.tsx
  tgui/packages/tgui/interfaces/Fabrication/DesignBrowser.tsx
  tgui/packages/tgui/interfaces/Fabricator.tsx
  tgui/packages/tgui/interfaces/Spellbook.tsx
Labels: TGUI

fix translate
  code/modules/escape_menu/leave_body.dm
Labels: none

better
  tgui/packages/tgui/interfaces/ExosuitFabricator.tsx
Labels: TGUI

Fix translate (#840)
  code/modules/escape_menu/leave_body.dm
  tgui/packages/tgui/interfaces/Autolathe.tsx
  tgui/packages/tgui/interfaces/ComponentPrinter.tsx
  tgui/packages/tgui/interfaces/ExosuitFabricator.tsx
  tgui/packages/tgui/interfaces/Fabrication/DesignBrowser.tsx
  tgui/packages/tgui/interfaces/Fabricator.tsx
  tgui/packages/tgui/interfaces/Spellbook.tsx
Labels: TGUI

test fix
  modular_bandastation/aesthetics/clothing/centcom/code/gloves/gloves.dm
  modular_bandastation/aesthetics/clothing/centcom/code/under/centcom.dm
  modular_bandastation/aesthetics/clothing/centcom/icons/inhands/clothing/under_lefthand.dmi
  modular_bandastation/aesthetics/clothing/centcom/icons/inhands/clothing/under_righthand.dmi
  modular_bandastation/outfit/code/outfit.dm
Labels: :paintbrush: Спрайты

спасаем уважаемых цкшников от позорного сгорания трусов
  modular_bandastation/aesthetics/clothing/centcom/code/gloves/gloves.dm
  modular_bandastation/aesthetics/clothing/centcom/code/head/hat.dm
  modular_bandastation/aesthetics/clothing/centcom/code/suits/armor.dm
  modular_bandastation/aesthetics/clothing/centcom/code/suits/cloaks.dm
  modular_bandastation/aesthetics/clothing/centcom/code/suits/jacket.dm
  modular_bandastation/aesthetics/clothing/centcom/code/suits/wintercoats.dm
  modular_bandastation/aesthetics/clothing/centcom/code/under/centcom.dm
  modular_bandastation/aesthetics/vending/code/vending.dm
Labels: none

фаерлоки + пара лестниц
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

more firelocks
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

More fixes + firelocks
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

fix windows + ladder + multilayer pipes
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

map fixes
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

has been researched
  code/game/machinery/announcement_system.dm
Labels: none

fixes
  code/datums/wounds/bones.dm
  code/datums/wounds/pierce.dm
  code/datums/wounds/slash.dm
Labels: none

Fix translate 05.12.24 (#846)
  code/datums/wounds/bones.dm
  code/datums/wounds/pierce.dm
  code/datums/wounds/slash.dm
Labels: none

Перевод сообщения при изучении (#845)
  code/game/machinery/announcement_system.dm
Labels: none

Транслейт?
  code/modules/events/anomaly/anomaly_vortex.dm
Labels: none

tm shenan
  modular_bandastation/cryosleep/code/ai.dm
  modular_bandastation/cryosleep/code/cryopod.dm
  modular_bandastation/cryosleep/code/job.dm
Labels: none

Переопределение работок
  code/controllers/subsystem/job.dm
  modular_bandastation/storyteller/code/event_defines/_round_event_control.dm
  modular_bandastation/storyteller/code/event_defines/crewset/clown_ops.dm
  modular_bandastation/storyteller/code/event_defines/ghostset/nuke_ops.dm
Labels: none

prime only modpack
  modular_bandastation/modular_bandastation.dme
  modular_bandastation/prime_only/_prime_only.dm
  modular_bandastation/prime_only/_prime_only.dme
  modular_bandastation/prime_only/fish_portal_rebalance/code/machine_circuitboards.dm
Labels: none

enable prime modpacks by default
  modular_bandastation/modular_bandastation.dme
Labels: none

for more convenient configuration
  modular_bandastation/modular_bandastation.dme
Labels: none

replace narsie summon sounds
  code/modules/antagonists/cult/runes.dm
  code/modules/power/singularity/narsie.dm
  modular_bandastation/aesthetics_sounds/sound/narsie/narsie_risen.ogg
  modular_bandastation/aesthetics_sounds/sound/narsie/narsie_summon.ogg
Labels: :sound: Звук

no more lead pipe in maints
  code/_globalvars/lists/maintenance_loot.dm
Labels: none

small comment change
  code/_globalvars/lists/maintenance_loot.dm
Labels: none
