Repository ss220club/BandaStation, changes with the labels that .github/labeler.yml gives for each.
All labels: TGUI, :sound: Звук, :paintbrush: Спрайты, :guitar: Инструменты, :floppy_disk: Изменение конфига, :neckbeard: Документация, :cd: SQL

.github/labeler.yml:

'TGUI':
  - changed-files:
      - any-glob-to-any-file: 'tgui/**'

':sound: Звук':
  - changed-files:
      - any-glob-to-any-file: '**/*.ogg'

':world_map: Изменение Карты':
  - all:
      - changed-files:
          - any-glob-to-any-file: '**/*.dmm'

':paintbrush: Спрайты':
  - changed-files:
      - any-glob-to-any-file: '**/*.dmi'

':guitar: Инструменты':
  - changed-files:
      - any-glob-to-any-file: ['.gihub/**', 'tools/**', '.vscode/**', '.bin/**']

':floppy_disk: Изменение конфига':
  - changed-files:
      - any-glob-to-any-file: 'config/**'

':neckbeard: Документация':
  - changed-files:
      - any-glob-to-any-file: '**/*.md'

':cd: SQL':
  - changed-files:
      - any-glob-to-any-file: 'SQL/**'

':feelsgood: Частичная модульность':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['code/**', 'icons/**', 'sounds/**', '_maps/map_files/**', 'tgui/**']
          - any-glob-to-any-file: 'modular_bandastation/**'
      - base-branch: 'master'
      - head-branch: '!merge-upstream'

':finnadie: НЕ МОДУЛЬНО':
  - all:
      - changed-files:
          - any-glob-to-any-file: ['code/**', 'icons/**', 'sounds/**', '_maps/map_files/**']
          - all-globs-to-all-files: '!modular_bandastation/**'
      - base-branch: 'master'
      - head-branch: '!merge-upstream'

':pray: Слияние с восходящим потоком':
  - all:
    - base-branch: 'master'
    - head-branch: 'merge-upstream'

':pencil: Перевод':
  - base-branch: 'translate'

':wrench: Фикс':
  - head-branch: ['^fix', 'fix']

':trollface: Фича':
  - head-branch: ['^feat', 'feat']

':shipit: Улучшение':
  - head-branch: ['^tweak', 'tweak']

Bar maintenance fix
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Fixes
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

fixes
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Изменение панели верба триггер ивент (внос в расписание шедуллера), отключение запуска событий SSevent, отключение режима самострельбы ивентов при иницаилизации СТ
  code/controllers/subsystem/events.dm
  code/modules/admin/force_event.dm
  modular_bandastation/storyteller/code/event_defines/crewset/changeling.dm
  modular_bandastation/storyteller/code/event_defines/crewset/heretic.dm
  modular_bandastation/storyteller/code/event_defines/crewset/malf.dm
  modular_bandastation/storyteller/code/event_defines/crewset/nuke_ops.dm
  modular_bandastation/storyteller/code/event_defines/crewset/spies.dm
  modular_bandastation/storyteller/code/event_defines/crewset/traitors.dm
  modular_bandastation/storyteller/code/gamemode.dm
Labels: none

fix
  code/modules/cargo/bounties/science.dm
Labels: none

fixm ore
  code/modules/cargo/bounties/science.dm
Labels: none

reagents
  modular_bandastation/translations/_translations.dme
  modular_bandastation/translations/code/ru_names/ru_name_reagents.dm
Labels: none

fix
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/hotkeys.tsx
Labels: TGUI

1
  modular_bandastation/translations/code/data/ru_names.toml
Labels: none

gender
  modular_bandastation/translations/code/data/ru_names.toml
Labels: none

Translate fixes (#786)
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/hotkeys.tsx
Labels: TGUI

Fix translate 22.11.24 (#784)
  code/modules/cargo/bounties/science.dm
  code/modules/food_and_drinks/machinery/microwave.dm
  code/modules/surgery/surgery.dm
Labels: none

Xenobio rebuild + med fixes
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

add more closets
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

fixes
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Add emoji
  modular_bandastation/emojis220/icons/emoji220.dmi
Labels: :paintbrush: Спрайты

fixes
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

NanoMap Auto-Update (Fri Nov 22 14:18:01 UTC 2024)
  icons/_nanomaps/Cyberiad_nanomap_z1.png
Labels: none

Convert airlocks naming to autoname
  _maps/bandastation/automapper/templates/centcom/CentCom.dmm
  _maps/bandastation/automapper/templates/iceboxstation/iceboxstation_detective_office.dmm
  _maps/bandastation/automapper/templates/metastation/metastation_cryo.dmm
  tools/UpdatePaths/Scripts/ss220/autoname_airlocks.txt
Labels: :guitar: Инструменты

Cyberiad various improvements, fixes, changes
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Linter fix
  _maps/map_files/Cyberiad/Cyberiad.dmm
  tools/UpdatePaths/Scripts/ss220/790_autoname_airlocks.txt
Labels: :guitar: Инструменты

Исправления, пожелания
  code/controllers/subsystem/events.dm
  code/modules/events/_event.dm
  modular_bandastation/storyteller/_storyteller.dme
  modular_bandastation/storyteller/code/event_defines/_event.dm
  modular_bandastation/storyteller/code/event_defines/crewset/_antagonist_event.dm
  modular_bandastation/storyteller/code/event_defines/crewset/blood_brothers.dm
  modular_bandastation/storyteller/code/event_defines/crewset/clown_ops.dm
  modular_bandastation/storyteller/code/event_defines/crewset/cult.dm
  modular_bandastation/storyteller/code/event_defines/crewset/revolution.dm
  modular_bandastation/storyteller/code/event_defines/major/override.dm
  modular_bandastation/storyteller/code/event_defines/moderate/override.dm
  modular_bandastation/storyteller/code/event_defines/mundane/override.dm
  modular_bandastation/storyteller/code/gamemode.dm
  modular_bandastation/storyteller/code/scheduled_event.dm
Labels: none

Add bigger underground arena
  _maps/deathmatch/ss220/underground_arena_big.dmm
  modular_bandastation/mapping/_mapping.dme
  modular_bandastation/mapping/code/templates.dm
Labels: none

Translate hurt phrases
  code/modules/tgui_input/say_modal/modal.dm
Labels: none

parts ru
  code/game/machinery/_machinery.dm
Labels: none

pods fix
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

botany fixes
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

virology fixes
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

rnd maint access fixes
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

perma kitchen fix
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

parts ru (#793)
  code/game/machinery/_machinery.dm
Labels: none

Отключение ивентов
  code/controllers/subsystem/events.dm
  code/modules/events/_event.dm
  modular_bandastation/storyteller/_storyteller.dme
  modular_bandastation/storyteller/code/event_defines/crewset/_antagonist_event.dm
  modular_bandastation/storyteller/code/scheduled_event.dm
  modular_bandastation/storyteller/code/storytellers/tellers/storyteller_phantom.dm
Labels: none

Фикс красоты логов
  code/controllers/subsystem/events.dm
  code/modules/events/_event.dm
  modular_bandastation/storyteller/code/event_defines/crewset/_antagonist_event.dm
  modular_bandastation/storyteller/code/scheduled_event.dm
  modular_bandastation/storyteller/code/storytellers/tellers/_storyteller.dm
Labels: none

Фиксы и пожелания
  code/controllers/subsystem/events.dm
  code/modules/admin/force_event.dm
  code/modules/events/_event.dm
  modular_bandastation/storyteller/code/event_defines/crewset/_antagonist_event.dm
Labels: none

Revert "perma kitchen fix"
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Revert "rnd maint access fixes"
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Revert "virology fixes"
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Revert "botany fixes"
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Revert "pods fix"
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none

Pod fixes
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: none
