Repository ss220club/BandaStation, pull requests merged in 2024-07, with the labels that each got.

#350 Fix: Labeler, maybe
  .github/labeler.yml
  .github/workflows/label.yml
Labels: Do Not Merge

#341 Craft menu translate
  code/__DEFINES/food.dm
  code/datums/quirks/negative_quirks/allergic.dm
  code/datums/quirks/negative_quirks/food_allergy.dm
  tgui/packages/tgui/interfaces/PersonalCrafting.tsx
Labels: Перевод, TGUI

#330 loadout translate
  code/modules/loadout/categories/accessories.dm
  code/modules/loadout/categories/glasses.dm
  code/modules/loadout/categories/heads.dm
  code/modules/loadout/categories/inhands.dm
  code/modules/loadout/categories/neck.dm
  code/modules/loadout/categories/pocket.dm
  code/modules/loadout/loadout_items.dm
  tgui/packages/tgui/components/Button.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferenceWindow.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/loadout/index.tsx
Labels: Перевод, TGUI

#349 Remove ternary usage from ru jobs
  tgui/packages/tgui/interfaces/JobSelection.tsx
  tgui/packages/tgui/interfaces/NtosCrewManifest.jsx
  tgui/packages/tgui/interfaces/PreferencesMenu/JobsPage.tsx
Labels: Перевод, TGUI

#352 LateJoin more translate; Supervisor translate
  code/game/objects/items/melee/baton.dm
  code/modules/jobs/job_types/atmospheric_technician.dm
  code/modules/jobs/job_types/bartender.dm
  code/modules/jobs/job_types/botanist.dm
  code/modules/jobs/job_types/cargo_technician.dm
  code/modules/jobs/job_types/chaplain/chaplain.dm
  code/modules/jobs/job_types/chemist.dm
  code/modules/jobs/job_types/chief_engineer.dm
  code/modules/jobs/job_types/chief_medical_officer.dm
  code/modules/jobs/job_types/clown.dm
  code/modules/jobs/job_types/cook.dm
  code/modules/jobs/job_types/curator.dm
  code/modules/jobs/job_types/detective.dm
  code/modules/jobs/job_types/geneticist.dm
  code/modules/jobs/job_types/head_of_personnel.dm
  code/modules/jobs/job_types/head_of_security.dm
  code/modules/jobs/job_types/janitor.dm
  code/modules/jobs/job_types/lawyer.dm
  code/modules/jobs/job_types/medical_doctor.dm
  code/modules/jobs/job_types/mime.dm
  code/modules/jobs/job_types/paramedic.dm
  code/modules/jobs/job_types/quartermaster.dm
  code/modules/jobs/job_types/research_director.dm
  code/modules/jobs/job_types/roboticist.dm
  code/modules/jobs/job_types/scientist.dm
  code/modules/jobs/job_types/shaft_miner.dm
  code/modules/jobs/job_types/station_engineer.dm
  code/modules/jobs/job_types/station_trait/cargo_gorilla.dm
  code/modules/jobs/job_types/station_trait/veteran_advisor.dm
  code/modules/jobs/job_types/warden.dm
  code/modules/mob/dead/new_player/latejoin_menu.dm
  code/modules/mob/dead/new_player/new_player.dm
  tgui/packages/tgui/interfaces/JobSelection.tsx
Labels: Перевод, TGUI

#346 Mood translate
  code/__DEFINES/food.dm
  code/datums/ai_laws/laws_neutral.dm
  code/datums/mood_events/beauty_events.dm
  code/datums/mood_events/dna_infuser_events.dm
  code/datums/mood_events/drink_events.dm
  code/datums/mood_events/drug_events.dm
  code/datums/mood_events/eldritch_painting_events.dm
  code/datums/mood_events/food_events.dm
  code/datums/mood_events/generic_negative_events.dm
  code/datums/mood_events/generic_positive_events.dm
  code/datums/mood_events/morbid_events.dm
  code/datums/mood_events/needs_events.dm
  code/game/machinery/dna_infuser/organ_sets/rat_organs.dm
  code/modules/antagonists/heretic/magic/moon_smile.dm
  code/modules/antagonists/traitor/objectives/assassination.dm
  code/modules/mob/living/carbon/human/species_types/humans.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/examine_panel.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/legacy_toggles.tsx
Labels: Перевод, TGUI

#353 fix tts reserving channels
  modular_bandastation/tts/code/tts_subsystem.dm
Labels: Частичная модульность

#356 crew manifest verb translate (AI, lobby, ghosts)
  tgui/packages/tgui/interfaces/CrewManifest.jsx
Labels: Перевод, TGUI

#357 Force pulsar star; Remove roundstart Blue Code
  code/controllers/subsystem/dynamic/dynamic.dm
Labels: НЕ МОДУЛЬНО

#361 fix translate
  code/modules/surgery/core_removal.dm
Labels: Перевод

#369 [Fix] Surgery translate fix
  code/modules/surgery/healing.dm
Labels: Перевод

#367 Fix ru jobs
  code/__DEFINES/bandastation/ru_jobs.dm
  code/game/machinery/computer/crew.dm
  tgui/packages/tgui/bandastation/ru_jobs.tsx
  tgui/packages/tgui/interfaces/Orbit/helpers.ts
  tgui/packages/tgui/interfaces/SecurityRecords/RecordTabs.tsx
Labels: Перевод, TGUI

#373 Перевод интервью
  tgui/packages/tgui/interfaces/Interview.tsx
Labels: Перевод, TGUI

#376 [FIX] Фикс перевода баунти
  code/modules/cargo/bounties/engineering.dm
Labels: Перевод

#372 Whitelist based interviews
  code/modules/mob/dead/new_player/login.dm
  modular_bandastation/whitelist220/code/whitelist220.dm
Labels: :trollface: Фича, Частичная модульность

#380 [SEMI-MODULAR] Supply Pods subtype - teleporter
  code/__DEFINES/cargo.dm
  code/game/machinery/computer/orders/order_computer/order_computer.dm
  code/game/objects/items/choice_beacon.dm
  code/modules/cargo/supplypod.dm
  modular_bandastation/aesthetics/_aesthetics.dm
  modular_bandastation/aesthetics/_aesthetics.dme
  modular_bandastation/aesthetics/supply_pods/code/supply_pods.dm
Labels: Частичная модульность

#383 [TTS] Fix custom emotes
  modular_bandastation/tts/code/hear.dm
Labels: Фикс

#388 fix TTS runtimes
  modular_bandastation/tts/code/hear.dm
Labels: Фикс

#390 Fix job icons in tgui
  tgui/packages/tgui/interfaces/JobSelection.tsx
  tgui/packages/tgui/interfaces/MedicalRecords/RecordTabs.tsx
  tgui/packages/tgui/interfaces/Orbit/JobIcon.tsx
Labels: :pencil: Перевод, TGUI, Фикс

#386 fix translate from upstream merge
  code/modules/antagonists/heretic/magic/space_crawl.dm
  code/modules/antagonists/wizard/equipment/spellbook_entries/perks.dm
  tgui/packages/tgui/interfaces/Spellbook.tsx
  tgui/packages/tgui/interfaces/Techweb.jsx
Labels: :pencil: Перевод, TGUI, Фикс

#387 Pull procs and functions from translate branch
  code/__DEFINES/bandastation/ru_jobs.dm
  tgui/packages/tgui/bandastation/ru_jobs.tsx
Labels: TGUI

#401 Translate: Fun ride
  code/modules/vehicles/vehicle_actions.dm
Labels: :pencil: Перевод

#389 [FIX] Фикс эмоутов
  modular_bandastation/emote_panel/code/_emote_defines.dm
  modular_bandastation/emote_panel/code/emote_verbs.dm
  modular_bandastation/emote_panel/code/emotes.dm
Labels: Фикс

#419 Tweak: Labels emoji and tweaks
  .github/labeler.yml
Labels: :guitar: Инструменты, :shipit: Улучшение

#406 Доперевод character setup меню
  code/modules/client/preferences/names.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/MainPage.tsx
Labels: :pencil: Перевод, TGUI

#423 Fix Department sec ru names
  tgui/packages/tgui/bandastation/ru_jobs.tsx
Labels: TGUI, :wrench: Фикс

#407 Перевод баунти консоли
  code/game/machinery/civilian_bounties.dm
  code/modules/antagonists/pirate/pirate_shuttle_equipment.dm
  tgui/packages/tgui/interfaces/CivCargoHoldTerminal.jsx
Labels: :pencil: Перевод, TGUI

#427 Crewsimov++ addition
  config/game_options.txt
  modular_bandastation/ai_laws/_ai_laws.dme
  modular_bandastation/ai_laws/code/crewsimovpp.dm
  modular_bandastation/ai_laws/code/nt_default.dm
Labels: :floppy_disk: Изменение конфига

#428 Fix labeler partial modularity label
  .github/labeler.yml
Labels: :wrench: Фикс

#418 Allow to easily upload tracks to the jukebox
  code/datums/components/jukebox.dm
  modular_bandastation/jukebox/_jukebox.dm
  modular_bandastation/jukebox/_jukebox.dme
  modular_bandastation/jukebox/code/jukebox_ui.dm
  modular_bandastation/modular_bandastation.dme
  tgui/packages/tgui/interfaces/Jukebox220.tsx
Labels: :trollface: Фича, TGUI, :feelsgood: Частичная модульность

#432 Fix translate [20.07.2024]
  code/datums/mutations/body.dm
  code/modules/antagonists/changeling/powers/adrenaline.dm
  strings/antagonist_flavor/traitor_flavor.json
  strings/ion_laws.json
  strings/locations.json
  tgui/packages/tgui/interfaces/Orbit/JobIcon.tsx
Labels: :pencil: Перевод, TGUI, :wrench: Фикс

#429 Перевод квирка Strong Stomatch
  code/datums/quirks/positive_quirks/strong_stomach.dm
Labels: :pencil: Перевод

#438 Фикс перевода баунти консоли
  code/game/machinery/civilian_bounties.dm
Labels: :pencil: Перевод

#424 Перевод осмотра персонажа
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
Labels: :pencil: Перевод

#441 remove robotic sfx from priority announcement tts
  code/__HELPERS/priority_announce.dm
Labels: :shipit: Улучшение

#442 Rename Civ to Assistant
  code/__DEFINES/bandastation/ru_jobs.dm
  tgui/packages/tgui/bandastation/ru_jobs.tsx
Labels: :pencil: Перевод, TGUI

#446 Vendors translate
  code/datums/ai/objects/vending_machines/vending_machine_behaviors.dm
  code/modules/events/brand_intelligence.dm
  code/modules/vending/assist.dm
  code/modules/vending/boozeomat.dm
  code/modules/vending/cigarette.dm
  code/modules/vending/coffee.dm
  code/modules/vending/cola.dm
  code/modules/vending/drinnerware.dm
  code/modules/vending/games.dm
  code/modules/vending/hotdog.dm
  code/modules/vending/liberation.dm
  code/modules/vending/magivend.dm
  code/modules/vending/medical.dm
  code/modules/vending/megaseed.dm
  code/modules/vending/modularpc.dm
  code/modules/vending/nutrimax.dm
  code/modules/vending/security.dm
  code/modules/vending/snack.dm
  code/modules/vending/sovietsoda.dm
  code/modules/vending/sustenance.dm
  code/modules/vending/toys.dm
Labels: :pencil: Перевод

#437 Перевод рандомных файлов с фразами
  strings/mother.json
  strings/ninja.json
  strings/redpill.json
  strings/splashes.json
  strings/steve.json
Labels: :pencil: Перевод

#450 [FEAT] Posters port
  modular_bandastation/modular_bandastation.dme
  modular_bandastation/objects/_objects.dm
  modular_bandastation/objects/_objects.dme
  modular_bandastation/objects/code/structures/posters.dm
  modular_bandastation/objects/icons/posters.dmi
Labels: :paintbrush: Спрайты

#447 [FEAT] Material pouch port
  modular_bandastation/objects/_objects.dme
  modular_bandastation/objects/code/material_pouch.dm
  modular_bandastation/objects/icons/material_pouch.dmi
Labels: :paintbrush: Спрайты

#445 [FEAT] Papershredder port
  modular_bandastation/objects/_objects.dme
  modular_bandastation/objects/code/papershredder.dm
  modular_bandastation/objects/icons/papershredder.dmi
  modular_bandastation/objects/sounds/pshred.ogg
Labels: :sound: Звук, :paintbrush: Спрайты

#421 DNA Translate
  code/datums/mutations/active.dm
  code/datums/mutations/adaptation.dm
  code/datums/mutations/body.dm
  code/datums/mutations/hot.dm
  code/datums/mutations/hulk.dm
  code/datums/mutations/reach.dm
  code/datums/mutations/speech.dm
  code/datums/mutations/touch.dm
Labels: :pencil: Перевод

#452 fix translate upstream
  code/modules/antagonists/heretic/heretic_monsters.dm
  code/modules/antagonists/heretic/knowledge/sacrifice_knowledge/sacrifice_knowledge.dm
  code/modules/experisci/experiment/experiments.dm
  code/modules/surgery/amputation.dm
  code/modules/surgery/lipoplasty.dm
  code/modules/surgery/mechanic_steps.dm
  code/modules/surgery/organ_manipulation.dm
  code/modules/surgery/revival.dm
  code/modules/surgery/sleeper_protocol.dm
  tgui/packages/tgui/interfaces/NtosGasAnalyzer.tsx
Labels: :pencil: Перевод, TGUI, :wrench: Фикс

#404 Feat: Automapper
  _maps/bandastation/automapper/automapper_config.toml
  _maps/bandastation/automapper/templates/metastation/metastation_cryo.dmm
  code/__DEFINES/subsystems.dm
  code/controllers/subsystem/mapping.dm
  modular_bandastation/_defines220/_defines220.dme
  modular_bandastation/_defines220/code/defines/automapper.dm
  modular_bandastation/automapper/_automapper.dm
  modular_bandastation/automapper/_automapper.dme
  modular_bandastation/automapper/code/area_spawn_entries.dm
  modular_bandastation/automapper/code/area_spawn_subsystem.dm
  modular_bandastation/automapper/code/automap_template.dm
  modular_bandastation/automapper/code/automapper_subsystem.dm
  modular_bandastation/automapper/icons/area_test.dmi
  modular_bandastation/mapping/_mapping.dm
  modular_bandastation/mapping/_mapping.dme
  modular_bandastation/mapping/code/areas/station.dm
  modular_bandastation/mapping/icons/areas/areas_station.dmi
  modular_bandastation/modular_bandastation.dme
Labels: :paintbrush: Спрайты, :world_map: Изменение Карты

#365 Force players to play Sec - If not enough sec, no roundstart antags
  code/controllers/subsystem/dynamic/dynamic.dm
  config/bandastation/bandastation_config.txt
  modular_bandastation/balance/_balance.dme
  modular_bandastation/balance/code/dynamic.dm
Labels: :microscope: Testmerge Active, :floppy_disk: Изменение конфига, Stale

#403 Loadout restrictions (removal and donation tier)
  SQL/bandastation/bandastation_update.sql
  SQL/bandastation/database_changelog.md
  modular_bandastation/_defines220/code/defines/subsystems.dm
  modular_bandastation/loadout/_loadout.dm
  modular_bandastation/loadout/_loadout.dme
  modular_bandastation/loadout/code/categories/accessories.dm
  modular_bandastation/loadout/code/client.dm
  modular_bandastation/loadout/code/loadout_categories.dm
  modular_bandastation/loadout/code/loadout_items.dm
  modular_bandastation/loadout/code/loadout_preference.dm
  modular_bandastation/modular_bandastation.dme
Labels: :neckbeard: Документация, :cd: SQL

#459 Space Ninja Translation
  code/datums/dash_weapon.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/ninja/energy_katana.dm
  code/modules/antagonists/ninja/energy_net_nets.dm
  code/modules/antagonists/ninja/ninjaDrainAct.dm
  code/modules/antagonists/ninja/ninja_explosive.dm
  code/modules/antagonists/space_ninja/space_ninja.dm
  code/modules/mod/modules/modules_ninja.dm
  strings/names/ninjaname.txt
  strings/names/ninjatitle.txt
  tgui/packages/tgui/interfaces/AntagInfoNinja.tsx
Labels: :pencil: Перевод, TGUI

#456 New Robo clothing and wardrobe sprites
  modular_bandastation/objects/_objects.dme
  modular_bandastation/objects/code/clothing/head/hat.dm
  modular_bandastation/objects/code/clothing/head/soft_caps.dm
  modular_bandastation/objects/code/clothing/suits/cloaks.dm
  modular_bandastation/objects/code/clothing/suits/jacket.dm
  modular_bandastation/objects/code/clothing/suits/wintercoats.dm
  modular_bandastation/objects/code/clothing/under/jobs/rnd.dm
  modular_bandastation/objects/code/vending/vending.dm
  modular_bandastation/objects/icons/mob/clothing/head/cowboy.dmi
  modular_bandastation/objects/icons/mob/clothing/head/hats.dmi
  modular_bandastation/objects/icons/mob/clothing/head/rnd.dmi
  modular_bandastation/objects/icons/mob/clothing/suits/jacket.dmi
  modular_bandastation/objects/icons/mob/clothing/suits/rnd.dmi
  modular_bandastation/objects/icons/mob/clothing/suits/wintercoat.dmi
  modular_bandastation/objects/icons/mob/clothing/under/rnd.dmi
  modular_bandastation/objects/icons/obj/clothing/head/cowboy.dmi
  modular_bandastation/objects/icons/obj/clothing/head/hats.dmi
  modular_bandastation/objects/icons/obj/clothing/head/rnd.dmi
  modular_bandastation/objects/icons/obj/clothing/suits/jacket.dmi
  modular_bandastation/objects/icons/obj/clothing/suits/rnd.dmi
  modular_bandastation/objects/icons/obj/clothing/suits/wintercoat.dmi
  modular_bandastation/objects/icons/obj/clothing/under/rnd.dmi
  modular_bandastation/objects/icons/obj/machines/vending.dmi
Labels: :paintbrush: Спрайты

#463 Перевод нэйма письма
  code/game/objects/items/mail.dm
Labels: :pencil: Перевод

#460 Новые прически
  modular_bandastation/hair/_hair.dm
  modular_bandastation/hair/_hair.dme
  modular_bandastation/hair/code/hair.dm
  modular_bandastation/hair/icons/human_face.dmi
  modular_bandastation/modular_bandastation.dme
Labels: :paintbrush: Спрайты

#464 New robo clothing fix for #456
  modular_bandastation/objects/code/clothing/under/jobs/rnd.dm
  modular_bandastation/objects/icons/mob/clothing/under/rnd.dmi
  modular_bandastation/objects/icons/obj/clothing/under/rnd.dmi
Labels: :paintbrush: Спрайты, :wrench: Фикс

#468 Fix translate
  code/datums/components/pet_commands/pet_command.dm
  code/datums/components/pet_commands/pet_commands_basic.dm
  code/modules/cargo/bounties/assistant.dm
  code/modules/events/supermatter_surge.dm
  code/modules/mafia/roles/roles.dm
  code/modules/surgery/cavity_implant.dm
Labels: :pencil: Перевод, :wrench: Фикс

#469 Merge upstream [30.07.2024]
  code/modules/hydroponics/hydroponics.dm
  code/modules/hydroponics/seeds.dm
  code/modules/surgery/organs/internal/cyberimp/augments_arms.dm
  code/modules/surgery/organs/internal/cyberimp/augments_chest.dm
  code/modules/surgery/organs/internal/cyberimp/augments_eyes.dm
  code/modules/surgery/organs/internal/cyberimp/augments_internal.dm
  html/changelogs/AutoChangeLog-pr-85135.yml
  html/changelogs/AutoChangeLog-pr-85151.yml
  html/changelogs/AutoChangeLog-pr-85211.yml
  html/changelogs/AutoChangeLog-pr-85221.yml
  html/changelogs/AutoChangeLog-pr-85243.yml
  html/changelogs/AutoChangeLog-pr-85248.yml
  html/changelogs/AutoChangeLog-pr-85254.yml
  html/changelogs/AutoChangeLog-pr-85256.yml
  html/changelogs/AutoChangeLog-pr-85257.yml
  html/changelogs/AutoChangeLog-pr-85281.yml
  html/changelogs/AutoChangeLog-pr-85307.yml
  html/changelogs/AutoChangeLog-pr-85316.yml
  html/changelogs/AutoChangeLog-pr-85326.yml
  html/changelogs/AutoChangeLog-pr-85330.yml
  html/changelogs/AutoChangeLog-pr-85333.yml
  html/changelogs/AutoChangeLog-pr-85335.yml
  html/changelogs/AutoChangeLog-pr-85341.yml
  html/changelogs/AutoChangeLog-pr-85342.yml
  html/changelogs/AutoChangeLog-pr-85343.yml
  html/changelogs/AutoChangeLog-pr-85344.yml
  html/changelogs/AutoChangeLog-pr-85368.yml
  html/changelogs/archive/2024-07.yml
  icons/obj/medical/organs/organs.dmi
Labels: :paintbrush: Спрайты, :pray: Слияние с восходящим потоком

#473 Merge upstream [31.07.2024]
  code/datums/pod_style.dm
  code/game/objects/items/crayons.dm
  code/modules/hydroponics/seeds.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/vending/subtype.dm
  html/changelogs/AutoChangeLog-pr-85368.yml
  html/changelogs/AutoChangeLog-pr-85375.yml
  html/changelogs/AutoChangeLog-pr-85383.yml
  html/changelogs/AutoChangeLog-pr-85393.yml
  html/changelogs/archive/2024-07.yml
  icons/obj/stack_objects.dmi
Labels: :paintbrush: Спрайты, :pray: Слияние с восходящим потоком
