Repository ss220club/BandaStation, pull requests merged in 2024-11, with the labels that each got.

#483 Feat: Loadout points
  code/modules/loadout/loadout_menu.dm
  modular_bandastation/loadout/code/client.dm
  modular_bandastation/loadout/code/loadout_items.dm
  modular_bandastation/loadout/code/loadout_preference.dm
  modular_bandastation/preferences/code/modules/client/preferences.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/loadout/ItemDisplay.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/loadout/base.ts
  tgui/packages/tgui/interfaces/PreferencesMenu/loadout/index.tsx
Labels: TGUI, RED LABEL

#641 Fix translate upstream 02.11.24
  code/game/machinery/scanner_gate.dm
  code/modules/antagonists/heretic/items/keyring.dm
  code/modules/clothing/clothing.dm
  code/modules/food_and_drinks/machinery/coffeemaker.dm
  code/modules/food_and_drinks/machinery/deep_fryer.dm
  code/modules/food_and_drinks/machinery/food_cart.dm
  code/modules/food_and_drinks/machinery/gibber.dm
  code/modules/food_and_drinks/machinery/griddle.dm
  code/modules/food_and_drinks/machinery/grill.dm
  code/modules/food_and_drinks/machinery/icecream_vat.dm
  code/modules/food_and_drinks/machinery/microwave.dm
  code/modules/food_and_drinks/machinery/monkeyrecycler.dm
  code/modules/food_and_drinks/machinery/oven.dm
  code/modules/food_and_drinks/machinery/processor.dm
  code/modules/food_and_drinks/machinery/smartfridge.dm
  code/modules/food_and_drinks/machinery/stove.dm
  code/modules/mob/living/taste.dm
  code/modules/reagents/chemistry/taste.dm
Labels: :pencil: Перевод, :wrench: Фикс

#642 Revert translate on verbs in translate branch
  code/modules/mob/living/carbon/carbon.dm
Labels: :pencil: Перевод

#644 Фикс лодаута
  modular_bandastation/loadout/code/loadout_preference.dm
Labels: :wrench: Фикс

#646 Fix translate upstream 03.11.24
  code/modules/antagonists/heretic/knowledge/moon_lore.dm
Labels: :pencil: Перевод, :wrench: Фикс

#647 Фикс лодаута
  modular_bandastation/loadout/code/loadout_preference.dm
  modular_bandastation/preferences/code/modules/client/preferences.dm
Labels: :wrench: Фикс

#650 Fix throw translate
  code/modules/mob/living/carbon/carbon.dm
Labels: :pencil: Перевод, :wrench: Фикс

#652 Merge upstream 06.11.24
  code/modules/admin/sql_message_system.dm
  code/modules/mod/mod_activation.dm
  html/changelogs/AutoChangeLog-pr-87522.yml
  html/changelogs/AutoChangeLog-pr-87649.yml
Labels: :pray: Слияние с восходящим потоком

#653 Fix translate upstream 05.11.24
  code/modules/mob/living/living_defense.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/sounds.tsx
Labels: :pencil: Перевод, TGUI, :wrench: Фикс

#655 Some translate fixes
  code/modules/food_and_drinks/machinery/deep_fryer.dm
  code/modules/food_and_drinks/machinery/processor.dm
  code/modules/mob/living/living.dm
Labels: :pencil: Перевод, :wrench: Фикс

#659 Fix disabler runame
  modular_bandastation/translations/code/data/ru_names.toml
Labels: :wrench: Фикс

#658 fix message
  code/modules/mob/living/living_defense.dm
Labels: :pencil: Перевод, :wrench: Фикс

#662 modify eat verb
  code/datums/components/food/edible.dm
Labels: :pencil: Перевод, :wrench: Фикс

#664 taste translate
  code/modules/mob/living/taste.dm
  code/modules/reagents/chemistry/taste.dm
Labels: :pencil: Перевод

#663 Translate stars
  code/controllers/subsystem/dynamic/dynamic.dm
Labels: :pencil: Перевод

#665 Strippable translate
  code/datums/elements/strippable.dm
  code/game/objects/items.dm
Labels: :pencil: Перевод

#666 Update experiments
  code/game/gamemodes/objective.dm
  code/modules/events/meteors/meteor_wave_events.dm
  code/modules/experisci/experiment/experiments.dm
  code/modules/experisci/experiment/handlers/experiment_handler.dm
  code/modules/experisci/experiment/types/scanning.dm
  code/modules/experisci/experiment/types/scanning_machinery.dm
  code/modules/experisci/experiment/types/scanning_material.dm
  code/modules/experisci/experiment/types/scanning_people.dm
  code/modules/experisci/experiment/types/scanning_points.dm
  code/modules/experisci/experiment/types/scanning_reagent.dm
  code/modules/experisci/experiment/types/scanning_vatgrown.dm
Labels: :pencil: Перевод

#669 Fix translate upstream 09.11.24
  code/modules/antagonists/heretic/magic/moon_parade.dm
  code/modules/mob/living/living.dm
Labels: :pencil: Перевод, :wrench: Фикс

#671 Add nebula station nanomap
  tools/nanomap_renderer/nanomap-renderer-invoker.sh
Labels: :guitar: Инструменты

#675 translate emotes in prefs
  modular_bandastation/keybinding/_keybinding.dme
  modular_bandastation/keybinding/code/emote.dm
  modular_bandastation/translations/_translations.dm
  modular_bandastation/translations/code/translate_emotes.dm
Labels: :wrench: Фикс

#657 Доперевод хирургии
  code/datums/components/surgery_initiator.dm
  code/modules/surgery/amputation.dm
  code/modules/surgery/autopsy.dm
  code/modules/surgery/blood_filter.dm
  code/modules/surgery/bone_mending.dm
  code/modules/surgery/brain_surgery.dm
  code/modules/surgery/burn_dressing.dm
  code/modules/surgery/cavity_implant.dm
  code/modules/surgery/core_removal.dm
  code/modules/surgery/coronary_bypass.dm
  code/modules/surgery/dental_implant.dm
  code/modules/surgery/ear_surgery.dm
  code/modules/surgery/eye_surgery.dm
  code/modules/surgery/gastrectomy.dm
  code/modules/surgery/hepatectomy.dm
  code/modules/surgery/limb_augmentation.dm
  code/modules/surgery/lipoplasty.dm
  code/modules/surgery/lobectomy.dm
  code/modules/surgery/mechanic_steps.dm
  code/modules/surgery/organ_manipulation.dm
  code/modules/surgery/organs/_organ.dm
  code/modules/surgery/organs/autosurgeon.dm
  code/modules/surgery/plastic_surgery.dm
  code/modules/surgery/prosthetic_replacement.dm
  code/modules/surgery/repair_puncture.dm
  code/modules/surgery/revival.dm
  code/modules/surgery/sleeper_protocol.dm
  code/modules/surgery/stomachpump.dm
Labels: :pencil: Перевод

#679 Translate fixes
  code/datums/components/itempicky.dm
  code/datums/wounds/bones.dm
  code/datums/wounds/burns.dm
  code/datums/wounds/slash.dm
  code/modules/mob/living/basic/drone/_drone.dm
  code/modules/mob/living/carbon/alien/alien.dm
Labels: :pencil: Перевод, :wrench: Фикс

#677 Replace railings and microwave sprite with ours
  modular_bandastation/aesthetics/_aesthetics.dme
  modular_bandastation/aesthetics/kitchen/code/microwave.dm
  modular_bandastation/aesthetics/kitchen/icons/microwave.dmi
  modular_bandastation/aesthetics/railings/code/railings.dm
  modular_bandastation/aesthetics/railings/icons/railings.dmi
Labels: :paintbrush: Спрайты

#681 Fix ru name
  modular_bandastation/translations/code/data/ru_names.toml
Labels: :wrench: Фикс

#688 Fix translate
  code/game/machinery/computer/communications.dm
  code/modules/food_and_drinks/machinery/stove.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/reagents/chemistry/taste.dm
  code/modules/shuttle/battlecruiser_starfury.dm
Labels: :pencil: Перевод

#690 update experiment stock parts
  code/modules/experisci/experiment/experiments.dm
Labels: :pencil: Перевод

#634 Port Cyberiad (BoxStation)
  _maps/_basemap.dm
  _maps/cyberiad.json
  _maps/map_files/Cyberiad/Cyberiad.dmm
  config/maps.txt
  modular_bandastation/mapping/code/areas/station.dm
Labels: :world_map: Изменение Карты, :floppy_disk: Изменение конфига, RED LABEL

#696 Merge upstream 12.11.24 part 2
  code/modules/fishing/sources/_fish_source.dm
  code/modules/mob/living/silicon/ai/ai.dm
  html/changelogs/AutoChangeLog-pr-87773.yml
  html/changelogs/AutoChangeLog-pr-87819.yml
Labels: :pray: Слияние с восходящим потоком

#698 Fix scanning module ru names
  modular_bandastation/translations/code/data/ru_names.toml
Labels: :wrench: Фикс

#700 Somr ru attack verb fixes
  modular_bandastation/translations/code/data/ru_verbs.toml
Labels: :wrench: Фикс

#703 cyberiad nanomap and fix nebula
  icons/_nanomaps/Cyberiad_nanomap_z1.png
  icons/_nanomaps/Cyberiad_nanomap_z2.png
  modular_bandastation/nanomap/code/nanomaps_asset.dm
  tools/nanomap_renderer/nanomap-renderer-invoker.sh
Labels: :guitar: Инструменты

#705 Fix ru name suggest forgetting values
  tgui/packages/tgui/interfaces/RuNamesSuggestPanel.jsx
Labels: TGUI, :wrench: Фикс

#692 Locker & Pipe sounds, Transform tweaks, Remove TTS from scanner gate, Stickers amt. restriction
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  modular_bandastation/aesthetics_sounds/_aesthetics_sounds.dm
  modular_bandastation/aesthetics_sounds/_aesthetics_sounds.dme
  modular_bandastation/aesthetics_sounds/code/closet.dm
  modular_bandastation/aesthetics_sounds/sound/lock_1.ogg
  modular_bandastation/aesthetics_sounds/sound/lock_2.ogg
  modular_bandastation/aesthetics_sounds/sound/lock_3.ogg
  modular_bandastation/modular_bandastation.dme
  modular_bandastation/overrides/_overrides.dme
  modular_bandastation/overrides/code/squish.dm
  modular_bandastation/overrides/code/stickers.dm
  modular_bandastation/tts/code/base_seeds/objs/objs.dm
Labels: :sound: Звук

#707 Clamp roundstart budget from config
  code/controllers/subsystem/dynamic/dynamic.dm
  config/bandastation/bandastation_config.txt
  modular_bandastation/balance/code/dynamic.dm
Labels: :floppy_disk: Изменение конфига

#717 Fix translate upstream 14.11.24
  code/game/machinery/scanner_gate.dm
  code/modules/antagonists/heretic/influences.dm
  code/modules/antagonists/heretic/magic/space_crawl.dm
  code/modules/mod/modules/modules_ninja.dm
Labels: :pencil: Перевод, :wrench: Фикс

#718 Fix long whisper verb
  code/modules/mob/living/living_say.dm
Labels: :pencil: Перевод, :wrench: Фикс

#719 fix all right and all lefft
  code/modules/mob/living/carbon/examine.dm
Labels: :pencil: Перевод, :wrench: Фикс

#725 Fix refactor for translate
  code/__DEFINES/bandastation/defines.dm
  code/modules/antagonists/changeling/powers/mimic_voice.dm
  modular_bandastation/_defines220/code/signals_atom.dm
  modular_bandastation/tts/_tts.dme
  modular_bandastation/tts/code/base_seeds/chameleon_mask.dm
  modular_bandastation/tts/code/tts_component.dm
  modular_bandastation/tts/code/tts_hear.dm
  modular_bandastation/tts/code/tts_preferences.dm
  modular_bandastation/tts/code/tts_seed.dm
  tgstation.dme
Labels: :pencil: Перевод

#726 Fix mimic voice translate
  code/modules/antagonists/changeling/powers/mimic_voice.dm
Labels: :pencil: Перевод, :wrench: Фикс

#710 Move it down
  modular_bandastation/admin/code/admin_verbs.dm
  modular_bandastation/translations/code/translate_suggest_ru_names.dm
Labels: :shipit: Улучшение

#732 Use declents in ore machine
  code/game/objects/structures/ore_containers.dm
  code/modules/mining/machine_redemption.dm
Labels: :pencil: Перевод

#736 fix it again
  code/modules/antagonists/changeling/powers/mimic_voice.dm
Labels: :pencil: Перевод, :wrench: Фикс

#730 fix runechat height issues as well as mission cyrillics
  interface/fonts/Minecraft_Rus.ttf
  interface/fonts/grand_9k.dm
  interface/skin.dmf
Labels: :wrench: Фикс

#737 Merge upstream 16.11.24
  code/_globalvars/lists/quirks.dm
  code/controllers/subsystem/dbcore.dm
  code/datums/components/tether.dm
  code/game/machinery/announcement_system.dm
  code/game/machinery/computer/buildandrepair.dm
  code/game/objects/items/devices/traitordevices.dm
  code/modules/admin/IsBanned.dm
  code/modules/antagonists/heretic/knife_effect.dm
  code/modules/antagonists/heretic/magic/furious_steel.dm
  code/modules/antagonists/heretic/status_effects/buffs.dm
  code/modules/client/client_procs.dm
  code/modules/mob/living/basic/lavaland/watcher/watcher.dm
  code/modules/mob/living/carbon/alien/adult/adult.dm
  code/modules/mob/living/carbon/alien/adult/queen.dm
  code/modules/mob/living/carbon/alien/alien.dm
  html/changelogs/AutoChangeLog-pr-87701.yml
  html/changelogs/AutoChangeLog-pr-87907.yml
  html/changelogs/AutoChangeLog-pr-87911.yml
  html/changelogs/AutoChangeLog-pr-87917.yml
  html/changelogs/AutoChangeLog-pr-87918.yml
  html/changelogs/AutoChangeLog-pr-87927.yml
  html/changelogs/AutoChangeLog-pr-87928.yml
  html/changelogs/archive/2024-11.yml
Labels: :pray: Слияние с восходящим потоком

#733 Emojis
  code/__DEFINES/fonts.dm
  modular_bandastation/emojis220/icons/emoji220.dmi
Labels: :paintbrush: Спрайты

#741 Improve Tramstation detective office
  _maps/bandastation/automapper/automapper_config.toml
  _maps/bandastation/automapper/templates/tramstation/tramstation_detective_office.dmm
Labels: :world_map: Изменение Карты

#743 Fix icebox detective office area
  _maps/bandastation/automapper/templates/tramstation/tramstation_detective_office.dmm
Labels: :world_map: Изменение Карты, :wrench: Фикс

#697 [TM] BoxStation Fixes
  _maps/cyberiad.json
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: :microscope: Testmerge Active, :world_map: Изменение Карты

#750 Fix mistakes in aesthetics
  modular_bandastation/aesthetics/airlocks/code/airlock_assembly_types.dm
  modular_bandastation/aesthetics/airlocks/code/airlock_types.dm
  modular_bandastation/aesthetics/keycard_auth/code/keycard_auth.dm
  modular_bandastation/aesthetics/lightswitch/icons/lightswitch.dmi
  modular_bandastation/aesthetics/windows/code/full_tile_windows.dm
  modular_bandastation/aesthetics/windows/icons/spawners.dmi
Labels: :paintbrush: Спрайты, :wrench: Фикс

#745 Tooltips declented
  code/_onclick/hud/action_button.dm
  code/_onclick/hud/alert.dm
  code/_onclick/hud/blob_overmind.dm
  code/_onclick/hud/new_player.dm
  code/_onclick/hud/radial.dm
  code/game/objects/items.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/tooltips.tsx
Labels: :pencil: Перевод, TGUI

#752 Translate vending products
  code/modules/vending/_vending.dm
Labels: :pencil: Перевод

#753 Kiss hit by translate
  code/game/objects/items/hand_items.dm
Labels: :pencil: Перевод

#755 TTS checks for distance (star)
  modular_bandastation/tts/code/tts_hear.dm
Labels: :wrench: Фикс

#746 Boxstation overall improvements & fixes
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: :world_map: Изменение Карты, :wrench: Фикс

#761 BoxStation fixes
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: :world_map: Изменение Карты

#764 fix typo
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/hotkeys.tsx
Labels: :pencil: Перевод, TGUI, :wrench: Фикс

#767 steal objective uses declents
  code/game/gamemodes/objective.dm
  code/modules/antagonists/obsessed/obsessed.dm
  code/modules/antagonists/spy/spy_bounty.dm
  code/modules/antagonists/traitor/objectives/destroy_heirloom.dm
  code/modules/antagonists/traitor/objectives/destroy_item.dm
Labels: :pencil: Перевод, :wrench: Фикс

#774 Fixes human pronouns missing an arg
  modular_bandastation/translations/code/pronouns.dm
Labels: :wrench: Фикс

#773 Fix translate 20.11.24
  code/__DEFINES/robots.dm
  code/datums/wounds/bones.dm
  code/modules/antagonists/changeling/powers/absorb.dm
  code/modules/antagonists/heretic/knowledge/ash_lore.dm
  code/modules/antagonists/heretic/knowledge/blade_lore.dm
  code/modules/antagonists/heretic/knowledge/cosmic_lore.dm
  code/modules/antagonists/heretic/knowledge/flesh_lore.dm
  code/modules/antagonists/heretic/knowledge/lock_lore.dm
  code/modules/antagonists/heretic/knowledge/moon_lore.dm
  code/modules/antagonists/heretic/knowledge/rust_lore.dm
  code/modules/antagonists/heretic/knowledge/starting_lore.dm
  code/modules/antagonists/heretic/knowledge/void_lore.dm
  code/modules/bitrunning/orders/tech.dm
  code/modules/mafia/abilities/investigative/reveal.dm
  code/modules/mob/living/basic/drone/_drone.dm
  code/modules/mob/living/living.dm
  code/modules/tutorials/tutorials/switch_hands.dm
Labels: :pencil: Перевод, :wrench: Фикс

#786 Translate fixes
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/hotkeys.tsx
Labels: :pencil: Перевод, TGUI, :wrench: Фикс

#784 Fix translate 22.11.24
  code/modules/cargo/bounties/science.dm
  code/modules/food_and_drinks/machinery/microwave.dm
  code/modules/surgery/surgery.dm
Labels: :pencil: Перевод, :wrench: Фикс

#780 Add platforms
  _maps/map_files/Cyberiad/Cyberiad.dmm
  modular_bandastation/objects/_objects.dme
  modular_bandastation/objects/code/platform.dm
  modular_bandastation/objects/icons/platform.dmi
Labels: :paintbrush: Спрайты, :world_map: Изменение Карты

#782 BoxStation fixes
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: :world_map: Изменение Карты, :wrench: Фикс

#793 parts ru
  code/game/machinery/_machinery.dm
Labels: :pencil: Перевод

#790 Cyberiad various changes & Autoname all airlocks
  _maps/bandastation/automapper/templates/centcom/CentCom.dmm
  _maps/bandastation/automapper/templates/iceboxstation/iceboxstation_detective_office.dmm
  _maps/bandastation/automapper/templates/metastation/metastation_cryo.dmm
  _maps/map_files/Cyberiad/Cyberiad.dmm
  tools/UpdatePaths/Scripts/ss220/790_autoname_airlocks.txt
Labels: :world_map: Изменение Карты, :guitar: Инструменты

#794 BoxStation fixes
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: :world_map: Изменение Карты, :wrench: Фикс

#798 Fix translate 23.11.24
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/living.dm
Labels: :pencil: Перевод, :wrench: Фикс

#803 Cyberiad multiple updates
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: :world_map: Изменение Карты

#776 Add Cyrillic to TG fonts
  code/__DEFINES/text.dm
  interface/fonts/Grand9K_Pixel_Rus.ttf
  interface/fonts/Minecraft_Rus.ttf
  interface/fonts/PixCyrillic.ttf
  interface/fonts/SpessFontRus.ttf
  interface/fonts/TinyUnicodeRus.ttf
  interface/fonts/grand_9k.dm
  interface/fonts/pixellari.dm
  interface/fonts/spess_font.dm
  interface/fonts/tiny_unicode.dm
  interface/skin.dmf
Labels: :pencil: Перевод, :microscope: Testmerge Active, :shipit: Улучшение

#806 Fix translate 25.11.24
  code/modules/mob/living/carbon/alien/alien_defense.dm
Labels: :pencil: Перевод, :wrench: Фикс

#807 BoxStation fixes
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: :world_map: Изменение Карты, :wrench: Фикс

#808 Cyberiad: Remove cables under power monitors, cleanup them
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: :world_map: Изменение Карты, :shipit: Улучшение

#809 Cyberiad: More rust walls, Pacman for Secs and Telecomms. Some visual changes.
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: :world_map: Изменение Карты

#812 Merge upstream 27.11.24
  _maps/_basemap.dm
  _maps/map_files/NorthStar/north_star.dmm
  _maps/northstar.json
  _maps/shuttles/arrival_northstar.dmm
  _maps/shuttles/cargo_northstar.dmm
  _maps/shuttles/mining_common_northstar.dmm
  _maps/shuttles/mining_northstar.dmm
  code/datums/components/aquarium.dm
  code/datums/components/aquarium_content.dm
  code/datums/shuttles/arrival.dm
  code/datums/shuttles/cargo.dm
  code/datums/shuttles/mining.dm
  code/game/objects/items/rcd/RCD.dm
  code/modules/antagonists/traitor/uplink_handler.dm
  code/modules/atmospherics/environmental/LINDA_fire.dm
  code/modules/atmospherics/machinery/portable/portable_atmospherics.dm
  code/modules/fishing/aquarium/aquarium.dm
  code/modules/mining/mine_items.dm
  code/modules/mob/living/simple_animal/hostile/mining_mobs/elites/legionnaire.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  code/modules/reagents/reagent_containers/patch.dm
  code/modules/reagents/reagent_containers/pill.dm
  code/modules/unit_tests/metabolizing.dm
  code/modules/unit_tests/pills.dm
  code/modules/unit_tests/reagent_mob_expose.dm
  code/modules/unit_tests/stomach.dm
  code/modules/uplink/uplink_items.dm
  code/modules/uplink/uplink_items/bundle.dm
  config/maps.txt
  html/changelogs/AutoChangeLog-pr-88143.yml
  html/changelogs/AutoChangeLog-pr-88153.yml
  html/changelogs/AutoChangeLog-pr-88164.yml
  html/changelogs/AutoChangeLog-pr-88170.yml
  html/changelogs/AutoChangeLog-pr-88177.yml
  html/changelogs/AutoChangeLog-pr-88182.yml
  html/changelogs/AutoChangeLog-pr-88188.yml
  html/changelogs/AutoChangeLog-pr-88192.yml
  html/changelogs/AutoChangeLog-pr-88194.yml
  html/changelogs/archive/2024-11.yml
  tgui/packages/tgui/interfaces/Uplink/index.tsx
Labels: TGUI, :world_map: Изменение Карты, :floppy_disk: Изменение конфига, :pray: Слияние с восходящим потоком

#813 Fix translate 27.11.24
  tgui/packages/tgui/interfaces/Uplink/index.tsx
Labels: :pencil: Перевод, TGUI, :wrench: Фикс

#814 BoxStation bar fixes
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: :world_map: Изменение Карты, :wrench: Фикс

#817 Merge upstream 27.11.24
  code/datums/brain_damage/split_personality.dm
  code/datums/wires/mulebot.dm
  code/modules/fishing/fish/_fish.dm
  code/modules/mob/living/brain/brain_item.dm
  code/modules/mob/living/carbon/emote.dm
  code/modules/mod/mod_theme.dm
  code/modules/surgery/organ_manipulation.dm
  html/changelogs/AutoChangeLog-pr-88182.yml
  html/changelogs/AutoChangeLog-pr-88188.yml
  html/changelogs/AutoChangeLog-pr-88192.yml
  html/changelogs/AutoChangeLog-pr-88207.yml
  html/changelogs/AutoChangeLog-pr-88212.yml
  html/changelogs/AutoChangeLog-pr-88218.yml
  html/changelogs/AutoChangeLog-pr-88220.yml
  html/changelogs/archive/2024-11.yml
  tgui/packages/tgui-say/TguiSay.tsx
Labels: TGUI, :pray: Слияние с восходящим потоком

#819 Better tra
  code/datums/elements/strippable.dm
  code/modules/antagonists/heretic/heretic_living_heart.dm
  code/modules/antagonists/heretic/influences.dm
  code/modules/antagonists/heretic/knowledge/starting_lore.dm
  code/modules/mob/living/carbon/human/human_stripping.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/living_defense.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/bone_mending.dm
  code/modules/surgery/burn_dressing.dm
  code/modules/surgery/cavity_implant.dm
  code/modules/surgery/limb_augmentation.dm
  code/modules/surgery/lipoplasty.dm
  code/modules/surgery/mechanic_steps.dm
  code/modules/surgery/organ_manipulation.dm
  code/modules/surgery/organic_steps.dm
  code/modules/surgery/prosthetic_replacement.dm
Labels: :pencil: Перевод

#824 Designs nightmare
  modular_bandastation/translations/_translations.dm
  modular_bandastation/translations/_translations.dme
  modular_bandastation/translations/code/design.dm
  modular_bandastation/translations/code/ru_names/ru_name_base.dm
  modular_bandastation/translations/code/ru_names/ru_name_design.dm
  modular_bandastation/translations/code/translation_data/ru_names.toml
  tgui/packages/tgui/interfaces/Autolathe.tsx
  tgui/packages/tgui/interfaces/Fabricator.tsx
Labels: TGUI

#825 Designs nightmare - translate edition
  code/__DEFINES/research/research_categories.dm
  code/datums/components/bakeable.dm
  code/datums/components/crafting/crafting.dm
  code/datums/elements/slapcrafting.dm
  code/datums/storage/storage.dm
  code/modules/antagonists/traitor/objectives/steal.dm
  code/modules/experisci/experiment/types/scanning.dm
  code/modules/experisci/experiment/types/scanning_machinery.dm
  code/modules/experisci/experiment/types/scanning_material.dm
  code/modules/experisci/experiment/types/scanning_vatgrown.dm
  code/modules/food_and_drinks/machinery/stove.dm
Labels: :pencil: Перевод, :wrench: Фикс

#827 Add support for english search in fabricators
  code/game/machinery/autolathe.dm
  code/modules/research/machinery/_production.dm
  code/modules/vehicles/mecha/mech_fabricator.dm
  modular_bandastation/translations/code/ru_names/ru_name_design.dm
  tgui/packages/tgui/interfaces/Fabrication/DesignBrowser.tsx
  tgui/packages/tgui/interfaces/Fabrication/Types.ts
Labels: TGUI

#830 Fix translate 30.11.24
  .github/workflows/generate_documentation.yml
  code/__DEFINES/dcs/signals/signals_reagent.dm
  code/datums/mood_events/_mood_event.dm
  code/datums/mood_events/needs_events.dm
  code/datums/status_effects/neutral.dm
  code/game/objects/objs.dm
  code/game/objects/structures/shower.dm
  code/game/turfs/turf.dm
  code/modules/atmospherics/machinery/components/tank.dm
  code/modules/clothing/under/jobs/Plasmaman/civilian_service.dm
  code/modules/explorer_drone/loot.dm
  code/modules/mob/living/basic/space_fauna/revenant/revenant_abilities.dm
  code/modules/mob/living/living_defense.dm
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/chemistry/reagents/drinks/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/surgery/bodyparts/robot_bodyparts.dm
  code/modules/surgery/organs/internal/eyes/_eyes.dm
  html/changelogs/AutoChangeLog-pr-87747.yml
  html/changelogs/AutoChangeLog-pr-88068.yml
  html/changelogs/AutoChangeLog-pr-88214.yml
  html/changelogs/AutoChangeLog-pr-88235.yml
  html/changelogs/AutoChangeLog-pr-88236.yml
  html/changelogs/AutoChangeLog-pr-88240.yml
  html/changelogs/AutoChangeLog-pr-88243.yml
  html/changelogs/AutoChangeLog-pr-88245.yml
  html/changelogs/AutoChangeLog-pr-88247.yml
  html/changelogs/AutoChangeLog-pr-88253.yml
  html/changelogs/AutoChangeLog-pr-88263.yml
  html/changelogs/AutoChangeLog-pr-88264.yml
  html/changelogs/AutoChangeLog-pr-88269.yml
  html/changelogs/AutoChangeLog-pr-88270.yml
  html/changelogs/AutoChangeLog-pr-88271.yml
  html/changelogs/AutoChangeLog-pr-88273.yml
  html/changelogs/AutoChangeLog-pr-88281.yml
  html/changelogs/archive/2024-11.yml
  icons/hud/screen_alert.dmi
  icons/mob/clothing/belt.dmi
  strings/tips.txt
Labels: :pencil: Перевод, :paintbrush: Спрайты, :wrench: Фикс

#829 Merge upstream 30.11.24
  .github/workflows/generate_documentation.yml
  code/__DEFINES/dcs/signals/signals_reagent.dm
  code/datums/mood_events/_mood_event.dm
  code/datums/mood_events/needs_events.dm
  code/datums/status_effects/neutral.dm
  code/game/objects/objs.dm
  code/game/objects/structures/shower.dm
  code/game/turfs/turf.dm
  code/modules/atmospherics/machinery/components/tank.dm
  code/modules/clothing/under/jobs/Plasmaman/civilian_service.dm
  code/modules/explorer_drone/loot.dm
  code/modules/mob/living/basic/space_fauna/revenant/revenant_abilities.dm
  code/modules/mob/living/living_defense.dm
  code/modules/reagents/chemistry/reagents.dm
  code/modules/reagents/chemistry/reagents/drinks/alcohol_reagents.dm
  code/modules/reagents/chemistry/reagents/food_reagents.dm
  code/modules/reagents/chemistry/reagents/other_reagents.dm
  code/modules/reagents/chemistry/reagents/pyrotechnic_reagents.dm
  code/modules/reagents/chemistry/reagents/toxin_reagents.dm
  code/modules/surgery/bodyparts/robot_bodyparts.dm
  code/modules/surgery/organs/internal/eyes/_eyes.dm
  html/changelogs/AutoChangeLog-pr-87747.yml
  html/changelogs/AutoChangeLog-pr-88068.yml
  html/changelogs/AutoChangeLog-pr-88214.yml
  html/changelogs/AutoChangeLog-pr-88235.yml
  html/changelogs/AutoChangeLog-pr-88236.yml
  html/changelogs/AutoChangeLog-pr-88240.yml
  html/changelogs/AutoChangeLog-pr-88243.yml
  html/changelogs/AutoChangeLog-pr-88245.yml
  html/changelogs/AutoChangeLog-pr-88247.yml
  html/changelogs/AutoChangeLog-pr-88253.yml
  html/changelogs/AutoChangeLog-pr-88263.yml
  html/changelogs/AutoChangeLog-pr-88264.yml
  html/changelogs/AutoChangeLog-pr-88269.yml
  html/changelogs/AutoChangeLog-pr-88270.yml
  html/changelogs/AutoChangeLog-pr-88271.yml
  html/changelogs/AutoChangeLog-pr-88273.yml
  html/changelogs/AutoChangeLog-pr-88281.yml
  html/changelogs/archive/2024-11.yml
  icons/hud/screen_alert.dmi
  icons/mob/clothing/belt.dmi
  strings/tips.txt
Labels: :paintbrush: Спрайты, :pray: Слияние с восходящим потоком
