Repository ss220club/BandaStation, pull requests merged in 2024-10, with the labels that each got.

#474 Nanomaps in security consoles
  code/game/machinery/computer/camera.dm
  icons/_nanomaps/Lavaland_nanomap_z1.png
  icons/_nanomaps/MetaStation_nanomap_z1.png
  icons/_nanomaps/Wawastation_nanomap_z1.png
  icons/_nanomaps/Wawastation_nanomap_z2.png
  modular_bandastation/modular_bandastation.dme
  modular_bandastation/nanomap/_nanomap.dm
  modular_bandastation/nanomap/_nanomap.dme
  modular_bandastation/nanomap/code/camera.dm
  modular_bandastation/nanomap/code/nanomaps_asset.dm
  tgui/packages/tgui/components/NanoMap.js
  tgui/packages/tgui/interfaces/CameraConsole.tsx
  tgui/packages/tgui/styles/components/NanoMap.scss
  tgui/packages/tgui/styles/interfaces/CameraConsole.scss
  tgui/packages/tgui/styles/main.scss
  tools/nanomap_renderer/nanomap-renderer-invoker.sh
Labels: TGUI, :guitar: Инструменты, Stale

#501 Fix translate (05.09.24)
  code/datums/mutations/sight.dm
  code/datums/quirks/positive_quirks/spacer.dm
  code/game/machinery/computer/communications.dm
  code/game/machinery/newscaster/newscaster_data.dm
  code/modules/antagonists/heretic/heretic_antag.dm
  code/modules/antagonists/heretic/heretic_knowledge.dm
  code/modules/antagonists/heretic/influences.dm
  code/modules/antagonists/heretic/knowledge/cosmic_lore.dm
  code/modules/antagonists/heretic/knowledge/lock_lore.dm
  code/modules/antagonists/heretic/knowledge/moon_lore.dm
  code/modules/antagonists/heretic/structures/lock_final.dm
  code/modules/events/aurora_caelus.dm
  code/modules/mob/living/basic/space_fauna/carp/carp.dm
  code/modules/modular_computers/file_system/programs/crewmanifest.dm
  code/modules/surgery/organ_manipulation.dm
  strings/antagonist_flavor/traitor_flavor.json
Labels: :pencil: Перевод, :wrench: Фикс

#508 Radio channels translate
  code/__DEFINES/radio.dm
  tgui/packages/tgui-say/constants.ts
  tgui/packages/tgui-say/styles/colors.scss
Labels: :pencil: Перевод, TGUI

#509 Fixes some translation to use declent_ru()
  code/datums/mood_events/generic_negative_events.dm
  code/datums/mood_events/generic_positive_events.dm
  code/game/machinery/civilian_bounties.dm
  code/modules/antagonists/changeling/powers/biodegrade.dm
  code/modules/antagonists/changeling/powers/defib_grasp.dm
  code/modules/antagonists/changeling/powers/mutations.dm
  code/modules/antagonists/changeling/powers/tiny_prick.dm
  code/modules/antagonists/changeling/powers/transform.dm
  code/modules/antagonists/heretic/heretic_living_heart.dm
  code/modules/antagonists/heretic/influences.dm
  code/modules/antagonists/heretic/knowledge/starting_lore.dm
  code/modules/antagonists/heretic/magic/madness_touch.dm
  code/modules/antagonists/heretic/structures/mawed_crucible.dm
  code/modules/antagonists/malf_ai/malf_ai_modules.dm
  code/modules/antagonists/pirate/pirate_shuttle_equipment.dm
  code/modules/antagonists/spy/spy_bounty.dm
  code/modules/antagonists/spy/spy_uplink.dm
  code/modules/antagonists/traitor/objectives/locate_weakpoint.dm
  code/modules/antagonists/wizard/equipment/spellbook_entries/_entry.dm
  code/modules/antagonists/wizard/equipment/spellbook_entries/assistance.dm
  code/modules/antagonists/wizard/equipment/spellbook_entries/defensive.dm
  code/modules/antagonists/wizard/equipment/wizard_spellbook.dm
  code/modules/experisci/experiment/handlers/experiment_handler.dm
  code/modules/mob/living/basic/space_fauna/space_dragon/space_dragon.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/silicon/ai/ai.dm
  code/modules/mod/modules/modules_ninja.dm
  code/modules/surgery/autopsy.dm
  code/modules/surgery/blood_filter.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/cavity_implant.dm
  code/modules/surgery/core_removal.dm
  code/modules/surgery/dental_implant.dm
  code/modules/surgery/implant_removal.dm
  code/modules/surgery/organ_manipulation.dm
  code/modules/surgery/plastic_surgery.dm
  code/modules/surgery/prosthetic_replacement.dm
  code/modules/surgery/revival.dm
  modular_bandastation/objects/code/weapons/ranged/awaymission_gun.dm
Labels: :pencil: Перевод, :wrench: Фикс

#511 More fixes to surgery translate
  code/datums/components/surgery_initiator.dm
  code/modules/surgery/amputation.dm
  code/modules/surgery/autopsy.dm
  code/modules/surgery/blood_filter.dm
  code/modules/surgery/bone_mending.dm
  code/modules/surgery/brain_surgery.dm
  code/modules/surgery/burn_dressing.dm
  code/modules/surgery/coronary_bypass.dm
  code/modules/surgery/dental_implant.dm
  code/modules/surgery/ear_surgery.dm
  code/modules/surgery/experimental_dissection.dm
  code/modules/surgery/eye_surgery.dm
  code/modules/surgery/gastrectomy.dm
  code/modules/surgery/healing.dm
  code/modules/surgery/hepatectomy.dm
  code/modules/surgery/limb_augmentation.dm
  code/modules/surgery/lipoplasty.dm
  code/modules/surgery/lobectomy.dm
  code/modules/surgery/mechanic_steps.dm
  code/modules/surgery/organ_manipulation.dm
  code/modules/surgery/organic_steps.dm
  code/modules/surgery/repair_puncture.dm
  code/modules/surgery/sleeper_protocol.dm
  code/modules/surgery/stomachpump.dm
  code/modules/surgery/surgery_step.dm
  modular_bandastation/medical/code/surgery/vocal_cords.dm
Labels: :pencil: Перевод

#512 Examine translate
  code/__DEFINES/mobs.dm
  code/__HELPERS/text.dm
  code/datums/elements/decals/blood.dm
  code/game/atom/atom_examine.dm
  code/game/machinery/_machinery.dm
  code/game/objects/items.dm
  code/game/objects/structures.dm
  code/game/turfs/closed/_closed.dm
  code/game/turfs/open/_open.dm
  code/modules/clothing/clothing.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/examine.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/unit_tests/surgeries.dm
Labels: :pencil: Перевод

#516 Examine tag translate and fixes
  code/game/atom/atom_examine.dm
  code/game/objects/items.dm
  code/game/objects/objs.dm
  code/modules/clothing/clothing.dm
  code/modules/mob/living/carbon/examine.dm
Labels: :pencil: Перевод

#518 More examine stuff
  code/__HELPERS/_lists.dm
  code/datums/elements/disarm_attack.dm
  code/game/objects/items/devices/radio/headset.dm
  code/game/objects/items/devices/radio/radio.dm
  code/modules/clothing/under/_under.dm
  code/modules/mob/living/carbon/carbon_context.dm
  code/modules/mob/living/carbon/examine.dm
  code/modules/mob/living/carbon/human/human_context.dm
  modular_bandastation/loadout/code/loadout_preference.dm
Labels: :pencil: Перевод

#523 Minor translates
  code/datums/ai/objects/vending_machines/vending_machine_behaviors.dm
  code/datums/mood.dm
  code/datums/mutations/body.dm
  code/datums/wounds/_wounds.dm
  code/game/atom/_atom.dm
  code/game/machinery/civilian_bounties.dm
  code/game/machinery/dna_infuser/organ_sets/rat_organs.dm
  code/game/objects/items.dm
  code/game/objects/objs.dm
  code/modules/antagonists/ninja/ninja_explosive.dm
  code/modules/mob/living/carbon/examine.dm
  tgui/packages/tgui/interfaces/common/Objectives.tsx
Labels: :pencil: Перевод, TGUI

#522 Declent bodyparts in surgery steps
  code/datums/components/surgery_initiator.dm
  code/modules/surgery/amputation.dm
  code/modules/surgery/bone_mending.dm
  code/modules/surgery/burn_dressing.dm
  code/modules/surgery/cavity_implant.dm
  code/modules/surgery/dental_implant.dm
  code/modules/surgery/implant_removal.dm
  code/modules/surgery/limb_augmentation.dm
  code/modules/surgery/lipoplasty.dm
  code/modules/surgery/mechanic_steps.dm
  code/modules/surgery/organ_manipulation.dm
  code/modules/surgery/organic_steps.dm
  code/modules/surgery/plastic_surgery.dm
  code/modules/surgery/prosthetic_replacement.dm
  code/modules/surgery/repair_puncture.dm
  code/modules/surgery/surgery_step.dm
Labels: :pencil: Перевод

#526 declents for crafting
  code/datums/components/crafting/crafting.dm
Labels: :pencil: Перевод

#524 Defense and buckle translate (and put translate)
  code/_onclick/cyborg.dm
  code/_onclick/hud/alert.dm
  code/_onclick/item_attack.dm
  code/datums/actions/mobs/charge.dm
  code/datums/components/tackle.dm
  code/datums/elements/damage_threshold.dm
  code/datums/elements/disarm_attack.dm
  code/datums/elements/high_fiver.dm
  code/datums/martial/boxing.dm
  code/datums/martial/cqc.dm
  code/datums/martial/krav_maga.dm
  code/datums/martial/mushpunch.dm
  code/datums/martial/plasma_fist.dm
  code/datums/martial/psychotic_brawl.dm
  code/datums/martial/sleeping_carp.dm
  code/datums/martial/wrestling.dm
  code/datums/mutations/hulk.dm
  code/datums/storage/storage.dm
  code/datums/storage/subtypes/extract_inventory.dm
  code/game/atoms_movable.dm
  code/game/machinery/_machinery.dm
  code/game/machinery/modular_shield.dm
  code/game/objects/buckling.dm
  code/game/objects/items.dm
  code/game/objects/items/hand_items.dm
  code/game/objects/items/storage/bags.dm
  code/game/objects/items/storage/garment.dm
  code/game/objects/obj_defense.dm
  code/game/objects/objs.dm
  code/modules/antagonists/heretic/knowledge/lock_lore.dm
  code/modules/mining/equipment/monster_organs/rush_gland.dm
  code/modules/mining/lavaland/megafauna_loot.dm
  code/modules/mob/living/basic/basic_defense.dm
  code/modules/mob/living/carbon/alien/adult/adult_defense.dm
  code/modules/mob/living/carbon/alien/alien_defense.dm
  code/modules/mob/living/carbon/alien/larva/larva_defense.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/examine.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/silicon/silicon_defense.dm
  code/modules/mob/living/simple_animal/animal_defense.dm
  code/modules/projectiles/projectile.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/bodyparts/head.dm
  code/modules/surgery/bodyparts/parts.dm
  code/modules/surgery/bodyparts/species_parts/ethereal_bodyparts.dm
  code/modules/surgery/organs/internal/cyberimp/augments_arms.dm
  code/modules/vehicles/cars/speedwagon.dm
  code/modules/vehicles/mecha/mech_melee_attack.dm
  code/modules/vehicles/motorized_wheelchair.dm
  code/modules/vehicles/scooter.dm
Labels: :pencil: Перевод

#529 Attack verbs translate
  code/_onclick/item_attack.dm
  code/game/objects/obj_defense.dm
  code/modules/mining/lavaland/megafauna_loot.dm
  code/modules/mob/living/basic/basic_defense.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/living_defense.dm
  code/modules/mob/living/simple_animal/animal_defense.dm
  code/modules/surgery/bodyparts/species_parts/ethereal_bodyparts.dm
Labels: :pencil: Перевод

#499 Фикс перевода эмоутов
  modular_bandastation/emote_panel/code/emotes.dm
Labels: :wrench: Фикс

#530 Grab toss translate
  code/datums/keybinding/mob.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/living.dm
Labels: :pencil: Перевод

#532 Translate upstream 08.10.24
  code/modules/admin/verbs/adminshuttle.dm
  code/modules/mob/living/basic/space_fauna/space_dragon/space_dragon.dm
  code/modules/mob/living/carbon/examine.dm
Labels: :pencil: Перевод, :wrench: Фикс

#535 Human translate
  code/datums/elements/strippable.dm
  code/datums/keybinding/human.dm
  code/datums/records/crime.dm
  code/game/objects/items.dm
  code/game/objects/items/stacks/sheets/sheet_types.dm
  code/game/objects/items/tools/weldingtool.dm
  code/modules/clothing/under/_under.dm
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/mob/living/carbon/examine.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/living/carbon/human/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/human_helpers.dm
  code/modules/mob/living/carbon/human/human_stripping.dm
  code/modules/mob/living/carbon/human/human_suicide.dm
  code/modules/mob/living/carbon/human/init_signals.dm
  code/modules/mob/living/carbon/human/inventory.dm
  code/modules/mob/living/carbon/human/login.dm
  code/modules/mob/living/carbon/human/monkey.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/silicon/death.dm
  code/modules/power/cable.dm
Labels: :pencil: Перевод

#536 Carbon and base alien translate
  code/__HELPERS/time.dm
  code/modules/mob/inventory.dm
  code/modules/mob/living/carbon/alien/adult/adult.dm
  code/modules/mob/living/carbon/alien/alien.dm
  code/modules/mob/living/carbon/alien/alien_say.dm
  code/modules/mob/living/carbon/alien/organs.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/mob/living/carbon/death.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/inventory.dm
  code/modules/mob/living/carbon/life.dm
  code/modules/mob/living/carbon/skillchip.dm
Labels: :pencil: Перевод

#537 Базова поддержка перевода Wound
  code/datums/wounds/_wounds.dm
  code/modules/mob/living/carbon/examine.dm
Labels: :pencil: Перевод

#538 Living TRANSLATE DONE
  code/__DEFINES/mobs.dm
  code/modules/antagonists/heretic/knowledge/lock_lore.dm
  code/modules/mob/living/blood.dm
  code/modules/mob/living/carbon/alien/adult/adult.dm
  code/modules/mob/living/death.dm
  code/modules/mob/living/inhand_holder.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/living_movement.dm
  code/modules/mob/living/living_say.dm
  code/modules/mob/living/navigation.dm
  code/modules/mob/living/taste.dm
  code/modules/mob/living/ventcrawling.dm
  code/modules/reagents/chemistry/holder/properties.dm
Labels: :pencil: Перевод

#541 Mob translate
  code/datums/diseases/transformation.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/pray.dm
  code/modules/admin/verbs/request_internet_sound.dm
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/client/verbs/ooc.dm
  code/modules/mob/emote.dm
  code/modules/mob/inventory.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_helpers.dm
  code/modules/mob/mob_movement.dm
  code/modules/mob/mob_say.dm
  code/modules/mob/transform_procs.dm
  modular_bandastation/communication/code/LOOC.dm
Labels: :pencil: Перевод

#542 storage transalte
  code/datums/storage/storage.dm
Labels: :pencil: Перевод

#545 use declents for voice
  code/game/say.dm
  code/modules/mob/living/carbon/alien/alien_say.dm
Labels: :pencil: Перевод, :wrench: Фикс

#549 Guns translate
  code/datums/brain_damage/mild.dm
  code/datums/components/bayonet_attachable.dm
  code/datums/components/seclight_attachable.dm
  code/datums/elements/slapcrafting.dm
  code/game/objects/items/toys.dm
  code/modules/antagonists/abductor/equipment/gear/abductor_items.dm
  code/modules/clothing/shoes/gunboots.dm
  code/modules/mob/living/carbon/human/human_suicide.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/ballistic/bows/_bow.dm
  code/modules/projectiles/guns/ballistic/launchers.dm
  code/modules/projectiles/guns/ballistic/pistol.dm
  code/modules/projectiles/guns/ballistic/revolver.dm
  code/modules/projectiles/guns/ballistic/rifle.dm
  code/modules/projectiles/guns/ballistic/shotgun.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/projectiles/guns/energy/kinetic_accelerator.dm
  code/modules/projectiles/guns/energy/recharge.dm
  code/modules/projectiles/guns/magic.dm
  code/modules/projectiles/guns/magic/wand.dm
  code/modules/projectiles/guns/special/syringe_gun.dm
  code/modules/projectiles/pins.dm
  code/modules/projectiles/projectile/magic.dm
Labels: :pencil: Перевод

#550 Fix gun translate
  code/datums/elements/slapcrafting.dm
  code/modules/projectiles/guns/ballistic.dm
Labels: :pencil: Перевод, :wrench: Фикс

#553 Fix translate 12.10.24
  code/modules/antagonists/heretic/magic/space_crawl.dm
  code/modules/mob/living/carbon/human/human.dm
Labels: :pencil: Перевод, :wrench: Фикс

#554 obj attackedby translate
  code/game/objects/objs.dm
Labels: :pencil: Перевод

#504 Продолжение перевода кухни
  code/datums/components/bakeable.dm
  code/modules/food_and_drinks/machinery/coffeemaker.dm
  code/modules/food_and_drinks/machinery/deep_fryer.dm
  code/modules/food_and_drinks/machinery/food_cart.dm
  code/modules/food_and_drinks/machinery/gibber.dm
  code/modules/food_and_drinks/machinery/griddle.dm
  code/modules/food_and_drinks/machinery/grill.dm
  code/modules/food_and_drinks/machinery/icecream_vat.dm
  code/modules/food_and_drinks/machinery/microwave.dm
  code/modules/food_and_drinks/machinery/monkeyrecycler.dm
  code/modules/food_and_drinks/machinery/oven.dm
  code/modules/food_and_drinks/machinery/processor.dm
  code/modules/food_and_drinks/machinery/smartfridge.dm
  code/modules/food_and_drinks/machinery/stove.dm
  code/modules/food_and_drinks/machinery/stove_component.dm
  code/modules/reagents/chemistry/machinery/chem_master.dm
  code/modules/reagents/chemistry/machinery/reagentgrinder.dm
  code/modules/reagents/reagent_containers/condiment.dm
Labels: :pencil: Перевод

#556 Fix translate
  code/__HELPERS/priority_announce.dm
  code/__HELPERS/text.dm
  code/game/atom/atom_examine.dm
  code/game/machinery/announcement_system.dm
  code/game/objects/items.dm
  code/modules/mob/living/carbon/examine.dm
  code/modules/mob/living/living.dm
  code/modules/security_levels/security_level_datums.dm
Labels: :pencil: Перевод, :wrench: Фикс

#559 Fix translate
  code/__HELPERS/priority_announce.dm
  code/modules/mob/living/carbon/examine.dm
Labels: :pencil: Перевод, :wrench: Фикс

#560 Translate orders
  code/modules/modular_computers/file_system/programs/dept_order.dm
Labels: :pencil: Перевод

#561 Minor translate fixes
  code/modules/mob/living/living_say.dm
  code/modules/power/singularity/narsie.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/operative_species.tsx
Labels: :pencil: Перевод, TGUI, :wrench: Фикс

#562 Translate stuff
  code/game/machinery/_machinery.dm
  code/game/machinery/barsigns.dm
  code/game/machinery/doors/poddoor.dm
  code/game/machinery/photobooth.dm
  code/game/machinery/suit_storage_unit.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/items/rcd/RPLD.dm
  code/game/objects/items/shields.dm
  code/game/objects/items/storage/lockbox.dm
  code/game/objects/obj_defense.dm
  code/game/objects/objs.dm
  code/game/objects/structures.dm
  code/game/objects/structures/crates_lockers/closets.dm
  code/modules/mob/living/basic/bots/_bots.dm
  code/modules/modular_computers/computers/item/computer.dm
  code/modules/plumbing/plumbers/_plumb_machinery.dm
  code/modules/power/apc/apc_tool_act.dm
  code/modules/power/floodlight.dm
  code/modules/power/tesla/coil.dm
  code/modules/power/turbine/turbine.dm
  code/modules/projectiles/gun.dm
  code/modules/research/server_control.dm
  code/modules/transport/elevator/elev_panel.dm
  code/modules/transport/tram/tram_controller.dm
  code/modules/vehicles/_vehicle.dm
  code/modules/vehicles/mecha/mecha_defense.dm
Labels: :pencil: Перевод

#565 fix announcement translate
  code/__HELPERS/priority_announce.dm
  code/game/machinery/computer/communications.dm
Labels: :pencil: Перевод, :wrench: Фикс

#567 i forgor
  tgui/packages/tgui-say/constants.ts
Labels: :pencil: Перевод, TGUI, :wrench: Фикс

#572 ПЕРЕВОДЧИК: Инструкции для юных воришек.
  code/game/objects/items/theft_tools.dm
Labels: :pencil: Перевод

#574 Wrong type fix
  code/modules/mob/living/carbon/human/human.dm
Labels: :pencil: Перевод, :wrench: Фикс

#577 Стандартизация "ушиб-рана-травма"
  code/datums/components/surgery_initiator.dm
  code/datums/quirks/negative_quirks/frail.dm
  code/datums/quirks/positive_quirks/drunk_healing.dm
  code/datums/wounds/_wounds.dm
  code/modules/antagonists/changeling/powers/fleshmend.dm
  code/modules/antagonists/heretic/knowledge/blade_lore.dm
  code/modules/antagonists/heretic/knowledge/side_lock_flesh.dm
  code/modules/antagonists/heretic/magic/apetravulnera.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/carbon/human/species_types/plasmamen.dm
  code/modules/surgery/healing.dm
Labels: :pencil: Перевод

#578 Fix translate 14.10.24
  code/datums/mutations/hot.dm
  code/modules/mob/living/carbon/inventory.dm
Labels: :pencil: Перевод, :wrench: Фикс

#575 Перевод травм - общее
  code/datums/wounds/bones.dm
  code/datums/wounds/burns.dm
  code/datums/wounds/cranial_fissure.dm
  code/datums/wounds/loss.dm
  code/datums/wounds/pierce.dm
  code/datums/wounds/slash.dm
  code/game/objects/items/devices/scanners/health_analyzer.dm
Labels: :pencil: Перевод

#580 Captains spare as Капитан
  code/game/objects/items/cardboard_cutouts.dm
  code/game/objects/items/cards_ids.dm
Labels: :pencil: Перевод

#582 Better mag swap translate
  code/modules/projectiles/guns/ballistic.dm
Labels: :pencil: Перевод

#547 Перевод: Расширенные травмы
  code/datums/wounds/bones.dm
  code/datums/wounds/burns.dm
  code/datums/wounds/cranial_fissure.dm
  code/datums/wounds/loss.dm
  code/datums/wounds/pierce.dm
  code/datums/wounds/slash.dm
Labels: :pencil: Перевод

#579 Better translate suggest
  config/bandastation/bandastation_config.txt
  modular_bandastation/translations/code/translate_suggest_ru_names.dm
  tgui/packages/tgui/interfaces/RuNamesReviewPanel.jsx
  tgui/packages/tgui/interfaces/RuNamesSuggestPanel.jsx
Labels: TGUI, :floppy_disk: Изменение конфига

#583 Better text for bleeding examine
  code/modules/mob/living/carbon/examine.dm
Labels: :pencil: Перевод, :wrench: Фикс

#584 Fix suggest with identical inputs
  modular_bandastation/translations/code/translate_suggest_ru_names.dm
Labels: :wrench: Фикс

#591 Update master for translate
  code/__DEFINES/text.dm
  code/datums/components/food/edible.dm
  modular_bandastation/translations/_translations.dme
  modular_bandastation/translations/code/translate_eat_verb.dm
  modular_bandastation/translations/code/translate_say.dm
  modular_bandastation/translations/code/translate_security_level.dm
Labels: :wrench: Фикс

#592 More translate stuff
  code/__DEFINES/food.dm
  code/__HELPERS/priority_announce.dm
  code/datums/components/food/edible.dm
  code/datums/mood_events/food_events.dm
  code/game/objects/buckling.dm
  code/game/objects/structures/ladders.dm
  code/game/say.dm
  code/modules/clothing/under/_under.dm
  code/modules/mob/living/basic/basic.dm
  code/modules/mob/living/carbon/human/human_defense.dm
  code/modules/mob/living/carbon/human/human_say.dm
  code/modules/mob/living/living_say.dm
  code/modules/mob/living/simple_animal/simple_animal.dm
  code/modules/security_levels/security_level_datums.dm
  modular_bandastation/translations/code/translate_eat_verb.dm
Labels: :pencil: Перевод, :wrench: Фикс

#593 Minor translate change (forgot to commit to previous)
  code/datums/components/food/edible.dm
  code/modules/clothing/under/_under.dm
Labels: :pencil: Перевод, :wrench: Фикс

#596 Fix translate 18.10.24
  code/game/objects/items/chainsaw.dm
  code/modules/antagonists/heretic/items/heretic_blades.dm
  code/modules/antagonists/heretic/knowledge/blade_lore.dm
  code/modules/antagonists/heretic/knowledge/side_blade_rust.dm
  code/modules/antagonists/heretic/structures/mawed_crucible.dm
  code/modules/experisci/experiment/types/scanning_fish.dm
  code/modules/mob/living/carbon/alien/adult/adult.dm
  tgui/packages/tgui/interfaces/Uplink/calculateDangerLevel.tsx
  tgui/packages/tgui/interfaces/Uplink/index.tsx
Labels: :pencil: Перевод, TGUI, :wrench: Фикс

#595 Translate: Ritual invocations
  code/modules/religion/festival/instrument_rites.dm
  code/modules/religion/honorbound/honorbound_rites.dm
  code/modules/religion/pyre/pyre_rites.dm
  code/modules/religion/rites.dm
Labels: :pencil: Перевод

#598 Translate vendor slogans & ads
  code/modules/mapfluff/ruins/lavalandruin_code/syndicate_base.dm
  code/modules/vending/_vending.dm
  code/modules/vending/autodrobe.dm
  code/modules/vending/cartridge.dm
  code/modules/vending/clothesmate.dm
  code/modules/vending/cola.dm
  code/modules/vending/cytopro.dm
  code/modules/vending/donk.dm
  code/modules/vending/liberation_toy.dm
  code/modules/vending/magivend.dm
  code/modules/vending/runic_vendor.dm
  code/modules/vending/wardrobes.dm
Labels: :pencil: Перевод

#599 revert radio aesthetics
  modular_bandastation/aesthetics/radio/code/radio.dm
Labels: :wrench: Фикс

#602 Improve Icebox detective's office
  _maps/bandastation/automapper/automapper_config.toml
  _maps/bandastation/automapper/templates/iceboxstation/iceboxstation_detective_office.dmm
Labels: :world_map: Изменение Карты

#604 they're dead! fix
  code/modules/mob/living/carbon/human/human.dm
Labels: :pencil: Перевод, :wrench: Фикс

#600 Translate scanner gate detections
  code/__DEFINES/diseases.dm
  code/game/machinery/scanner_gate.dm
Labels: :pencil: Перевод

#611 Fix translate 24.10.24
  code/datums/components/food/edible.dm
  code/datums/quirks/negative_quirks/blindness.dm
  code/modules/antagonists/heretic/heretic_antag.dm
  code/modules/mob/living/carbon/examine.dm
Labels: :pencil: Перевод, :wrench: Фикс

#612 Some fixes + remove tts from entertainment
  modular_bandastation/aesthetics/airalarm/code/airalarm.dm
  modular_bandastation/aesthetics/apc/code/apc.dm
  modular_bandastation/aesthetics/blastdoor/code/blastdoor.dm
  modular_bandastation/aesthetics/cameras/code/cameras.dm
  modular_bandastation/aesthetics/disposal/code/disposal.dm
  modular_bandastation/aesthetics/keycard_auth/code/keycard_auth.dm
  modular_bandastation/aesthetics/lightswitch/code/lightswitch.dm
  modular_bandastation/aesthetics/radio/code/radio.dm
  modular_bandastation/automapper/code/area_spawn_subsystem.dm
  modular_bandastation/tts/code/hear.dm
Labels: :wrench: Фикс

#615 Fix translate upstream 25.10.24
  code/__HELPERS/text.dm
  code/datums/mutations/touch.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/taste.dm
Labels: :pencil: Перевод, :wrench: Фикс

#622 Fix translate upstream 26.10.24
  code/__DEFINES/mobs.dm
  code/modules/jobs/job_types/_job.dm
  code/modules/mob/living/carbon/examine.dm
Labels: :pencil: Перевод, :wrench: Фикс

#624 Fix declented initial value if it doesn't exist
  code/datums/components/bakeable.dm
  code/datums/components/crafting/crafting.dm
  code/datums/elements/slapcrafting.dm
  code/datums/storage/storage.dm
  code/modules/antagonists/traitor/objectives/steal.dm
  code/modules/food_and_drinks/machinery/stove.dm
  code/modules/mob/living/carbon/alien/alien.dm
Labels: :pencil: Перевод, :wrench: Фикс

#625 Update examine panel a bit
  modular_bandastation/examine_panel/code/examine_panel_component.dm
  modular_bandastation/examine_panel/code/examine_panel_mob.dm
  tgui/packages/tgui/interfaces/ExaminePanel.tsx
Labels: TGUI, :wrench: Фикс

#619 Feat: send interviews to discord
  config/bandastation/bandastation_config.txt
  modular_bandastation/whitelist220/code/whitelist220.dm
Labels: :floppy_disk: Изменение конфига

#331 Gamma, Epsilon с Парадиза
  config/game_options.txt
  modular_bandastation/modular_bandastation.dme
  modular_bandastation/security_levels/_security_levels.dm
  modular_bandastation/security_levels/_security_levels.dme
  modular_bandastation/security_levels/code/fire_alarm.dm
  modular_bandastation/security_levels/code/security_level_datums.dm
  modular_bandastation/security_levels/code/status_display.dm
  modular_bandastation/security_levels/icons/fire_alarm.dmi
  modular_bandastation/security_levels/icons/status_display.dmi
  modular_bandastation/security_levels/sound/epsilon.ogg
  modular_bandastation/security_levels/sound/new_siren.ogg
Labels: Do Not Merge, :sound: Звук, :paintbrush: Спрайты, :floppy_disk: Изменение конфига, :wrench: Фикс, RED LABEL

#628 fix typo
  code/modules/mob/living/carbon/human/human.dm
Labels: :pencil: Перевод

#631 Fix radio prefix + non-radio prefxixes
  modular_bandastation/translations/_translations.dme
  modular_bandastation/translations/code/saymode.dm
  tgui/packages/tgui-say/constants.ts
  tgui/packages/tgui-say/styles/colors.scss
Labels: TGUI, :wrench: Фикс

#632 Fix translate upstream 30.10.24
  code/datums/quirks/negative_quirks/prosthetic_organ.dm
  code/game/machinery/dna_infuser/organ_sets/rat_organs.dm
  code/modules/mob/living/carbon/carbon_context.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/examine.dm
  code/modules/mob/living/carbon/human/death.dm
  code/modules/mob/mob.dm
  code/modules/surgery/eye_surgery.dm
Labels: :pencil: Перевод, :wrench: Фикс
