Repository ss220club/BandaStation, pull requests merged in 2024-08, with the labels that each got.

#479 Merge upstream [02.08.2024]
  code/__DEFINES/uplink.dm
  code/_onclick/hud/radial.dm
  code/datums/components/callouts.dm
  code/datums/components/uplink.dm
  code/game/objects/effects/particles/fire.dm
  code/game/objects/effects/particles/smoke.dm
  code/game/objects/items/tools/weldingtool.dm
  code/game/objects/structures/tables_racks.dm
  code/modules/admin/verbs/lua/lua_editor.dm
  code/modules/admin/verbs/lua/lua_state.dm
  code/modules/antagonists/traitor/uplink_handler.dm
  code/modules/asset_cache/assets/uplink.dm
  code/modules/bitrunning/components/avatar_connection.dm
  code/modules/cargo/supplypod.dm
  code/modules/fishing/sources/_fish_source.dm
  code/modules/mob/living/silicon/robot/death.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/living/silicon/robot/robot_defense.dm
  code/modules/mob/living/silicon/robot/robot_defines.dm
  code/modules/mod/mod_control.dm
  code/modules/power/cable.dm
  code/modules/uplink/uplink_items/bundle.dm
  html/changelogs/AutoChangeLog-pr-85443.yml
  html/changelogs/AutoChangeLog-pr-85445.yml
  html/changelogs/AutoChangeLog-pr-85448.yml
  html/changelogs/AutoChangeLog-pr-85454.yml
  html/changelogs/AutoChangeLog-pr-85457.yml
  html/changelogs/AutoChangeLog-pr-85462.yml
  html/changelogs/archive/2024-08.yml
  icons/mob/silicon/robots.dmi
  tgui/packages/tgui/interfaces/AntagInfoMalf.tsx
  tgui/packages/tgui/interfaces/LuaEditor/Log.tsx
  tgui/packages/tgui/interfaces/LuaEditor/index.tsx
  tgui/packages/tgui/interfaces/LuaEditor/types.ts
  tgui/packages/tgui/interfaces/Uplink/GenericUplink.tsx
  tgui/packages/tgui/interfaces/Uplink/PrimaryObjectiveMenu.tsx
  tgui/packages/tgui/interfaces/Uplink/calculateDangerLevel.tsx
  tgui/packages/tgui/interfaces/Uplink/index.tsx
Labels: TGUI, :paintbrush: Спрайты, :pray: Слияние с восходящим потоком

#480 Fix translate [02.08.2024]
  code/game/objects/items/implants/implantuplink.dm
  tgui/packages/tgui/interfaces/Uplink/GenericUplink.tsx
  tgui/packages/tgui/interfaces/Uplink/PrimaryObjectiveMenu.tsx
  tgui/packages/tgui/interfaces/Uplink/index.tsx
Labels: :pencil: Перевод, TGUI, :wrench: Фикс

#484 Merge upstream [05.08.2024]
  _maps/safehouses/bathroom.dmm
  _maps/safehouses/den.dmm
  _maps/safehouses/dig.dmm
  _maps/safehouses/ice.dmm
  _maps/safehouses/lavaland_boss.dmm
  _maps/safehouses/mine.dmm
  _maps/safehouses/shuttle.dmm
  _maps/safehouses/shuttle_space.dmm
  _maps/safehouses/wood.dmm
  _maps/virtual_domains/island_brawl.dmm
  code/__HELPERS/_dreamluau.dm
  code/datums/components/uplink.dm
  code/datums/elements/pet_collar.dm
  code/datums/elements/pet_cult.dm
  code/game/objects/items/knives.dm
  code/game/objects/items/tools/crowbar.dm
  code/modules/admin/verbs/lua/lua_state.dm
  code/modules/bitrunning/turfs.dm
  code/modules/clothing/spacesuits/plasmamen.dm
  code/modules/jobs/job_types/assistant/gimmick_assistants.dm
  code/modules/loadout/categories/pocket.dm
  code/modules/mob/living/basic/lavaland/lobstrosity/lobstrosity.dm
  code/modules/mob/living/basic/lavaland/lobstrosity/lobstrosity_ai.dm
  code/modules/mob/living/basic/pets/cat/cat.dm
  code/modules/mob/living/basic/pets/dog/_dog.dm
  code/modules/mob/living/basic/pets/dog/corgi.dm
  code/modules/mob/living/basic/pets/dog/strippable_items.dm
  code/modules/mob/living/basic/pets/fox.dm
  code/modules/mob/living/basic/pets/penguin.dm
  code/modules/mob/living/basic/pets/pet.dm
  code/modules/mob/living/basic/pets/pet_cult/pet_cult.dm
  code/modules/mob/living/carbon/alien/alien_defense.dm
  code/modules/mob/living/carbon/human/_species.dm
  code/modules/mob/living/silicon/ai/ai_defense.dm
  code/modules/mob/living/silicon/silicon_defense.dm
  code/modules/mob/living/simple_animal/animal_defense.dm
  code/modules/surgery/revival.dm
  code/modules/transport/elevator/elev_music_zone.dm
  code/modules/vehicles/mecha/equipment/tools/work_tools.dm
  html/changelogs/AutoChangeLog-pr-85290.yml
  html/changelogs/AutoChangeLog-pr-85473.yml
  html/changelogs/AutoChangeLog-pr-85490.yml
  html/changelogs/AutoChangeLog-pr-85537.yml
  html/changelogs/AutoChangeLog-pr-85541.yml
  html/changelogs/archive/2024-08.yml
  icons/mob/clothing/belt.dmi
  icons/mob/clothing/belt_mirror.dmi
  icons/mob/clothing/mask.dmi
  modular_bandastation/loadout/code/categories/pocket.dm
  tgstation.dme
Labels: :paintbrush: Спрайты, :world_map: Изменение Карты, :pray: Слияние с восходящим потоком

#475 Awaymission aeg port
  modular_bandastation/objects/_objects.dme
  modular_bandastation/objects/code/weapons/ranged/awaymission_gun.dm
  modular_bandastation/objects/icons/guns.dmi
  modular_bandastation/objects/icons/inhands/guns_lefthand.dmi
  modular_bandastation/objects/icons/inhands/guns_righthand.dmi
Labels: :paintbrush: Спрайты

#431 Update detect translation conflicts action
  .github/workflows/detect_translate_conflicts.yml
Labels: :guitar: Инструменты

#467 Напитки с парадиза
  modular_bandastation/drinks/_drinks.dm
  modular_bandastation/drinks/_drinks.dme
  modular_bandastation/drinks/code/drinks.dm
  modular_bandastation/drinks/icons/drinks.dmi
  modular_bandastation/modular_bandastation.dme
  modular_bandastation/objects/_objects.dme
  modular_bandastation/objects/code/consumables/customer_data.dm
  modular_bandastation/objects/code/consumables/drinks.dm
  modular_bandastation/objects/icons/chemical_tanks.dmi
  modular_bandastation/objects/icons/drinks.dmi
Labels: :paintbrush: Спрайты, RED LABEL

#485 новая зона для эвакуации экипажа
  _maps/bandastation/automapper/automapper_config.toml
  _maps/bandastation/automapper/templates/centcom/CentCom.dmm
  _maps/map_files/generic/CentCom.dmm
  modular_bandastation/aesthetics/decals/code/floor_decals.dm
  modular_bandastation/aesthetics/decals/icons/nanotrasen_logo.dmi
  modular_bandastation/mapping/code/areas/station.dm
Labels: :paintbrush: Спрайты, :world_map: Изменение Карты, RED LABEL
