Repository ss220club/BandaStation, pull requests merged in 2024-12, with the labels that each got.

#831 Merge upstream 02.12.24
  code/__DEFINES/dcs/signals/signals_shuttle.dm
  code/__DEFINES/mobs.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/controllers/subsystem/processing/fishing.dm
  code/datums/components/tether.dm
  code/datums/looping_sounds/projectiles.dm
  code/game/objects/effects/step_triggers.dm
  code/game/objects/items/food/misc.dm
  code/game/objects/items/puzzle_pieces.dm
  code/game/objects/structures/grille.dm
  code/game/objects/structures/window.dm
  code/modules/awaymissions/mission_code/murderdome.dm
  code/modules/clothing/under/jobs/centcom.dm
  code/modules/fishing/fishing_rod.dm
  code/modules/fishing/sources/source_types.dm
  code/modules/mapfluff/ruins/objects_and_mobs/museum.dm
  code/modules/mining/laborcamp/laborstacker.dm
  code/modules/mod/modules/modules_engineering.dm
  code/modules/paperwork/paper.dm
  code/modules/projectiles/projectile.dm
  code/modules/reagents/chemistry/reagents/drinks/alcohol_reagents.dm
  code/modules/shuttle/shuttle.dm
  code/modules/shuttle/supply.dm
  code/modules/vehicles/mecha/_mecha.dm
  code/modules/vehicles/mecha/equipment/tools/mining_tools.dm
  html/changelogs/AutoChangeLog-pr-87747.yml
  html/changelogs/AutoChangeLog-pr-88196.yml
  html/changelogs/AutoChangeLog-pr-88263.yml
  html/changelogs/AutoChangeLog-pr-88264.yml
  html/changelogs/AutoChangeLog-pr-88270.yml
  html/changelogs/AutoChangeLog-pr-88271.yml
  html/changelogs/AutoChangeLog-pr-88273.yml
  html/changelogs/AutoChangeLog-pr-88280.yml
  html/changelogs/AutoChangeLog-pr-88287.yml
  html/changelogs/AutoChangeLog-pr-88289.yml
  html/changelogs/AutoChangeLog-pr-88294.yml
  html/changelogs/AutoChangeLog-pr-88296.yml
  html/changelogs/AutoChangeLog-pr-88297.yml
  html/changelogs/AutoChangeLog-pr-88298.yml
  html/changelogs/AutoChangeLog-pr-88299.yml
  html/changelogs/AutoChangeLog-pr-88301.yml
  html/changelogs/AutoChangeLog-pr-88304.yml
  html/changelogs/archive/2024-12.yml
  icons/obj/clothing/modsuit/mod_modules.dmi
  icons/obj/fishing.dmi
  icons/obj/signs.dmi
  tgstation.dme
Labels: :paintbrush: Спрайты, :pray: Слияние с восходящим потоком

#832 Remove blue buttons from loadout
  tgui/packages/tgui/bandastation/ImageButton.scss
  tgui/packages/tgui/bandastation/ImageButton.tsx
  tgui/packages/tgui/bandastation/ItemDisplay220.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/loadout/ItemDisplay.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/loadout/base.ts
Labels: TGUI

#838 Merge upstream 03.12.24
  code/__HELPERS/logging/attack.dm
  code/datums/components/parry.dm
  code/datums/quirks/negative_quirks/addict.dm
  code/datums/status_effects/debuffs/debuffs.dm
  code/game/objects/items/devices/broadcast_camera.dm
  code/game/objects/structures/plaques/static_plaques.dm
  code/modules/atmospherics/machinery/air_alarm/_air_alarm.dm
  code/modules/escape_menu/leave_body.dm
  code/modules/mapfluff/ruins/spaceruin_code/hilbertshotel.dm
  code/modules/mob/living/carbon/emote.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mod/modules/modules_antag.dm
  code/modules/research/techweb/nodes/alien_nodes.dm
  code/modules/research/xenobiology/crossbreeding/_potions.dm
  code/modules/research/xenobiology/xenobiology.dm
  code/modules/uplink/uplink_items/suits.dm
  html/changelogs/AutoChangeLog-pr-88190.yml
  html/changelogs/AutoChangeLog-pr-88196.yml
  html/changelogs/AutoChangeLog-pr-88211.yml
  html/changelogs/AutoChangeLog-pr-88280.yml
  html/changelogs/AutoChangeLog-pr-88287.yml
  html/changelogs/AutoChangeLog-pr-88289.yml
  html/changelogs/AutoChangeLog-pr-88294.yml
  html/changelogs/AutoChangeLog-pr-88296.yml
  html/changelogs/AutoChangeLog-pr-88297.yml
  html/changelogs/AutoChangeLog-pr-88298.yml
  html/changelogs/AutoChangeLog-pr-88299.yml
  html/changelogs/AutoChangeLog-pr-88301.yml
  html/changelogs/AutoChangeLog-pr-88304.yml
  html/changelogs/archive/2024-12.yml
  icons/mob/actions/actions_silicon.dmi
  icons/obj/medical/chemical.dmi
  icons/obj/signs.dmi
Labels: :paintbrush: Спрайты, :pray: Слияние с восходящим потоком

#843 BoxStation fixes
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: :world_map: Изменение Карты, :wrench: Фикс

#846 Fix translate 05.12.24
  code/datums/wounds/bones.dm
  code/datums/wounds/pierce.dm
  code/datums/wounds/slash.dm
Labels: :pencil: Перевод, :wrench: Фикс

#845 Перевод сообщения при изучении
  code/game/machinery/announcement_system.dm
Labels: :pencil: Перевод

#848 Merge upstream 06.12.24
  .github/workflows/generate_documentation.yml
  code/__DEFINES/say.dm
  code/__DEFINES/shuttles.dm
  code/__HELPERS/shuttle.dm
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/devices/taperecorder.dm
  code/game/objects/items/inducer.dm
  code/game/objects/items/robot/robot_upgrades.dm
  code/modules/lost_crew/recovered_crew.dm
  code/modules/mapfluff/ruins/spaceruin_code/meateor.dm
  code/modules/mob/living/silicon/silicon.dm
  code/modules/reagents/reagent_containers/cups/_cup.dm
  code/modules/reagents/reagent_containers/cups/glassbottle.dm
  code/modules/shuttle/emergency.dm
  code/modules/shuttle/misc/manipulator.dm
  code/modules/shuttle/misc/medisim.dm
  code/modules/shuttle/misc/ripple.dm
  code/modules/shuttle/misc/spaceship_navigation_beacon.dm
  code/modules/shuttle/misc/special.dm
  code/modules/shuttle/mobile_port/mobile_port.dm
  code/modules/shuttle/mobile_port/shuttle_move.dm
  code/modules/shuttle/mobile_port/shuttle_move_callbacks.dm
  code/modules/shuttle/mobile_port/shuttle_rotate_callbacks.dm
  code/modules/shuttle/mobile_port/variants/arrivals.dm
  code/modules/shuttle/mobile_port/variants/assault_pod.dm
  code/modules/shuttle/mobile_port/variants/battlecruiser_starfury.dm
  code/modules/shuttle/mobile_port/variants/elevator.dm
  code/modules/shuttle/mobile_port/variants/emergency/emergency.dm
  code/modules/shuttle/mobile_port/variants/emergency/emergency_console.dm
  code/modules/shuttle/mobile_port/variants/emergency/emergency_types.dm
  code/modules/shuttle/mobile_port/variants/emergency/pods.dm
  code/modules/shuttle/mobile_port/variants/ferry.dm
  code/modules/shuttle/mobile_port/variants/infiltrator.dm
  code/modules/shuttle/mobile_port/variants/supply.dm
  code/modules/shuttle/shuttle.dm
  code/modules/shuttle/shuttle_consoles/monastery.dm
  code/modules/shuttle/shuttle_consoles/navigation_computer.dm
  code/modules/shuttle/shuttle_consoles/shuttle_console.dm
  code/modules/shuttle/shuttle_consoles/syndicate.dm
  code/modules/shuttle/shuttle_consoles/white_ship.dm
  code/modules/shuttle/stationary_port/port_types.dm
  code/modules/shuttle/stationary_port/stationary_port.dm
  html/changelogs/AutoChangeLog-pr-87799.yml
  html/changelogs/AutoChangeLog-pr-88250.yml
  html/changelogs/AutoChangeLog-pr-88285.yml
  html/changelogs/AutoChangeLog-pr-88316.yml
  html/changelogs/AutoChangeLog-pr-88335.yml
  html/changelogs/AutoChangeLog-pr-88345.yml
  html/changelogs/AutoChangeLog-pr-88349.yml
  html/changelogs/AutoChangeLog-pr-88350.yml
  html/changelogs/AutoChangeLog-pr-88355.yml
  html/changelogs/archive/2024-12.yml
  tgstation.dme
Labels: :pray: Слияние с восходящим потоком

#850 replace narsie summon sounds
  code/modules/antagonists/cult/runes.dm
  code/modules/power/singularity/narsie.dm
  modular_bandastation/aesthetics_sounds/sound/narsie/narsie_risen.ogg
  modular_bandastation/aesthetics_sounds/sound/narsie/narsie_summon.ogg
Labels: :sound: Звук

#853 count real round time, show ready players to everyone, show players in round all the time
  code/controllers/subsystem/statpanel.dm
  code/modules/mob/dead/dead.dm
Labels: :shipit: Улучшение

#852 adds vote for crew transfer and automatic crew transfer subsystem
  config/bandastation/bandastation_config.txt
  modular_bandastation/automatic_crew_transfer/_automatic_crew_transfer.dm
  modular_bandastation/automatic_crew_transfer/_automatic_crew_transfer.dme
  modular_bandastation/automatic_crew_transfer/code/automatic_transfer_configuration.dm
  modular_bandastation/automatic_crew_transfer/code/automatic_transfer_subsystem.dm
  modular_bandastation/automatic_crew_transfer/code/crew_tranfer_vote.dm
  modular_bandastation/modular_bandastation.dme
Labels: :floppy_disk: Изменение конфига

#857 simplify `automatic_transfer_subsystem` by removing timer usage
  modular_bandastation/automatic_crew_transfer/code/automatic_transfer_subsystem.dm
  modular_bandastation/automatic_crew_transfer/code/crew_tranfer_vote.dm
Labels: :wrench: Фикс

#858 add proper lobby/round time to ESC menu
  code/modules/escape_menu/details.dm
Labels: :wrench: Фикс

#815 Add: Syndicate Central Command & UpdatePaths script for conversion
  _maps/shuttles/ss220/infiltrator_basic.dmm
  _maps/shuttles/ss220/sit_basic.dmm
  _maps/shuttles/ss220/sst_basic.dmm
  _maps/templates/lazy_templates/ss220/syndie_cc.dmm
  code/__DEFINES/access.dm
  code/game/atom/_atom.dm
  modular_bandastation/mapping/_mapping.dme
  modular_bandastation/mapping/code/areas/off_station.dm
  modular_bandastation/mapping/code/areas/station.dm
  modular_bandastation/mapping/code/landmarks.dm
  modular_bandastation/mapping/code/templates.dm
  modular_bandastation/mapping/icons/areas/areas_centcom.dmi
  modular_bandastation/mobs/_mobs.dm
  modular_bandastation/mobs/_mobs.dme
  modular_bandastation/mobs/icons/dummies.dmi
  modular_bandastation/modular_bandastation.dme
  modular_bandastation/objects/_objects.dme
  modular_bandastation/objects/code/effects/turf_decal.dm
  modular_bandastation/objects/code/items/banners.dm
  modular_bandastation/objects/code/machinery/photocopier.dm
  modular_bandastation/objects/code/shuttles.dm
  modular_bandastation/objects/code/structures/chairs.dm
  modular_bandastation/objects/code/structures/statues.dm
  modular_bandastation/objects/icons/inhands/banners_lefthand.dmi
  modular_bandastation/objects/icons/inhands/banners_righthand.dmi
  modular_bandastation/objects/icons/inhands/chairs_lefthand.dmi
  modular_bandastation/objects/icons/inhands/chairs_righthand.dmi
  modular_bandastation/objects/icons/obj/effects/logos.dmi
  modular_bandastation/objects/icons/obj/effects/siding.dmi
  modular_bandastation/objects/icons/obj/items/banner.dmi
  modular_bandastation/objects/icons/obj/machines/photocopier.dmi
  modular_bandastation/objects/icons/obj/structures/chairs.dmi
  modular_bandastation/objects/icons/obj/structures/statuelarge.dmi
  modular_bandastation/outfits/_outfits.dm
  modular_bandastation/outfits/_outfits.dme
  modular_bandastation/outfits/code/syndicate.dm
  tools/UpdatePaths/Scripts/ss220/815_convertmap_paradise_to_tg.txt
Labels: :paintbrush: Спрайты, :world_map: Изменение Карты, :guitar: Инструменты, RED LABEL

#859 (Тест) Перестройка Карго
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: :world_map: Изменение Карты

#867 Change MediaWiki api link and scale AutoWiki icons
  code/modules/autowiki/pages/base.dm
  tools/autowiki/autowiki.js
Labels: :guitar: Инструменты

#873 Remove lights from highsec doors
  modular_bandastation/aesthetics/airlocks/code/airlock.dm
Labels: :wrench: Фикс

#876 README.md adaptation
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
Labels: :neckbeard: Документация

#878 Fix painted windows overlay
  modular_bandastation/aesthetics/windows/code/full_tile_windows.dm
Labels: :wrench: Фикс

#879 Add: Privacy shutters for clown and mime office on Cyberiad
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: :world_map: Изменение Карты

#872 Минорные фиксы Кибериады
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: :world_map: Изменение Карты

#880 Cyberiad: Minor fixes and improves
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: :world_map: Изменение Карты, :wrench: Фикс

#886 Fix: Airlocks photo & note overlays
  modular_bandastation/aesthetics/airlocks/icons/external/overlays.dmi
  modular_bandastation/aesthetics/airlocks/icons/glass_large/overlays.dmi
  modular_bandastation/aesthetics/airlocks/icons/hatch/overlays.dmi
  modular_bandastation/aesthetics/airlocks/icons/station/overlays.dmi
Labels: :paintbrush: Спрайты, :wrench: Фикс

#889 Add: True Corporate airlock
  modular_bandastation/aesthetics/airlocks/code/airlock_assembly_types.dm
  modular_bandastation/aesthetics/airlocks/code/airlock_types.dm
  modular_bandastation/aesthetics/airlocks/icons/station/corporate.dmi
  modular_bandastation/aesthetics/airlocks/icons/station/lawyer.dmi
Labels: :paintbrush: Спрайты

#892 fix: Renderer nanomap
  icons/_nanomaps/NorthStar_nanomap_z1.png
  icons/_nanomaps/NorthStar_nanomap_z2.png
  icons/_nanomaps/NorthStar_nanomap_z3.png
  icons/_nanomaps/NorthStar_nanomap_z4.png
  modular_bandastation/nanomap/code/nanomaps_asset.dm
  tools/nanomap_renderer/nanomap-renderer-invoker.sh
Labels: :guitar: Инструменты, :wrench: Фикс

#893 Tweak: Detective Scanner
  code/modules/detectivework/scanner.dm
Labels: :shipit: Улучшение

#899 Изменения бара
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: :world_map: Изменение Карты

#902 refactor tts to use middleware and constant data
  modular_bandastation/tts/_tts.dme
  modular_bandastation/tts/code/preferences/tts_preference_middleware.dm
  modular_bandastation/tts/code/preferences/tts_preferences.dm
  modular_bandastation/tts/code/tts_preferences.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/VoicePage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/data.ts
Labels: TGUI

#905 Fix names with `yo`
  code/__HELPERS/text.dm
Labels: :wrench: Фикс

#888 Новые причёски и рога
  modular_bandastation/modular_bandastation.dme
  modular_bandastation/species/_species.dm
  modular_bandastation/species/_species.dme
  modular_bandastation/species/code/lizardperson/sprite_accesories/hair.dm
  modular_bandastation/species/icons/lizardperson/frills.dmi
  modular_bandastation/species/icons/lizardperson/horns.dmi
Labels: :paintbrush: Спрайты

#911 Translation fix after [Merge Upstream 25.12.2024]
  code/datums/components/pet_commands/pet_commands_basic.dm
  code/datums/elements/slapcrafting.dm
  code/datums/elements/weapon_description.dm
  code/datums/mood.dm
  code/modules/admin/antag_panel.dm
  code/modules/admin/verbs/secrets.dm
  code/modules/clothing/clothing.dm
  code/modules/food_and_drinks/machinery/processor.dm
  code/modules/mob/living/carbon/carbon_defense.dm
  code/modules/mob/living/carbon/examine.dm
  code/modules/mob/living/carbon/human/human.dm
  code/modules/mob/living/navigation.dm
  code/modules/mob/mob.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
Labels: :pencil: Перевод, :wrench: Фикс

#267 Новая раса для TG SS220 Вульпочки
  code/modules/mob/living/carbon/human/dummy.dm
  code/modules/mob/living/carbon/human/human_update_icons.dm
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_vulpkanin.png
  config/bandastation/bandastation_config.txt
  icons/mob/human/species/lizard/bodyparts.dmi
  modular_bandastation/_defines220/code/signals_mob/signals_mob_carbon.dm
  modular_bandastation/emote_panel/_emote_panel.dme
  modular_bandastation/emote_panel/audio/bark.ogg
  modular_bandastation/emote_panel/audio/female/sniff_female.ogg
  modular_bandastation/emote_panel/audio/growl1.ogg
  modular_bandastation/emote_panel/audio/growl2.ogg
  modular_bandastation/emote_panel/audio/growl3.ogg
  modular_bandastation/emote_panel/audio/howl.ogg
  modular_bandastation/emote_panel/audio/male/sniff_male.ogg
  modular_bandastation/emote_panel/audio/purr.ogg
  modular_bandastation/emote_panel/audio/wbark.ogg
  modular_bandastation/emote_panel/code/_emote_defines.dm
  modular_bandastation/emote_panel/code/emote_verbs.dm
  modular_bandastation/emote_panel/code/emotes.dm
  modular_bandastation/modular_bandastation.dme
  modular_bandastation/species/_species.dm
  modular_bandastation/species/_species.dme
  modular_bandastation/species/code/_defines.dm
  modular_bandastation/species/code/clothing/items.dm
  modular_bandastation/species/code/clothing/mod.dm
  modular_bandastation/species/code/dna.dm
  modular_bandastation/species/code/emote.dm
  modular_bandastation/species/code/human/carbon.dm
  modular_bandastation/species/code/human/species/species.dm
  modular_bandastation/species/code/human/species_type/vulpkanin.dm
  modular_bandastation/species/code/human/sprite_accessories/hair.dm
  modular_bandastation/species/code/human/sprite_accessories/vulpkanin.dm
  modular_bandastation/species/code/language.dm
  modular_bandastation/species/code/preferences/species_features/vulpkanin.dm
  modular_bandastation/species/code/reagents/mutation.dm
  modular_bandastation/species/code/surgery/bodyparts/vulpkanin_bodyparts.dm
  modular_bandastation/species/code/surgery/organs/external/vulpkanin_external.dm
  modular_bandastation/species/code/surgery/organs/internal/vulpkanin_internal.dm
  modular_bandastation/species/code/surgery/organs/limbgrower_designs.dm
  modular_bandastation/species/icons/mob/species/clothing/head.dmi
  modular_bandastation/species/icons/mob/species/clothing/mask.dmi
  modular_bandastation/species/icons/mob/species/clothing/modules_vulp.dmi
  modular_bandastation/species/icons/mob/species/clothing/suit.dmi
  modular_bandastation/species/icons/mob/species/clothing/vulp_modsuits.dmi
  modular_bandastation/species/icons/mob/species/vulpkanin/body.dmi
  modular_bandastation/species/icons/mob/species/vulpkanin/body_accessory.dmi
  modular_bandastation/species/icons/mob/species/vulpkanin/body_markings.dmi
  modular_bandastation/species/icons/mob/species/vulpkanin/facial_hair.dmi
  modular_bandastation/species/icons/mob/species/vulpkanin/hair.dmi
  modular_bandastation/species/icons/mob/species/vulpkanin/head_markings.dmi
  modular_bandastation/species/icons/mob/species/vulpkanin/lang.dmi
  modular_bandastation/species/icons/mob/species/vulpkanin/organs.dmi
  modular_bandastation/species/icons/mob/species/vulpkanin/skills.dmi
  modular_bandastation/species/icons/mob/species/vulpkanin/tail_markings.dmi
  strings/names/first_female_vulp.txt
  strings/names/first_male_vulp.txt
  strings/names/last_vulp.txt
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/species_features.tsx
Labels: Do Not Merge, :microscope: Testmerge Active, TGUI, :sound: Звук, :paintbrush: Спрайты, :floppy_disk: Изменение конфига, RED LABEL

#914 fix linter issues
  modular_bandastation/modular_bandastation.dme
Labels: :wrench: Фикс

#901 Добавление кафе и фикс атмоса
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: :world_map: Изменение Карты

#874 HTML Title Screen
  code/_onclick/hud/hud.dm
  code/_onclick/hud/new_player.dm
  code/controllers/subsystem/processing/station.dm
  code/controllers/subsystem/ticker.dm
  code/datums/station_traits/_station_trait.dm
  code/datums/station_traits/job_traits.dm
  code/datums/station_traits/neutral_traits.dm
  code/modules/admin/admin_verbs.dm
  code/modules/client/preferences.dm
  code/modules/mob/dead/new_player/login.dm
  code/modules/mob/dead/new_player/new_player.dm
  icons/ui/common/ss220.png
  interface/fonts/PixCyrillic.ttf
  interface/skin.dmf
  modular_bandastation/aesthetics/_aesthetics.dme
  modular_bandastation/aesthetics/lobby/code/lobby.dm
  modular_bandastation/aesthetics/lobby/icons/character_setup.dmi
  modular_bandastation/aesthetics/lobby/icons/join.dmi
  modular_bandastation/aesthetics/lobby/icons/observe.dmi
  modular_bandastation/aesthetics/lobby/icons/ready.dmi
  modular_bandastation/discord/code/discord.dm
  modular_bandastation/modular_bandastation.dme
  modular_bandastation/title_screen/README.md
  modular_bandastation/title_screen/_title_screen.dm
  modular_bandastation/title_screen/_title_screen.dme
  modular_bandastation/title_screen/code/_title_screen_defines.dm
  modular_bandastation/title_screen/code/asset_lobby.dm
  modular_bandastation/title_screen/code/new_player.dm
  modular_bandastation/title_screen/code/station_traits.dm
  modular_bandastation/title_screen/code/title_screen_controls.dm
  modular_bandastation/title_screen/code/title_screen_datum.dm
  modular_bandastation/title_screen/code/title_screen_pref_middleware.dm
  modular_bandastation/title_screen/code/title_screen_subsystem.dm
  modular_bandastation/title_screen/html/title_screen.css
  modular_bandastation/title_screen/icons/default.png
  modular_bandastation/title_screen/icons/lobby_active.png
  modular_bandastation/title_screen/icons/lobby_background.png
  modular_bandastation/title_screen/icons/lobby_bridge_assistant.png
  modular_bandastation/title_screen/icons/lobby_cargorilla.png
  modular_bandastation/title_screen/icons/lobby_changelog.png
  modular_bandastation/title_screen/icons/lobby_character_setup.png
  modular_bandastation/title_screen/icons/lobby_collapse.png
  modular_bandastation/title_screen/icons/lobby_css.png
  modular_bandastation/title_screen/icons/lobby_disabled.png
  modular_bandastation/title_screen/icons/lobby_highlight.png
  modular_bandastation/title_screen/icons/lobby_human_ai.png
  modular_bandastation/title_screen/icons/lobby_late_join.png
  modular_bandastation/title_screen/icons/lobby_manifest.png
  modular_bandastation/title_screen/icons/lobby_notice.png
  modular_bandastation/title_screen/icons/lobby_observe.png
  modular_bandastation/title_screen/icons/lobby_picture.png
  modular_bandastation/title_screen/icons/lobby_pun_pun.png
  modular_bandastation/title_screen/icons/lobby_settings.png
  modular_bandastation/title_screen/icons/lobby_shutter.png
  modular_bandastation/title_screen/icons/lobby_toggle_ready.png
  modular_bandastation/title_screen/icons/lobby_veteran_advisor.png
  modular_bandastation/title_screen/icons/lobby_wiki.png
  tgstation.dme
Labels: :neckbeard: Документация, :trollface: Фича, :microscope: Testmerge Active, :paintbrush: Спрайты

#916 Feat: Station fluff
  _maps/cyberiad.json
  code/__HELPERS/names.dm
  code/controllers/subsystem/events.dm
  code/controllers/subsystem/ticker.dm
  code/datums/map_config.dm
  code/modules/jobs/job_types/captain.dm
  modular_bandastation/aesthetics_sounds/sound/welcome_sounds/welcome_cyberiad.ogg
Labels: :sound: Звук

#918 Add: Customization module and sort out accessories
  code/modules/mob/living/carbon/human/human_update_icons.dm
  modular_bandastation/customization/_customization.dm
  modular_bandastation/customization/_customization.dme
  modular_bandastation/customization/code/sprite_accessories/hair.dm
  modular_bandastation/customization/icons/sprite_accessories/hair.dmi
  modular_bandastation/hair/_hair.dm
  modular_bandastation/hair/_hair.dme
  modular_bandastation/modular_bandastation.dme
  modular_bandastation/species/_species.dm
  modular_bandastation/species/_species.dme
  modular_bandastation/species/code/clothing/items.dm
  modular_bandastation/species/code/emote.dm
  modular_bandastation/species/code/human/species/skills.dm
  modular_bandastation/species/code/human/sprite_accessories/hair.dm
  modular_bandastation/species/code/human/sprite_accessories/vulpkanin.dm
  modular_bandastation/species/code/lizardperson/sprite_accesories/hair.dm
  modular_bandastation/species/code/preferences/species_features/vulpkanin.dm
  modular_bandastation/species/code/surgery/bodyparts/vulpkanin_bodyparts.dm
  modular_bandastation/species/icons/mob/species/lizardperson/sprite_accessories/frills.dmi
  modular_bandastation/species/icons/mob/species/lizardperson/sprite_accessories/horns.dmi
  modular_bandastation/species/icons/mob/species/vulpkanin/clothing/head.dmi
  modular_bandastation/species/icons/mob/species/vulpkanin/clothing/mask.dmi
  modular_bandastation/species/icons/mob/species/vulpkanin/clothing/modsuits.dmi
  modular_bandastation/species/icons/mob/species/vulpkanin/clothing/modules.dmi
  modular_bandastation/species/icons/mob/species/vulpkanin/clothing/suit.dmi
  modular_bandastation/species/icons/mob/species/vulpkanin/sprite_accessories/body.dmi
  modular_bandastation/species/icons/mob/species/vulpkanin/sprite_accessories/body_accessory.dmi
  modular_bandastation/species/icons/mob/species/vulpkanin/sprite_accessories/body_markings.dmi
  modular_bandastation/species/icons/mob/species/vulpkanin/sprite_accessories/facial_hair.dmi
  modular_bandastation/species/icons/mob/species/vulpkanin/sprite_accessories/hair.dmi
  modular_bandastation/species/icons/mob/species/vulpkanin/sprite_accessories/head_markings.dmi
  modular_bandastation/species/icons/mob/species/vulpkanin/sprite_accessories/tail_markings.dmi
Labels: :paintbrush: Спрайты

#925 Перенос биогена, доступы рнд техи
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: :world_map: Изменение Карты, :wrench: Фикс

#930 Replace antag icon
  icons/mob/huds/antag_hud.dmi
Labels: :paintbrush: Спрайты

#920 TG emotes in emote panel
  modular_bandastation/emote_panel/code/_emote_defines.dm
  modular_bandastation/emote_panel/code/emote_verbs.dm
  modular_bandastation/emote_panel/code/emotes.dm
  modular_bandastation/translations/code/translation_data/ru_emotes.toml
Labels: :wrench: Фикс

#943 Cyberiad: Move firelocks on stairs between z-levels down
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: :world_map: Изменение Карты

#940 Fix and update microwave sprite
  modular_bandastation/aesthetics/kitchen/icons/microwave.dmi
Labels: :paintbrush: Спрайты, :wrench: Фикс

#939 Replace intro sound for Blood Brothers, Add attributions file for module
  modular_bandastation/aesthetics_sounds/_aesthetics_sounds.dme
  modular_bandastation/aesthetics_sounds/code/antagonists_intro.dm
  modular_bandastation/aesthetics_sounds/sound/antag/blood_brothers_intro.ogg
  modular_bandastation/aesthetics_sounds/sound/attributions.txt
Labels: :sound: Звук

#944 Cyberiad: Polish & fix some ghetto areas
  _maps/map_files/Cyberiad/Cyberiad.dmm
  modular_bandastation/mapping/code/areas/station.dm
Labels: :world_map: Изменение Карты
