Repository ss220club/BandaStation, pull requests merged in 2025-08, with the labels that each got.

#1670 Remove quotes from changelog
  .github/PULL_REQUEST_TEMPLATE.md
Labels: :scroll: CL не требуется

#1668 Translation: ERT, BB, Ashwalkers in the round end
  code/datums/ert.dm
  code/modules/antagonists/ashwalker/ashwalker.dm
  code/modules/antagonists/brother/brother.dm
  code/modules/antagonists/ert/ert.dm
  code/modules/jobs/job_types/ert/ert_generic.dm
Labels: :finnadie: НЕ МОДУЛЬНО, :scroll: CL валиден

#1706 Fix blastdoor animation loop
  modular_bandastation/aesthetics/blastdoor/icons/blastdoor.dmi
Labels: :paintbrush: Спрайты, :wrench: Фикс, :scroll: CL валиден

#1626 Fix: Error when push up surgery mask
  code/modules/clothing/masks/_masks.dm
  modular_bandastation/objects/code/items/clothing/head/mask.dm
Labels: :feelsgood: Частичная модульность, :wrench: Фикс, :scroll: CL валиден

#1701 Cyberiad: Add elevator to tram
  _maps/map_files/Cyberiad/Cyberiad.dmm
  modular_bandastation/objects/_objects.dme
  modular_bandastation/objects/code/structures/signs.dm
  modular_bandastation/objects/icons/obj/structures/signs.dmi
Labels: :paintbrush: Спрайты, :world_map: Изменение Карты, :feelsgood: Частичная модульность, :scroll: CL валиден

#1624 Translating cargo areas
  code/__HELPERS/game.dm
  code/_onclick/hud/action_button.dm
  code/_onclick/hud/alert.dm
  code/_onclick/hud/blob_overmind.dm
  code/_onclick/hud/new_player.dm
  code/_onclick/hud/radial.dm
  code/game/atom/_atom.dm
  code/game/atom/atom_examine.dm
  code/game/machinery/computer/crew.dm
  code/game/machinery/firealarm.dm
  code/game/objects/effects/info.dm
  code/game/objects/items.dm
  code/modules/atmospherics/machinery/air_alarm/_air_alarm.dm
  code/modules/events/anomaly/_anomaly.dm
  code/modules/events/anomaly/anomaly_bioscrambler.dm
  code/modules/events/anomaly/anomaly_bluespace.dm
  code/modules/events/anomaly/anomaly_dimensional.dm
  code/modules/events/anomaly/anomaly_ectoplasm.dm
  code/modules/events/anomaly/anomaly_flux.dm
  code/modules/events/anomaly/anomaly_grav.dm
  code/modules/events/anomaly/anomaly_hallucination.dm
  code/modules/events/anomaly/anomaly_pyro.dm
  code/modules/events/anomaly/anomaly_vortex.dm
  code/modules/events/stray_cargo.dm
  code/modules/power/apc/apc_main.dm
  modular_bandastation/translations/_translations.dme
  modular_bandastation/translations/code/ru_names/ru_name_base.dm
  modular_bandastation/translations/code/tips.dm
  modular_bandastation/translations/code/translation_data/ru_names.toml
Labels: :microscope: Testmerge Active, :feelsgood: Частичная модульность, :scroll: CL валиден

#1712 Cyberiad: Fix elevator decals
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: :finnadie: НЕ МОДУЛЬНО, :world_map: Изменение Карты, :wrench: Фикс, :scroll: CL валиден

#1638 ERT equipment vendors inventory change
  modular_bandastation/objects/code/machinery/vending/vending.dm
Labels: :poop: Stale, :scroll: CL валиден

#1722 Partial revert of Cyberiad Ghetto Rework
  _maps/map_files/Cyberiad/Cyberiad.dmm
  modular_bandastation/mapping/code/areas/station.dm
Labels: :world_map: Изменение Карты, :feelsgood: Частичная модульность, :scroll: CL валиден

#1719 Add Nanotrasen assault pod, adds audio & visual feedback for it
  _maps/map_files/generic/CentCom.dmm
  _maps/shuttles/ss220/assault_pod_nt.dmm
  modular_bandastation/mapping/code/templates.dm
  modular_bandastation/objects/code/shuttles.dm
  modular_bandastation/objects/icons/obj/effects/landing_zone_96x96.dmi
  modular_bandastation/objects/sounds/attribution.txt
  modular_bandastation/objects/sounds/attributions.txt
  modular_bandastation/objects/sounds/landing_specops.ogg
Labels: :sound: Звук, :paintbrush: Спрайты, :world_map: Изменение Карты, :feelsgood: Частичная модульность, :scroll: CL валиден

#1724 Fix: Various guns-related fixes and tweaks
  modular_bandastation/objects/code/items/storage/belt.dm
  modular_bandastation/objects/code/items/weapons/ranged/ballistic/ammo_boxes.dm
  modular_bandastation/objects/code/items/weapons/ranged/ballistic/ammo_casings.dm
  modular_bandastation/objects/code/items/weapons/ranged/ballistic/carwo.dm
  modular_bandastation/objects/code/items/weapons/ranged/ballistic/gp9.dm
  modular_bandastation/objects/code/items/weapons/ranged/ballistic/magazines.dm
  modular_bandastation/objects/code/items/weapons/ranged/ballistic/projectiles.dm
  modular_bandastation/objects/code/items/weapons/ranged/ballistic/sabel.dm
  modular_bandastation/objects/code/items/weapons/ranged/ballistic/sindano.dm
  modular_bandastation/objects/icons/mob/inhands/guns_lefthand.dmi
  modular_bandastation/objects/icons/mob/inhands/guns_righthand.dmi
  modular_bandastation/objects/icons/obj/weapons/guns/ammo.dmi
  modular_bandastation/objects/icons/obj/weapons/guns/ballistic40x32.dmi
  modular_bandastation/objects/icons/obj/weapons/guns/ballistic48x32.dmi
  modular_bandastation/objects/sounds/weapons/heavy_shot_suppressed.ogg
  modular_bandastation/translations/code/translation_data/ru_names.toml
Labels: :sound: Звук, :paintbrush: Спрайты, :wrench: Фикс, :scroll: CL валиден

#1603 Fix: Permanent death mode - disabling brain heal method when it's dead
  code/modules/lost_crew/damages/decay.dm
  code/modules/mob/living/brain/brain_item.dm
  modular_bandastation/balance/code/_brain.dm
Labels: :feelsgood: Частичная модульность, :scroll: CL валиден

#1721 Translation: Traitor objectives
  code/game/gamemodes/objective_items.dm
Labels: :finnadie: НЕ МОДУЛЬНО, :scroll: CL валиден

#1732 Fix Justice department color
  code/__DEFINES/radio.dm
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui/constants.ts
Labels: TGUI, :finnadie: НЕ МОДУЛЬНО, :scroll: CL валиден

#1715 Translating RND and Med areas
  modular_bandastation/translations/code/translation_data/ru_names.toml
Labels: :scroll: CL валиден

#1752 Heretic summons tts
  modular_bandastation/tts/code/base_seeds/mobs/hostile.dm
Labels: :scroll: CL валиден

#1755 Fix cleanbot achievement
  code/modules/mob/living/basic/bots/cleanbot/cleanbot.dm
Labels: :finnadie: НЕ МОДУЛЬНО, :wrench: Фикс, :scroll: CL валиден

#1731 Musical Instruments: BPM Unlock
  code/modules/instruments/songs/_song.dm
  code/modules/instruments/songs/editor.dm
  tgui/packages/tgui/interfaces/InstrumentEditor.tsx
Labels: TGUI, :finnadie: НЕ МОДУЛЬНО, :scroll: CL валиден

#1625 PORT: Ports(monke station, in the original sky rat) cocaine and crack to our build.
  code/_globalvars/lists/quirks.dm
  code/modules/vending/megaseed.dm
  modular_bandastation/objects/_objects.dme
  modular_bandastation/objects/code/items/drugs/cocaine_chem.dm
  modular_bandastation/objects/code/items/drugs/cocaine_item.dm
  modular_bandastation/objects/code/items/drugs/crack_pipe.dm
  modular_bandastation/objects/code/items/drugs/sound/attribution.txt
  modular_bandastation/objects/code/items/drugs/sound/drugs_sniff.ogg
  modular_bandastation/objects/icons/obj/hydroponics/growing.dmi
  modular_bandastation/objects/icons/obj/hydroponics/harvest.dmi
  modular_bandastation/objects/icons/obj/items/drugs.dmi
Labels: :sound: Звук, :paintbrush: Спрайты, :feelsgood: Частичная модульность, :scroll: CL валиден

#1753 Translating Engi and Sec areas
  modular_bandastation/translations/code/translation_data/ru_names.toml
Labels: :pencil: Перевод, :scroll: CL валиден

#1743 Translate: strings
  strings/abductee_objectives.txt
  strings/antagonist_flavor/heretic_influences.json
  strings/names/cargorilla.txt
  strings/names/golem.txt
  strings/names/hive_names.txt
  strings/names/malf_prefix.txt
  strings/names/martial_prefix.txt
  strings/names/mexican_prefix.txt
  strings/names/nightmare.txt
  strings/names/operative_alias.txt
  strings/names/religion.txt
  strings/names/syndicate_monkey.txt
  strings/names/voidwalker.txt
  strings/phonetic_alphabet.txt
  strings/pirates.json
  strings/revenant_names.json
  strings/slurring_cult_text.json
  strings/slurring_heretic_text.json
Labels: :scroll: CL валиден

#1751 Translate: Players HUD
  code/_onclick/hud/human.dm
  code/_onclick/hud/screen_objects.dm
Labels: :finnadie: НЕ МОДУЛЬНО, :scroll: CL валиден

#1756 BALANCE: nerfing status_effect/mayhem for safer using
  code/datums/status_effects/buffs.dm
Labels: :finnadie: НЕ МОДУЛЬНО, :scroll: CL валиден, :balance_scale: Баланс

#1744 Add: NT Ballistic weaponry overhaul
  modular_bandastation/_defines220/code/defines/calibers.dm
  modular_bandastation/objects/_objects.dme
  modular_bandastation/objects/code/items/weapons/ranged/ballistic/ammo_casings.dm
  modular_bandastation/objects/code/items/weapons/ranged/ballistic/magazines.dm
  modular_bandastation/objects/code/items/weapons/ranged/ballistic/nt_guns/cm15.dm
  modular_bandastation/objects/code/items/weapons/ranged/ballistic/nt_guns/cm23.dm
  modular_bandastation/objects/code/items/weapons/ranged/ballistic/nt_guns/cm357.dm
  modular_bandastation/objects/code/items/weapons/ranged/ballistic/nt_guns/cm40.dm
  modular_bandastation/objects/code/items/weapons/ranged/ballistic/nt_guns/cm5.dm
  modular_bandastation/objects/code/items/weapons/ranged/ballistic/nt_guns/cm70.dm
  modular_bandastation/objects/code/items/weapons/ranged/ballistic/nt_guns/cm82.dm
  modular_bandastation/objects/code/items/weapons/ranged/ballistic/nt_guns/f4.dm
  modular_bandastation/objects/code/items/weapons/ranged/ballistic/nt_guns/f90.dm
  modular_bandastation/objects/code/items/weapons/ranged/ballistic/nt_guns/gp9.dm
  modular_bandastation/objects/code/items/weapons/ranged/ballistic/projectiles.dm
  modular_bandastation/objects/code/items/weapons/ranged/ballistic/tsf_guns/carwo.dm
  modular_bandastation/objects/code/items/weapons/ranged/ballistic/tsf_guns/renoster.dm
  modular_bandastation/objects/code/items/weapons/ranged/ballistic/tsf_guns/sindano.dm
  modular_bandastation/objects/code/items/weapons/ranged/ballistic/tsf_guns/wespe.dm
  modular_bandastation/objects/code/items/weapons/ranged/ballistic/ussp_guns/sabel.dm
  modular_bandastation/objects/icons/mob/back/guns_back.dmi
  modular_bandastation/objects/icons/mob/inhands/guns_lefthand.dmi
  modular_bandastation/objects/icons/mob/inhands/guns_righthand.dmi
  modular_bandastation/objects/icons/obj/weapons/guns/ammo.dmi
  modular_bandastation/objects/icons/obj/weapons/guns/ballistic48x32.dmi
  modular_bandastation/objects/sounds/weapons/ar_cock.ogg
  modular_bandastation/objects/sounds/weapons/ar_reload.ogg
  modular_bandastation/objects/sounds/weapons/ar_unload.ogg
  modular_bandastation/objects/sounds/weapons/bulldog.ogg
  modular_bandastation/objects/sounds/weapons/cm23.ogg
  modular_bandastation/objects/sounds/weapons/cm357.ogg
  modular_bandastation/objects/sounds/weapons/cm357_cocked.ogg
  modular_bandastation/objects/sounds/weapons/cm357_reload.ogg
  modular_bandastation/objects/sounds/weapons/cm357_unload.ogg
  modular_bandastation/objects/sounds/weapons/cm40.ogg
  modular_bandastation/objects/sounds/weapons/cm40_cocked.ogg
  modular_bandastation/objects/sounds/weapons/cm40_reload.ogg
  modular_bandastation/objects/sounds/weapons/cm40_unload.ogg
  modular_bandastation/objects/sounds/weapons/cm5.ogg
  modular_bandastation/objects/sounds/weapons/cm5_reload.ogg
  modular_bandastation/objects/sounds/weapons/cm5_unload.ogg
  modular_bandastation/objects/sounds/weapons/cm70.ogg
  modular_bandastation/objects/sounds/weapons/cm82.ogg
  modular_bandastation/objects/sounds/weapons/cm82_reload.ogg
  modular_bandastation/objects/sounds/weapons/cm82_unload.ogg
  modular_bandastation/objects/sounds/weapons/cmf90.ogg
  modular_bandastation/objects/sounds/weapons/f4.ogg
  modular_bandastation/objects/sounds/weapons/rifle_heavy_2.ogg
  modular_bandastation/objects/sounds/weapons/shot.ogg
  modular_bandastation/objects/sounds/weapons/smg_heavy.ogg
  modular_bandastation/objects/sounds/weapons/smg_rack.ogg
  modular_bandastation/objects/sounds/weapons/smg_reload.ogg
  modular_bandastation/objects/sounds/weapons/smg_unload.ogg
Labels: :sound: Звук, :paintbrush: Спрайты, :scroll: CL валиден, :horse: Спорно

#1758 Lipolytic & Lip-O drink
  code/modules/vending/cola.dm
  modular_bandastation/chemistry/_chemistry.dm
  modular_bandastation/chemistry/_chemistry.dme
  modular_bandastation/chemistry/code/toxins.dm
  modular_bandastation/food_and_drinks/_food_and_drinks.dm
  modular_bandastation/food_and_drinks/_food_and_drinks.dme
  modular_bandastation/food_and_drinks/code/drinks.dm
  modular_bandastation/food_and_drinks/icons/soda.dmi
  modular_bandastation/modular_bandastation.dme
Labels: :paintbrush: Спрайты, :feelsgood: Частичная модульность, :scroll: CL валиден, :balance_scale: Баланс

#1778 Bring back formaldehyde in medipen
  modular_bandastation/balance/code/_brain.dm
Labels: :scroll: CL валиден
