Repository ss220club/BandaStation, pull requests merged in 2025-06, with the labels that each got.

#1481 Shine donor ckey on chat
  modular_bandastation/chat/_chat.dm
  modular_bandastation/chat/_chat.dme
  modular_bandastation/chat/code/badges.dm
  modular_bandastation/chat/code/chat_preferences.dm
  modular_bandastation/chat/icons/chatbadges.dmi
  modular_bandastation/chat_badges/_chat_badges.dm
  modular_bandastation/chat_badges/_chat_badges.dme
  modular_bandastation/modular_bandastation.dme
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/bandastation/donor_chat_shine.tsx
Labels: TGUI, :paintbrush: Спрайты, :scroll: CL валиден

#1483 Add check merge conflict workflow
  .github/workflows/merge_conflicts.yml
Labels: :scroll: CL не требуется

#1484 Fix developer chat badge
  modular_bandastation/chat/code/badges.dm
Labels: :wrench: Фикс, :scroll: CL не требуется

#1485 Fix dev & admin free shiny ckey
  modular_bandastation/chat/code/badges.dm
Labels: :wrench: Фикс, :scroll: CL не требуется

#1488 Another shine fix
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
Labels: TGUI, :wrench: Фикс, :scroll: CL не требуется

#1489 Remove re-added stat panel info
  code/controllers/subsystem/statpanel.dm
Labels: :scroll: CL валиден

#1496 Tweak labeler
  .github/labeler.yml
Labels: :shipit: Улучшение, :scroll: CL не требуется

#1495 Update flag sprites and add Syndicate flag
  code/game/objects/structures/signs/signs_flags.dm
  modular_bandastation/objects/_objects.dme
  modular_bandastation/objects/code/structures/flags.dm
  modular_bandastation/objects/icons/obj/structures/flags.dmi
  modular_bandastation/translations/code/ru_names.toml
Labels: :pencil: Перевод, :paintbrush: Спрайты, :scroll: CL валиден

#1497 Full repo prettier run
  .github/CONTRIBUTING.md
  .github/workflows/check_changelog.yml
  .github/workflows/label.yml
  .github/workflows/merge_upstream.yml
  .github/workflows/render_nanomaps.yml
  .prettierignore
  SQL/bandastation/database_changelog.md
  _maps/cyberiad.json
  _maps/deltastation.json
  _maps/icebox.json
  _maps/tramstation.json
  code/datums/greyscale/json_configs/bandastation/breathscarf.json
  code/datums/greyscale/json_configs/bandastation/cat_id_sticker.json
  code/datums/greyscale/json_configs/bandastation/cloak.json
  code/datums/greyscale/json_configs/bandastation/id_sticker.json
  code/datums/greyscale/json_configs/bandastation/mask_carnival_colored.json
  code/datums/greyscale/json_configs/bandastation/mask_carnival_feather.json
  code/datums/greyscale/json_configs/bandastation/mask_carnival_half.json
  code/datums/greyscale/json_configs/bandastation/mask_carnival_triangles.json
  code/datums/greyscale/json_configs/bandastation/neon_id_sticker.json
  code/datums/greyscale/json_configs/bandastation/silver_id_sticker.json
  code/datums/greyscale/json_configs/bandastation/snake_id_sticker.json
  code/datums/greyscale/json_configs/bandastation/under_carnival_dress_corset.json
  code/datums/greyscale/json_configs/bandastation/under_carnival_dress_fancy.json
  code/datums/greyscale/json_configs/bandastation/under_carnival_formal.json
  code/datums/greyscale/json_configs/bandastation/under_carnival_jacket.json
  config/bandastation/tts_replacements.json
  config/dynamic.json
  icons/bandastation/README.md
  modular_bandastation/ru_jobs/README.md
  modular_bandastation/storyteller/code/readme.md
  modular_bandastation/title_screen/html/title_screen_default.css
  modular_bandastation/title_screen/html/title_screen_old.css
  strings/italian_replacement_ru.json
  tools/changelog/tags.yml
  tools/pull_request_hooks/changelogParser.js
Labels: :neckbeard: Документация, :feelsgood: Частичная модульность, :guitar: Инструменты, :floppy_disk: Изменение конфига, :cd: SQL, :scroll: CL не требуется

#1476 Feat: new tts voices
  modular_bandastation/_defines220/code/defines/text_to_speech.dm
  modular_bandastation/tts/code/seeds/silero.dm
Labels: :scroll: CL валиден

#1498 Remove cyborg gender
  code/modules/client/preferences/silicon_gender.dm
  code/modules/mob/living/silicon/silicon.dm
Labels: :finnadie: НЕ МОДУЛЬНО, :scroll: CL валиден

#1522 Integrate self-hosted runners
  .github/workflows/auto_changelog.yml
  .github/workflows/autowiki.yml
  .github/workflows/check_changelog.yml
  .github/workflows/ci_suite.yml
  .github/workflows/codeowner_reviews.yml
  .github/workflows/collect_data.yml
  .github/workflows/compare_screenshots.yml
  .github/workflows/compile_all_maps.yml
  .github/workflows/compile_changelogs.yml
  .github/workflows/discord_discussions.yml
  .github/workflows/discord_pr_announce.yml
  .github/workflows/gbp.yml
  .github/workflows/gbp_collect.yml
  .github/workflows/generate_documentation.yml
  .github/workflows/label.yml
  .github/workflows/merge_conflicts.yml
  .github/workflows/remove_guide_comments.yml
  .github/workflows/render_nanomaps.yml
  .github/workflows/rerun_flaky_tests.yml
  .github/workflows/round_id_linker.yml
  .github/workflows/run_integration_tests.yml
  .github/workflows/run_linters.yml
  .github/workflows/setup_build_artifact.yml
  .github/workflows/show_screenshot_test_results.yml
  .github/workflows/stale.yml
  .github/workflows/test_merge_bot.yml
  .github/workflows/tgs_test.yml
  .github/workflows/update_tgs_dmapi.yml
Labels: :scroll: CL не требуется

#1525 Loading...
  code/controllers/master.dm
  interface/interface.dm
  modular_bandastation/discord/code/discord.dm
  modular_bandastation/title_screen/code/new_player.dm
  modular_bandastation/title_screen/code/title_screen_html.dm
  modular_bandastation/title_screen/code/title_screen_subsystem.dm
  modular_bandastation/title_screen/html/title_screen_default.css
  modular_bandastation/title_screen/html/title_screen_old.css
Labels: :feelsgood: Частичная модульность, :scroll: CL валиден

#1526 Send SS init messages only to admins
  code/controllers/master.dm
Labels: :finnadie: НЕ МОДУЛЬНО, :scroll: CL валиден

#1531 tweak: Code language for gemini
  .gemini/styleguide.md
Labels: :neckbeard: Документация, :scroll: CL не требуется

#1533 Feat: ID sticker autoequip
  code/datums/communications.dm
  modular_bandastation/loadout/code/categories/cardstickers.dm
Labels: :feelsgood: Частичная модульность, :scroll: CL валиден
