Repository ss220club/BandaStation, pull requests merged in 2025-02, with the labels that each got.

#1074 More wooden floors
  code/datums/elements/decals/_decal.dm
  modular_bandastation/aesthetics/_aesthetics.dm
  modular_bandastation/objects/_objects.dm
  modular_bandastation/objects/_objects.dme
  modular_bandastation/objects/code/floors/wooden.dm
  modular_bandastation/objects/icons/turf/wooden/tiles.dmi
  modular_bandastation/objects/icons/turf/wooden/wooden.dmi
Labels: :paintbrush: Спрайты, :scroll: CL валиден

#1116 Translate: Shuttle calls
  code/__HELPERS/time.dm
  code/controllers/subsystem/shuttle.dm
  code/modules/shuttle/mobile_port/variants/emergency/emergency.dm
Labels: :pencil: Перевод, :scroll: CL валиден

#1115 Translate: Pirates annoucements
  code/modules/antagonists/pirate/pirate_gangs.dm
Labels: :pencil: Перевод, :scroll: CL валиден

#1109 fix linter warnings because of icon index operations
  code/modules/mob/living/carbon/human/human_update_icons.dm
  modular_bandastation/species/code/clothing/items.dm
  modular_bandastation/species/code/clothing/mod.dm
Labels: :wrench: Фикс, :scroll: CL не требуется

#1107 Cyberiad: smes
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: :world_map: Изменение Карты, :scroll: CL валиден

#1118 Make dimensional anomaly prettier
  code/game/objects/effects/anomalies/anomalies_dimensional_themes.dm
  code/game/objects/structures/false_walls.dm
  icons/bandastation/walls/material_wall.dmi
  icons/bandastation/walls/material_wall.png
  icons/bandastation/walls/material_wall.png.toml
  icons/bandastation/windows/reinforced_window_edges.dmi
  icons/bandastation/windows/reinforced_window_edges.png
  icons/bandastation/windows/window_edges.dmi
  icons/bandastation/windows/window_edges.png
  modular_bandastation/aesthetics/airlocks/code/airlock_types.dm
  modular_bandastation/aesthetics/airlocks/icons/station/material.dmi
  modular_bandastation/aesthetics/walls/code/walls.dm
  modular_bandastation/aesthetics/windows/code/full_tile_windows.dm
Labels: :paintbrush: Спрайты, :scroll: CL валиден

#1071 minesweeper
  SQL/bandastation/bandastation_update.sql
  SQL/bandastation/database_changelog.md
  modular_bandastation/_defines220/code/defines/subsystems.dm
  modular_bandastation/minesweeper/_minesweeper.dm
  modular_bandastation/minesweeper/_minesweeper.dme
  modular_bandastation/minesweeper/code/minesweeper.dm
  modular_bandastation/modular_bandastation.dme
  tgui/packages/tgui/interfaces/NtosMinesweeperPanel.tsx
  tgui/packages/tgui/styles/interfaces/Minesweeper.scss
  tgui/packages/tgui/styles/main.scss
Labels: :neckbeard: Документация, TGUI, :cd: SQL, :scroll: CL валиден

#1123 Removed SM hotwiring on Cyberiad
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: :world_map: Изменение Карты, :scroll: CL валиден

#1129 Fix translate of pirate gang
  code/modules/antagonists/pirate/pirate_gangs.dm
Labels: :pencil: Перевод, :wrench: Фикс, :scroll: CL не требуется

#1128 Sync ru names
  modular_bandastation/translations/code/ru_names/ru_name_base.dm
  modular_bandastation/translations/code/translation_data/ru_names.toml
Labels: :scroll: CL не требуется

#1126 Adds 1 hairstyle from Paradise
  modular_bandastation/customization/code/sprite_accessories/hair.dm
  modular_bandastation/customization/icons/sprite_accessories/hair.dmi
Labels: :poop: Stale, :paintbrush: Спрайты, :scroll: CL валиден

#1145 Feat: VV and PP now on admin-ghost hotkeys
  modular_bandastation/admin/_admin.dm
  modular_bandastation/admin/_admin.dme
  modular_bandastation/admin/code/admin_hotkeys.dm
Labels: :trollface: Фича, :scroll: CL валиден

#1139 Balance: throat slit now mutes
  modular_bandastation/modular_bandastation.dme
  modular_bandastation/status_effects/_status_effects.dm
  modular_bandastation/status_effects/_status_effects.dme
  modular_bandastation/status_effects/code/debuffs.dm
Labels: :scroll: CL валиден, :balance_scale: Баланс

#1140 Cyberiad: Adds lower bar atrium, adjusts coldroom and barman room location
  _maps/map_files/Cyberiad/Cyberiad.dmm
  modular_bandastation/mapping/code/areas/station.dm
Labels: :world_map: Изменение Карты, :scroll: CL валиден

#1092 add: legendary swords
  modular_bandastation/_defines220/_defines220.dme
  modular_bandastation/_defines220/code/defines/combat.dm
  modular_bandastation/_defines220/code/defines/roles.dm
  modular_bandastation/modular_bandastation.dme
  modular_bandastation/objects/_objects.dme
  modular_bandastation/objects/code/items/weapons/melee/centcom/enchantment.dm
  modular_bandastation/objects/code/items/weapons/melee/centcom/legendary_swords.dm
  modular_bandastation/objects/icons/obj/weapons/saber/saber.dmi
  modular_bandastation/objects/icons/obj/weapons/saber/saber_left.dmi
  modular_bandastation/objects/icons/obj/weapons/saber/saber_right.dmi
  modular_bandastation/objects/sound/weapons/gr_saberhit.ogg
  modular_bandastation/objects/sound/weapons/gr_saberoff.ogg
  modular_bandastation/objects/sound/weapons/gr_saberon.ogg
  modular_bandastation/objects/sound/weapons/kel_saberhit.ogg
  modular_bandastation/objects/sound/weapons/kel_saberoff.ogg
  modular_bandastation/objects/sound/weapons/kel_saberon.ogg
  modular_bandastation/objects/sound/weapons/kir_saberhit.ogg
  modular_bandastation/objects/sound/weapons/kir_saberoff.ogg
  modular_bandastation/objects/sound/weapons/kir_saberon.ogg
  modular_bandastation/objects/sound/weapons/mid_saberhit.ogg
  modular_bandastation/objects/sound/weapons/mid_saberoff.ogg
  modular_bandastation/objects/sound/weapons/mid_saberon.ogg
  modular_bandastation/objects/sound/weapons/norm_saberhit.ogg
  modular_bandastation/objects/sound/weapons/norm_saberoff.ogg
  modular_bandastation/objects/sound/weapons/norm_saberon.ogg
  modular_bandastation/objects/sound/weapons/sh_saberhit.ogg
  modular_bandastation/objects/sound/weapons/sh_saberoff.ogg
  modular_bandastation/objects/sound/weapons/sh_saberon.ogg
  modular_bandastation/outfits/_outfits.dme
  modular_bandastation/outfits/code/centcom.dm
  modular_bandastation/outfits/code/mind.dm
  modular_bandastation/~components/_components.dm
  modular_bandastation/~components/_components.dme
  modular_bandastation/~components/code/ckey_and_role_locked_pickup.dm
Labels: :sound: Звук, :paintbrush: Спрайты, :scroll: CL валиден

#1162 Decrease pointing animation time and change easing
  code/modules/point/point.dm
Labels: :shipit: Улучшение, :scroll: CL валиден

#1163 Fix title screen admin buttons
  modular_bandastation/title_screen/code/title_screen_html.dm
Labels: :wrench: Фикс, :scroll: CL валиден

#1169 prison cryopods work again
  modular_bandastation/cryosleep/code/cryopod/cryopod.dm
  modular_bandastation/cryosleep/code/cryopod/prison_cryopod.dm
Labels: :wrench: Фикс, :scroll: CL валиден

#1170 Fix broken lobbys screen html
  modular_bandastation/title_screen/code/title_screen_html.dm
Labels: :scroll: CL валиден

#1155 Fix wooden floor restyle
  modular_bandastation/objects/_objects.dm
  modular_bandastation/objects/code/floors/wooden.dm
Labels: :wrench: Фикс, :scroll: CL валиден

#1171 FIx: Correct security level ru_name
  modular_bandastation/translations/code/translate_security_level.dm
Labels: :wrench: Фикс, :scroll: CL валиден

#1159 Nuke codes for station SD, small rework of centcom gear and captain's pen font
  code/datums/components/stationloving.dm
  modular_bandastation/antagonists/_antagonists.dm
  modular_bandastation/antagonists/_antagonists.dme
  modular_bandastation/antagonists/code/ert.dm
  modular_bandastation/modular_bandastation.dme
  modular_bandastation/objects/_objects.dme
  modular_bandastation/objects/code/items/pen.dm
  modular_bandastation/objects/code/items/role_tablet_presets.dm
  modular_bandastation/objects/code/items/weapons/ranged/energy/pulse.dm
  modular_bandastation/objects/code/machinery/nuclear_bomb.dm
  modular_bandastation/outfits/code/centcom.dm
Labels: :scroll: CL валиден

#1165 Feat: Outfits now can contain organs
  modular_bandastation/outfits/_outfits.dm
  modular_bandastation/outfits/_outfits.dme
  modular_bandastation/outfits/code/outfit_organs.dm
Labels: :trollface: Фича, :scroll: CL валиден

#1172 Security levels tweaks
  code/__DEFINES/communications.dm
  code/__HELPERS/priority_announce.dm
  code/controllers/subsystem/security_level.dm
  code/modules/power/apc/apc_main.dm
  modular_bandastation/security_levels/code/security_level_datums.dm
  modular_bandastation/tts/code/tts_subsystem.dm
Labels: :shipit: Улучшение, :scroll: CL валиден

#1174 БЛЯТЬ
  tgui/public/tgui.html
Labels: TGUI, :scroll: CL валиден, БЛЯТЬ

#1173 Fix: equip selector
  modular_bandastation/outfits/_outfits.dme
  modular_bandastation/outfits/code/outfit_export.dm
Labels: :wrench: Фикс, :scroll: CL валиден
