Repository ss220club/BandaStation, pull requests merged in 2025-09, with the labels that each got.

#1787 Fix unknown variable
  code/game/objects/items/stacks/bscrystal.dm
  code/modules/hydroponics/plant_genes.dm
Labels: :finnadie: НЕ МОДУЛЬНО, :scroll: CL не требуется

#1793 Fix tajaran runtime
  modular_bandastation/species/code/surgery/bodyparts/tajaran_bodyparts.dm
Labels: :wrench: Фикс, :scroll: CL не требуется

#1783 Resprite vendor restock units
  modular_bandastation/aesthetics/_aesthetics.dme
  modular_bandastation/aesthetics/vendors_restock/code/vendors_restock.dm
  modular_bandastation/aesthetics/vendors_restock/icons/vendors_restock.dmi
Labels: :paintbrush: Спрайты, :scroll: CL валиден

#1810 Split `objects` module: Shuttles
  modular_bandastation/modular_bandastation.dme
  modular_bandastation/objects/_objects.dme
  modular_bandastation/objects/code/shuttles.dm
  modular_bandastation/objects/sounds/attributions.txt
  modular_bandastation/shuttles/_shuttles.dm
  modular_bandastation/shuttles/_shuttles.dme
  modular_bandastation/shuttles/code/areas.dm
  modular_bandastation/shuttles/code/dockers.dm
  modular_bandastation/shuttles/code/docking_ports.dm
  modular_bandastation/shuttles/code/landing_zones.dm
  modular_bandastation/shuttles/code/terminals.dm
  modular_bandastation/shuttles/icons/landing_zone_96x96.dmi
  modular_bandastation/shuttles/sound/attributions.txt
  modular_bandastation/shuttles/sound/landing_specops.ogg
Labels: :sound: Звук, :paintbrush: Спрайты, :scroll: CL не требуется

#1811 Split `objects` module: ID Stickers
  modular_bandastation/id_stickers/_id_stickers.dm
  modular_bandastation/id_stickers/_id_stickers.dme
  modular_bandastation/id_stickers/code/_grayscale.dm
  modular_bandastation/id_stickers/code/base.dm
  modular_bandastation/id_stickers/code/card_interactions.dm
  modular_bandastation/id_stickers/code/stickers.dm
  modular_bandastation/id_stickers/code/supply_packs.dm
  modular_bandastation/id_stickers/icons/id_stickers.dmi
  modular_bandastation/modular_bandastation.dme
  modular_bandastation/objects/_objects.dme
  modular_bandastation/objects/code/items/id_stickers.dm
Labels: :paintbrush: Спрайты, :scroll: CL не требуется

#1677 Add: Sledgehammers & Breaching Slugs techfab design
  code/modules/research/techweb/nodes/security_nodes.dm
  modular_bandastation/weapon/_weapon.dme
  modular_bandastation/weapon/code/melee/sledgehammer.dm
  modular_bandastation/weapon/code/ranged/ballistic/supply_packs.dm
  modular_bandastation/weapon/code/ranged/ballistic/weapon_designs.dm
  modular_bandastation/weapon/icons/melee/inhands/lefthand.dmi
  modular_bandastation/weapon/icons/melee/inhands/righthand.dmi
  modular_bandastation/weapon/icons/melee/melee_back.dmi
  modular_bandastation/weapon/icons/melee/sledgehammer.dmi
Labels: :paintbrush: Спрайты, :feelsgood: Частичная модульность, :scroll: CL валиден

#1813 Add: Man Up verb for admins
  modular_bandastation/admin/code/admin_verbs.dm
  modular_bandastation/admin/sound/manup1.ogg
Labels: :sound: Звук, :scroll: CL валиден

#1814 Ru job titles in code phrases
  code/__HELPERS/names.dm
Labels: :finnadie: НЕ МОДУЛЬНО, :scroll: CL валиден

#1820 Changing the recipe of the tajaran and vulp mut toxin
  modular_bandastation/species/code/reagents/mutation.dm
Labels: :scroll: CL валиден

#1828 Engineer Skillchip RCD
  code/__DEFINES/bandastation/defines.dm
  code/__DEFINES/traits/declarations.dm
  code/_globalvars/traits/_traits.dm
  code/_globalvars/traits/admin_tooling.dm
  code/game/objects/items/rcd/RCD.dm
  modular_bandastation/modular_bandastation.dme
  modular_bandastation/skillchip_rcd/_skillchip_rcd.dm
  modular_bandastation/skillchip_rcd/_skillchip_rcd.dme
  modular_bandastation/skillchip_rcd/code/skillchip_rcd.dm
Labels: :feelsgood: Частичная модульность, :scroll: CL валиден, :balance_scale: Баланс

#1834 RLD into engi-vend
  code/modules/vending/engivend.dm
  modular_bandastation/balance/_balance.dme
  modular_bandastation/balance/code/cargo/packs/goodies.dm
  modular_bandastation/balance/code/tools.dm
  modular_bandastation/objects/code/items/material_pouch.dm
Labels: :feelsgood: Частичная модульность, :scroll: CL валиден

#1831 Cyberiad: Deforest First Aid Station
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: :finnadie: НЕ МОДУЛЬНО, :world_map: Изменение Карты, :scroll: CL валиден

#1832 Fix: Grammar issues
  code/datums/mood_events/generic_negative_events.dm
  code/modules/economy/account.dm
  code/modules/modular_computers/computers/item/pda.dm
  modular_bandastation/translations/code/translation_data/ru_names.toml
Labels: :feelsgood: Частичная модульность, :wrench: Фикс, :scroll: CL валиден

#1622 Ticket Manager: TG ticket/pm system replacement
  code/controllers/subsystem/statpanel.dm
  code/datums/components/admin_popup.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/client/client_procs.dm
  modular_bandastation/modular_bandastation.dme
  modular_bandastation/tgui_who/code/tgui_who.dm
  modular_bandastation/ticket_manager/_ticket_manager.dm
  modular_bandastation/ticket_manager/_ticket_manager.dme
  modular_bandastation/ticket_manager/code/_defines.dm
  modular_bandastation/ticket_manager/code/client.dm
  modular_bandastation/ticket_manager/code/create_ticket_ui.dm
  modular_bandastation/ticket_manager/code/manager_helpers.dm
  modular_bandastation/ticket_manager/code/manager_topic.dm
  modular_bandastation/ticket_manager/code/manager_ui.dm
  modular_bandastation/ticket_manager/code/ticket.dm
  tgui/packages/tgui/interfaces/TicketCreation.tsx
  tgui/packages/tgui/interfaces/TicketManager/Ticket.tsx
  tgui/packages/tgui/interfaces/TicketManager/TicketMessage.tsx
  tgui/packages/tgui/interfaces/TicketManager/TicketPanel.tsx
  tgui/packages/tgui/interfaces/TicketManager/TicketPanelEmbed.tsx
  tgui/packages/tgui/interfaces/TicketManager/TicketPanelEmoji.tsx
  tgui/packages/tgui/interfaces/TicketManager/constants.ts
  tgui/packages/tgui/interfaces/TicketManager/helpers.ts
  tgui/packages/tgui/interfaces/TicketManager/index.tsx
  tgui/packages/tgui/interfaces/TicketManager/types.ts
  tgui/packages/tgui/interfaces/common/ChatInput.tsx
  tgui/packages/tgui/styles/interfaces/ChatInput.scss
  tgui/packages/tgui/styles/interfaces/TicketManager.scss
  tgui/packages/tgui/styles/main.scss
  tgui/packages/tgui/styles/themes/ss220.scss
Labels: TGUI, :feelsgood: Частичная модульность, :scroll: CL валиден, :skull: Какой большой... PR

#1851 feat: log readable logs using LOGIS supported log categories and save it all to single `game.log` file
  code/__DEFINES/logging.dm
  code/__HELPERS/logging/_logging.dm
  code/__HELPERS/logging/game.dm
  code/_globalvars/logging.dm
  code/game/world.dm
  code/modules/logging/categories/log_category_game.dm
  code/modules/logging/log_category.dm
  code/modules/logging/log_entry.dm
  code/modules/logging/log_holder.dm
  modular_bandastation/communication/code/LOOC.dm
Labels: :feelsgood: Частичная модульность, :scroll: CL валиден

#1720 Centcom jammer
  code/game/objects/items/devices/radio/radio.dm
  code/game/objects/items/devices/traitordevices.dm
  modular_bandastation/objects/_objects.dme
  modular_bandastation/objects/code/items/devices/nanotrasen_radio_jammer.dm
  modular_bandastation/objects/icons/obj/items/nt_radio_jammer.dmi
  modular_bandastation/translations/code/translation_data/ru_names.toml
Labels: :paintbrush: Спрайты, :feelsgood: Частичная модульность, :scroll: CL валиден

#1866 vending tts
  modular_bandastation/tts/code/base_seeds/objs/objs.dm
Labels: :scroll: CL валиден

#1797 Translate: Revenant
  code/modules/mob/living/basic/space_fauna/revenant/_revenant.dm
  code/modules/mob/living/basic/space_fauna/revenant/revenant_abilities.dm
  code/modules/mob/living/basic/space_fauna/revenant/revenant_effects.dm
  code/modules/mob/living/basic/space_fauna/revenant/revenant_harvest.dm
  code/modules/mob/living/basic/space_fauna/revenant/revenant_items.dm
  code/modules/mob/living/basic/space_fauna/revenant/revenant_objectives.dm
  modular_bandastation/translations/code/translation_data/ru_names.toml
  strings/revenant_names.json
Labels: :pencil: Перевод, :feelsgood: Частичная модульность, :scroll: CL валиден

#1872 init alist in `/datum/ticket_manager/New()`
  modular_bandastation/ticket_manager/code/manager_ui.dm
Labels: :wrench: Фикс, :scroll: CL валиден

#1875 Fix syndicate radio messages duplicate
  _maps/shuttles/ss220/argos_basic.dmm
Labels: :world_map: Изменение Карты, :wrench: Фикс, :scroll: CL валиден

#1869 Fix: Duplicating hepler changes
  code/__HELPERS/duplicating.dm
Labels: :finnadie: НЕ МОДУЛЬНО, :wrench: Фикс, :scroll: CL валиден

#1880 Fix: More variables to ignore for duplicating
  code/__HELPERS/duplicating.dm
Labels: :finnadie: НЕ МОДУЛЬНО, :wrench: Фикс, :scroll: CL валиден

#1883 Save map state every second
  tgui/packages/tgui/interfaces/common/NanoMap.tsx
Labels: TGUI, :scroll: CL не требуется

#1845 Add: Additional sound admin verbs
  modular_bandastation/admin/code/admin_helpers.dm
  modular_bandastation/admin/code/admin_verbs.dm
Labels: :scroll: CL валиден

#1893 Randomize TTS on mob randomize
  code/modules/admin/create_mob.dm
Labels: :finnadie: НЕ МОДУЛЬНО, :scroll: CL валиден

#1898 Change discord PR notification icon and username [ci skip]
  .github/images/logo/tg220_logo.png
  .github/workflows/discord_pr_announce.yml
Labels: :guitar: Инструменты, :scroll: CL не требуется

#1904 Two hand requirement to carry flatpack
  code/game/objects/items/flatpacks.dm
Labels: :finnadie: НЕ МОДУЛЬНО, :scroll: CL валиден

#1907 Nitrium nerf
  code/modules/movespeed/modifiers/reagent.dm
Labels: :finnadie: НЕ МОДУЛЬНО, :scroll: CL валиден, :balance_scale: Баланс

#1905 Discord URL in server name
  code/controllers/configuration/entries/general.dm
  code/game/world.dm
  config/bandastation/bandastation_config.txt
Labels: :finnadie: НЕ МОДУЛЬНО, :floppy_disk: Изменение конфига, :scroll: CL не требуется

#1909 Update discord announce workflow [ci skip]
  .github/workflows/discord_pr_announce.yml
Labels: :guitar: Инструменты, :scroll: CL не требуется

#1911 Self examine translate fix
  code/modules/surgery/bodyparts/_bodyparts.dm
Labels: :pencil: Перевод, :finnadie: НЕ МОДУЛЬНО, :scroll: CL валиден

#1900 Spawn Panel verb rename and some fixes
  code/modules/admin/admin_verbs.dm
  code/modules/admin/spawn_panel/spawn_panel.dm
  code/modules/admin/verbs/admingame.dm
  tgui/packages/tgui/interfaces/SpawnPanel/CreateObject.tsx
  tgui/packages/tgui/interfaces/SpawnPanel/CreateObjectSettings.tsx
  tgui/packages/tgui/interfaces/SpawnPanel/index.tsx
Labels: TGUI, :finnadie: НЕ МОДУЛЬНО, :scroll: CL валиден

#1912 remove: remove stupid fishing sources
  code/game/objects/structures/maintenance.dm
  code/game/objects/structures/water_structures/toilet.dm
  code/modules/antagonists/heretic/influences.dm
  code/modules/antagonists/space_dragon/carp_rift.dm
  code/modules/vending/vendor/_vending.dm
Labels: :finnadie: НЕ МОДУЛЬНО, :scroll: CL валиден

#1888 Change revenant tts
  modular_bandastation/tts/code/base_seeds/mobs/hostile.dm
Labels: :scroll: CL валиден

#1914 Rename advocates mentions to lawyer
  modular_bandastation/translations/code/translation_data/ru_names.toml
  strings/ion_laws.json
  strings/locations.json
  strings/sillytips.txt
  strings/tips.txt
Labels: :scroll: CL валиден

#1922 Auto gamma level on war
  code/modules/antagonists/nukeop/equipment/nuclear_challenge.dm
Labels: :finnadie: НЕ МОДУЛЬНО, :scroll: CL валиден

#1923 fluff names for `deltastation` and `metastation`, welcome announcements from Paradise
  _maps/cyberiad.json
  _maps/deltastation.json
  _maps/metastation.json
  modular_bandastation/aesthetics_sounds/sound/welcome_sounds/welcome_cerebron.ogg
  modular_bandastation/aesthetics_sounds/sound/welcome_sounds/welcome_kerberos.ogg
Labels: :sound: Звук, :scroll: CL валиден

#1924 Cant change GAMMA and EPSILON sec levels from console
  code/game/machinery/computer/communications.dm
Labels: :finnadie: НЕ МОДУЛЬНО, :scroll: CL валиден

#1917 Remove custodial key from uplink
  code/modules/uplink/uplink_items/nukeops.dm
Labels: :finnadie: НЕ МОДУЛЬНО, :scroll: CL валиден

#1916 image: DNR button
  modular_bandastation/hud/_hud.dm
  modular_bandastation/hud/_hud.dme
  modular_bandastation/hud/code/hud.dm
  modular_bandastation/hud/icons/hud.dmi
  modular_bandastation/modular_bandastation.dme
Labels: :paintbrush: Спрайты, :scroll: CL валиден

#1928 feat: переводы стен, бросков и пары предметов
  code/game/atom/atom_materials.dm
  code/game/objects/items/signs.dm
  code/game/objects/items/storage/boxes/job_boxes.dm
  code/game/turfs/closed/wall/material_walls.dm
  code/game/turfs/closed/wall/mineral_walls.dm
  code/game/turfs/closed/wall/reinf_walls.dm
  code/game/turfs/closed/walls.dm
  code/modules/mob/living/living_item_handling.dm
  modular_bandastation/translations/code/translation_data/ru_names.toml
  tgui/packages/tgui/interfaces/Autolathe.tsx
Labels: :pencil: Перевод, TGUI, :feelsgood: Частичная модульность, :wrench: Фикс, :scroll: CL валиден

#1825 Fix: Sledgehammer sprites fixes
  modular_bandastation/weapon/icons/melee/inhands/lefthand.dmi
  modular_bandastation/weapon/icons/melee/inhands/righthand.dmi
  modular_bandastation/weapon/icons/melee/melee_back.dmi
Labels: :paintbrush: Спрайты, :scroll: CL валиден

#1920 translation: weather announcements
  code/datums/components/weatherannouncer.dm
  code/datums/weather/weather_types/ash_storm.dm
  code/datums/weather/weather_types/floor_is_lava.dm
  code/datums/weather/weather_types/radiation_storm.dm
  code/datums/weather/weather_types/rain_storm.dm
  code/datums/weather/weather_types/sand_storm.dm
  code/datums/weather/weather_types/snow_storm.dm
  code/datums/weather/weather_types/void_storm.dm
Labels: :finnadie: НЕ МОДУЛЬНО, :scroll: CL валиден

#1941 Translate: Station Goals announce
  code/modules/station_goals/bsa.dm
  code/modules/station_goals/dna_vault.dm
  code/modules/station_goals/meteor_shield.dm
  code/modules/station_goals/station_goal.dm
  code/modules/station_goals/vault_mutation.dm
  modular_bandastation/translations/code/translation_data/ru_names.toml
Labels: :pencil: Перевод, :feelsgood: Частичная модульность, :scroll: CL валиден

#1945 fix multiple help tickets creation, fix captain requirements to play info display
  modular_bandastation/ticket_manager/code/create_ticket_ui.dm
  tgui/packages/tgui/styles/interfaces/PreferencesMenu.scss
Labels: TGUI, :feelsgood: Частичная модульность, :wrench: Фикс, :scroll: CL валиден

#1946 nuclear disk not teleported when skrell headpocket is removed from the head, headpocket contents is dropped on removal from the head
  code/modules/surgery/bodyparts/_bodyparts.dm
  code/modules/surgery/organs/organ_movement.dm
  modular_bandastation/species/code/surgery/organs/external/skrell_external.dm
Labels: :feelsgood: Частичная модульность, :wrench: Фикс, :scroll: CL валиден

#1956 bugfix: translate interface
  tgui/packages/tgui/interfaces/RuNamesSuggestPanel.jsx
Labels: TGUI, :wrench: Фикс, :scroll: CL валиден
