Repository ss220club/BandaStation, pull requests merged in 2025-03, with the labels that each got.

#1190 fix ai tracking
  code/game/say.dm
Labels: :wrench: Фикс, :scroll: CL валиден

#1199 Rebranding 'Мостовой Ассистент' to 'Адъютант'
  code/__DEFINES/bandastation/ru_jobs.dm
  modular_bandastation/ru_jobs/code/ru_id_cards.dm
  modular_bandastation/ru_jobs/code/ru_jobs.dm
  tgui/packages/tgui/bandastation/ru_jobs.tsx
Labels: TGUI, :scroll: CL не требуется

#1151 Feat: Explorer job
  _maps/cyberiad.json
  _maps/deltastation.json
  _maps/icebox.json
  _maps/metastation.json
  _maps/tramstation.json
  code/__DEFINES/access.dm
  code/__DEFINES/bandastation/ru_jobs.dm
  code/datums/station_traits/positive_traits.dm
  icons/mob/huds/hud.dmi
  modular_bandastation/_defines220/code/defines/atom_hud.dm
  modular_bandastation/_defines220/code/defines/jobs.dm
  modular_bandastation/automapper/code/area_spawn_entries.dm
  modular_bandastation/jobs/_jobs.dm
  modular_bandastation/jobs/_jobs.dme
  modular_bandastation/jobs/code/job_types/explorer/job.dm
  modular_bandastation/jobs/code/job_types/explorer/landmarks.dm
  modular_bandastation/jobs/code/job_types/explorer/pda.dm
  modular_bandastation/jobs/code/job_types/explorer/trim.dm
  modular_bandastation/jobs/icons/mob/landmarks.dmi
  modular_bandastation/jobs/icons/obj/card.dmi
  modular_bandastation/outfits/_outfits.dm
  modular_bandastation/outfits/_outfits.dme
  modular_bandastation/outfits/code/explorer.dm
  modular_bandastation/ru_jobs/code/ru_id_cards.dm
  modular_bandastation/ru_jobs/code/ru_jobs.dm
  tgui/packages/tgui/bandastation/ru_jobs.tsx
  tgui/packages/tgui/interfaces/Orbit/constants.ts
  tgui/packages/tgui/interfaces/common/JobToIcon.ts
Labels: :trollface: Фича, TGUI, :paintbrush: Спрайты, :scroll: CL валиден

#1197 Recorder proper tts
  code/__DEFINES/say.dm
  code/game/objects/items/devices/taperecorder.dm
  code/modules/mapfluff/ruins/icemoonruin_code/commsagent.dm
  code/modules/mapfluff/ruins/spaceruin_code/TheDerelict.dm
  code/modules/mob/living/living_say.dm
  modular_bandastation/objects/_objects.dme
  modular_bandastation/objects/code/items/devices/recorder/recorder_message.dm
  modular_bandastation/tts/code/base_seeds/imaginary_friend.dm
  modular_bandastation/tts/code/tts_component.dm
  modular_bandastation/tts/code/tts_hear.dm
  modular_bandastation/tts/code/tts_seed.dm
Labels: :scroll: CL валиден

#1182 Feat: CQC implant
  modular_bandastation/implants/_implants.dm
  modular_bandastation/implants/_implants.dme
  modular_bandastation/implants/code/implant_cqc.dm
  modular_bandastation/modular_bandastation.dme
Labels: :trollface: Фича, :scroll: CL валиден

#1211 Fix TGUI Say for 516
  tgui/packages/tgui-say/516/constants.ts
  tgui/packages/tgui-say/516/helpers.ts
  tgui/packages/tgui-say/516/styles/colors.scss
Labels: TGUI, :wrench: Фикс, :scroll: CL валиден

#1203 Fix: Removes English Mamma-Mia
  code/modules/clothing/masks/moustache.dm
  modular_bandastation/translations/_translations.dme
  modular_bandastation/translations/code/moustache.dm
Labels: :wrench: Фикс, :scroll: CL валиден

#1207 hairstyle transfer
  modular_bandastation/customization/code/sprite_accessories/hair.dm
  modular_bandastation/customization/icons/sprite_accessories/hair.dmi
Labels: :paintbrush: Спрайты, :scroll: CL валиден

#1215 Cyberiad: minor fixes
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: :world_map: Изменение Карты, :wrench: Фикс, :scroll: CL валиден

#1217 Balance: Headslug density
  modular_bandastation/balance/_balance.dme
  modular_bandastation/balance/code/headslug.dm
Labels: :scroll: CL валиден, :balance_scale: Баланс

#1216 Balance: Telescopic baton deals less stamina damage
  modular_bandastation/balance/_balance.dme
  modular_bandastation/balance/code/weapons/baton.dm
Labels: :scroll: CL валиден, :balance_scale: Баланс

#1198 USSP drinks
  modular_bandastation/objects/code/items/consumables/drinks.dm
  modular_bandastation/objects/icons/obj/items/drinks.dmi
Labels: :paintbrush: Спрайты, :scroll: CL валиден

#1167 Who is TGUI?
  modular_bandastation/modular_bandastation.dme
  modular_bandastation/tgui_who/_tgui_who.dm
  modular_bandastation/tgui_who/_tgui_who.dme
  modular_bandastation/tgui_who/code/tgui_who.dm
  tgui/packages/tgui/interfaces/Who/BaseInfo.tsx
  tgui/packages/tgui/interfaces/Who/Filters.tsx
  tgui/packages/tgui/interfaces/Who/Ping.tsx
  tgui/packages/tgui/interfaces/Who/Subject.tsx
  tgui/packages/tgui/interfaces/Who/constants.ts
  tgui/packages/tgui/interfaces/Who/helpers.ts
  tgui/packages/tgui/interfaces/Who/index.tsx
  tgui/packages/tgui/interfaces/Who/types.ts
  tgui/packages/tgui/styles/interfaces/Who.scss
  tgui/packages/tgui/styles/main.scss
Labels: :microscope: Testmerge Active, TGUI, :scroll: CL валиден

#1205 Add: Crew Monitor now can sort by Department Head
  tgui/packages/tgui/interfaces/CrewConsole.tsx
Labels: TGUI, :scroll: CL валиден

#1117 Add: New weapon & caliber - .35 Wespe pistol
  modular_bandastation/_defines220/_defines220.dme
  modular_bandastation/_defines220/code/defines/calibers.dm
  modular_bandastation/objects/_objects.dme
  modular_bandastation/objects/code/items/weapons/ranged/ballistic/ammo_boxes.dm
  modular_bandastation/objects/code/items/weapons/ranged/ballistic/ammo_casings.dm
  modular_bandastation/objects/code/items/weapons/ranged/ballistic/magazines.dm
  modular_bandastation/objects/code/items/weapons/ranged/ballistic/projectiles.dm
  modular_bandastation/objects/code/items/weapons/ranged/ballistic/supply_packs.dm
  modular_bandastation/objects/code/items/weapons/ranged/ballistic/wespe.dm
  modular_bandastation/objects/icons/obj/weapons/guns/ammo.dmi
  modular_bandastation/objects/icons/obj/weapons/guns/ballistic.dmi
  modular_bandastation/objects/sounds/pistol_light.ogg
  modular_bandastation/translations/code/translation_data/ru_names.toml
Labels: :poop: Stale, :sound: Звук, :paintbrush: Спрайты, :scroll: CL валиден

#1241 Update map position for all users who use UI
  tgui/packages/tgui/interfaces/CameraConsole220.tsx
  tgui/packages/tgui/interfaces/common/NanoMap.tsx
Labels: TGUI, :shipit: Улучшение, :scroll: CL валиден

#1248 Add `sealed` icon_state for airlock overlays
  modular_bandastation/aesthetics/airlocks/icons/centcom/overlays.dmi
  modular_bandastation/aesthetics/airlocks/icons/external/overlays.dmi
  modular_bandastation/aesthetics/airlocks/icons/hatch/overlays.dmi
  modular_bandastation/aesthetics/airlocks/icons/station/overlays.dmi
  modular_bandastation/aesthetics/airlocks/icons/station2/overlays.dmi
Labels: :paintbrush: Спрайты, :wrench: Фикс, :scroll: CL валиден

#1250 Crew Monitor NanoMap
  code/game/machinery/computer/crew.dm
  code/game/objects/items/devices/sensor_device.dm
  code/modules/pai/pai.dm
  code/modules/pai/software.dm
  modular_bandastation/nanomap/_nanomap.dme
  modular_bandastation/nanomap/code/crew_monitor.dm
  tgui/packages/tgui/interfaces/CrewConsole220/HealthStat.tsx
  tgui/packages/tgui/interfaces/CrewConsole220/MapView.tsx
  tgui/packages/tgui/interfaces/CrewConsole220/TableView.tsx
  tgui/packages/tgui/interfaces/CrewConsole220/constants.tsx
  tgui/packages/tgui/interfaces/CrewConsole220/index.tsx
  tgui/packages/tgui/interfaces/CrewConsole220/types.ts
  tgui/packages/tgui/interfaces/common/NanoMap.tsx
  tgui/packages/tgui/styles/interfaces/NanoMap.scss
Labels: TGUI, :scroll: CL валиден

#1251 Fix NanoMap component
  tgui/packages/tgui/interfaces/common/NanoMap.tsx
Labels: TGUI, :wrench: Фикс, :scroll: CL валиден

#1256 Fix camera console
  tgui/packages/tgui/interfaces/CameraConsole220.tsx
Labels: TGUI, :wrench: Фикс, :scroll: CL не требуется

#1219 Minor announcements translate
  code/datums/communications.dm
  code/datums/world_topic.dm
  code/game/machinery/computer/communications.dm
  code/game/machinery/requests_console.dm
  code/game/objects/items/charter.dm
  code/modules/admin/topic.dm
  code/modules/antagonists/malf_ai/malf_ai_modules.dm
  code/modules/antagonists/wizard/grand_ritual/finales/captaincy.dm
  code/modules/jobs/job_types/station_trait/human_ai.dm
  code/modules/mining/aux_base.dm
  code/modules/mob/living/silicon/ai/ai_say.dm
  code/modules/power/supermatter/supermatter_delamination/delamination_effects.dm
  code/modules/security_levels/keycard_authentication.dm
  code/modules/shuttle/mobile_port/variants/emergency/emergency.dm
  code/modules/shuttle/mobile_port/variants/emergency/emergency_console.dm
  code/modules/shuttle/shuttle_events/humans.dm
  code/modules/shuttle/shuttle_events/turbulence.dm
Labels: :poop: Stale, :pencil: Перевод, :scroll: CL валиден

#1261 Update `nanomap-renderer`
  tools/nanomap_renderer/nanomap-renderer
Labels: :guitar: Инструменты, :scroll: CL не требуется

#1267 fix tajaran mutation toxic recipe
  modular_bandastation/species/code/reagents/mutation.dm
Labels: :wrench: Фикс, :scroll: CL валиден

#1273 Fix examine panel
  modular_bandastation/examine_panel/code/examine_panel_component.dm
  tgui/packages/tgui/interfaces/ExaminePanel.tsx
Labels: TGUI, :wrench: Фикс, :scroll: CL валиден

#1274 Should be announced option and announcements for ERT squad spawn
  modular_bandastation/ert/code/ert_manager.dm
  tgui/packages/tgui/interfaces/ErtManager.tsx
Labels: TGUI, :scroll: CL валиден

#1275 Fix typo in announce
  modular_bandastation/ert/code/ert_manager.dm
Labels: :scroll: CL валиден

#1124 Adds hookas
  code/modules/unit_tests/unit_test.dm
  modular_bandastation/bar_hookahs/_bar_hookahs.dm
  modular_bandastation/bar_hookahs/_bar_hookahs.dme
  modular_bandastation/bar_hookahs/code/bar_hookahs.dm
  modular_bandastation/bar_hookahs/icons/hookah.dmi
  modular_bandastation/bar_hookahs/icons/radial.dmi
  modular_bandastation/modular_bandastation.dme
  modular_bandastation/translations/code/translation_data/ru_names.toml
Labels: :microscope: Testmerge Active, :paintbrush: Спрайты, :shield: Stale Exempt, :scroll: CL валиден

#1277 fix blueshield and ntr closets content population, let eg14 (blueshield pistol) to holsters
  code/datums/storage/subtypes/holsters.dm
  modular_bandastation/objects/code/structures/crates_lockers/closets/secure/blueshield.dm
  modular_bandastation/objects/code/structures/crates_lockers/closets/secure/nanotrasen_representative.dm
Labels: :wrench: Фикс, :scroll: CL валиден

#1280 Small hookah display text
  modular_bandastation/bar_hookahs/code/bar_hookahs.dm
Labels: :wrench: Фикс, :scroll: CL валиден
