Repository ss220club/BandaStation, pull requests merged in 2025-07, with the labels that each got.

#1519 Tweak NanoMap
  code/game/machinery/computer/camera.dm
  tgui/packages/tgui/interfaces/CameraConsole220.tsx
  tgui/packages/tgui/interfaces/CrewConsole220/MapView.tsx
  tgui/packages/tgui/interfaces/CrewConsole220/index.tsx
  tgui/packages/tgui/interfaces/common/NanoMap.tsx
  tgui/packages/tgui/styles/interfaces/NanoMap.scss
Labels: TGUI, :finnadie: НЕ МОДУЛЬНО, :shipit: Улучшение, :shield: Stale Exempt, :scroll: CL валиден

#1457 [TM] AI laws overhaul
  code/datums/ai_laws/laws_antagonistic.dm
  code/datums/ai_laws/laws_neutral.dm
  code/datums/ai_laws/laws_station_sided.dm
  code/datums/station_traits/neutral_traits.dm
  code/game/objects/effects/spawners/random/ai_module.dm
  code/game/objects/items/AI_modules/full_lawsets.dm
  code/game/objects/items/AI_modules/supplied.dm
  code/game/objects/items/AI_modules/zeroth.dm
  code/modules/mapfluff/ruins/spaceruin_code/forgottenship.dm
  config/game_options.txt
  modular_bandastation/ai_laws/_ai_laws.dm
  modular_bandastation/ai_laws/_ai_laws.dme
  modular_bandastation/ai_laws/code/crewsimov.dm
  modular_bandastation/ai_laws/code/crewsimovpp.dm
  modular_bandastation/ai_laws/code/epsilon.dm
  modular_bandastation/ai_laws/code/ert.dm
  modular_bandastation/ai_laws/code/nt_default.dm
  modular_bandastation/ai_laws/code/onecrew.dm
  modular_bandastation/ai_laws/code/petrovich.dm
  modular_bandastation/ai_laws/code/renter.dm
  modular_bandastation/translations/code/ru_names.toml
Labels: :feelsgood: Частичная модульность, :floppy_disk: Изменение конфига, :scroll: CL валиден

#1545 move ru_names.toml to proper folder
  modular_bandastation/translations/code/translation_data/ru_names.toml
Labels: :pencil: Перевод, :wrench: Фикс, :scroll: CL валиден

#1516 Add: GP-9 NanoTrasen Security Pistol (100% NT quality)
  code/modules/research/techweb/nodes/security_nodes.dm
  modular_bandastation/_defines220/code/defines/calibers.dm
  modular_bandastation/objects/_objects.dme
  modular_bandastation/objects/code/items/weapons/ranged/ballistic/ammo_boxes.dm
  modular_bandastation/objects/code/items/weapons/ranged/ballistic/ammo_casings.dm
  modular_bandastation/objects/code/items/weapons/ranged/ballistic/gp9.dm
  modular_bandastation/objects/code/items/weapons/ranged/ballistic/magazines.dm
  modular_bandastation/objects/code/items/weapons/ranged/ballistic/projectiles.dm
  modular_bandastation/objects/code/items/weapons/ranged/ballistic/sabel.dm
  modular_bandastation/objects/code/items/weapons/ranged/ballistic/supply_packs.dm
  modular_bandastation/objects/code/items/weapons/ranged/ballistic/weapon_designs.dm
  modular_bandastation/objects/code/items/weapons/ranged/ballistic/wespe.dm
  modular_bandastation/objects/icons/obj/weapons/guns/ammo.dmi
  modular_bandastation/objects/icons/obj/weapons/guns/ballistic40x32.dmi
  modular_bandastation/translations/code/translation_data/ru_names.toml
Labels: :paintbrush: Спрайты, :feelsgood: Частичная модульность, :scroll: CL валиден

#1546 Add missing box sprites
  modular_bandastation/aesthetics/boxes/icons/boxes.dmi
Labels: :paintbrush: Спрайты, :scroll: CL валиден

#1550 Proper priority for tts pref
  modular_bandastation/tts/code/preferences/tts_preferences.dm
Labels: :scroll: CL не требуется

#1554 Fix 2 UI's after merge upstream
  tgui/packages/tgui/interfaces/CameraConsole220.tsx
  tgui/packages/tgui/interfaces/Jukebox220.tsx
Labels: TGUI, :scroll: CL не требуется

#1561 Revert "New: adds new canned food at cargo"
  modular_bandastation/objects/_objects.dme
  modular_bandastation/objects/code/items/consumables/canned_food.dm
  modular_bandastation/objects/code/items/food_cargo_packs.dm
  modular_bandastation/objects/code/items/trash.dm
  modular_bandastation/objects/icons/obj/items/cannedfood.dmi
Labels: :paintbrush: Спрайты, :scroll: CL не требуется

#1562 Fix: Crocodile runtime
  modular_bandastation/mobs/code/basic.dm
Labels: :wrench: Фикс, :scroll: CL валиден

#1559 Fix: Dark shuttle chair belt overlay
  modular_bandastation/objects/icons/obj/structures/chairs.dmi
Labels: :paintbrush: Спрайты, :wrench: Фикс, :scroll: CL валиден

#1551 Cyberiad: cursed med remap. Part 1
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: :finnadie: НЕ МОДУЛЬНО, :world_map: Изменение Карты, :scroll: CL валиден

#1573 make attack verb advective more descriptive for the corresponding demo_mod
  code/game/objects/objs.dm
Labels: :scroll: CL не требуется

#1575 fix runtime in tts hear for ghosts
  code/datums/chatmessage.dm
  code/modules/mob/dead/observer/observer_say.dm
  code/modules/mob/mob.dm
  modular_bandastation/tts/_tts.dme
  modular_bandastation/tts/code/tts_hear.dm
  modular_bandastation/tts/code/tts_seed.dm
Labels: :feelsgood: Частичная модульность, :wrench: Фикс, :scroll: CL валиден

#1576 fix zero devision runtime in `cmp_job_staffing_priority`
  modular_bandastation/jobs/code/job_types/job_staffing_priority.dm
Labels: :wrench: Фикс, :scroll: CL невалиден

#1564 Translate priority_announce
  code/controllers/subsystem/dynamic/dynamic_ruleset_midround.dm
  code/game/objects/items/dna_probe.dm
  code/modules/antagonists/revolution/revolution_handler.dm
  code/modules/events/aurora_caelus.dm
  code/modules/events/holiday/easter.dm
  code/modules/events/holiday/vday.dm
  code/modules/events/holiday/xmas.dm
  code/modules/events/supermatter_surge.dm
  code/modules/events/vent_clog.dm
  code/modules/events/wizard/object_rain.dm
  code/modules/meteors/meteor_dark_matteor.dm
  code/modules/power/supermatter/supermatter_delamination/cascade_delam.dm
  code/modules/power/supermatter/supermatter_delamination/delamination_effects.dm
  code/modules/power/supermatter/supermatter_variants.dm
  code/modules/spells/spell_types/shapeshift/_shapeshift.dm
  code/modules/station_goals/meteor_shield.dm
  code/modules/transport/tram/tram_controller.dm
Labels: :pencil: Перевод, :finnadie: НЕ МОДУЛЬНО, :scroll: CL валиден

#1589 Fix linters
  modular_bandastation/aesthetics/_aesthetics.dme
  modular_bandastation/aesthetics/medalbox/code/medalbox.dm
  modular_bandastation/aesthetics/medalbox/icons/medalbox.dmi
  tgui/packages/tgui-say/ChannelIterator.test.ts
  tgui/packages/tgui-say/ChannelIterator.ts
  tools/ci/check_misc.sh
Labels: TGUI, :paintbrush: Спрайты, :feelsgood: Частичная модульность, :guitar: Инструменты, :wrench: Фикс, :scroll: CL не требуется

#1591 Tweak windows
  modular_bandastation/aesthetics/_aesthetics.dme
  modular_bandastation/aesthetics/windows/code/directional_windows.dm
  modular_bandastation/aesthetics/windows/code/windows.dm
Labels: :shipit: Улучшение, :scroll: CL валиден

#1587 Bug-fix: Исправления отслеживания содержимого стазис-мешка
  modular_bandastation/balance/code/_brain.dm
Labels: :wrench: Фикс, :scroll: CL валиден

#1609 Add: Etamine Ind. lodaut drip
  modular_bandastation/aesthetics/clothing/centcom/icons/obj/clothing/gloves/gloves.dmi
  modular_bandastation/loadout/_loadout.dme
  modular_bandastation/loadout/code/categories/hands.dm
  modular_bandastation/loadout/code/categories/inhands.dm
  modular_bandastation/loadout/code/categories/masks.dm
  modular_bandastation/loadout/code/categories/shoes.dm
  modular_bandastation/loadout/code/categories/suits.dm
  modular_bandastation/loadout/code/categories/uniform.dm
  modular_bandastation/objects/_objects.dme
  modular_bandastation/objects/code/items/clothing/gloves/gloves.dm
  modular_bandastation/objects/code/items/clothing/head/mask.dm
  modular_bandastation/objects/code/items/clothing/shoes/shoes.dm
  modular_bandastation/objects/code/items/clothing/suits/cloaks.dm
  modular_bandastation/objects/code/items/clothing/suits/jackets.dm
  modular_bandastation/objects/code/items/clothing/suits/suits.dm
  modular_bandastation/objects/code/items/clothing/under/jobs/etamin_ind.dm
  modular_bandastation/objects/code/items/storage/backpack.dm
  modular_bandastation/objects/icons/mob/clothing/back.dmi
  modular_bandastation/objects/icons/mob/clothing/gloves.dmi
  modular_bandastation/objects/icons/mob/clothing/head/hood.dmi
  modular_bandastation/objects/icons/mob/clothing/head/masks.dmi
  modular_bandastation/objects/icons/mob/clothing/neck.dmi
  modular_bandastation/objects/icons/mob/clothing/shoes.dmi
  modular_bandastation/objects/icons/mob/clothing/suits/jacket.dmi
  modular_bandastation/objects/icons/mob/clothing/suits/suits.dmi
  modular_bandastation/objects/icons/mob/clothing/under/etamin_ind.dmi
  modular_bandastation/objects/icons/mob/inhands/backpack_lefthand.dmi
  modular_bandastation/objects/icons/mob/inhands/backpack_righthand.dmi
  modular_bandastation/objects/icons/mob/inhands/clothing_left_hand.dmi
  modular_bandastation/objects/icons/mob/inhands/clothing_right_hand.dmi
  modular_bandastation/objects/icons/obj/clothing/gloves.dmi
  modular_bandastation/objects/icons/obj/clothing/head/hood.dmi
  modular_bandastation/objects/icons/obj/clothing/head/masks.dmi
  modular_bandastation/objects/icons/obj/clothing/neck.dmi
  modular_bandastation/objects/icons/obj/clothing/shoes.dmi
  modular_bandastation/objects/icons/obj/clothing/suits/jacket.dmi
  modular_bandastation/objects/icons/obj/clothing/suits/suits.dmi
  modular_bandastation/objects/icons/obj/clothing/under/etamin_ind.dmi
  modular_bandastation/objects/icons/obj/storage/backpack.dmi
Labels: :paintbrush: Спрайты, :scroll: CL валиден

#1616 Ability to pick forced heavy pirates
  code/controllers/subsystem/dynamic/dynamic_ruleset_midround.dm
Labels: :finnadie: НЕ МОДУЛЬНО, :scroll: CL валиден

#1604 Balance: Shade flags
  modular_bandastation/balance/_balance.dme
  modular_bandastation/balance/code/mobs/shade.dm
Labels: :shipit: Улучшение, :scroll: CL валиден

#1607 Balance: Make Paddy great again
  modular_bandastation/balance/_balance.dme
  modular_bandastation/balance/code/vehicle/paddy.dm
Labels: :scroll: CL валиден

#1563 sanitize emotes from IC chats and other IC things
  code/__HELPERS/text.dm
  code/datums/status_effects/debuffs/speech_debuffs.dm
  code/game/machinery/camera/camera_construction.dm
  code/game/machinery/computer/dna_console.dm
  code/game/machinery/doors/airlock.dm
  code/game/objects/items/cards_ids.dm
  code/game/objects/structures/door_assembly.dm
  code/game/objects/structures/windoor_assembly.dm
  code/game/say.dm
  code/modules/admin/topic.dm
  code/modules/admin/verbs/pray.dm
  code/modules/antagonists/blob/overmind.dm
  code/modules/library/bookcase.dm
  code/modules/library/lib_machines.dm
  code/modules/mob/living/basic/space_fauna/revenant/_revenant.dm
  code/modules/mob/living/emote.dm
  code/modules/mob/living/living_say.dm
  code/modules/mob/mob_say.dm
  code/modules/modular_computers/file_system/programs/card.dm
  code/modules/modular_computers/file_system/programs/frontier.dm
  code/modules/wiremod/components/atom/remotecam.dm
  modular_bandastation/translations/code/translate_suggest_ru_names.dm
Labels: :microscope: Testmerge Active, :feelsgood: Частичная модульность, :scroll: CL валиден

#1536 Integrate `Discord` linking to `Title Screen`
  code/controllers/master.dm
  code/modules/admin/admin_verbs.dm
  code/modules/client/client_procs.dm
  code/modules/mob/dead/new_player/login.dm
  code/modules/mob/dead/new_player/new_player.dm
  modular_bandastation/_defines220/code/defines/misc.dm
  modular_bandastation/metaserver/code/discord_link.dm
  modular_bandastation/metaserver/code/interview.dm
  modular_bandastation/metaserver/code/ss_central.dm
  modular_bandastation/title_screen/code/asset_lobby.dm
  modular_bandastation/title_screen/code/new_player.dm
  modular_bandastation/title_screen/code/station_traits.dm
  modular_bandastation/title_screen/code/title_screen_controls.dm
  modular_bandastation/title_screen/code/title_screen_datum.dm
  modular_bandastation/title_screen/code/title_screen_html.dm
  modular_bandastation/title_screen/code/title_screen_subsystem.dm
  modular_bandastation/title_screen/html/title_screen.js
  modular_bandastation/title_screen/html/title_screen_default.css
Labels: :microscope: Testmerge Active, :feelsgood: Частичная модульность, :scroll: CL валиден

#1641 Readble fountain pen font
  code/modules/paperwork/pen.dm
Labels: :finnadie: НЕ МОДУЛЬНО, :scroll: CL валиден
