Repository ss220club/BandaStation, pull requests merged in 2025-10, with the labels that each got.

#1979 Revert preferences style removal
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/JobsPage.tsx
  tgui/packages/tgui/styles/interfaces/PreferencesMenu.scss
Labels: TGUI, :scroll: CL не требуется

#1973 Add new OOC chat glowing
  modular_bandastation/chat/code/badges.dm
  modular_bandastation/chat/code/chat_preferences.dm
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/bandastation/donor_chat_shine.tsx
Labels: TGUI, :feelsgood: Частичная модульность, :scroll: CL валиден

#1952 Syllables translate
  code/modules/language/beachbum.dm
  code/modules/language/buzzwords.dm
  code/modules/language/calcic.dm
  code/modules/language/carptongue.dm
  code/modules/language/common.dm
  code/modules/language/draconic.dm
  code/modules/language/drone.dm
  code/modules/language/machine.dm
  code/modules/language/moffic.dm
  code/modules/language/monkey.dm
  code/modules/language/mushroom.dm
  code/modules/language/narsian.dm
  code/modules/language/nekomimetic.dm
  code/modules/language/piratespeak.dm
  code/modules/language/shadowtongue.dm
  code/modules/language/slime.dm
  code/modules/language/spinwarder.dm
  code/modules/language/sylvan.dm
  code/modules/language/terrum.dm
  code/modules/language/uncommon.dm
  code/modules/language/voltaic.dm
  code/modules/language/xenocommon.dm
Labels: :pencil: Перевод, :finnadie: НЕ МОДУЛЬНО, :scroll: CL валиден, :black_nib: Перевод одобрен

#1841 Fix: Preferences application on body modifications
  code/modules/mob/living/brain/brain_cybernetic.dm
  code/modules/mob/living/carbon/human/dummy.dm
  modular_bandastation/augmentation_preferences/code/body_modifications/_body_modifications_datum.dm
  modular_bandastation/augmentation_preferences/code/body_modifications/body_part/amputations.dm
  modular_bandastation/augmentation_preferences/code/body_modifications/body_part/prosthetics.dm
  modular_bandastation/augmentation_preferences/code/body_modifications/implants.dm
  modular_bandastation/augmentation_preferences/code/preferences/body_modification_preference.dm
  modular_bandastation/augmentation_preferences/code/preferences/body_modification_preference_middleware.dm
Labels: :feelsgood: Частичная модульность, :wrench: Фикс, :scroll: CL валиден

#1848 add: corporative judo
  code/modules/vending/security.dm
  modular_bandastation/martial_arts/_martial_arts.dm
  modular_bandastation/martial_arts/_martial_arts.dme
  modular_bandastation/martial_arts/code/_defines.dm
  modular_bandastation/martial_arts/code/judo/belt.dm
  modular_bandastation/martial_arts/code/judo/effect.dm
  modular_bandastation/martial_arts/code/judo/judo.dm
  modular_bandastation/martial_arts/code/judo/verb.dm
  modular_bandastation/martial_arts/icons/actions.dmi
  modular_bandastation/martial_arts/icons/belts.dmi
  modular_bandastation/martial_arts/icons/mob/belt.dmi
  modular_bandastation/martial_arts/sound/goldenblast.ogg
  modular_bandastation/modular_bandastation.dme
  modular_bandastation/translations/code/translation_data/ru_names.toml
Labels: :sound: Звук, :paintbrush: Спрайты, :feelsgood: Частичная модульность, :scroll: CL валиден

#1925 Rework malf AI objectivetes
  code/game/gamemodes/objective.dm
  code/modules/antagonists/malf_ai/malf_ai.dm
  code/modules/antagonists/malf_ai/malf_ai_modules.dm
Labels: :finnadie: НЕ МОДУЛЬНО, :scroll: CL валиден

#1780 Translate: Advanced surgery
  code/modules/surgery/advanced/bioware/cortex_folding.dm
  code/modules/surgery/advanced/bioware/cortex_imprint.dm
  code/modules/surgery/advanced/bioware/ligament_hook.dm
  code/modules/surgery/advanced/bioware/ligament_reinforcement.dm
  code/modules/surgery/advanced/bioware/muscled_veins.dm
  code/modules/surgery/advanced/bioware/nerve_grounding.dm
  code/modules/surgery/advanced/bioware/nerve_splicing.dm
  code/modules/surgery/advanced/bioware/vein_threading.dm
  code/modules/surgery/advanced/brainwashing.dm
  code/modules/surgery/advanced/lobotomy.dm
  code/modules/surgery/advanced/necrotic_revival.dm
  code/modules/surgery/advanced/pacification.dm
  code/modules/surgery/advanced/viral_bonding.dm
  code/modules/surgery/advanced/wingreconstruction.dm
Labels: :pencil: Перевод, :finnadie: НЕ МОДУЛЬНО, :scroll: CL валиден

#1932 Porting new AI Laws
  code/game/objects/effects/spawners/random/ai_module.dm
  config/game_options.txt
  modular_bandastation/ai_laws/_ai_laws.dme
  modular_bandastation/ai_laws/code/chapai.dm
  modular_bandastation/ai_laws/code/clown.dm
  modular_bandastation/ai_laws/code/cowboy.dm
  modular_bandastation/ai_laws/code/detective.dm
  modular_bandastation/ai_laws/code/druid.dm
  modular_bandastation/ai_laws/code/educator.dm
  modular_bandastation/ai_laws/code/fitnesscoach.dm
  modular_bandastation/ai_laws/code/friendbot.dm
  modular_bandastation/ai_laws/code/mediator.dm
  modular_bandastation/ai_laws/code/metaexperiment.dm
  modular_bandastation/ai_laws/code/mother.dm
  modular_bandastation/ai_laws/code/partybot.dm
  modular_bandastation/ai_laws/code/plantfriend.dm
  modular_bandastation/ai_laws/code/researcher.dm
  modular_bandastation/ai_laws/code/siliconcollective.dm
  modular_bandastation/ai_laws/code/spotless.dm
  modular_bandastation/ai_laws/code/travelguide.dm
  modular_bandastation/ai_laws/code/wafflehouse.dm
  modular_bandastation/translations/code/translation_data/ru_names.toml
Labels: :feelsgood: Частичная модульность, :floppy_disk: Изменение конфига, :scroll: CL валиден

#1978 Verbs Cleanup
  code/_onclick/hud/human.dm
  code/controllers/subsystem/ipintel.dm
  code/game/objects/items.dm
  code/modules/admin/admin_verbs.dm
  code/modules/admin/verbs/adminevents.dm
  code/modules/admin/verbs/adminfun.dm
  code/modules/admin/verbs/admingame.dm
  code/modules/admin/verbs/adminhelp.dm
  code/modules/admin/verbs/adminsay.dm
  code/modules/admin/verbs/deadsay.dm
  code/modules/admin/verbs/debug.dm
  code/modules/admin/verbs/mapping.dm
  code/modules/admin/verbs/policy_panel.dm
  code/modules/admin/verbs/possess.dm
  code/modules/client/client_procs.dm
  code/modules/client/verbs/ooc.dm
  code/modules/clothing/under/_under.dm
  code/modules/discord/accountlink.dm
  code/modules/discord/toggle_notify.dm
  code/modules/escape_menu/screen_objects/admin_text.dm
  code/modules/logging/log_holder.dm
  code/modules/mob/dead/new_player/new_player.dm
  code/modules/mob/living/living.dm
  code/modules/mob/living/navigation.dm
  code/modules/mob/living/silicon/robot/robot.dm
  code/modules/mob/mob.dm
  code/modules/mob/mob_say.dm
  code/modules/point/point.dm
  code/modules/tgui_panel/external.dm
  modular_bandastation/communication/code/LOOC.dm
  modular_bandastation/metaserver/_metaserver.dme
  modular_bandastation/metaserver/code/admin.dm
  modular_bandastation/title_screen/code/title_screen_controls.dm
Labels: :feelsgood: Частичная модульность, :scroll: CL валиден

#1842 Use small nuclear base
  _maps/templates/lazy_templates/ss220/syndie_cc_small.dmm
  code/__DEFINES/lazy_templates.dm
  modular_bandastation/mapping/code/templates.dm
Labels: :microscope: Testmerge Active, :world_map: Изменение Карты, :feelsgood: Частичная модульность, :shield: Stale Exempt, :scroll: CL валиден

#1938 Redirect on popcap reached
  code/modules/admin/IsBanned.dm
  code/modules/client/client_procs.dm
Labels: :finnadie: НЕ МОДУЛЬНО, :scroll: CL не требуется

#1958 Round end webhook
  code/__HELPERS/roundend.dm
  config/bandastation/bandastation_config.txt
  modular_bandastation/discord/code/discord.dm
  modular_bandastation/metaserver/code/interview.dm
Labels: :feelsgood: Частичная модульность, :floppy_disk: Изменение конфига, :scroll: CL не требуется

#1968 add: closet lockpicking from para220
  code/game/objects/structures/crates_lockers/closets.dm
  modular_bandastation/closet_picklocking/_closet_picklocking.dm
  modular_bandastation/closet_picklocking/_closet_picklocking.dme
  modular_bandastation/closet_picklocking/code/closet_picklocking.dm
  modular_bandastation/modular_bandastation.dme
Labels: :feelsgood: Частичная модульность, :scroll: CL валиден

#1774 Translate: Researching nodes and shuttle announcements
  code/game/machinery/announcement_system.dm
  code/modules/modular_computers/file_system/programs/techweb.dm
  code/modules/research/rdconsole.dm
  code/modules/research/techweb/nodes/alien_nodes.dm
  code/modules/research/techweb/nodes/atmos_nodes.dm
  code/modules/research/techweb/nodes/bepis_nodes.dm
  code/modules/research/techweb/nodes/biology_nodes.dm
  code/modules/research/techweb/nodes/circuit_nodes.dm
  code/modules/research/techweb/nodes/cyborg_nodes.dm
  code/modules/research/techweb/nodes/engi_nodes.dm
  code/modules/research/techweb/nodes/mech_nodes.dm
  code/modules/research/techweb/nodes/medbay_nodes.dm
  code/modules/research/techweb/nodes/mining_nodes.dm
  code/modules/research/techweb/nodes/modsuit_nodes.dm
  code/modules/research/techweb/nodes/research_nodes.dm
  code/modules/research/techweb/nodes/robo_nodes.dm
  code/modules/research/techweb/nodes/security_nodes.dm
  code/modules/research/techweb/nodes/service_nodes.dm
  code/modules/research/techweb/nodes/surgery_nodes.dm
  code/modules/research/techweb/nodes/syndicate_nodes.dm
  code/modules/shuttle/mobile_port/variants/arrivals.dm
Labels: :poop: Stale, :finnadie: НЕ МОДУЛЬНО, :scroll: CL валиден

#1745 Cyberiad: atmos, CE office remap
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: :finnadie: НЕ МОДУЛЬНО, :world_map: Изменение Карты, :scroll: CL валиден
