Repository ss220club/BandaStation, pull requests merged in 2025-05, with the labels that each got.

#1382 Overhaul Gamma and Epsilon codes
  code/__HELPERS/priority_announce.dm
  code/controllers/configuration/entries/game_options.dm
  config/game_options.txt
  modular_bandastation/aesthetics/firealarm/icons/firealarm.dmi
  modular_bandastation/aesthetics_sounds/sound/attributions.txt
  modular_bandastation/aesthetics_sounds/sound/epsilon_laws.ogg
  modular_bandastation/aesthetics_sounds/sound/powerloss.ogg
  modular_bandastation/ai_laws/_ai_laws.dme
  modular_bandastation/ai_laws/code/epsilon.dm
  modular_bandastation/security_levels/code/security_level_datums.dm
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
  tgui/packages/tgui-panel/styles/tgchat/chat-light.scss
Labels: TGUI, :sound: Звук, :paintbrush: Спрайты, :floppy_disk: Изменение конфига, :scroll: CL валиден

#1402 standartize pigs as toy
  code/_globalvars/arcade.dm
  code/game/objects/effects/spawners/random/entertainment.dm
  code/game/objects/items/plushes.dm
  modular_bandastation/objects/_objects.dme
  modular_bandastation/objects/code/items/pig.dm
  modular_bandastation/objects/code/items/supply_packs.dm
Labels: :scroll: CL валиден

#1356 [TM] Save less messages with bigger interval
  tgui/packages/tgui-panel/chat/constants.ts
Labels: :stop_sign: Do Not Merge, TGUI, :shield: Stale Exempt, :scroll: CL валиден

#1404 Fix ID card description when applying sticker
  modular_bandastation/objects/code/items/id_stickers.dm
Labels: :scroll: CL валиден

#1406 new saber icons
  modular_bandastation/objects/icons/obj/weapons/saber/saber.dmi
  modular_bandastation/objects/icons/obj/weapons/saber/saber_left.dmi
  modular_bandastation/objects/icons/obj/weapons/saber/saber_right.dmi
Labels: :trollface: Фича, :paintbrush: Спрайты, :scroll: CL валиден

#1414 cargo department color for explorer
  modular_bandastation/jobs/code/job_types/explorer/trim.dm
Labels: :scroll: CL валиден

#1410 add unique blood to moths and skrells (grey and blue), color skrell tentacles same as skin, make skrells breathe underwater and swim
  code/__DEFINES/DNA.dm
  code/__DEFINES/colors.dm
  code/__DEFINES/mobs.dm
  code/datums/dna.dm
  code/game/objects/structures/crates_lockers/crates.dm
  code/modules/cargo/packs/medical.dm
  code/modules/mob/living/carbon/human/dummy.dm
  code/modules/reagents/reagent_containers/blood_pack.dm
  code/modules/unit_tests/quirks.dm
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_skrell.png
  modular_bandastation/species/_species.dme
  modular_bandastation/species/code/human/blood_types.dm
  modular_bandastation/species/code/human/species_type/moth.dm
  modular_bandastation/species/code/human/species_type/skrell.dm
  modular_bandastation/species/code/preferences/species_features/skrell/skrell_head_tentacle.dm
  modular_bandastation/species/code/preferences/species_features/skrell/skrell_head_tentacle_color.dm
  modular_bandastation/species/code/surgery/organs/external/skrell_external.dm
Labels: :scroll: CL валиден

#1416 Add HoS display case with donut
  _maps/map_files/Cyberiad/Cyberiad.dmm
  modular_bandastation/objects/code/structures/displaycase.dm
Labels: :world_map: Изменение Карты, :scroll: CL валиден

#1415 Translate: Hallucinations and traumas
  strings/boomer.json
  strings/hallucination.json
  strings/traumas.json
Labels: :pencil: Перевод, :scroll: CL валиден

#1434 Fix: Flatpack can no longer be inserted into the Bag of Holding
  code/datums/storage/subtypes/others/bag_of_holding.dm
Labels: :scroll: CL валиден

#1440 Add: loadout cloaks
  code/datums/greyscale/json_configs/bandastation/cloak.json
  code/modules/vending/clothesmate.dm
  modular_bandastation/loadout/_loadout.dme
  modular_bandastation/loadout/code/categories/neck.dm
  modular_bandastation/objects/code/items/clothing/suits/cloaks.dm
  modular_bandastation/objects/icons/mob/clothing/neck.dmi
  modular_bandastation/objects/icons/obj/clothing/neck.dmi
Labels: :paintbrush: Спрайты, :scroll: CL валиден

#1419 Add: New Crow Cloak
  modular_bandastation/loadout/code/categories/neck.dm
  modular_bandastation/objects/_objects.dme
  modular_bandastation/objects/code/items/clothing/neck/fancy.dm
  modular_bandastation/objects/icons/mob/clothing/neck.dmi
  modular_bandastation/objects/icons/obj/clothing/neck.dmi
  modular_bandastation/translations/code/ru_names.toml
Labels: :paintbrush: Спрайты, :scroll: CL валиден

#1428 ID stickers GAGS
  code/datums/greyscale/json_configs/bandastation/cat_id_sticker.json
  code/datums/greyscale/json_configs/bandastation/id_sticker.json
  code/datums/greyscale/json_configs/bandastation/neon_id_sticker.json
  code/datums/greyscale/json_configs/bandastation/silver_id_sticker.json
  code/datums/greyscale/json_configs/bandastation/snake_id_sticker.json
  modular_bandastation/objects/_objects.dme
  modular_bandastation/objects/code/greyscale/config_types/greyscale_items.dm
  modular_bandastation/objects/code/items/id_stickers.dm
  modular_bandastation/objects/icons/obj/items/id_stickers.dmi
Labels: :paintbrush: Спрайты, :scroll: CL валиден

#1409 Tweak & upgrade fake light
  modular_bandastation/aesthetics/lights/code/lights.dm
  modular_bandastation/aesthetics/lights/icons/lighting_overlay.dmi
  modular_bandastation/objects/code/structures/fake_light.dm
  modular_bandastation/objects/icons/obj/structure/light.dmi
Labels: :poop: Stale, :paintbrush: Спрайты, :scroll: CL валиден

#1444 Update medalbox sprite
  modular_bandastation/aesthetics/_aesthetics.dme
  modular_bandastation/aesthetics/attributions.txt
  modular_bandastation/aesthetics/medalbox/code/medalbox.dm
  modular_bandastation/aesthetics/medalbox/icons/medalbox.dmi
Labels: :paintbrush: Спрайты, :scroll: CL валиден

#1443 Fix spacing in Epsilon code text
  modular_bandastation/security_levels/code/security_level_datums.dm
Labels: :wrench: Фикс, :scroll: CL не требуется

#1445 Update fake airlocks sprites to ours
  modular_bandastation/aesthetics/airlocks/code/airlock_types.dm
  modular_bandastation/aesthetics/airlocks/icons/external/external.dmi
  modular_bandastation/aesthetics/airlocks/icons/hatch/maintenance.dmi
  modular_bandastation/aesthetics/airlocks/icons/station/engineering.dmi
Labels: :paintbrush: Спрайты, :scroll: CL не требуется

#1448 Tweak Nukie Ops
  _maps/shuttles/ss220/infiltrator_basic.dmm
  _maps/templates/lazy_templates/ss220/syndie_cc.dmm
  code/modules/uplink/uplink_items/nukeops.dm
Labels: :world_map: Изменение Карты, :shipit: Улучшение, :scroll: CL валиден

#1451 Tweak Tajaran language
  modular_bandastation/species/code/language/siiktajr.dm
Labels: :shipit: Улучшение, :scroll: CL валиден

#1455 Fix: clickable link discord after linking
  modular_bandastation/metaserver/code/discord_link.dm
Labels: :scroll: CL не требуется

#1439 New: adds new canned food at cargo
  modular_bandastation/objects/_objects.dme
  modular_bandastation/objects/code/items/consumables/canned_food.dm
  modular_bandastation/objects/code/items/food_cargo_packs.dm
  modular_bandastation/objects/code/items/trash.dm
  modular_bandastation/objects/icons/obj/items/cannedfood.dmi
Labels: :paintbrush: Спрайты, :scroll: CL валиден

#1468 Fix sec department choice
  code/__DEFINES/preferences.dm
  config/game_options.txt
Labels: :floppy_disk: Изменение конфига, :wrench: Фикс, :scroll: CL валиден

#1469 Cyberiad: Various improvements and fixes [Revisit edition]
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: :world_map: Изменение Карты, :wrench: Фикс, :scroll: CL валиден

#1058 Add: Shuttle sounds
  code/modules/shuttle/mobile_port/mobile_port.dm
  modular_bandastation/aesthetics_sounds/_aesthetics_sounds.dme
  modular_bandastation/aesthetics_sounds/code/shuttle.dm
  modular_bandastation/aesthetics_sounds/sound/shuttle/hyperspace_end_new.ogg
  modular_bandastation/aesthetics_sounds/sound/shuttle/hyperspace_mini.ogg
Labels: :microscope: Testmerge Active, :sound: Звук, :shield: Stale Exempt, :scroll: CL валиден
