Repository ss220club/BandaStation, pull requests merged in 2025-04, with the labels that each got.

#1206 Непереведённые предметы упоминайте тут
  modular_bandastation/translations/code/translation_data/ru_names.toml
Labels: :pencil: Перевод, :shield: Stale Exempt, :scroll: CL валиден

#946 Wip: SS Central - whitelist, discord link
  code/modules/admin/IsBanned.dm
  code/modules/admin/whitelist.dm
  config/bandastation/bandastation_config.txt
  modular_bandastation/_defines220/code/defines/misc.dm
  modular_bandastation/discord/_discord.dm
  modular_bandastation/discord/code/discord.dm
  modular_bandastation/loadout/code/client.dm
  modular_bandastation/metaserver/_metaserver.dm
  modular_bandastation/metaserver/_metaserver.dme
  modular_bandastation/metaserver/code/admin.dm
  modular_bandastation/metaserver/code/discord_link.dm
  modular_bandastation/metaserver/code/donate.dm
  modular_bandastation/metaserver/code/interview.dm
  modular_bandastation/metaserver/code/ss_central.dm
  modular_bandastation/modular_bandastation.dme
  modular_bandastation/title_screen/code/new_player.dm
  modular_bandastation/tts/code/SSHttp.dm
  modular_bandastation/whitelist220/_whitelist220.dm
  modular_bandastation/whitelist220/_whitelist220.dme
  modular_bandastation/whitelist220/code/whitelist220.dm
Labels: :microscope: Testmerge Active, :floppy_disk: Изменение конфига, :shield: Stale Exempt, :scroll: CL невалиден

#1287 Match shutters and button id for magistrate office on metastation
  _maps/bandastation/automapper/templates/metastation/metastation_magistrate_office.dmm
Labels: :world_map: Изменение Карты, :wrench: Фикс, :scroll: CL валиден

#1286 fix create and destroy test for IceBox
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_vulpkanin.png
  modular_bandastation/storyteller/code/gamemode.dm
Labels: :wrench: Фикс, :scroll: CL не требуется

#1288 fix warnings in id access subsystem for new department heads
  code/__DEFINES/access.dm
  code/__DEFINES/jobs.dm
  code/__DEFINES/security.dm
  code/controllers/subsystem/id_access.dm
  modular_bandastation/_defines220/code/defines/jobs.dm
Labels: :wrench: Фикс, :scroll: CL не требуется

#1292 fix bluescreen in access management app
  code/__DEFINES/access.dm
  code/__DEFINES/jobs.dm
  code/modules/vending/mail.dm
  modular_bandastation/jobs/code/departments/justice.dm
  modular_bandastation/jobs/code/departments/nt_representation.dm
Labels: :wrench: Фикс, :scroll: CL валиден

#1293 Adds Gamma and Epsilon codes to pda
  code/modules/modular_computers/computers/item/computer.dm
  modular_bandastation/security_levels/code/security_level_datums.dm
Labels: :scroll: CL валиден

#1184 Сторителлер - Фиксы, исправления, пожелания.
  config/bandastation/bandastation_config.txt
  modular_bandastation/storyteller/code/_defines/storyteller_defines.dm
  modular_bandastation/storyteller/code/event_defines/_round_event_control.dm
  modular_bandastation/storyteller/code/event_defines/ghostset/alien_infestation.dm
  modular_bandastation/storyteller/code/event_defines/moderate/override.dm
  modular_bandastation/storyteller/code/gamemode.dm
  modular_bandastation/storyteller/code/storytellers/_storyteller.dm
Labels: :floppy_disk: Изменение конфига, :scroll: CL валиден

#1298 remove `R_NONE` requirement from most of the admin verbs (except hideverbs/deadmin). It's not requires actual permissions
  code/modules/admin/admin_investigate.dm
  code/modules/admin/verbs/adminpm.dm
  code/modules/admin/verbs/adminsay.dm
  code/modules/admin/verbs/deadsay.dm
  code/modules/admin/verbs/diagnostics.dm
  code/modules/admin/verbs/playsound.dm
  code/modules/admin/verbs/reestablish_db_connection.dm
  code/modules/admin/verbs/requests.dm
  code/modules/admin/verbs/secrets.dm
  code/modules/admin/view_variables/mark_datum.dm
  code/modules/admin/view_variables/tag_datum.dm
  code/modules/admin/view_variables/view_variables.dm
  modular_bandastation/ert/code/ert_manager.dm
Labels: :scroll: CL валиден

#1300 fix storages :madge:
  modular_bandastation/objects/code/items/storage/garment.dm
  modular_bandastation/objects/code/items/storage/id_stickers_box.dm
  modular_bandastation/objects/code/items/weapons/melee/centcom/rapier.dm
Labels: :scroll: CL валиден

#1303 Fix title screen hrefs
  interface/skin.dmf
  modular_bandastation/title_screen/code/title_screen_html.dm
Labels: :wrench: Фикс, :scroll: CL валиден

#1305 stickers won't stick to mobs, all stickers now can be seen on `examine`
  code/game/objects/items/stickers.dm
Labels: :scroll: CL валиден

#1306 Fixes display of sec corporate uniform and skirt
  modular_bandastation/objects/code/items/clothing/under/jobs/security.dm
Labels: :wrench: Фикс, :scroll: CL валиден

#1301 Cyberiad: Various fixes in coffee shop, wiring on bridge and curtains in vip bar
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: :world_map: Изменение Карты, :wrench: Фикс, :scroll: CL валиден

#1307 eg-14 holdable by holsters again...
  code/game/objects/items/storage/holsters.dm
Labels: :wrench: Фикс, :scroll: CL валиден

#1317 Fix: Central 'localka' runtimes
  code/modules/admin/whitelist.dm
  modular_bandastation/metaserver/code/admin.dm
  modular_bandastation/metaserver/code/discord_link.dm
  modular_bandastation/metaserver/code/donate.dm
  modular_bandastation/metaserver/code/interview.dm
  modular_bandastation/metaserver/code/ss_central.dm
  modular_bandastation/title_screen/code/new_player.dm
Labels: :scroll: CL валиден

#1319 Title Screen image improvements
  modular_bandastation/title_screen/code/title_screen_html.dm
  modular_bandastation/title_screen/html/title_screen_default.css
Labels: :scroll: CL валиден

#1314 Fix: Load from json
  code/datums/outfit.dm
Labels: :wrench: Фикс, :scroll: CL валиден

#1295 Fix: Now admin faxes printing everything
  code/modules/admin/topic.dm
  code/modules/paperwork/fax.dm
Labels: :wrench: Фикс, :scroll: CL валиден

#1240 Add: Crocodile mob and Gena on Cyberiad personally
  _maps/map_files/Cyberiad/Cyberiad.dmm
  modular_bandastation/mobs/_mobs.dme
  modular_bandastation/mobs/code/basic.dm
  modular_bandastation/mobs/icons/crocodile.dmi
  modular_bandastation/translations/code/translation_data/ru_names.toml
Labels: :paintbrush: Спрайты, :world_map: Изменение Карты, :shield: Stale Exempt, :scroll: CL валиден

#1322 fix tests
  code/modules/mob/living/basic/space_fauna/carp/carp.dm
  modular_bandastation/mobs/code/basic.dm
Labels: :scroll: CL не требуется

#1327 Return NTR department
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/JobsPage.tsx
  tgui/packages/tgui/styles/interfaces/PreferencesMenu.scss
Labels: TGUI, :scroll: CL валиден

#1330 Balance: Воровство из карманов
  modular_bandastation/balance/_balance.dme
  modular_bandastation/balance/code/human_stripping.dm
Labels: :scroll: CL валиден

#1312 all slippery sources immobilize for 2 seconds by default
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_main.dm
  code/datums/components/slippery.dm
  code/game/atom/atom_act.dm
  code/game/turfs/open/_open.dm
  code/modules/mob/living/carbon/carbon_movement.dm
  code/modules/mob/living/carbon/human/human_movement.dm
  code/modules/mob/mob_movement.dm
Labels: :microscope: Testmerge Active, :scroll: CL валиден

#461 Обновленная медицинская система: Шанс провалов
  code/modules/surgery/surgery_step.dm
  modular_bandastation/medical/_medical.dme
  modular_bandastation/medical/code/surgery/surgery_fail_chance.dm
Labels: :scroll: CL валиден

#1334 remove gamma set on cult win
  code/modules/power/singularity/narsie.dm
Labels: :scroll: CL валиден

#1340 Fix chat badges align
  tgui/packages/tgui-panel/styles/tgchat/chat-dark.scss
Labels: TGUI, :wrench: Фикс, :scroll: CL валиден

#1341 Remove loop state from windoors
  modular_bandastation/aesthetics/windoors/icons/windoors.dmi
Labels: :paintbrush: Спрайты, :wrench: Фикс, :scroll: CL валиден

#1336 Re-style Lobby (Again)
  code/modules/asset_cache/assets/fontawesome.dm
  code/modules/mob/dead/dead.dm
  html/font-awesome/css/all.min.css
  html/font-awesome/css/brands.min.css
  html/font-awesome/webfonts/fa-brands-400.woff2
  html/font-awesome/webfonts/fa-regular-400.ttf
  html/font-awesome/webfonts/fa-regular-400.woff2
  html/font-awesome/webfonts/fa-solid-900.ttf
  html/font-awesome/webfonts/fa-solid-900.woff2
  html/font-awesome/webfonts/fa-v4compatibility.ttf
  html/font-awesome/webfonts/fa-v4compatibility.woff2
  modular_bandastation/title_screen/code/asset_lobby.dm
  modular_bandastation/title_screen/code/new_player.dm
  modular_bandastation/title_screen/code/title_screen_datum.dm
  modular_bandastation/title_screen/code/title_screen_html.dm
  modular_bandastation/title_screen/code/title_screen_subsystem.dm
  modular_bandastation/title_screen/html/title_screen_default.css
  modular_bandastation/title_screen/html/title_screen_minimalistic.css
  modular_bandastation/title_screen/html/title_screen_old.css
  modular_bandastation/title_screen/icons/lobby_active.png
  modular_bandastation/title_screen/icons/lobby_background.png
  modular_bandastation/title_screen/icons/lobby_bridge_assistant.png
  modular_bandastation/title_screen/icons/lobby_cargorilla.png
  modular_bandastation/title_screen/icons/lobby_changelog.png
  modular_bandastation/title_screen/icons/lobby_character_setup.png
  modular_bandastation/title_screen/icons/lobby_collapse.png
  modular_bandastation/title_screen/icons/lobby_css.png
  modular_bandastation/title_screen/icons/lobby_delay.png
  modular_bandastation/title_screen/icons/lobby_disabled.png
  modular_bandastation/title_screen/icons/lobby_highlight.png
  modular_bandastation/title_screen/icons/lobby_human_ai.png
  modular_bandastation/title_screen/icons/lobby_late_join.png
  modular_bandastation/title_screen/icons/lobby_manifest.png
  modular_bandastation/title_screen/icons/lobby_notice.png
  modular_bandastation/title_screen/icons/lobby_observe.png
  modular_bandastation/title_screen/icons/lobby_picture.png
  modular_bandastation/title_screen/icons/lobby_pun_pun.png
  modular_bandastation/title_screen/icons/lobby_settings.png
  modular_bandastation/title_screen/icons/lobby_shutter.png
  modular_bandastation/title_screen/icons/lobby_start_now.png
  modular_bandastation/title_screen/icons/lobby_toggle_ready.png
  modular_bandastation/title_screen/icons/lobby_veteran_advisor.png
  modular_bandastation/title_screen/icons/lobby_wiki.png
Labels: :scroll: CL валиден

#1347 remove glitters from `scrubber_overflow` event
  modular_bandastation/storyteller/code/event_defines/override_events.dm
Labels: :scroll: CL валиден

#1345 Fix `Who` buttons margin
  tgui/packages/tgui/interfaces/Who/BaseInfo.tsx
Labels: TGUI, :wrench: Фикс, :scroll: CL не требуется

#1283 [TM] SSD indicator
  code/__DEFINES/dcs/signals/signals_mob/signals_mob_main.dm
  code/modules/admin/admin_verbs.dm
  code/modules/mob/dead/observer/orbit.dm
  code/modules/mob/living/life.dm
  modular_bandastation/modular_bandastation.dme
  modular_bandastation/ssd_indicator/_ssd_indicator.dm
  modular_bandastation/ssd_indicator/_ssd_indicator.dme
  modular_bandastation/ssd_indicator/code/life.dm
  modular_bandastation/ssd_indicator/code/ssd_indicator.dm
  modular_bandastation/ssd_indicator/icons/ssd_indicator.dmi
  tgui/packages/tgui/interfaces/Orbit/OrbitContent.tsx
  tgui/packages/tgui/interfaces/Orbit/types.ts
Labels: :stop_sign: Do Not Merge, TGUI, :paintbrush: Спрайты, :scroll: CL валиден

#1350 fix law department blank names
  config/blanks/blanks.json
Labels: :floppy_disk: Изменение конфига, :wrench: Фикс, :scroll: CL валиден

#1351 disable spawn for some station traits, nerf blackout chance on this station trait from 60 to 30 percent
  code/datums/station_traits/negative_traits.dm
  modular_bandastation/balance/code/station_traits.dm
Labels: :scroll: CL валиден

#1353 Podman eye fix
  code/modules/surgery/organs/internal/eyes/_eyes.dm
Labels: :wrench: Фикс, :scroll: CL невалиден

#1354 Fix integration tests on Tramstation
  _maps/bandastation/automapper/templates/tramstation/maintenance_modules/secbarupper_3.dmm
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_pod.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_skrell.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_tajaran.png
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_vulpkanin.png
Labels: :world_map: Изменение Карты, :wrench: Фикс, :scroll: CL не требуется

#1359 move non-prime stuff from prime module
  modular_bandastation/modular_bandastation.dme
  modular_bandastation/storyteller/_storyteller.dme
  modular_bandastation/storyteller/code/gamemode.dm
Labels: :wrench: Фикс, :scroll: CL не требуется

#1360 Remove unnatural genders
  code/modules/client/preferences/gender.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/MainPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/gender.ts
Labels: TGUI, :scroll: CL не требуется

#1363 announcement tts now play in separate channel
  code/__DEFINES/bandastation/defines.dm
  code/__DEFINES/sound.dm
  code/__HELPERS/priority_announce.dm
  code/modules/client/preferences/sounds.dm
  code/modules/mob/living/living_say.dm
  modular_bandastation/_defines220/code/signals_atom.dm
  modular_bandastation/tts/code/base_seeds/imaginary_friend.dm
  modular_bandastation/tts/code/preferences/tts_preferences.dm
  modular_bandastation/tts/code/tts_component.dm
  modular_bandastation/tts/code/tts_hear.dm
  modular_bandastation/tts/code/tts_seed.dm
  modular_bandastation/tts/code/tts_subsystem.dm
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/sounds220.tsx
Labels: TGUI, :scroll: CL валиден

#1364 Loadout fixes
  code/modules/loadout/loadout_menu.dm
  modular_bandastation/loadout/code/categories/heads.dm
  modular_bandastation/loadout/code/categories/masks.dm
Labels: :wrench: Фикс, :scroll: CL валиден

#1366 Translate prefs
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/sounds.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/tgui.tsx
Labels: TGUI, :scroll: CL не требуется

#1369 greyscale breath scarf
  code/datums/greyscale/json_configs/bandastation/breathscarf.json
  modular_bandastation/objects/code/items/clothing/head/mask.dm
  modular_bandastation/objects/icons/mob/clothing/head/masks.dmi
  modular_bandastation/objects/icons/obj/clothing/head/masks.dmi
Labels: :paintbrush: Спрайты, :scroll: CL валиден

#1370 fix loadout points validation
  code/modules/loadout/loadout_menu.dm
  code/modules/loadout/loadout_preference.dm
  modular_bandastation/loadout/_loadout.dme
  modular_bandastation/loadout/code/client.dm
  modular_bandastation/loadout/code/loadout_preference.dm
  modular_bandastation/metaserver/code/ss_central.dm
  modular_bandastation/preferences/code/modules/client/preferences.dm
Labels: :wrench: Фикс, :scroll: CL валиден

#1357 Cyberiad: fix atmos, air tanks
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: :world_map: Изменение Карты, :scroll: CL валиден

#1375 add new narsie announcement sound
  code/modules/power/singularity/narsie.dm
  modular_bandastation/aesthetics_sounds/sound/announcements/narsie_end_begin_announcement.ogg
  modular_bandastation/aesthetics_sounds/sound/attributions.txt
Labels: :sound: Звук, :scroll: CL валиден

#1381 load player donator level before prefs init, properly read admin flags on prefs creation, fix cult ascended threshold usage
  code/__HELPERS/admin.dm
  code/modules/antagonists/cult/datums/cult_team.dm
  code/modules/client/client_procs.dm
  code/modules/client/persistent_client.dm
  code/modules/loadout/loadout_preference.dm
  modular_bandastation/loadout/code/client.dm
  modular_bandastation/metaserver/_metaserver.dme
  modular_bandastation/metaserver/code/discord_link.dm
  modular_bandastation/metaserver/code/donate.dm
Labels: :wrench: Фикс, :scroll: CL валиден

#1386 Sync ru names with CM
  modular_bandastation/translations/code/translation_data/ru_names.toml
Labels: :scroll: CL не требуется

#1387 Fix jumpsuit loadout for assistents
  code/modules/jobs/job_types/assistant/assistant.dm
Labels: :wrench: Фикс, :scroll: CL валиден

#1358 Feat: Centcom baseball bat, duffelbag and some changes
  code/game/objects/items/weaponry.dm
  modular_bandastation/objects/_objects.dme
  modular_bandastation/objects/code/items/storage/duffelbag.dm
  modular_bandastation/objects/code/items/weapons/melee/centcom/baseball_bat.dm
  modular_bandastation/objects/icons/obj/clothing/back/duffelbag.dmi
  modular_bandastation/objects/icons/obj/storage/duffelbag/duffelbag.dmi
  modular_bandastation/objects/icons/obj/storage/duffelbag/duffelbag_lefthand.dmi
  modular_bandastation/objects/icons/obj/storage/duffelbag/duffelbag_righthand.dmi
  modular_bandastation/objects/icons/obj/weapons/baseball_bat/baseball_bat_centcom.dmi
  modular_bandastation/objects/icons/obj/weapons/baseball_bat/baseball_bat_lefthand.dmi
  modular_bandastation/objects/icons/obj/weapons/baseball_bat/baseball_bat_righthand.dmi
  modular_bandastation/translations/code/translation_data/ru_names.toml
Labels: :trollface: Фича, :paintbrush: Спрайты, :scroll: CL валиден

#1388 CentCom fix fax
  _maps/map_files/generic/CentCom.dmm
  code/modules/paperwork/photocopier.dm
Labels: :world_map: Изменение Карты, :wrench: Фикс, :scroll: CL валиден

#1374 Add: small poster's pack (don't pay attention)
  modular_bandastation/objects/code/structures/posters.dm
  modular_bandastation/objects/icons/obj/structures/posters.dmi
Labels: :paintbrush: Спрайты, :scroll: CL валиден

#1391 Pig toy
  modular_bandastation/objects/_objects.dme
  modular_bandastation/objects/code/items/pig.dm
  modular_bandastation/objects/icons/mob/inhands/pig_lefthand.dmi
  modular_bandastation/objects/icons/mob/inhands/pig_righthand.dmi
  modular_bandastation/objects/icons/obj/items/pig.dmi
  modular_bandastation/objects/sounds/attribution.txt
  modular_bandastation/objects/sounds/oink.ogg
  modular_bandastation/translations/code/ru_names.toml
Labels: :sound: Звук, :paintbrush: Спрайты, :scroll: CL валиден, :fish: Порт

#1393 cargo crate with toy pigs
  modular_bandastation/objects/_objects.dme
  modular_bandastation/objects/code/items/supply_packs.dm
Labels: :scroll: CL валиден

#1394 Add sound to default podman emotions
  modular_bandastation/species/_species.dme
  modular_bandastation/species/code/human/species_type/podpeople.dm
Labels: :scroll: CL валиден

#1398 Toy Swine Fix
  modular_bandastation/objects/code/items/pig.dm
Labels: :wrench: Фикс, :scroll: CL валиден

#1399 Fix: Haircuts error overlay
  code/datums/sprite_accessories.dm
  modular_bandastation/customization/code/sprite_accessories/hair.dm
  modular_bandastation/customization/icons/sprite_accessories/hair.dmi
Labels: :paintbrush: Спрайты, :wrench: Фикс, :scroll: CL валиден
