Repository ss220club/BandaStation, pull requests merged in 2025-01, with the labels that each got.

#947 Cyberiad: Remap arrivals
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: :world_map: Изменение Карты

#936 Улучшения и фиксы Кибериады
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: :world_map: Изменение Карты

#919 Title Screen polish
  modular_bandastation/title_screen/_title_screen.dme
  modular_bandastation/title_screen/code/_title_screen_defines.dm
  modular_bandastation/title_screen/code/asset_lobby.dm
  modular_bandastation/title_screen/code/new_player.dm
  modular_bandastation/title_screen/code/title_screen_controls.dm
  modular_bandastation/title_screen/code/title_screen_datum.dm
  modular_bandastation/title_screen/code/title_screen_html.dm
  modular_bandastation/title_screen/code/title_screen_pref_middleware.dm
  modular_bandastation/title_screen/code/title_screen_subsystem.dm
  modular_bandastation/title_screen/html/title_screen_default.css
  modular_bandastation/title_screen/html/title_screen_minimalistic.css
  modular_bandastation/title_screen/icons/lobby_collapse.png
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/bandastation/lobby_style.tsx
Labels: TGUI, :wrench: Фикс

#928 Port OOC Badges from Paradise
  code/modules/client/verbs/ooc.dm
  modular_bandastation/chat_badges/_chat_badges.dm
  modular_bandastation/chat_badges/_chat_badges.dme
  modular_bandastation/chat_badges/code/badges.dm
  modular_bandastation/chat_badges/icons/chatbadges.dmi
  modular_bandastation/modular_bandastation.dme
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/bandastation/donor.tsx
Labels: TGUI, :paintbrush: Спрайты

#964 Translation fix 10.01.2025
  code/datums/ai/objects/vending_machines/vending_machine_behaviors.dm
  code/game/objects/structures/ladders.dm
  code/modules/antagonists/heretic/magic/mansus_grasp.dm
  code/modules/antagonists/heretic/magic/star_touch.dm
  code/modules/projectiles/gun.dm
  code/modules/projectiles/guns/ballistic.dm
  code/modules/projectiles/guns/energy.dm
  code/modules/vending/_vending.dm
Labels: :pencil: Перевод, :wrench: Фикс

#968 Cyberiad: Secures chutes
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: :world_map: Изменение Карты

#967 Standardization of disposal sprites
  modular_bandastation/aesthetics/disposal/icons/disposals.dmi
Labels: :paintbrush: Спрайты

#937 Translate antag round-end categories. Return untranslated unassigned job title
  code/modules/antagonists/_common/antag_datum.dm
  code/modules/antagonists/abductor/abductee/abductee.dm
  code/modules/antagonists/abductor/abductor.dm
  code/modules/antagonists/battlecruiser/battlecruiser.dm
  code/modules/antagonists/blob/blob_antag.dm
  code/modules/antagonists/brainwashing/brainwashing.dm
  code/modules/antagonists/clown_ops/clownop.dm
  code/modules/antagonists/cult/datums/cultist.dm
  code/modules/antagonists/fugitive/fugitive.dm
  code/modules/antagonists/heretic/heretic_antag.dm
  code/modules/antagonists/heretic/heretic_monsters.dm
  code/modules/antagonists/heretic/soultrapped_heretic.dm
  code/modules/antagonists/hypnotized/hypnotized.dm
  code/modules/antagonists/malf_ai/malf_ai.dm
  code/modules/antagonists/nukeop/datums/operative.dm
  code/modules/antagonists/obsessed/obsessed.dm
  code/modules/antagonists/paradox_clone/paradox_clone.dm
  code/modules/antagonists/pirate/pirate.dm
  code/modules/antagonists/revolution/revolution.dm
  code/modules/antagonists/space_dragon/space_dragon.dm
  code/modules/antagonists/spy/spy.dm
  code/modules/antagonists/valentines/heartbreaker.dm
  code/modules/antagonists/valentines/valentine.dm
  code/modules/antagonists/wizard/grand_ritual/finales/grand_ritual_finale.dm
  code/modules/antagonists/wizard/slaughter_antag.dm
  code/modules/antagonists/wizard/wizard.dm
  code/modules/jobs/job_types/unassigned.dm
  code/modules/mob/living/carbon/examine.dm
Labels: :pencil: Перевод

#960 Translation: Tip of the round
  code/__HELPERS/game.dm
  code/modules/library/skill_learning/generic_skillchips/misc.dm
  code/modules/reagents/chemistry/reagents/medicine_reagents.dm
  strings/chemistrytips.txt
  strings/fishing_tips.txt
  strings/sillytips.txt
  strings/tips.txt
Labels: :pencil: Перевод, :shield: Stale Exempt

#977 REBRANDING Bandastation ===> BandaStation
  README.md
Labels: :neckbeard: Документация

#972 Cyberiad: figures
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: :world_map: Изменение Карты

#973 Cyberiad: flatpack RnD
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: :world_map: Изменение Карты

#979 Cyberiad: Polish & improve west ghetto maints
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: :world_map: Изменение Карты

#635 [TM] Cryo & Cryodorms
  _maps/bandastation/automapper/automapper_config.toml
  _maps/bandastation/automapper/templates/birdshot/birdshot_cryo.dmm
  _maps/bandastation/automapper/templates/birdshot/birdshot_perma_cryo.dmm
  _maps/bandastation/automapper/templates/deltastation/deltastation_cryo.dmm
  _maps/bandastation/automapper/templates/deltastation/deltastation_perma_cryo.dmm
  _maps/bandastation/automapper/templates/iceboxstation/icebox_cryo.dmm
  _maps/bandastation/automapper/templates/iceboxstation/icebox_perma_cryo.dmm
  _maps/bandastation/automapper/templates/metastation/metastation_cryo.dmm
  _maps/bandastation/automapper/templates/metastation/metastation_perma_cryo.dmm
  _maps/bandastation/automapper/templates/nebulastation/nebulastation_cryo.dmm
  _maps/bandastation/automapper/templates/nebulastation/nebulastation_perma_cryo.dmm
  _maps/bandastation/automapper/templates/northstar/northstar_cryo.dmm
  _maps/bandastation/automapper/templates/tramstation/tramstation_cryo.dmm
  _maps/bandastation/automapper/templates/tramstation/tramstation_perma_cryo.dmm
  _maps/map_files/Cyberiad/Cyberiad.dmm
  config/bandastation/bandastation_config.txt
  modular_bandastation/cryosleep/_cryosleep.dm
  modular_bandastation/cryosleep/_cryosleep.dme
  modular_bandastation/cryosleep/code/admin.dm
  modular_bandastation/cryosleep/code/ai.dm
  modular_bandastation/cryosleep/code/config.dm
  modular_bandastation/cryosleep/code/cryoconsole.dm
  modular_bandastation/cryosleep/code/cryopod/cryopod.dm
  modular_bandastation/cryosleep/code/cryopod/prison_cryopod.dm
  modular_bandastation/cryosleep/code/extra_vv.dm
  modular_bandastation/cryosleep/code/jobs.dm
  modular_bandastation/cryosleep/code/mob_defines.dm
  modular_bandastation/cryosleep/code/subsystem/job.dm
  modular_bandastation/cryosleep/icons/cryogenics.dmi
  modular_bandastation/modular_bandastation.dme
  modular_bandastation/translations/code/translation_data/ru_names.toml
  tgui/packages/tgui/interfaces/CryopodConsole.jsx
Labels: :stop_sign: Do Not Merge, :microscope: Testmerge Active, TGUI, :paintbrush: Спрайты, :world_map: Изменение Карты, :floppy_disk: Изменение конфига, :shield: Stale Exempt

#982 Translation fix 13.01.2025
  code/modules/flufftext/Dreaming.dm
  strings/tips.txt
  tgui/packages/tgui/interfaces/AntagInfoHeretic.tsx
Labels: :pencil: Перевод, TGUI

#971 Translate: User says
  code/__HELPERS/hallucinations.dm
  code/datums/martial/plasma_fist.dm
  code/game/machinery/newscaster/newspaper.dm
  code/game/objects/items/busts_and_figurines.dm
  code/game/objects/items/clown_items.dm
  code/game/objects/items/crayons.dm
  code/game/objects/items/devices/megaphone.dm
  code/game/objects/items/spear.dm
  code/game/objects/items/storage/briefcase.dm
  code/game/objects/items/syndie_spraycan.dm
  code/game/objects/items/virgin_mary.dm
  code/game/objects/items/weaponry.dm
  code/game/turfs/closed/walls.dm
  code/modules/clothing/glasses/hud.dm
  code/modules/clothing/head/fedora.dm
  code/modules/clothing/head/jobs.dm
  code/modules/clothing/head/tinfoilhat.dm
  code/modules/clothing/shoes/cowboy.dm
  code/modules/clothing/spacesuits/_spacesuits.dm
  code/modules/clothing/under/accessories/badges.dm
  code/modules/fishing/fish/types/air_space.dm
  code/modules/fishing/fish/types/mining.dm
  code/modules/fishing/fish/types/ruins.dm
  code/modules/fishing/fish/types/station.dm
  code/modules/hydroponics/grown/banana.dm
  code/modules/jobs/job_types/chaplain/chaplain_nullrod.dm
  code/modules/jobs/job_types/chaplain/chaplain_vorpal_scythe.dm
  code/modules/library/bibles.dm
  code/modules/mining/lavaland/tendril_loot.dm
  code/modules/mob/living/basic/farm_animals/bee/_bee.dm
  code/modules/projectiles/guns/ballistic/bows/bow_types.dm
  code/modules/religion/burdened/psyker.dm
  code/modules/spells/spell_types/touch/smite.dm
  code/modules/vehicles/vehicle_key.dm
Labels: :pencil: Перевод

#965 color speaker names in local chat channel as their corresponding runechat name
  code/game/say.dm
Labels: :microscope: Testmerge Active

#990 Fix autotransfer shuttle call
  modular_bandastation/automatic_crew_transfer/code/automatic_transfer_subsystem.dm
  modular_bandastation/automatic_crew_transfer/code/crew_tranfer_vote.dm
Labels: :wrench: Фикс

#989 Фикс отображения технической панели рободроба
  modular_bandastation/objects/code/machinery/vending/vending.dm
  modular_bandastation/objects/icons/obj/machines/vending.dmi
Labels: :paintbrush: Спрайты, :wrench: Фикс

#991 Cyberiad: Various improves and fixes
  _maps/map_files/Cyberiad/Cyberiad.dmm
  code/__HELPERS/see_through_maps.dm
  modular_bandastation/mapping/code/layers.dm
  modular_bandastation/modular_bandastation.dme
  modular_bandastation/objects/code/effects/turf_decal.dm
  modular_bandastation/objects/code/structures/statues.dm
  modular_bandastation/objects/icons/obj/effects/siding.dmi
  modular_bandastation/objects/icons/obj/structures/chairs.dmi
  modular_bandastation/objects/icons/obj/structures/cyberiad.dmi
  modular_bandastation/objects/icons/obj/structures/delta.dmi
  modular_bandastation/turfs/_turfs.dm
  modular_bandastation/turfs/_turfs.dme
  modular_bandastation/turfs/code/water.dm
  modular_bandastation/turfs/icons/attributions.txt
  modular_bandastation/turfs/icons/water.dmi
Labels: :paintbrush: Спрайты, :world_map: Изменение Карты

#992 Changelog Validation & Merge Upstream Workflow
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/auto_changelog.yml
  .github/workflows/check_changelog.yml
  .github/workflows/merge_upstream.yml
  tools/changelog/changelog_utils.py
  tools/changelog/check_changelog.py
  tools/changelog/tags.yml
  tools/merge-upstream/merge_upstream.py
  tools/merge-upstream/translation_context.txt
Labels: :neckbeard: Документация, :trollface: Фича, :guitar: Инструменты, :pray: Слияние с восходящим потоком

#994 NT rep jacket fix
  modular_bandastation/objects/icons/obj/clothing/suits/jacket.dmi
Labels: :paintbrush: Спрайты, :scroll: CL валиден

#999 Add TTS for regal rat
  modular_bandastation/tts/code/base_seeds/mobs/hostile.dm
Labels: :scroll: CL невалиден

#995 Delete rat
  code/modules/vending/clothesmate.dm
Labels: :scroll: CL не требуется

#952 Шапки, плащи и шлемы из лодаута пары
  modular_bandastation/clothing/_clothing.dme
  modular_bandastation/clothing/code/cloaks.dm
  modular_bandastation/clothing/code/hats.dm
  modular_bandastation/clothing/code/helmet.dm
  modular_bandastation/clothing/icons/mob/cloaks.dmi
  modular_bandastation/clothing/icons/mob/hats.dmi
  modular_bandastation/clothing/icons/mob/helmet.dmi
  modular_bandastation/clothing/icons/object/cloaks.dmi
  modular_bandastation/clothing/icons/object/hats.dmi
  modular_bandastation/clothing/icons/object/helmet.dmi
  modular_bandastation/modular_bandastation.dme
Labels: :paintbrush: Спрайты, :shield: Stale Exempt

#953 Костюмы, подкладки, куртки и т.д. с Пары (для лодаутов)
  modular_bandastation/clothing/_clothing.dme
  modular_bandastation/clothing/code/clothing_vendors.dm
  modular_bandastation/clothing/code/hev_suit.dm
  modular_bandastation/clothing/code/suits.dm
  modular_bandastation/clothing/code/under.dm
  modular_bandastation/clothing/icons/mob/suits.dmi
  modular_bandastation/clothing/icons/mob/under.dmi
  modular_bandastation/clothing/icons/object/suits.dmi
  modular_bandastation/clothing/icons/object/under.dmi
  modular_bandastation/clothing/sound/hev/01_hev_logon.ogg
  modular_bandastation/clothing/sound/hev/04_vitalsigns_on.ogg
  modular_bandastation/clothing/sound/hev/09_safe_day.ogg
  modular_bandastation/clothing/sound/hev/beep_3.ogg
  modular_bandastation/clothing/sound/hev/blip.ogg
  modular_bandastation/clothing/sound/hev/death.ogg
  modular_bandastation/clothing/sound/hev/heat.ogg
  modular_bandastation/clothing/sound/hev/shok.ogg
Labels: :sound: Звук, :paintbrush: Спрайты, :shield: Stale Exempt

#997 add tts to hologram and modlink. Refactor tts related code a bit
  code/__DEFINES/bandastation/defines.dm
  code/__DEFINES/say.dm
  code/__HELPERS/priority_announce.dm
  code/datums/communications.dm
  code/game/machinery/hologram.dm
  code/game/objects/items/devices/megaphone.dm
  code/modules/mod/mod_link.dm
  code/modules/mod/modules/modules_security.dm
  modular_bandastation/_defines220/code/defines/text_to_speech.dm
  modular_bandastation/_defines220/code/signals_atom.dm
  modular_bandastation/tts/code/actions/change_tts_actions.dm
  modular_bandastation/tts/code/base_seeds/imaginary_friend.dm
  modular_bandastation/tts/code/base_seeds/mobs/_base.dm
  modular_bandastation/tts/code/base_seeds/mobs/other.dm
  modular_bandastation/tts/code/shell.dm
  modular_bandastation/tts/code/tts_component.dm
  modular_bandastation/tts/code/tts_hear.dm
  modular_bandastation/tts/code/tts_seed.dm
  modular_bandastation/tts/code/tts_subsystem.dm
  modular_bandastation/tts/code/~undefs/~undefs.dm
Labels: :scroll: CL не требуется

#1004 Cyberiad: Brig overhaul
  _maps/map_files/Cyberiad/Cyberiad.dmm
  modular_bandastation/mapping/code/areas/station.dm
Labels: :world_map: Изменение Карты, :scroll: CL валиден

#1005 Probably fixes Tramstation failing maplinter
  _maps/bandastation/automapper/automapper_config.toml
  _maps/bandastation/automapper/templates/tramstation/tramstation_perma_cryo.dmm
Labels: :world_map: Изменение Карты, :wrench: Фикс, :scroll: CL не требуется

#1007 Открытие шлюзов руками
  code/game/machinery/doors/firedoor.dm
Labels: :scroll: CL валиден

#1006 Cyberiad: Tweak CMO office and viro atmos
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: :world_map: Изменение Карты, :shipit: Улучшение, :scroll: CL не требуется

#1010 Fix late-join silicons have lobby screen
  modular_bandastation/title_screen/code/new_player.dm
  modular_bandastation/title_screen/code/title_screen_controls.dm
Labels: :wrench: Фикс, :scroll: CL валиден

#942 New clothing - Carnival
  code/datums/greyscale/json_configs/bandastation/mask_carnival_colored.json
  code/datums/greyscale/json_configs/bandastation/mask_carnival_feather.json
  code/datums/greyscale/json_configs/bandastation/mask_carnival_half.json
  code/datums/greyscale/json_configs/bandastation/mask_carnival_triangles.json
  code/datums/greyscale/json_configs/bandastation/under_carnival_dress_corset.json
  code/datums/greyscale/json_configs/bandastation/under_carnival_dress_fancy.json
  code/datums/greyscale/json_configs/bandastation/under_carnival_formal.json
  code/datums/greyscale/json_configs/bandastation/under_carnival_jacket.json
  modular_bandastation/objects/_objects.dm
  modular_bandastation/objects/_objects.dme
  modular_bandastation/objects/code/greyscale/config_types/greyscale_clothes.dm
  modular_bandastation/objects/code/items/clothing/masks/carnival.dm
  modular_bandastation/objects/code/items/clothing/neck/holiday.dm
  modular_bandastation/objects/code/items/clothing/suits/carnival.dm
  modular_bandastation/objects/code/items/clothing/suits/holiday.dm
  modular_bandastation/objects/code/items/clothing/under/carnival.dm
  modular_bandastation/objects/icons/mob/clothing/mask/carnival.dmi
  modular_bandastation/objects/icons/mob/clothing/neck.dmi
  modular_bandastation/objects/icons/mob/clothing/suits/armor.dmi
  modular_bandastation/objects/icons/mob/clothing/suits/carnival.dmi
  modular_bandastation/objects/icons/mob/clothing/suits/holiday.dmi
  modular_bandastation/objects/icons/mob/clothing/suits/jacket.dmi
  modular_bandastation/objects/icons/mob/clothing/suits/magistrate.dmi
  modular_bandastation/objects/icons/mob/clothing/suits/wintercoat.dmi
  modular_bandastation/objects/icons/mob/clothing/under/carnival.dmi
  modular_bandastation/objects/icons/obj/clothing/mask/carnival.dmi
  modular_bandastation/objects/icons/obj/clothing/neck.dmi
  modular_bandastation/objects/icons/obj/clothing/suits/carnival.dmi
  modular_bandastation/objects/icons/obj/clothing/suits/holiday.dmi
  modular_bandastation/objects/icons/obj/clothing/under/carnival.dmi
  modular_bandastation/translations/code/translation_data/ru_names.toml
Labels: :paintbrush: Спрайты

#1012 Changelog Generation | BandaStation
  .github/workflows/auto_changelog.yml
  .github/workflows/compile_changelogs.yml
  html/changelogs/bandastation/archive/2025-01.yml
  modular_bandastation/changelog/_changelog.dm
  modular_bandastation/changelog/_changelog.dme
  modular_bandastation/changelog/code/changelog.dm
  modular_bandastation/changelog/code/changelog_item.dm
  modular_bandastation/modular_bandastation.dme
  tgui/packages/tgui/interfaces/ChangelogBandaStation.jsx
  tools/ci/check_changelogs.sh
  tools/makeChangelog.bat
  tools/pull_request_hooks/autoChangelog.js
  tools/ss13_genchangelog.py
Labels: TGUI, :guitar: Инструменты, :shipit: Улучшение, :scroll: CL не требуется

#1015 Fix accusative form for disablers
  modular_bandastation/translations/code/translation_data/ru_names.toml
Labels: :wrench: Фикс, :scroll: CL не требуется

#811 Add: new NAS Trurl
  _maps/bandastation/automapper/automapper_config.toml
  _maps/bandastation/automapper/templates/centcom/CentCom.dmm
  _maps/bandastation/automapper/templates/deltastation/deltastation_argos_specops_ferry_ports.dmm
  _maps/bandastation/automapper/templates/iceboxstation/iceboxstation_argos_port.dmm
  _maps/bandastation/automapper/templates/iceboxstation/iceboxstation_specops_port.dmm
  _maps/bandastation/automapper/templates/metastation/metastation_argos_port.dmm
  _maps/bandastation/automapper/templates/metastation/metastation_specops_port.dmm
  _maps/bandastation/automapper/templates/tramstation/tramstation_argos_port.dmm
  _maps/bandastation/automapper/templates/tramstation/tramstation_specops_port.dmm
  _maps/map_files/Cyberiad/Cyberiad.dmm
  _maps/map_files/generic/CentCom.dmm
  _maps/shuttles/ss220/argos_basic.dmm
  _maps/shuttles/ss220/infiltrator_basic.dmm
  _maps/shuttles/ss220/specops_basic.dmm
  _maps/templates/lazy_templates/ss220/syndie_cc.dmm
  modular_bandastation/aesthetics/_aesthetics.dme
  modular_bandastation/aesthetics/decals/code/floor_decals.dm
  modular_bandastation/aesthetics/decals/icons/nanotrasen_logo.dmi
  modular_bandastation/mapping/code/areas/off_station.dm
  modular_bandastation/mapping/code/layers.dm
  modular_bandastation/mapping/code/templates.dm
  modular_bandastation/objects/_objects.dme
  modular_bandastation/objects/code/effects/decal.dm
  modular_bandastation/objects/code/effects/turf_decal.dm
  modular_bandastation/objects/code/items/papers.dm
  modular_bandastation/objects/code/items/storage/grenade_box.dm
  modular_bandastation/objects/code/items/storage/paper_spray_box.dm
  modular_bandastation/objects/code/machinery/vending/vending.dm
  modular_bandastation/objects/code/mecha/mecha.dm
  modular_bandastation/objects/code/shuttles.dm
  modular_bandastation/objects/code/structures/fake_light.dm
  modular_bandastation/objects/code/structures/statues.dm
  modular_bandastation/objects/icons/obj/effects/line.dmi
  modular_bandastation/objects/icons/obj/effects/logos.dmi
  modular_bandastation/objects/icons/obj/effects/siding.dmi
  modular_bandastation/objects/icons/obj/machines/vending.dmi
  modular_bandastation/objects/icons/obj/machines/vending_restock.dmi
  modular_bandastation/objects/icons/obj/structure/light.dmi
  modular_bandastation/objects/icons/obj/structures/statue.dmi
  modular_bandastation/outfits/code/centcom.dm
Labels: :paintbrush: Спрайты, :world_map: Изменение Карты, :shield: Stale Exempt, :scroll: CL валиден

#1011 add announcement tts effect, sync pre sfx, tts and post sfx
  code/__HELPERS/priority_announce.dm
  modular_bandastation/tts/code/shell.dm
  modular_bandastation/tts/code/tts_hear.dm
  modular_bandastation/tts/code/tts_subsystem.dm
Labels: :scroll: CL валиден

#1020 NTR & BlueShiled access fix
  _maps/map_files/Cyberiad/Cyberiad.dmm
  modular_bandastation/objects/code/items/devices/radio.dm
Labels: :world_map: Изменение Карты, :scroll: CL валиден

#1019 Simplify module creation
  modular_bandastation/create_modpack.bat
  modular_bandastation/modular_bandastation.dme
Labels: :scroll: CL не требуется

#1023 TTS only for announcement body
  code/__HELPERS/priority_announce.dm
  code/game/machinery/requests_console.dm
Labels: :scroll: CL валиден

#1017 Cyberiad: Standardize Sec. Checkpoints, Cleanup cameras
  _maps/map_files/Cyberiad/Cyberiad.dmm
  tools/UpdatePaths/Scripts/ss220/1017_cameras_to_dir.txt
  tools/maplint/lints/telescreen_varedits.yml
Labels: :world_map: Изменение Карты, :guitar: Инструменты, :scroll: CL валиден

#1029 fix: Flacky tests rerun: The return of the stampella
  .github/workflows/rerun_flaky_tests.yml
Labels: :scroll: CL невалиден

#1031 Fix: Non-donor colored OOC ckey
  modular_bandastation/chat_badges/code/badges.dm
Labels: :wrench: Фикс, :scroll: CL валиден

#1038 head dismembering is back, craial fissure is now can only be caused by blunt damage
  modular_bandastation/balance/_balance.dme
  modular_bandastation/balance/code/bodyparts/head.dm
  modular_bandastation/balance/code/wounds/cranial_fissure.dm
Labels: :scroll: CL валиден

#1040 enable mood by default
  config/game_options.txt
Labels: :floppy_disk: Изменение конфига, :wrench: Фикс, :scroll: CL валиден

#998 Away roles translation
  code/modules/mob/living/basic/drone/extra_drone_types.dm
  code/modules/mob_spawn/ghost_roles/mining_roles.dm
Labels: :pencil: Перевод

#1046 Screenshot test fix
  code/modules/unit_tests/screenshots/screenshot_humanoids__datum_species_vulpkanin.png
Labels: :wrench: Фикс, :scroll: CL не требуется

#931 Balance: Cargo prices, GMM, Laser SMGs, Holy watermelons
  code/__DEFINES/cargo.dm
  code/controllers/subsystem/stock_market.dm
  code/datums/elements/deliver_first.dm
  code/modules/hydroponics/unique_plant_genes.dm
  modular_bandastation/balance/_balance.dme
  modular_bandastation/balance/code/cargo/exports/materials.dm
  modular_bandastation/balance/code/cargo/packs/goodies.dm
  modular_bandastation/balance/code/cargo/packs/livestock.dm
  modular_bandastation/balance/code/cargo/packs/science.dm
  modular_bandastation/balance/code/cargo/packs/security.dm
  modular_bandastation/balance/code/laser.dm
  modular_bandastation/balance/code/materials_market.dm
Labels: :hankey: Фиксим за апстримом, :shield: Stale Exempt, :scroll: CL валиден

#1047 Cyberiad: Lawyer office tweaks
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: :world_map: Изменение Карты, :scroll: CL валиден

#1044 Move preferences translate to master
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/age.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/body_type.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/examine_panel.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/glasses.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/operative_species.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/pda.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/persistent_scars.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/phobia.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/prisoner_crime.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/security_department.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/skin_tone.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/character_preferences/uplink_loc.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/accessibility.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/admin.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/ambient_occlusion.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/auto_fit_viewport.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/bandastation/donor.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/bandastation/lobby_style.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/bandastation/looc.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/broadcast_login_logout.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/buttons_locked.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/fps.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/ghost.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/ghost_lighting.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/hotkeys.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/item_outlines.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/legacy_chat_toggles.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/legacy_toggles.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/mod_select.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/multiz_parallax.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/multiz_performance.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/ooc.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/parallax.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/pixel_size.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/preferred_map.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/runechat.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/scaling_method.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/screentips.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/sounds.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/tgui.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/tooltips.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/typing_indicator.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/ui_style.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/widescreen.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/game_preferences/window_flashing.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/randomization.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/features/species_features.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/preferences/gender.ts
Labels: TGUI, :shipit: Улучшение, :scroll: CL валиден

#1021 Translation: Voidwalker antag info
  tgui/packages/tgui/interfaces/AntagInfoVoidwalker.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/antagonists/antagonists/voidwalker.ts
Labels: :pencil: Перевод, TGUI

#1043 Translate: Heretic ascensions, also fixes some of them
  code/modules/antagonists/heretic/knowledge/ash_lore.dm
  code/modules/antagonists/heretic/knowledge/blade_lore.dm
  code/modules/antagonists/heretic/knowledge/flesh_lore.dm
  code/modules/antagonists/heretic/knowledge/rust_lore.dm
  code/modules/antagonists/heretic/knowledge/void_lore.dm
  code/modules/hallucination/station_message.dm
Labels: :pencil: Перевод, :wrench: Фикс

#1059 Map: Cyberiad, minor armory fixes
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: :world_map: Изменение Карты, :scroll: CL валиден

#996 Cyberiad: fix turbine, curator access
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: :world_map: Изменение Карты, :wrench: Фикс, :scroll: CL валиден

#1056 FashionStation: SecDrobe additions
  modular_bandastation/objects/_objects.dme
  modular_bandastation/objects/code/items/clothing/head/hat.dm
  modular_bandastation/objects/code/items/clothing/head/soft_caps.dm
  modular_bandastation/objects/code/items/clothing/neck/security.dm
  modular_bandastation/objects/code/items/clothing/suits/armor.dm
  modular_bandastation/objects/code/items/clothing/under/jobs/security.dm
  modular_bandastation/objects/code/items/devices/clothing_vendors.dm
  modular_bandastation/objects/icons/mob/clothing/head/cap.dmi
  modular_bandastation/objects/icons/mob/clothing/head/cowboy.dmi
  modular_bandastation/objects/icons/mob/clothing/head/hats.dmi
  modular_bandastation/objects/icons/mob/clothing/neck.dmi
  modular_bandastation/objects/icons/mob/clothing/suits/armor.dmi
  modular_bandastation/objects/icons/mob/clothing/under/security.dmi
  modular_bandastation/objects/icons/obj/clothing/head/cowboy.dmi
  modular_bandastation/objects/icons/obj/clothing/head/hats.dmi
  modular_bandastation/objects/icons/obj/clothing/neck.dmi
  modular_bandastation/objects/icons/obj/clothing/suits/amor.dmi
  modular_bandastation/objects/icons/obj/clothing/under/security.dmi
Labels: :paintbrush: Спрайты, :scroll: CL валиден

#1080 Caftan and hat fix for security
  modular_bandastation/objects/icons/mob/clothing/head/hats.dmi
  modular_bandastation/objects/icons/mob/clothing/suits/armor.dmi
  modular_bandastation/objects/icons/obj/clothing/head/hats.dmi
  modular_bandastation/objects/icons/obj/clothing/suits/amor.dmi
Labels: :paintbrush: Спрайты, :wrench: Фикс, :scroll: CL валиден

#1084 CentCom Modsuit color fix
  modular_bandastation/aesthetics/_aesthetics.dme
  modular_bandastation/aesthetics/clothing/centcom/code/mod/mod_theme.dm
  modular_bandastation/aesthetics/clothing/centcom/code/mod/mod_types.dm
  modular_bandastation/aesthetics/clothing/centcom/icons/mob/clothing/modsuit/mod_clothing.dmi
  modular_bandastation/aesthetics/clothing/centcom/icons/obj/clothing/modsuit/mod_clothing.dmi
Labels: :paintbrush: Спрайты, :scroll: CL валиден

#1082 Speech filter
  config/bandastation/bandastation_config.txt
  config/bandastation/brainrot_filter.json
  modular_bandastation/modular_bandastation.dme
  modular_bandastation/speech_filter/_speech_filter.dm
  modular_bandastation/speech_filter/_speech_filter.dme
  modular_bandastation/speech_filter/code/configuration.dm
  modular_bandastation/speech_filter/code/mob.dm
  modular_bandastation/speech_filter/code/speech_filter.dm
Labels: :floppy_disk: Изменение конфига, :scroll: CL валиден

#1083 FashionStation: RnD
  modular_bandastation/objects/_objects.dme
  modular_bandastation/objects/code/items/clothing/head/hat.dm
  modular_bandastation/objects/code/items/clothing/neck/science.dm
  modular_bandastation/objects/code/items/clothing/suits/bomber.dm
  modular_bandastation/objects/code/items/devices/clothing_vendors.dm
  modular_bandastation/objects/code/machinery/vending/vending.dm
  modular_bandastation/objects/icons/mob/clothing/head/cowboy.dmi
  modular_bandastation/objects/icons/mob/clothing/neck.dmi
  modular_bandastation/objects/icons/mob/clothing/suits/bomber.dmi
  modular_bandastation/objects/icons/mob/clothing/suits/wintercoat.dmi
  modular_bandastation/objects/icons/obj/clothing/head/cowboy.dmi
  modular_bandastation/objects/icons/obj/clothing/neck.dmi
  modular_bandastation/objects/icons/obj/clothing/suits/bomber.dmi
  modular_bandastation/translations/code/translation_data/ru_names.toml
Labels: :paintbrush: Спрайты, :scroll: CL валиден

#1060 Cyberiad: remap operating rooms
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: :world_map: Изменение Карты, :scroll: CL валиден

#1081 Cyberiad: armory remap
  _maps/map_files/Cyberiad/Cyberiad.dmm
Labels: :world_map: Изменение Карты, :scroll: CL валиден

#1096 Remove shitty toys
  code/_globalvars/arcade.dm
  code/game/objects/effects/spawners/random/contraband.dm
Labels: :scroll: CL валиден

#1066 ID skins port
  modular_bandastation/objects/_objects.dm
  modular_bandastation/objects/_objects.dme
  modular_bandastation/objects/code/effects/spawners.dm
  modular_bandastation/objects/code/items/id_stickers.dm
  modular_bandastation/objects/code/items/storage/id_stickers_box.dm
  modular_bandastation/objects/icons/obj/effects/spawners.dmi
  modular_bandastation/objects/icons/obj/items/id_stickers.dmi
  modular_bandastation/objects/icons/obj/storage/box.dmi
  modular_bandastation/translations/code/translation_data/ru_names.toml
Labels: :paintbrush: Спрайты, :scroll: CL валиден

#1064 Balance: Underfloor Blobs
  _maps/cyberiad.json
  _maps/icebox.json
  _maps/nebulastation.json
  _maps/tramstation.json
  _maps/wawastation.json
  code/datums/map_config.dm
  code/modules/antagonists/blob/powers.dm
  modular_bandastation/_helpers220/code/unsorted.dm
  modular_bandastation/balance/_balance.dme
  modular_bandastation/balance/code/blob.dm
Labels: :scroll: CL валиден, :balance_scale: Баланс

#1101 Fix translate 27.01 & 28.01
  code/datums/quirks/_quirk.dm
  code/datums/quirks/negative_quirks/addict.dm
  code/modules/reagents/reagent_containers/condiment.dm
Labels: :pencil: Перевод, :wrench: Фикс

#1102 Prefs translate to master
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/AntagsPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/JobsPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/MainPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/QuirksPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/SpeciesPage.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/index.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/CharacterPreferences/loadout/index.tsx
  tgui/packages/tgui/interfaces/PreferencesMenu/index.tsx
Labels: TGUI, :scroll: CL не требуется

#1089 Products translate
  code/__DEFINES/bandastation/ru_jobs.dm
  modular_bandastation/objects/code/items/devices/clothing_vendors.dm
  modular_bandastation/translations/_translations.dm
  modular_bandastation/translations/code/translation_data/ru_names.toml
Labels: :scroll: CL валиден

#1034 Permadeath
  code/__DEFINES/mobs.dm
  code/game/objects/items/defib.dm
  code/modules/mob/living/carbon/carbon.dm
  code/modules/research/techweb/nodes/medbay_nodes.dm
  code/modules/surgery/organs/_organ.dm
  config/bandastation/bandastation_config.txt
  modular_bandastation/balance/_balance.dme
  modular_bandastation/balance/code/_brain.dm
  modular_bandastation/balance/icons/bodybag.dmi
Labels: :microscope: Testmerge Active, :paintbrush: Спрайты, :floppy_disk: Изменение конфига, :scroll: CL валиден, :balance_scale: Баланс

#1104 Fix extinguisher icon
  modular_bandastation/aesthetics/_aesthetics.dme
  modular_bandastation/aesthetics/extinguisher/code/extinguisher.dm
  modular_bandastation/aesthetics/extinguisher/icons/extinguisher.dmi
Labels: :paintbrush: Спрайты, :scroll: CL валиден

#1094 Translation: Malf Ai infopanel
  strings/antagonist_flavor/malfunction_flavor.json
  tgui/packages/tgui/interfaces/AntagInfoMalf.tsx
  tgui/packages/tgui/interfaces/common/MalfAiModules.tsx
Labels: :pencil: Перевод, TGUI, :scroll: CL валиден

#1085 update rust utils, create http client on SShttps PreInit
  code/__DEFINES/bandastation/rust_utils.dm
  code/__DEFINES/rust_g.dm
  code/game/world.dm
  dependencies.sh
  librust_utils.dll
  modular_bandastation/_rust_utils/_rust_utils.dm
  modular_bandastation/_rust_utils/_rust_utils.dme
  modular_bandastation/modular_bandastation.dme
  modular_bandastation/tts/code/SSHttp.dm
  tgstation.dme
Labels: :scroll: CL валиден

#1112 fix compilation error
  modular_bandastation/aesthetics/walls/code/rocks.dm
Labels: :wrench: Фикс, :scroll: CL не требуется

#1114 Fix time display
  code/__HELPERS/time.dm
  code/controllers/subsystem/statpanel.dm
  code/modules/escape_menu/details.dm
Labels: :wrench: Фикс, :scroll: CL валиден
